<!DOCTYPE HTML>
<html>
  <head>
  <meta charset='utf-8'>
    <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'> -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name='description', content='迈沃德科技|用仅有的能力创造价值'>
    <meta name='keywords', content='迈沃德,迈沃德科技,成都迈沃德科技,美食,问我,cherry,享用插件,pcs,发现身边美食,旅游,餐饮,吃货,美食推荐,成都美食'>
    <meta name='author', content='duckyRao'>
    <link rel="icon" type="image/x-icon" href="/img/company_logo.png" media="screen">
    <title>迈沃德科技|用仅有的能力创造价值</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/particles.css">
    <link href='//cdn.webfont.youziku.com/webfonts/nomal/11252/19505/57e79ca9f629d812e893b975.css' rel='stylesheet' type='text/css' />
    <link href="css/main.min.css" rel="stylesheet">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1474797684_2646039.css">
    <meta name="baidu-site-verification" content="QrvsTHF1hw" />
  </head>
  <style>
    body{
      overflow: hidden;
      height: 100%;
      overflow-x:hidden !important; 
    }
    /*.logo {
      margin: 0 auto;
      margin-top: -20%;
    }*/
    .logo img{
      width: 60%;
    }
    .wenwo-content{
      position: absolute;
      z-index: 500;
      width: 100%;
      height: 100%;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      text-align: center;
      transition:0.5s linear all;
      -webkit-transition: 0.5s linear all;
    }
    .products-li-content,.products-content{
      position: absolute;
      z-index: 500;
      width: 100%;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      text-align: center;
      transition:0.5s linear all;
      -webkit-transition: 0.5s linear all;
    }
    .wenwo-content-right{
      position: absolute;
      z-index: 4000;
      top:50%;
      left:50%;
      transform: translate(500%,-50%);
      text-align: center;
      -webkit-transition: all ease 500ms;
      transition: all ease 500ms;
      width: 12rem;
    }
    .logo{
      height: 9rem;
    }
    .products-li{
      padding:5rem;
    }
    .wenwo-text{
      position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;

      color: #f88827;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: 'Open Sans',sans-serif;
      top:50%;
      transform: translateY(-50%);
    }
    .wenwo-down,.wenwo-wechat{
      position: absolute;
      z-index: 5000;
      width: 10rem;
      height: 2.5rem;
      border-radius: .4rem;
      text-align: center;
      line-height: 2.5rem;
      background-color: #f88827;
      color: white;
      font-size: 1rem;
      bottom:2rem;
      left:50%;
      transform: translateX(-50%);
      -webkit-transition: all ease 500ms;
      transition: all ease 500ms;
    }
    .android{
      position: absolute;
      z-index: 5000;
      color: #f88827;
      font-size: 1rem;
      top:1rem;
      left:1rem;
    }
    .ios{
      background-color: #ccc;
      font-size: .9rem;
    }
    .wenwo-wechat{
      display: none;
      bottom:5rem;
      background: #3eb94e;
    }
    .wenwo-input{
      margin-top: 1rem;
      width: 100%;
      border-radius: .3rem;
      border: 1px solid rgba(248, 136, 39, 0.9);
      height: 2rem;
      padding-left: .5rem;
      font-size: .8rem;
      outline:0;
      color: rgba(248, 136, 39, 0.9);
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: rgba(248, 136, 39, 0.7)
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: rgba(248, 136, 39, 0.7)
    }
    .wenwo-label{
      display: block;
      color: #f88827;
      font-size: .8rem;
      margin-bottom: .2rem;
    }
    .down-content{
      position: absolute;
      width: 100%;
      left:0;
      right: 0;
      top:0;
      height: 100%;
      overflow-x: hidden;
    }
    .index{
      transform: translate(-150%,-50%);
    }

    .products{
      transform: translate(150%,-50%);
    }
    .contact{
      transform: translate(-50%,150%);
    }

    .slide-right {
      transform: translate(-50%,-50%);
    }
    .products-text{
      display: block;
      width: 100%;
      margin-top: 1.5rem;
      text-align: center;
      font-size: 1.5rem;
      color: #f88827;
    }
    .products-content{
      height: 300%;
      cursor: pointer;
      -webkit-transition: all ease 500ms;
      transition: all ease 500ms;
    }
    .products-li{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .wenwo{
      transform: translate(0,0);
    }
    .cherry{
      transform: translate(0,100%);  
    }
    .pcs{
      transform: translate(0,200%);
    }
    .cherry .logo,.pcs .logo{
      height: 12rem;
    }
    .cherry .products-text{
      color: #d84150;
    }
    .pcs .products-text{
      color: #31a6fc;
    }
    .parallax-h-indicator {
      width: 10px;
      height: auto;
      position: absolute;
      right: 20px;
      top: 50%;
      z-index: 10;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      pointer-events: none;
    }
    .parallax-h-indicator ul li.current {
      background-color: rgba(250, 131, 41, 0.8);
    }
    .parallax-h-indicator ul li {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: rgba(0,0,0,0.3);
      border-radius: 5px;
      margin-left: 5px;
    }
    .contact-text-box .iconfont{
      font-size: 4rem;
      text-align: center;
    }
    .icon-kuohao{
      margin-left: 1.3rem;
    }
    .contact .contact-text-box{
      font-size: 3rem;
      line-height: 4rem;
    }
    .contact-text-box label{
      display: block;
      float: left;
    }
    .contact .contact-text-box{
      width: 22rem;
      margin:0 auto;
      height: 4rem;
      margin-bottom: 7rem;
    }
    .contact-content{
      position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      color: #f88827;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    .contact-item-box .item{
      display: inline-block;
      height: 3rem;
      text-align: left;
    }
    .item p {
      font-size: 1rem;
      color: rgba(252, 188, 133, 0.94)
    }
    .item p b {
      font-size: 1.6rem;
      color: rgb(248, 136, 39);
      font-weight: 400;
    }
    .divider {
      display: inline-block;
      vertical-align: middle;
      height: 3rem;
      margin: 0 3rem;
      background-color: rgba(255, 197, 146, 0.8);
      width: 1px !important;
    } 
    .contact a:hover,
    .contact a:visited,
    .contact a:link,
    .contact a:active{
      color: rgb(248, 136, 39);
      text-decoration: none;
    }
  </style>
  
  <script>
    //angularJs
  var app = angular.module('company',[]);
    app.controller('companyController',function($scope){
      $scope.logo = '/img/myworld.png';
      $scope.companyDescribe = "用仅有的能力创造价值";
      $scope.companyUrl = "http://www.wenwobei.com";
      $scope.companyUrlText = "© 2016 迈沃德科技";
      $scope.companyAddUrl = "http://ditu.amap.com/place/B0FFFHJEE7";
      $scope.companyAdd = "四川省成都市西南航空港经济开发区学府路一段24号";
      $scope.companyRegUrl = "http://www.miibeian.gov.cn";
      $scope.companyReg = "蜀ICP备15035285号";

      $scope.list = [{
        "name" : "主页",
        "url" : "index",
      },
      {
        "name" : "产品",
        "url" : "products",
      },
      {
        "name" : "联系我们",
        "url" : "contact",
      }];

      $scope.productsList = [{
        "name" : "问我",
        "id":"wenwo",
        "text":"问我-发现身边美食",
        "logoUrl" : "/img/logo.jpg",
        "downUrl" : "http://android.myapp.com/myapp/detail.htm?apkName=com.myworld.wenwo"
      },
      {
        "name" : "cherry",
        "id":"cherry",
        "text":"CHERRY-话说你的故事",
        "logoUrl" : "/img/cherry_logo.png",
        "downUrl" : "http://android.myapp.com/myapp/detail.htm?apkName=link.sharein.cherry"
      },
      {
        "name" : "享用插件",
        "id":"pcs",
        "text":"享用插件-只用最轻的应用",
        "logoUrl" : "/img/pcs_logo.png",
        "downUrl" : "http://www.wandoujia.com/apps/com.cuit.pcs"
      }];

      var loadPage = "index";

      $scope.animation = "slide-right";
      $scope.isActiveItem = function(page){
        return page == loadPage;
      }
      $scope.itemActive = function(tab){
        loadPage = tab.url;
      }

      var pageLoadId = "wenwo-id";
      var pageLoad = false;

      var pageScoll = function(e){
        if(pageLoad || loadPage != "products"){
          return;
        }
        pageLoad = true;
        setTimeout(function(){
          pageLoad = false;
        }, 500);
        $(".parallax-li").removeClass("current");
        if(e.deltaY > 0){
          if(pageLoadId == "wenwo-id"){
            pageLoadId = "cherry-id";
            // $(".cherry-li").addClass("current");
            $(".products-content").css({
              "transform" : "translate(-50%,-150%)"
            });
          }else{
            pageLoadId = "pcs-id";
            // $(".pcs-li").addClass("current");
            $(".products-content").css({
              "transform" : "translate(-50%,-250%)"
            });
          }
        }else{
          if(pageLoadId == "pcs-id"){
            pageLoadId = "cherry-id";
            // $(".cherry-li").addClass("current");
            $(".products-content").css({
              "transform" : "translate(-50%,-150%)"
            });
          }else{
            pageLoadId = "wenwo-id";
            // $(".wenwo-li").addClass("current");
            $(".products-content").css({
              "transform" : "translate(-50%,-50%)"
            });
          }
        }
        console.log(pageLoadId);
        $("."+pageLoadId).addClass("current");
      }

      /*IE注册事件*/   
      if(document.attachEvent){   
         document.attachEvent('onmousewheel',pageScoll);   
      } 
      /*注册事件*/   
      if(document.addEventListener){   
         document.addEventListener('DOMMouseScroll',pageScoll,false);   
      }//W3C

      window.onmousewheel=document.onmousewheel=pageScoll;

    });
  </script>

  <body ng-app="company" ng-controller="companyController">
  
  <script type="text/ng-template" id="embedded.index.html">
      <div class="wenwo-text">{{companyDescribe}}</div>
  </script>

  <script type="text/ng-template" id="embedded.products.html">
      <h1> Home </h1>
  </script>

  <script type="text/ng-template" id="embedded.contact.html">
      <h1> About </h1>
  </script>

  <div class="content">
    <div id="particles-js"></div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i>
          </button>
          <a href="#page-top">
            <img ng-src="{{logo}}" class="logo-bar white">  
          </a>
        </div>
        <!-- Nav bar -->  
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="page-scroll" ng-repeat='tab in list' ng-class="{active: isActiveItem(tab.url)}">
              <a href="" ng-click="itemActive(tab)">{{tab.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="wenwo-content index" ng-class="{'slide-right':isActiveItem('index')}"  ng-view="" >
      <div class="wenwo-text css605e312722bf4">{{companyDescribe}}</div>
    </div>

    <div class="wenwo-content products" ng-class="{'slide-right':isActiveItem('products')}"  ng-view="" >

      <div class="parallax-h-indicator">
        <ul>
          <li class="parallax-li wenwo-id current"></li>
          <li class="parallax-li cherry-id"></li>
          <li class="parallax-li pcs-id"></li>
        </ul>
      </div>

      <div class="products-content" ng-style="productsContent">
        <div ng-repeat='products in productsList' class="products-li {{products.id}}" id="{{products.id}}">
          <div class="products-li-content">
            <a href="{{products.downUrl}}" ng-mouseover="saveText = products.text;products.text='点击下载app'" ng-mouseout="products.text = saveText"><img ng-src="{{products.logoUrl}}"  class="logo" alt=""></a>
            <div class="products-text css605e312722bf4">{{products.text}}</div>
          </div>
        </div> 
      </div>
    </div>
    <div class="wenwo-content contact" ng-class="{'slide-right':isActiveItem('contact')}"   ng-view="" >
      <div class="contact-content">
        <div class="contact-text-box">
          <label class="iconfont icon-kuohao201"></label>
          <label class="contact-text">勿忘初心</label>
          <label class="iconfont icon-kuohao"></label>
        </div>

        <div class="contact-item-box">
          <div class="item">
            <p>邮箱</p>
            <p> <a href="mailto:892137682@qq.com"><b>892137682@qq.com</b></a>
            </p>
          </div>
          <div class="item divider"></div>
          <div class="item">
            <p>手机</p>
            <p><a href="tel:13348876754"><b>13348876754</b></a>
            </p>
          </div>
          <div class="item divider"></div>
          <div class="item">
            <p>微信公众号</p>
            <p> <b>问我(wenwolo)</b>
            </p>
          </div>
        </div>
      </div>

      </div>
    <footer class="wenwo-footer">
      <span><a href="{{companyUrl}}">{{companyUrlText}}</a></span>
      <span class="dot">·</span>
      <span><a href="{{companyAddUrl}}">{{companyAdd}}</a></span></span>
      <span class="dot">·</span>
      <span><a href="{{companyRegUrl}}">{{companyReg}}</a></span>
    </footer>
  </div>
  <script src="/js/particles.min.js"></script>
  <script src="/js/zepto.min.js"></script>
  <script src="/js/wxlocation.js"></script>
  
  <script>
    //判断是在微信端
    var ua = window.navigator.userAgent.toLowerCase(); 
    if(ua.match(/MicroMessenger/i) == 'micromessenger'){
      window.location.href="/newfood";
    }
  </script>

  <script>
    particlesJS('particles-js',
  
    {
      "particles": {
        "number": {
          "value": 20,
          "density": {
            "enable": true,
            "value_area": 1000
          }
        },
        "color": {
          "value": "#f88827"
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          },
          "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
          }
        },
        "opacity": {
          "value": 0.5,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 15,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 180,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": true,
          "distance": 650,
          "color": "#f88827",
          "opacity": 0.2,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 2,
          "direction": "none",
          "random": !0,
          "straight": !1,
          "out_mode": "out",
          "attract": {
            "enable": !1,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": !1,
            "mode": "repulse"
          },
          "onclick": {
            "enable": !1,
            "mode": "repulse"
          },
          "resize": !0
        },
        "modes": {
          "grab": {
            "distance": 400,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200,
            "duration":.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": true
    }
  );
  </script>
  <script>
    var WX_SHARE_TITLE = '「问我-美食安卓内测版」邀您一起“吃吃吃” ';
    var WX_SHARE_LINK = 'http://www.wenwobei.com/down';
    var WX_SHARE_DESC = '发现身边美食';
    var WX_SHARE_IMGURL = '';
    onlyInitShare();

    //判断是不是安卓手机
      var u = navigator.userAgent;
      var ua = window.navigator.userAgent.toLowerCase(); 
      // var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
      var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);


      if (isIOS) {
          $(".wenwo-down").addClass("ios");
          $(".wenwo-down").text("IOS COMING SOON");
      }
      //判断是在微信端
      if(ua.match(/MicroMessenger/i) == 'micromessenger'){
        $(".wenwo-wechat").show();
      }

      $(".wenwo-down").on("click",function(){
        if($(this).text() == "提交"){
          if (!isIOS) {
            var contact = $(".wenwo-input").val();
            var type = "GET";
            var url = "/manage/addContact";
            var data = {
              contact : contact
            }
            if(contact){
              $.ajax({
                type: type,
                url: url,
                data: data,
                dataType: "json",
                success:function(result){
                },
                error:function(error){
                }
              })
            }
            window.location.href="http://a.app.qq.com/o/simple.jsp?pkgname=com.myworld.wenwo";
          }
        }else{
          if (!isIOS) {
            $(".wenwo-content").css({
              "transform" : "translate(-500%,-50%)"
            })
            $(".wenwo-content-right").css({
              "transform" : "translate(-50%,-50%)"
            })
            $(".wenwo-wechat").hide();
            $(".wenwo-down").text("提交");
          }
        }
        
      })
  </script>
</body>
</html>
