<!DOCTYPE HTML>
<html>
<head>
  <meta charset='utf-8'>
  <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'>
  -->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name='description', content='wenwo,问我,当地人,旅游,攻略,信息,分享,经验,赚钱，美食，成都，好吃'>
    <meta name='author', content='raodqi'>
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg" media="screen">
    <title>问我-让经验帮你赚钱</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_1468915240_5629373.css">
  <link rel="stylesheet" href="/css/sm.min.css">
  <script src="/js/jweixin-1.0.0.js"></script>
</head>
  <style>
    @font-face {font-family: 'webfont';
      src: url('//at.alicdn.com/t/vlddunszd2pousor.eot'); /* IE9*/
      src: url('//at.alicdn.com/t/vlddunszd2pousor.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('//at.alicdn.com/t/vlddunszd2pousor.woff') format('woff'), /* chrome、firefox */
      url('//at.alicdn.com/t/vlddunszd2pousor.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/vlddunszd2pousor.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
    }
    html{
      font-size: 20px;
      width: 100%;
      height: 100%;
    }
    body{
      position: absolute;
      left: 0;
      right: 0 !important;
      padding:0;
      margin:0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #E8E8E8;
    }
    .title{
      font-weight: bold;
      font-family: 'webfont';
    }
    .detail-pic-bg,.bg-mask{
      height: 14rem;
      width: 100%;
      /*background: #fff;*/
      position: absolute;
    }
    .bg-mask{
      background: rgba(51,51,51,0.7);
    }
    .pic-bg{
      display: block;
      position: absolute;
      /*width: 6rem;*/
      /*height: 100%;*/
      /*margin-top: 2rem;
      margin-left: 50%;
      transform: translateX(-50%);*/
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    .username-content{
      position: absolute;
      bottom:3rem;
      padding-left: .7rem;
      font-size: 1rem;
      color: white;
    }
    .like,.buy{
      position: absolute;
      border-radius: 0.2rem;
      /*height: 1.5rem;*/
      bottom:1rem;
      text-align: center;
      font-size: 0.7rem;
    }
    .like{
      background: #FFF;
      padding:5px 10px;
      margin-left: .7rem;
      color: rgb(153, 153, 153);
      width: 3.5rem;
      border-radius: 3px;
      border: 1px solid #E2E2E2;
      padding: 0.1rem 0.6rem;
      display: inline-block;
      color: #666;
      font-weight: bold;
      font-size: 0.7rem;
    }
    .buy{
      background: #1ccda6;
      padding:5px 10px;
      margin-left: 4.6rem;
      color: #FFF;
    }
    .like-num{
      padding-left: 7px;
    }
    .ask-detail{
      margin-top: 14.5rem;
    }
    .ask-detail-li{
      padding:0.3rem;
    }
    .detail-li-title{
      box-sizing: border-box;
      padding:0.3rem 0.5rem;
      border-radius: 0.2rem;
      font-size: 0.8rem;
      color: #333333;
      margin-bottom: 0.3rem;
    }
    .detail-li-content{
      color:#999999;
      padding-left: 0.3rem;
      font-size: 0.7rem;
      word-break:break-all;
      padding-right: 1rem;
    }
    .no-user{
      margin-top: 40px;
      text-align: center;
      color: #A7A7A7;
    }
    .edit-li-img{
      width: 25px;
      height: 25px;
      float: left;
      margin-left: 10px;
      margin-top: 5px;
      background-color: white;
      border-radius: 50%;
      background-size: cover;
    }
    .detail-li-box{
      margin-left: 40px;
    }
    .content{
      background-color: #FFF;
      padding-bottom: 20px;
    }
    .edit-detail-li-title {
      background: url("/img/edit/detail-li.png") no-repeat;
      min-width: 40px;
      padding: 0 13px 0 8px;
      /*padding-right: 7%;*/
      /*padding:0 7% 0 4%;*/
      height: 20px;
      background-size: 100% 20px;
      text-align: center;
      float: left;
    }
    .edit-detail-li-input {
      min-height: 21px;
      margin-left: 4rem;
    }
    .edit-detail-li {
      min-height: 20px;
      margin-top: 10px;
    }
    .like .icon-likeEat,.liked .like .icon-likeEat{
      width: 20px;
      height: 19px;
    }
    .liked .icon-likeEat{
      height: 22px !important;
    }
    .liked{
      padding:3.5px 0;
    }
    .free {
      background-color: #F88827;
    }
    .ask-detail-li-empty{
      width: 100%;
      height: .75rem;
      background-color: #F8F8F8;
    }
    .detail-rtname,.detail-address{
      color: #FFADAD;
    }
    .detail-content{
      padding-bottom: .5rem;
    }
    .iconfont {
      font-family: "iconfont" !important;
    }
    .icon-tixing{
      display: block;
      position: absolute;
      right:.9rem;
      color:#FFADAD;
      font-size: 1rem;
      margin-top: -2rem;
    }
    .modal-tip,.modal-dislike,.modal-dislike-send{
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
      height: 100%;
  }
  .buyed-img{
    display: none;
    width: 4rem;
    height: 4rem;
    position: absolute;
    z-index: 2;
    bottom:-2rem;
    right: .8rem;
  }
  .dislike-content{
    display: none;
    height: 1.5rem;
    margin-top: 1rem;
  }
  .dislike-img{
    display: block;
    position: absolute;
    right: 3rem;
    width: 1.2rem;
    height: 1.2rem;
  }
  .dislike-text{
    position: absolute;
    right: .7rem;
    width: 2rem;
    color: white;
    text-align: center;
    font-size: .7rem;
    border-radius: .5rem;
    background-color: #999;
    padding:.05rem 0.1rem;
  }
  .dialog-dislike-content,.dialog-dislike-send-content{
    position: absolute;
    border-radius:.4rem;
    width: 98%;
    left:1%;
    height: 5.03rem;
    top:2rem;
    background-color: white;
  }
  .dialog-dislike-content .left,.dialog-dislike-send-content .left{
    float: left;
    width: 43%;
    height: 100%;
  }
  .dialog-dislike-content .right,.dialog-dislike-send-content .right{
    float: left;
    width: 55%;
    height: 100%;
  }
  .dialog-dislike-send-content .left{
    width: 20%;
  }
  .dialog-dislike-send-content .right{
    width: 70%;
    height: 2rem;
    padding-left: .5rem;
    font-size: .65rem;
    margin-top: 1.5rem;
  }
  .dialog-dislike-content .right input{
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(153, 153, 153, 1);
    box-shadow: none;
    height: 1.5rem;
    border-radius: .3rem;
    width: 100%;
    padding-left:.2rem;
    margin-top: .5rem;
    font-size: .7rem;
  }
  .dialog-dislike-content .right .send{
    position: absolute;
    bottom: -1.7rem;
    right: 1rem;
    color: white;
    font-size: .8rem;
  }
  .dislike-right-li{
    text-align: left;
    margin-top: .2rem;
    font-size: .6rem;
    color: #999999;
  }
  .dislike-left{
    display: block;
    /*float: left;*/
    margin:0.2rem 0.5rem;
    width: 4.3rem;
    height: 4.6rem;
  }
  .dislike-send{
    width: 3.4rem;
    height: 3.4rem;
    margin:.5rem .5rem;
  }
  </style>
<body>
  <!-- <header class="bar bar-nav">
    <h1 class="title">问我&bull;美食</h1>
  </header> -->
  <% if(askid){ %>
    <div class="preloader-modal">
      <div class="modal-content">
        <div class="modal-inner"> <i class="ui-loading-bright"></i>
          <div class="modal-title">加载中</div>
        </div>
      </div>
    </div>

    <div class="wenwo-content page page-current" id='detail' style="display:none">
      <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left">
            <!-- <a class="button button-link button-nav pull-left"> -->
              <span class="icon icon-left"></span>
          </a>
        <h1 class="title">鱼火锅</h1>
      </header>
      <!-- 这里是所有的信息列表 -->
      <div class="content">
        <div class="detail-pic-bg">
          <img src="http://wx.qlogo.cn/mmopen/zngt7mjBQUdFiaKIVGQbhF3jRURfqibW3EtNPALJewxicdPAyGfyMpZkeHZIW1UXUmjEia3QicdYqickSiaywQcKBUS6GMWSEw67Rry/" alt="" class="pic-bg">
          <div class="bg-mask"></div>
          <div class="username-content">
            <span class="username">ducky</span>
            
          </div>
          <div class="like"><span class="icon iconfont icon-likeEat"></span><span class="like-num">2</span></div>
          <div class="buy"><span class="price">2</span>元瞅瞅</div>

          <img src="/img/common/buyed.png" class="buyed-img">
        </div>

        <div class="ask-detail">
          <div class="ask-detail-reason ask-detail-li">
            <img src="/img/edit/reason-02.png" class="edit-li-img">
            <div class="detail-li-box">
              <div class="detail-li-title">推荐理由</div>
              <div class="detail-reason detail-li-content"></div>
            </div>
          </div>

          <div class="ask-detail-content ask-detail-li">
            <img src="/img/edit/detail-02.png" class="edit-li-img">
            <div class="detail-li-box">
              <div class="detail-li-title">美食详情</div>
              <div class="detail-content detail-li-content">
                <div class="edit-detail"></div>
                <div class="edit-detail-li-content">
                </div>
              </div>
            </div>
          </div>

          <div class="ask-detail-li-empty"></div>

          <div class="ask-detail-rtname ask-detail-li">
            <img src="/img/edit/name-02.png" class="edit-li-img">
            <div class="detail-li-box">
              <div class="detail-li-title">店名</div>
              <span class="icon iconfont icon-tixing"></span>
              <div class="detail-rtname detail-li-content">
                请付费后再来看吧!
              </div>
            </div>
          </div>

          <div class="ask-detail-address ask-detail-li">
            <img src="/img/edit/address-02.png" class="edit-li-img">
            <div class="detail-li-box">
              <div class="detail-li-title">地址</div>
              <div class="detail-address detail-li-content">
                一毛钱都不给我，就想知道？
              </div>
            </div>
          </div>

          <div class="dislike-content">
            <img src="/img/dislike.png" alt="" class="dislike-img">
            <div class="dislike-text">吐槽</div> 
          </div>
        </div>
      </div>
    </div>
    <div class="modal-overlay modal-overlay-visible" style="display:none;"></div>

      <div class="modal modal-in modal-tip" style="display: none; margin-top: -72px;">
        <div class="tip-content">
          <div class="tip-content-title">查看说明</div>
          <div class="tip-content-li">
            <div>1)&nbsp;&nbsp;&nbsp;当分享者设定信息的查看价格时，该条信息的关键内容会被隐藏，需要用户付费成功后才能查看。</div>
          </div>
          <div class="tip-content-li">
            <div>2)&nbsp;&nbsp;&nbsp;交易完成后，信息查看费用归分享者所有。</div>
          </div>
          <div class="tip-content-li">
            <div>3)&nbsp;&nbsp;&nbsp;快来分享你的经验，迎娶白富美，走向人生巅峰吧！</div>
          </div>
          <div class="tip-content-get">朕知道了</div>
        </div>
      </div>

      <div class="modal modal-in modal-dislike">
        <div class="dialog-dislike-content">
        <div class="left">
          <img src="/img/dislike-title.jpg" alt="" class="dislike-left">
        </div>
        <div class="right">
          <input type="text" placeholder="吐槽是为了让我变得更好" name="" class="dislikeText">
          <div class="dislike-right-li">☇ 骗子，一点儿都不好吃。</div>
          <!-- <div class="dislike-right-li">☇ 不喜欢这个调调（口味）。</div> -->
          <div class="dislike-right-li">☇ 敢不敢把地点标注准确一点。</div>
          <!-- <div class="dislike-right-li">☇ 说的好像是真的一样……哥哥or姐姐，你是多久没去过这家店啦。</div> -->
          <div class="send">发送</div>
        </div>
        </div>
      </div>
      <div class="modal modal-in modal-dislike-send">
        <div class="dialog-dislike-send-content">
        <div class="left">
          <img src="/img/dislike-send.png" alt="" class="dislike-send">
        </div>
        <div class="right">
          已收到陛下的吐槽<br/>小问会及时告知分享者滴!
        </div>
        </div>
      </div>
  <% }else{ %>
    <div class="error-content content pull-to-refresh-content" data-ptr-distance="55">
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="card-container no-user">链接有误...</div>
    </div>
  <% } %>

</body>
<script type='text/javascript' src='/js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/js/sm.min.js' charset='utf-8'></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type='text/javascript' src='/js/common.js' charset='utf-8'></script>
<script type="text/javascript" src="/js/wxlocation.js"></script>
<script>
  // //下拉刷新
  // // 添加'refresh'监听器
  // $(document).on('refresh', '.pull-to-refresh-content',function(e) {
  //     // 模拟2s的加载过程
  //     setTimeout(function() {
  //         // 加载完毕需要重置
  //         $.pullToRefreshDone('.pull-to-refresh-content');
  //     }, 1000);
  // });
  // //下拉刷新初始化
  // $.initPullToRefresh(".content");
</script>
<script>
  //初始化分享
  onlyInitShare();
  //页面加载执行
  // $(function(){
    console.log("<%=askid%>");
    var AskId = "<%=askid%>";
    var UserName = "<%=username%>";
    var URL = "";

    console.log(UserName);
    if(AskId){
      getAskDetail(AskId,UserName);
    }
  // });
  function init(){
    var url = window.location.hash;
      if(url.split("#")[1]){
        URL = "food";
      }
  }
  function getAskDetail(askid,username){
    var username = username ? username : '';
    var data = {
      username  : username,
      ask_id    : askid
    }
    $.ajax({
      type : "POST",
      data: data,
      dataType: "json",
      url : "/ask/askdetail",
      success: function(result){
        console.log(result);
        if(result.code == 200){
          var data = result.data;
          $(".title").text(formatTag(data.askTagStr));
          $(".username").text(data.createByName);
          $(".like-num").text(data.likeNum);

          //初始化分享
          WX_SHARE_LINK   = "http://www.wenwobei.com/detail?askid="+data.objectId;
          WX_SHARE_IMGURL = data.createByUrl;
          WX_SHARE_TITLE  = data.askReason;
          console.log(WX_SHARE_TITLE);
          var askTagStr = data.askTagStr;
          askTagStr = JSON.parse(askTagStr);
          tag = askTagStr[0].tag_name;

          WX_SHARE_DESC  = data.createByName+" : 分享了「"+tag+"」美食,瞅瞅波？"
          initShare();

          //判断是否是限时免费
          if(data.score < 10){
            $(".buy").text("限时免费");
            $(".buy").addClass("free");
          }

          //判断是否想吃过
          if(result.show.foodLikeFlag){
            //想吃过
            $(".like").addClass("liked");
          }else{
            //没有想吃过
            $(".like").removeClass("liked");
          }

          //判断是否是自己的信息
          if(result.show.isOwnFlag){
            //是自己的
            $(".buy").text("朕分享的");
            $(".buy").attr("data-buy","1");
          }

          //判断是否买过
          if(result.show.havedFlag){
            //买过
            $(".buy").text("朕已查阅");
            $(".buy").attr("data-buy","1");
            $(".buyed-img").show();
            $(".dislike-content").show();
          }

          if(result.show.havedFlag || result.show.isOwnFlag){
            //显示店名，地址
            if(data.shopName){
              $(".detail-rtname").text(data.shopName);
            }else{
              $(".detail-rtname").text("暂无");
            }
            if(data.askPosition){
              var askPosition = JSON.parse(data.askPosition);
              var address = '';
              for(var key in askPosition){
                console.log(askPosition[key]);
                address+=askPosition[key];
              }
              $(".detail-address").text(address);
              $(".detail-address").attr("data-GeoX",data.GeoX);
              $(".detail-address").attr("data-GeoY",data.GeoY);
            }
          }
          
          $(".price").text(data.askPrice);
          $(".pic-bg").attr("src",data.createByUrl);
          $(".detail-reason").text(data.askReason);
          // $(".detail-rtname").text(data.shopName);
          //解析美食详情
          var contentShow = data.askContentShow;
          if(contentShow){
            //判断是否是标准json格式
            if(contentShow.indexOf("{") == -1 || contentShow.indexOf("}") == -1 || contentShow.indexOf(":") == -1){
              $(".detail-content").text(contentShow);
            }else{
              contentShow = JSON.parse(contentShow);
              console.log(contentShow);
              if(contentShow.detail || contentShow.detailLi){
                if(contentShow.detail){
                  $(".edit-detail").text(contentShow.detail);
                }
                if(contentShow.detailLi){
                  console.log(contentShow.detailLi);
                  var detailLi = contentShow.detailLi;
                  detailLi = JSON.parse(detailLi);
                  $(".edit-detail-li-content").empty();
                  for(var i = 0; i < detailLi.length;i++){
                    //初始化显示界面
                    var li = '<div class="edit-detail-li"><div class="edit-detail-li-title">'+detailLi[i].name+'</div><div class="edit-detail-li-input">'+detailLi[i].val+'</div></div>';
                    $(".edit-detail-li-content").append(li);
                  }
                }
              }
            }  
          }


          $(".preloader-modal").hide();
          $("#detail").show();
        }else{
          $(".preloader-modal").hide();
          $("body").empty();
          var error = '<div class="error-content content pull-to-refresh-content" data-ptr-distance="55"><div class="pull-to-refresh-layer"><div class="preloader"></div><div class="pull-to-refresh-arrow"></div></div><div class="card-container no-user">'+result.message+'</div></div>';
          $("body").append(error);
        }
        // callback.success(result);
      },
      error:function(error){
        console.log(error);
        $(".preloader-modal").hide();
        $("body").empty();
        var error = '<div class="error-content content pull-to-refresh-content" data-ptr-distance="55"><div class="pull-to-refresh-layer"><div class="preloader"></div><div class="pull-to-refresh-arrow"></div></div><div class="card-container no-user">服务器出错</div></div>';
        $("body").append(error);
        // callback.error(error);
      },
    })
  }

  init();

  $(".tab-item").on("click",function(){
    // console.log($());
    var type = $(this).attr("data-type");
    console.log(type);
    $(".tab-item").removeClass("active");
    $(this).addClass("active");
    if(type == "like"){
      $.router.load("#like"); 
    }else if(type == "find"){
      $.router.load("#find");
      // $.router.back();
    }else if(type == "edit"){
      $.router.load("/edit?username=573c1eb271cfe4006c18274f");
    }
  })

  //点击返回逻辑bug
  $("#detail .icon-left").on("click",function(){
    $.showPreloader("正在跳转");
    // window.location.href="/edit";
    if(URL == "food"){
      window.history.go(-1);
    }else{
      window.location.href="/food";
    }
  })

  //点击地址跳转地图
  $(".detail-address").on("click",function(){
    var lat = $(this).attr("data-geox");
    var lng = $(this).attr("data-geoy");
    if(lat && lng){
      window.location.href="/map?lat="+lat+"&lng="+lng;
    }
  })

  // $(".edit").on("click",function(){
  //   $.router.load("/todos/send/test?username=573c1eb271cfe4006c18274f");
  // })

  //点击想吃逻辑
  $(".content").on("click",".like",function(){
    //获取点击后的id
    var askId = AskId;

    var num = $(".like-num").text();
    //获取是否是已想吃
    console.log($("liked"));
    if($(this).hasClass("liked")){
      //已经是想吃的    取消想吃
      num = parseInt(num)-1;
      $(".like-num").text(num);
      $(this).removeClass("liked");
      cancelLike(UserName,askId,'',{
        success:function(result){
          console.log(result);
          if(result.code == 200){

          }else{
            num++;
            $(".like-num").text(num);
            $(".like").addClass("liked");
          }
        },
        error:function(error){
          console.log(error);
          num++;
          $(".like-num").text(num);
          $(".like").addClass("liked");
        }
      });
    }else{
      //想吃
      num = parseInt(num)+1;
      $(".like-num").text(num);
      $(this).addClass("liked");
      like(UserName,askId,'',{
        success:function(result){
          console.log(result);
          if(result.code == 200){
          }else{
            num--;
            $(".like-num").text(num);
            $(".like").removeClass("liked");
          }
        },
        error:function(error){
          console.log(error);
          num--;
          $(".like-num").text(num);
          $(".like").removeClass("liked");
        }
      });
    }
  })

  function getHide(callback){
    var data = {
      username  : UserName,
      ask_id    : AskId
    }
    $.ajax({
      type : "POST",
      data: data,
      dataType: "json",
      url : "/ask/askdetail",
      success: function(result){
        console.log(result);
        if(result.code == 200){
          callback.success(result);
        }else{
          callback.error(result);
        }
      },
      error:function(error){
        callback.error(error);
      }
    });
  }

  var dislike = 0;
  $(".right").on("click",function(){
    // return;
    dislike = 1;
  });
  //查看说明
  $(".modal-in").on('click',function(){
    if(dislike){
      
    }else{
      $(".modal-overlay-visible").hide();
      $(".modal-in").hide();
      $(".modal-dislike").hide();
    }
    dislike = 0;
  })

  //查看说明
  $(".icon-tixing").on("click",function(){
    $(".modal-overlay-visible").show();
    $(".modal-tip").show();
  })

  // //吐槽关闭
  // $(".modal-in").on('click',function(){
  //   $(".modal-overlay-visible").hide();
  //   $(".modal-dislike").hide();
  // })

  //吐槽
  $(".dislike-img,.dislike-text").on("click",function(){
    $(".modal-overlay-visible").show();
    $(".modal-dislike").show();
  })

  $(".dislike-right-li").on("click",function(){
    var text = $(this).text();
    $(".dislikeText").val(text);
  })

  //发布吐槽信息
  $(".dialog-dislike-content .send").on("click",function(){
    var dislikeText = $(".dislikeText").val();
    if(!dislikeText){
      $.toast("你没有吐槽任何信息");
      return;
    }
    var data = {
      username  : UserName,
      ask_id    : AskId,
      content   : dislikeText
    }
    $.showPreloader("正在吐槽");
    $.ajax({
      type : "POST",
      data: data,
      dataType: "json",
      url : "/ask/debase",
      success: function(result){
        $.hidePreloader();
        console.log(result);
        if(result.code == 200){
          $.toast("吐槽成功");
          $(".modal-dislike").hide();
          $(".modal-overlay-visible").show();
          $(".modal-dislike-send").show();
          console.log(result);
        }else{
          // callback.error(result);
          $.toast("吐槽失败");
          console.log(result);
        }
      },
      error:function(error){
        $.hidePreloader();
        // callback.error(error);
        console.log(result);
      }
    });
  })

  //点击购买
  //购买逻辑
  $(".buy").on("click",function(){
    var buyed = $(".buy").attr("data-buy");

    if(($(this).text() == "朕已查阅" || $(this).text() == "朕分享的") && buyed){
      return;
    }
    var data = {
      username : UserName,
      ask_id   : AskId
    }
    buyed = 1;
    $.showPreloader("正在瞅瞅");
    $.ajax({
      type : "GET",
      data: data,
      dataType: "json",
      url : "/authorization/pay",
      success : function(result){
        console.log(result);
        $.hidePreloader();
        if(result.code == 100){
          //限时免费购买
          $.toast("购买成功");
          $(".buy").text("朕已查阅");
          $(".buy").attr("data-buy","1");
          getHide({
            success:function(result){
              var data = result.data;
              if(data.shopName){
                $(".detail-rtname").text(data.shopName);
              }else{
                $(".detail-rtname").text("暂无");
              }
              if(data.askPosition){
                var askPosition = JSON.parse(data.askPosition);
                var address = '';
                for(var key in askPosition){
                  console.log(askPosition[key]);
                  address+=askPosition[key];
                }
                $(".detail-address").text(address);
                $(".detail-address").attr("data-GeoX",data.GeoX);
                $(".detail-address").attr("data-GeoY",data.GeoY);
              }
            },
            error:function(error){
              location.reload();
            }
          })
        }else if(result.code == 200){
          initPay(result.payargs);
          // initWXPay(result.payargs);
          buyed = 0;
        }else{
          $.toast("购买失败");
          buyed = 0;
        }
      },
      error:function(error){
        $.hidePreloader();
        $.total("网络有问题");
        console.log(error);
      }
    })
  })
  // $.toast("购买失败");
  // setInterval(function(){
  //   $.toast("购买失败");
  // }, 500);

function onBridgeReady(payargs){
      WeixinJSBridge.invoke('getBrandWCPayRequest',{
            "appId"     : payargs.appId,     //公众号名称，由商户传入     
            "timeStamp" : payargs.timeStamp,         //时间戳，自1970年以来的秒数     
            "nonceStr"  : payargs.nonceStr, //随机串     
            "package"   : payargs.package,     
            "signType"  : payargs.signType,         //微信签名方式：     
            "paySign"   : payargs.paySign //微信签名 
      },
      function(res){
          //console.log(res);
          alert(res.err_msg);
          $("body").text(res);
          if(res.err_msg == "get_brand_wcpay_request:ok") {
              // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
              alert(res.err_msg);
              window.location.reload();
          }
          else {
             alert(res.err_msg);
          }
      });
  }
function initPay(payargs){
  if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady(payargs);
    }
}

function initPay(payargs){
  if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady(payargs);
    }
}
</script>
</html>