<% include header.ejs %>
<link rel="stylesheet" href="/css/detail-min.css">
</head>
<body>
  <!-- <header class="bar bar-nav">
    <h1 class="title">问我&bull;美食</h1>
  </header> -->
  <% if(askid){ %>
    <div class="preloader-modal">
      <div class="modal-content">
        <div class="modal-inner"> <i class="ui-loading-bright"></i>
          <div class="modal-title">加载中</div>
        </div>
      </div>
    </div>

    <div class="wenwo-content page page-current" id='detail' style="display:none">
      <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left">
          <!-- <a class="button button-link button-nav pull-left"> -->
            <span class="icon icon-left"></span>
        </a>
        <a class="button button-link button-nav pull-right" style="display:none">
            <span class="iconfont icon-more"></span>
        </a>
        <h1 class="title">鱼火锅</h1>
      </header>
      
      <div class="more-dialog" style="display:none">
        <div class="modal-overlay modal-overlay-visible"></div>
        <div class="more-content">
          <img src="/img/triangle.png" class="triangle" alt="">
          <div class="more-list more-edit">
            <label class="iconfont icon-bianji"></label>
            <label class="list-text">重新编辑</label>
          </div>
          <div class="more-list more-delete">
            <label class="iconfont icon-shanchu"></label>
            <label class="list-text">删除下架</label>
          </div>
        </div>
      </div>

      <div class="card-tip">
        <img src="/img/card/vip.png" class="vip-card-img" alt="">
      </div>

      <!-- 这里是所有的信息列表 -->
      <div class="content">
        <div class="detail-pic-bg">
          <!-- <img src="http://wx.qlogo.cn/mmopen/zngt7mjBQUdFiaKIVGQbhF3jRURfqibW3EtNPALJewxicdPAyGfyMpZkeHZIW1UXUmjEia3QicdYqickSiaywQcKBUS6GMWSEw67Rry/" alt="" class="pic-bg"> -->
          <div class="pic-bg" style="background: url('/img/logo.jpg') center center / cover no-repeat"></div>
          <div class="wenwo-gradient"></div>
          <div class="bg-mask"></div>
          <div class="username-content">
            <span class="username">ducky</span>
            
          </div>
          <div class="like"><span class="icon iconfont icon-likeEat"></span><span class="like-num">2</span></div>
          <div class="buy"><span class="price">2</span>元瞅瞅</div>
          
          <div class="sale-content">
            <span class="iconfont icon-sold"></span>
            <label class="sale-num">0</label>
          </div>
          <img src="/img/common/buyed.png" class="buyed-img">
        </div>

        <div class="ask-detail">
          <div class="askDefault">该商品已下架</div>

          <div class="ask-detail-reason ask-detail-li">
            <img src="/img/edit/reason-02.png" class="edit-li-img">
            <div class="detail-li-box">
              <div class="detail-li-title">推荐理由</div>
              <div class="detail-reason detail-li-content"></div>
            </div>
          </div>

          <div class="ask-detail-content ask-detail-li">
            <img src="/img/edit/detail-02.png" class="edit-li-img">
            <div class="detail-li-box">
              <div class="detail-li-title">美食详情</div>
              <div class="detail-content detail-li-content">
                <div class="edit-detail"></div>
                <div class="edit-detail-li-content">
                </div>
              </div>
            </div>
          </div>

          <div class="ask-detail-li-empty"></div>

          <div class="ask-detail-rtname ask-detail-li">
            <img src="/img/edit/name-02.png" class="edit-li-img">
            <div class="detail-li-box">
              <div class="detail-li-title">店名</div>
              <span class="icon iconfont icon-tixing"></span>
              <div class="detail-rtname detail-li-content">
                请付费后再来看吧!
              </div>
            </div>
          </div>

          <div class="ask-detail-address ask-detail-li">
            <img src="/img/edit/address-02.png" class="edit-li-img">
            <div class="detail-li-box">
              <div class="detail-li-title">地址</div>
              <div class="detail-address detail-li-content">
                一毛钱都不给我，就想知道？
              </div>
            </div>
          </div>

          <div class="dislike-content">
            <img src="/img/dislike.png" alt="" class="dislike-img">
            <div class="dislike-text">吐槽</div> 
          </div>
        </div>
      </div>
    </div>
    
    <div class="wenwo-content page" id='delete'>
      <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title">删除下架</h1>
      </header>

      <!-- 这里是所有的信息列表 -->
      <div class="content">
        <div class="reason-content">
          <div class="delete-reason">下架理由：</div>
          <textarea name="reason" id="reason" placeholder="请写下您的下架理由，比如：店铺不存在了"></textarea>
          <div class="delete-btn">确认下架</div>
        </div>
      </div>
    </div>

    <div class="modal-overlay modal-overlay-visible" style="display:none;"></div>

      <div class="modal modal-in modal-tip" style="display: none; margin-top: -72px;">
        <div class="tip-content">
          <div class="tip-content-title">查看说明</div>
          <div class="tip-content-li">
            <div>1)&nbsp;&nbsp;&nbsp;当分享者设定信息的查看价格时，该条信息的关键内容会被隐藏，需要用户付费成功后才能查看。</div>
          </div>
          <div class="tip-content-li">
            <div>2)&nbsp;&nbsp;&nbsp;交易完成后，信息查看费用归分享者所有。</div>
          </div>
          <div class="tip-content-li">
            <div>3)&nbsp;&nbsp;&nbsp;快来分享你的经验，迎娶白富美，走向人生巅峰吧！</div>
          </div>
          <div class="tip-content-get">朕知道了</div>
        </div>
      </div>

      <div class="modal modal-in modal-dislike">
        <div class="dialog-dislike-content">
        <div class="left">
          <img src="/img/dislike-title.jpg" alt="" class="dislike-left">
        </div>
        <div class="right">
          <input type="text" placeholder="吐槽是为了让我变得更好" name="" class="dislikeText">
          <div class="dislike-right-li">☇ 骗子，一点儿都不好吃。</div>
          <!-- <div class="dislike-right-li">☇ 不喜欢这个调调（口味）。</div> -->
          <div class="dislike-right-li">☇ 敢不敢把地点标注准确一点。</div>
          <!-- <div class="dislike-right-li">☇ 说的好像是真的一样……哥哥or姐姐，你是多久没去过这家店啦。</div> -->
          <div class="send">发送</div>
        </div>
        </div>
      </div>
      <div class="modal modal-in modal-dislike-send">
        <div class="dialog-dislike-send-content">
        <div class="left">
          <img src="/img/dislike-send.png" alt="" class="dislike-send">
        </div>
        <div class="right">
          已收到陛下的吐槽<br/>小问会及时告知分享者滴!
        </div>
        </div>
      </div>
    <div>
      <div class="md-modal md-effect-1" id="modal-1">
        <div class="md-content">

          <div class="card-content-next">
            <img class="card-bg-img2" data-type="0" src="/img/card/card-bg2.png" alt="">   
            <img class="card-bg-tip" data-type="0" src="/img/card/card-tip.png" alt="">
            <div class="content-box"></div>
            <div class="card-dialog2"></div>
            <div class="card-text-tip">★最终解释权归「问我」所有</div>          
            <img src="/img/card/wenwo-bg2.png" class="wenwo-logo2" alt="">        
          </div>

          <div class="card-content">
            <img class="card-bg-img" data-type="0" src="/img/card/card-bg1.png" alt="">          
            <img class="tag-img" data-type="0" src="" alt="">
            <div class="card-dialog"></div>          
            <img src="/img/card/wenwo-bg1.png" class="wenwo-logo1" alt="">        
          </div>

        </div>
      </div>

  <div class="md-overlay"></div>
  <% }else{ %>
    <div class="error-content content pull-to-refresh-content" data-ptr-distance="55">
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="card-container no-user">链接有误...</div>
    </div>
  <% } %>

</body>
<% include footer.ejs %>
<script>
  var AskId = "<%=askid%>";
  var UserName = "<%=username%>";
  var URL = "";
  // $("#modal-1").addClass("md-show");

  $(function(){
    //初始化会员卡UI
    function initVIPCard(){
      var width = $(window).width();
      var cardWidth = width > 500 ? 500 : width * 0.95;
      var cardHeight = cardWidth / 1.52;
      $(".card-content,.card-bg-img,.card-bg-img2,.card-content-next").css({
        'width': cardWidth,
        'height': cardHeight
      })
       $(".card-content,.card-content-next").css({
        'margin-top':-cardHeight/2
      })
      $(".wenwo-logo1,.wenwo-logo2").css({
        'height': cardHeight * 0.1
      })
      $(".card-dialog,.card-dialog2").css({
        'height': cardHeight * 0.1 + 10,
        'width' : cardHeight * 0.41 + 20
      })
      $(".content-box").css({
        'height': cardHeight * 0.5,
        'width' : cardWidth * 0.5,
        'left'  : cardHeight * 0.40
      })
      $(".card-bg-tip").css({
        'left': cardHeight * 0.16
      })
    }
    initVIPCard();

    $("#modal-1").on("click",function(){
      if(!$(".card-content-next").hasClass("changeCard2")){
        $(".card-content-next,.card-content").removeClass("changeCard2");
        $(".card-content-next,.card-content").removeClass("changeCard1");
        $(".card-content").addClass("changeCard1");
        $(".card-content-next").addClass("changeCard2");
      }else{
        $(".card-content-next,.card-content").removeClass("changeCard2");
        $(".card-content-next,.card-content").removeClass("changeCard1");
        $(".card-content-next").addClass("changeCard1");
        $(".card-content").addClass("changeCard2");
      }
      // $(".card-content-next,.card-content").removeClass("changeCard2");
      // $(".card-content-next,.card-content").removeClass("changeCard1");
      // $(".card-content").addClass("changeCard1");
      // $(".card-content-next").addClass("changeCard2");
    })
    // $("#modal-1").on("click",".card-content-next",function(){
    //   $(".card-content-next,.card-content").removeClass("changeCard2");
    //   $(".card-content-next,.card-content").removeClass("changeCard1");
    //   $(".card-content-next").addClass("changeCard1");
    //   $(".card-content").addClass("changeCard2");
    // })
  })
  $(".card-tip").on("click",function(){
    $("#modal-1").addClass("md-show");
  })

  $(".md-overlay").on("click",function(){
    $("#modal-1").removeClass("md-show");
  })

</script>
<script type='text/javascript' src='/js/detail.js' charset='utf-8'></script>
</html>