<!DOCTYPE HTML>
<html>
  <head>
  <meta charset='utf-8'>
    <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'> -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name='description', content='wenwo,问我,当地人,旅游,攻略,信息,分享'>
    <meta name='author', content='raodqi'>
    <link rel="icon" type="image/x-icon" href="/img/logo.png" media="screen">
    <title>问我-让经验帮你赚钱</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1468552463_9741392.css">
    <link rel="stylesheet" href="/css/sm.min.css">
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd&plugin=AMap.Geocoder"></script>
    <script src="/js/jweixin-1.0.0.js"></script>
  </head>
  <style>
    body{
      padding:0;
      margin:0;
      overflow: auto;
    }
    .page{
      background: white !important;
    }
    .edit-ul{
      padding-left: 2rem;
      margin-top: 2rem;
    }
    .edit-li{
      padding-left: 1.5rem;
    }
    .tag{
      border-left: .1rem solid #2B82FD;
    }
    .reason{
      border-left: .1rem  solid #F13A01;
    }
    .detail{
      border-left: .1rem  solid #F4BC1C;
    }
    .name{
      border-left: .1rem  solid #5459CD;
    }
    .address{
      border-left: .1rem  solid #42B93A;
    }
    .price{

    }
    .li-title{
      font-size: 0.8rem;
      color: #333333;
    }
    .edit-content{
      padding:0.5rem 0;
      color: #CCCCCC;
      font-size: 0.65rem;
      word-break:break-all;
    }
    .edit-li-img{
      width: 1.5rem;
      height: 1.5rem;
      float: left;
      margin-top: -0.25rem;
      margin-left:-2.25rem;
      background-color: white;
      border-radius: 50%;
      background-size: cover;
    }
    .footer-bar{
      width: 100%;
      position: absolute;
      bottom: 2rem;
      height: 2rem;
    }
    .pre-view{
      position: absolute;
      left:1.5rem;
      background: #FFF url("/img/edit/left.png") no-repeat;
      background-size: 100%;
      width: 5rem;
      height: 2rem;
      text-align: center;
      line-height: 2rem;
      color: #999999;
      padding-left: 1rem ;
      font-size: .7rem;
    }
    #router5 .pre-view{
      background: url("/img/edit/left-empty.png") no-repeat;
      background-size: 100%;
    }
    #router5 .next-view{
      background: url("/img/edit/right-empty.png") no-repeat;
      background-size: 100%;
    }
    .next-view,.end-view{
      position: absolute;
      right: 1.5rem;
      background: #FFF url("/img/edit/right.png") no-repeat;
      background-size: 100%;
      width: 5rem;
      height: 2rem;
      text-align: center;
      line-height: 2rem;
      color: #999999;
      padding-right: 1rem;
      font-size: .7rem;
    }
    .header-bar{
      position: absolute;
      width: 100%;
      top:2rem;
    }
    .header-content{
      width: 84%;
      margin-left:8%;
    }
    .line{
      width: 100%;
      border: 0.05rem solid #D4D4D4;
      margin-top: 0.05rem;
    }
    .circle{
      width: .4rem;
      height: .4rem;
      border-radius: 50%;
      position: absolute;
      margin-top: -.2rem;
    }
    .circle-index{
      margin-left: 0%;
      background-color: #50C3E8;
    }
    .circle-tag{
      margin-left: 14%;
      background-color: #2B82FD;
    }
    .circle-reason{
      margin-left: 28%;
      background-color: #F13A01;
    }
    .circle-detail{
      margin-left: 42%;
      background-color: #F4BC1C;
    }
    .circle-name{
      margin-left: 56%;
      background-color: #5459CD;
    }
    .circle-address{
      margin-left: 70%;
      background-color: #42B93A;
    }
    .circle-price{
      margin-left: 84%;
      background-color: #F88827;
    }
    .circle-img{
      width: 1.5rem;
      height: 1.5rem;
      margin-left: -.5rem;
      margin-top: -.5rem;
      border-radius: 50%;
    }
    .icon-left{
      color:#F88827;
      font-weight: bolder;
      margin-left: 0.25rem;
    }
    .send-button-a{
      display: block;
      width: 1rem !important;
      height: 1.1rem !important;
      background-image: url("/img/edit/edit.svg");
      background-size: cover;
      margin: 0.65rem 0.25rem 0 0 !important;
    }
    .circle-hide{
      width: 0;
    }
    .page-content{
      margin-top: 5rem;
    }
    .ww-typeHelper-left{
      text-align: center;
    }
    .ww-typeHelper-input{
      border: 0 !important;
      padding:0.5rem 0.5rem;
      text-align: center;
      font-size: 0.75rem !important;
      border-bottom: 0.1rem solid #999999 !important;
    }
    .techTags{
      padding: 1rem;
    }
    .tag-ul{
      text-align: center;
    }
    .type-item{
      margin:0.25rem .25rem;
      display: inline-block;
      background: #EE7E2E;
      color:white;
      padding:.3rem .8rem;
      font-size: .7rem;
      border-radius: 1rem;
    }
    
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: #CCCCCC;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #CCCCCC;
    }
    .reason-content,.detail-content,.li-content{
      width: 80%;
      margin:0 auto;
      padding-top: 1rem;
    }
    #reason,#detail{
      margin-top: .5rem;
      width: 100%;
      height: 6rem;
      padding:.5rem;
      font-size: .75rem;
    }
    #name,#price{
      margin-top: .5rem;
      width: 100%;
      height: 1.85rem;
      padding-left: .5rem;
      font-size: .7rem;
    }
    /*这里是设置输入框的点击效果*/
    #name:focus,#price:focus {
        outline: -webkit-focus-ring-color auto 5px;
    }
    input,textarea{
      resize: none;
    }
    .detail-li input{
      border: 0 !important;
      width: 100%;
      padding: 0 .5rem;
    }
    .add-content,#container{
      width: 100%;
      height: 100%;
    }
    .add-header{
      background:rgba(255,255,255,0.7);
      top:.5rem;
      width: 90%;
      /*height: 6rem;*/
      margin-left: 5%; 
      z-index: 2;
    }
    .add-header .header-content{
      margin-top: 1.2rem;
    }
    #address{
      width: 90%;
      border-radius: .3rem;
      border: 1px solid #EE7E2E;
      height: 1.5rem;
      margin:50px 5% 0;
      padding-left: 1.4rem;
      font-size: .75rem;
    }
    #add-detail:-ms-input-placeholder{
      color: #AEAEAE;
    }
    #add-detail::-webkit-input-placeholder{
      color: #AEAEAE;
    }
    .icon-bianji{
      position: absolute;
      color: #EE7E2E;
      font-size: 1rem;
      bottom: 1.9rem;
      margin-left: 1.15rem;
    }
    .tip{
      margin-top: .5rem;
    }
    .tip-img{
      display: block;
      position: absolute;
      width: .65rem;
      height: .65rem;
      margin-top:0.325rem;
    }
    .tip-text{
      font-size: .6rem;
      color: #CCCCCC;
      /*margin-left: .75rem;*/
      display: block;
      margin-top: .25rem;
    }
    .detail-li-content{
      margin-top: .5rem;
    }
    .detail-li-title{
      background: url("/img/edit/detail-li.png") no-repeat; 
      width: 3rem;
      height: 1.45rem;
      background-size: 100% 1.45rem;
      float: left;
    }
    .detail-label-title{
      display: block;
      font-size: .7rem;
      line-height: 1.3rem;
      color: #999999;
      width: 100%;
      text-align: center;
    }
    .content-title{
      color: #999999;
    }
    .detail-li-input{
      display: block;
      font-size: .6rem;
      float: left;
      width: 9.5rem;
      height: 1.45rem;
      line-height: 1.45rem;
      padding-left: .25rem;
    }
    .detail-li-name{
      margin:0 .25rem;
      padding-left: .1rem;
      font-size: .6rem;
      text-align: center;
      width: 2rem !important;
      padding:0 !important;
      color: #999999;
    }
    .detail-add{
      background: url("/img/edit/detail-add.png") no-repeat;
      width: 3rem;
      height: 1.45rem;
      background-size: 100% 1.45rem; 
    }
    .icon-add{
      width: 1rem;
      font-size: 1rem;
      margin:0 auto; 
    }
    .amap-sug-result{
      z-index: 2000;
    }
    .add-detail{
      padding:5px 17px; 
    }
    .add-detail-text{
      font-size: 12px;
      margin-top: 2px;
      position: absolute;
    }
    .add-detail{
      margin: 5px 0 23px 0;
    }
    .add-detail-input{
      font-size: 12px;
      line-height: 21px;
      margin-left: 56px;
      width: 200px;
      padding-left: 2px;
      display: inline-block;
      float: left;
      border: 0 !important;
      background: none;
    }
    /*重置调整缩放按钮*/
    .amap-touch-toolbar .amap-zoomcontrol{
      bottom:48px !important;
      width: 30px !important;
    }
    .eg-content{
      font-size: 13px;
      color: #A5A5A5;
    }
    .eg-li{
      padding:5px 0 0 5px;
    }
    .edit-content{
      padding-right: 20px;
    }
    .detail-li{
      margin-bottom: 5px;
      height: 30px;
    }
    .detail-li-all-content{
      height: 150px;
      overflow-y: auto;
    }
    .edit-detail-li{
      min-height: 20px;
      margin-top: 10px;
    }
    .edit-detail-li-title{
      background: url("/img/edit/detail-li.png") no-repeat; 
      min-width: 40px;
      padding:0 8px;
      height: 20px;
      background-size: 100% 20px;
      text-align: center;
      float: left;
    }
    .edit-detail-li-input{
      min-height: 21px;
      margin-left: 50px;
    }
    .edit-detail-li-content{
      word-break: break-all;
    }
    .red{
      color:red;
    }
    .circle-title{
      display: block;
      font-size: .5rem;
      width: 3rem;
      text-align: center;
      margin-left: -1.25rem;
    }
    .page{
      overflow: auto;
    }
    .share-success{
      font-weight: bold;
    }
    .success-up{
      width: 100%;
      height: 7rem;
    }
    .success-img{
      display: block;
      width: 5rem;
      height: 5rem;
      margin: .5rem auto;
    }
    .success-text{
      text-align: center;
      font-weight: bold;
    }
    .btn-content{
      text-align: center;
      border-bottom: 1px solid #eee;
    }
    .success-btn{
      width:5rem;
      height: 1.5rem;
      border-radius: .3rem;
      border:1px solid #F98128;
      display: inline-block;
      color:#F98128;
      line-height: 1.5rem;
      margin: 1rem;
    }
    .share-text-content{
      padding: .2rem 1rem;
      font-size: .5rem;
      color: #aaa;
    }
    .share-btn{
      width: 80%;
      height: 2rem;
      background-color: #F94A28;
      border-radius: .3rem;
      margin: 1.5rem auto;
      margin-bottom: 0;
      color: white;
      text-align: center;
      line-height: 2rem;
    }
    #success .pull-right{
      margin-right: .2rem;
      color: #333 !important;
    }
    .invite-img{
      padding: 10px 15px;
      width: 100%;
    }
    #success .modal{
      position: absolute;
      top: 0;
      left: 0;
      margin:0 !important;
      padding: 0 !important; 
      width: 100%;
      height: 100%;
    }
    .modal-overlay, .popup-overlay, .preloader-indicator-overlay{
      background: rgba(0,0,0,.7);
    }
    .preloader-modal{
      z-index: 40000;
    }
    .geolocation-position{
      display: none !important;
      width: 0rem;
      height: 0rem;
    }
  }
  </style>
  <body>
    <div class="page page-current" id='router'>
      <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left">
          <span class="icon icon-left"></span>
        </a>
        <h1 class='title'>分享</h1>
        <a class="button button-link button-nav pull-right send-button-a"></a>
      </header>
      <div class="content">
        <div class="theme-content-block">        
          <div class="edit-ul">
            <!-- 标签 -->
            <div class="edit-li tag" data-href="#router1">
              <img src="/img/edit/tag-01.png" class="edit-li-img">
              <div class="li-title">
                美食类别
              </div>
              <div class="edit-content">
                请填写美食类别
              </div>
            </div>
            <!-- 推荐理由 -->
            <div class="edit-li reason" data-href="#router2">
              <img src="/img/edit/reason-01.png" class="edit-li-img">
              <div class="li-title">
                推荐理由
              </div>
              <div class="edit-content">
                请填写推荐理由
              </div>
            </div>
            <!-- 信息详情 -->
            <div class="edit-li detail" data-href="#router3">
              <img src="/img/edit/detail-01.png" class="edit-li-img">

              <div class="li-title">
                美食详情
              </div>
              <div class="edit-content">
                <div class="edit-detail">请填写美食详情</div>
                <div class="edit-detail-li-content">
                </div>
              </div>
            </div>
            <!-- 店名 -->
            <div class="edit-li name" data-href="#router4">
              <img src="/img/edit/name-01.png" class="edit-li-img">

              <div class="li-title">
                店名
              </div>
              <div class="edit-content">
                请填写店名
              </div>
            </div>
            <!-- 地址 -->
            <div class="edit-li address" data-href="#router5">
              <img src="/img/edit/address-01.png" class="edit-li-img">

              <div class="li-title">
                地址
              </div>
              <div class="edit-content">
                请填写美食地址并在地图上标注
              </div>
            </div>
            <!-- 价格 -->
            <div class="edit-li price" data-href="#router6">
              <img src="/img/edit/price-01.png" class="edit-li-img">

              <div class="li-title">
                信息价格
              </div>
              <div class="edit-content">
                请填写查看这条信息的价格
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- 标签填写 -->
    <div class="page" id='router1'>

      <header class="header-bar">
        <div class="header-content">
          <div class="line"></div>
          <div class="circle circle-index" data-href="#router"></div>
          <div class="circle circle-tag" data-href="#router1">
            <img src="/img/edit/tag-02.png" class="circle-img">
            <label class="circle-title">美食类别</label>
          </div>
          <div class="circle circle-reason" data-href="#router2"></div>
          <div class="circle circle-detail" data-href="#router3"></div>
          <div class="circle circle-name" data-href="#router4"></div>
          <div class="circle circle-address" data-href="#router5"></div>
          <div class="circle circle-price" data-href="#router6"></div>
        </div>
      </header>

      <div class="page-content">
        <div class="tag-content">
          <div class="ww-typeHelper">
            <div class="ww-typeHelper-left">
              <input type="text" data-role="ww_typeHelper-input" class="ww-typeHelper-input" placeholder="选择或者填入美食的类别">
            </div>        
          </div>
          <div role="tabpanel" class="techTags panel-default techTags-panel" data-tech="">
            <div class="tag-ul">
              <span class="type-item">火锅</span>
              <span class="type-item">羊肉泡馍</span>
              <span class="type-item">绝味</span>
              <span class="type-item">羊肉泡馍</span>
              <span class="type-item">羊肉泡馍</span>
            </div>
            
          </div>
        </div>
      </div>

      <footer class="footer-bar">
        <div class="pre-view" data-href="#router">
          预览
        </div>
        <div class="next-view" data-href="#router2">
          下一步
        </div>
      </footer>
    </div>
    <!-- 推荐理由填写 -->
    <div class="page" id='router2'>
      <header class="header-bar">
        <div class="header-content">
          <div class="line"></div>
          <div class="circle circle-index" data-href="#router"></div>
          <div class="circle circle-tag" data-href="#router1"></div>
          <div class="circle circle-reason" data-href="#router2">
            <img src="/img/edit/reason-02.png" class="circle-img">
            <label class="circle-title">推荐理由</label>
          </div>
          <div class="circle circle-detail" data-href="#router3"></div>
          <div class="circle circle-name" data-href="#router4"></div>
          <div class="circle circle-address" data-href="#router5"></div>
          <div class="circle circle-price" data-href="#router6"></div>
        </div>
      </header>

      <div class="page-content">
        <div class="reason-content li-content">
          <div class="reason-title content-title">给一个让大家相信你的理由吧：</div>
          <div class="recommend-reason">
            <textarea name="reason" id="reason" placeholder=""></textarea>
          </div>
          <div class="eg-content"> 
            <div class="eg-li">eg:好吃到灵魂颤抖的火锅。</div>
            <div class="eg-li">eg:好吃的忘不掉味道。</div>
            <div class="eg-li">eg:你要相信一个吃了好多年的老司机。</div>
            <div class="eg-li">eg:排队排到天荒地老，差点就海枯石烂了！</div>
          </div>
        </div>
      </div>

      <footer class="footer-bar">
        <div class="pre-view" data-href="#router">
          预览
        </div>
        <div class="next-view" data-href="#router3">
          下一步
        </div>
      </footer>
    </div>
    <!-- 信息详情填写 -->
    <div class="page" id='router3'>
      <header class="header-bar">
        <div class="header-content">
          <div class="line"></div>
          <div class="circle circle-index" data-href="#router"></div>
          <div class="circle circle-tag" data-href="#router1"></div>
          <div class="circle circle-reason" data-href="#router2"></div>
          <div class="circle circle-detail" data-href="#router3">
            <img src="/img/edit/detail-02.png" class="circle-img">
            <label class="circle-title">美食详情</label>
          </div>
          <div class="circle circle-name" data-href="#router4"></div>
          <div class="circle circle-address" data-href="#router5"></div>
          <div class="circle circle-price" data-href="#router6"></div>
        </div>
      </header>
      <div class="page-content">
        <div class="detail-content li-content">
          <div class="detail-title content-title">请告诉我们一些详细信息：</div>
          <div class="recommend-detail">
            <textarea name="detail" id="detail" placeholder="详细的介绍会极大的提高大家付费查看的欲望，所以尽可能详细的描述你推荐的美食吧."></textarea>
          </div>

          <div class="detail-li-all-content">
            <div class="detail-li-content">
              <div class="detail-li">
                <div class="detail-li-title">
                  <input type="text" name="detailName0" class="detail-li-name" placeholder="环境">
                </div>
                <div class="detail-li-input">
                  <input type="text" name="detailVal0" class="detail-li-val" placeholder="请在此对卡片内容进行描述">
                </div>
              </div>
            </div>
            <div class="detail-li-title detail-add">
              <div class="iconfont icon-add"></div>
            </div>
          </div>
        </div>
      </div>


      <footer class="footer-bar">
        <div class="pre-view" data-href="#router">
          预览
        </div>
        <div class="next-view" data-href="#router4">
          下一步
        </div>
      </footer>
    </div>
    <!-- 店名填写 -->
    <div class="page" id='router4'>
      <header class="header-bar">
        <div class="header-content">
          <div class="line"></div>
          <div class="circle circle-index" data-href="#router"></div>
          <div class="circle circle-tag" data-href="#router1"></div>
          <div class="circle circle-reason" data-href="#router2"></div>
          <div class="circle circle-detail" data-href="#router3"></div>
          <div class="circle circle-name" data-href="#router4">
            <img src="/img/edit/name-02.png" class="circle-img">
            <label class="circle-title">店名</label>
          </div>
          <div class="circle circle-address" data-href="#router5"></div>
          <div class="circle circle-price" data-href="#router6"></div>
        </div>
      </header>

      <div class="page-content">
        <div class="name-content li-content">
          <div class="name-title content-title">请输入这家店的名字：</div>
          <div class="recommend-name">
            <input type="text" name="name" id="name" placeholder="">
          </div>
        </div>
      </div>

      <footer class="footer-bar">
        <div class="pre-view" data-href="#router">
          预览
        </div>
        <div class="next-view" data-href="#router5">
          下一步
        </div>
      </footer>
    </div>
    <!-- 图片添加 -->
    <div class="page" id='router5'>
      <header class="header-bar add-header">
        <div class="header-content">
          <div class="line"></div>
          <div class="circle circle-index" data-href="#router"></div>
          <div class="circle circle-tag" data-href="#router1"></div>
          <div class="circle circle-reason" data-href="#router2"></div>
          <div class="circle circle-detail" data-href="#router3"></div>
          <div class="circle circle-name" data-href="#router4"></div>
          <div class="circle circle-address" data-href="#router5">
            <img src="/img/edit/address-02.png" class="circle-img">
            <label class="circle-title">地址</label>
          </div>
          <div class="circle circle-price" data-href="#router6"></div>
        </div>
        <div class="add-search">
          <input type="text" class="search-input" id="address" name="address" placeholder="请标注美食所在的精确位置">
          <div class="ww_typeHelper-input-left iconfont icon-bianji"></div>
        </div>

        <div class="add-detail">
          <div class="add-detail-text">地址附注：</div>
          <input type="text" class="add-detail-input" id="add-detail" name="adetail" placeholder="请输入一些地址详情来描述地址信息">
        </div>
      </header>

      <div class="add-content">
        <div id="container"></div>
      </div>

      <footer class="footer-bar">
        <div class="pre-view" data-href="#router">
          预览
        </div>
        <div class="next-view" data-href="#router6">
          下一步
        </div>
      </footer>
    </div>
    <!-- 地点标注 -->
     <div class="page" id='router6'>
      <header class="header-bar">
        <div class="header-content">
          <div class="line"></div>
          <div class="circle circle-index" data-href="#router"></div>
          <div class="circle circle-tag" data-href="#router1"></div>
          <div class="circle circle-reason" data-href="#router2"></div>
          <div class="circle circle-detail" data-href="#router3"></div>
          <div class="circle circle-name" data-href="#router4"></div>
          <div class="circle circle-address" data-href="#router5"></div>
          <div class="circle circle-price circle-hide" data-href="#router6">
            <img src="/img/edit/price-02.png" class="circle-img">
            <label class="circle-title">价格</label>
          </div>
        </div>
      </header>

      <div class="page-content">
        <div class="price-content li-content">
          <div class="price-title content-title">请输入想设置的价格：</div>
          <div class="recommend-price">
            <input type="number" name="price" id="price" placeholder="">
          </div>
          <div class="tip">
            <!-- <img src="/img/edit/tip.png" class="tip-img" alt=""> -->
            <label class="tip-text">合理的设置查看价格，是获得最大收益的保障；</label>
            <label class="tip-text">每条信息分享成功后，开始都是免费查看；</label>
            <label class="tip-text">必须累积到10个<label class="red">想吃</label>或者<label class="red">查看</label>后，才能开始付费查看。</label>
          </div>
        </div>
      </div>

      <footer class="footer-bar">
        <div class="pre-view" data-href="#router">
          预览
        </div>
        <div class="next-view" data-href="#router">
          完成
        </div>
      </footer>
    </div>

    <!-- 地点标注 -->
    <div class="page" id='success'>
      <div class="modal-overlay modal-overlay-visible" style="display:none;"></div>
      <div class="modal modal-in model-share" style="display: none; margin-top: -72px;">
        <img class="invite-img" src="/img/invite.png">
      </div>
      <header class="bar bar-nav">
        <h1 class='title share-success'>分享成功</h1>
        <a class="button button-link button-nav pull-right">
          完成
        </a>
      </header>
      <div class="content">
        <img src="/img/edit/success-up.png" class="success-up" alt="">
        <div class="success-content">
          <img src="/img/edit/success.png" class="success-img" alt="">
          <div class="success-text">分享成功</div>
        </div>
        <div class="btn-content">
          <div class="success-btn again">再来一发</div>
          <div class="success-btn find">微服私访</div>
        </div>
        <div class="share-text-content">
          启奏陛下，所有付费信息都需要累积到10个想吃或者查看后，才能开始计费呢，赶快邀请陛下的爱卿们前来点赞吧！
        </div>
        <div class="share-btn">戳我分享>></div>
      </div>
    </div>

  </body>
  <script type='text/javascript' src='/js/zepto.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='/js/sm.min.js' charset='utf-8'></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script type="text/javascript" src="/js/wxlocation.js"></script>
  <script> 
    $(".tab-item").on("click",function(){
      var type = $(this).attr("data-type");
      console.log(type);
      $(".tab-item").removeClass("active");
      $(this).addClass("active");
      if(type == "like"){
        $.router.load("/food?username=573b0e3df38c8400673bb48d#like"); 
      }else if(type == "find"){
        $.router.load("/food?username=573b0e3df38c8400673bb48d");
      }
    })

    //再来一发
    $(".again").on("click",function(){
      $.router.load("#router");
    })
    $("#success .find").on("click",function(){
      $.showPreloader("正在出宫");
      $.router.load("/");
    })

    //点击完成
    $("#success .pull-right").on("click",function(){
      $.showPreloader("正在跳转");
      $.router.load("/");
    })

    //分享
    $("#success .share-btn").on('click',function(){
      console.log("ok");
      $("#success .modal-overlay").addClass("modal-overlay-visible");
      $("#success .modal-overlay").show();
      $("#success .modal").removeClass("modal-out");
      $("#success .modal").addClass("modal-in");
      $("#success .model-share").show();
    })
    $("#success .modal-in").on('click',function(){
      $("#success .modal-overlay-visible").hide();
      $("#success .modal-in").hide();
    })

    $("#router .icon-left").on("click",function(){
      var url = window.location.hash;
      if(!url.split("#")[1]){
        $.showPreloader("正在跳转");
        $.router.back();
      }else{
        $.showPreloader("正在跳转");
        $.router.load("/food");
      }
    })

    $(".edit-li,.next-view,.pre-view,.circle").on("click",function(){
      var href = $(this).attr("data-href");
      if(href.split("#")[1]){
        $.router.load(href);
      }else{
        $.router.load("#"+href);
      }
      
    })
  </script>
  <script>
  initLocation();
  window.onload = function() {
    map.plugin(["AMap.ToolBar"], function() {
      map.addControl(new AMap.ToolBar());
    });
    $.hidePreloader();
  }

  //得到焦点时隐藏导航按钮
  var id = '';
  $("input,textarea").focus(function(){
    id = this.id;
    if(this.id == "address" || this.id == "add-detail"){
      return;
    }
    $(".footer-bar").hide();
    $(".header-bar").hide();
    $(".page-content").css("margin-top","1rem");
  });
  $("input,textarea").blur(function(){
    $(".footer-bar").show();
    $(".header-bar").show();
    $(".page-content").css("margin-top","5rem");
  });
  //获取窗体高度
  var height = $(document.body).height();
  $(window).resize(function () {
    if($(document.body).height() < height){
      //输入框弹起
      $(".footer-bar").hide();
      if(id != "address"){
        $(".header-bar").hide();
        $(".page-content").css("margin-top","1rem");
      }
      
    }else{
      //输入框放下
      $(".footer-bar").show();
      $(".header-bar").show();
      $(".page-content").css("margin-top","5rem");
    }
  })

  //判断是不是安卓手机
  var u = navigator.userAgent;
  var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
  if(isAndroid){
    $(".detail-li-name").focus(function(){
      var top = $("#router3").scrollTop();
      // alert(top);
      $("#router3").scrollTop(80);
    })
  }
  // if(isAndroid){
  //   $(window).resize(function () {
  //     if($(document.body).height() < height){
  //       //输入框弹起
  //       $(".footer-bar").hide();
  //       $(".header-bar").hide();
  //       $(".page-content").css("margin-top","1rem");
  //     }else{
  //       //输入框放下
  //       $(".footer-bar").show();
  //       $(".header-bar").show();
  //       $(".page-content").css("margin-top","5rem");
  //     }
  //   })
  // }else{
  //   $(window).resize(function () {
  //     if($(document.body).height() < height){
  //       //输入框弹起
  //       $(".footer-bar").hide();
  //     }else{
  //       //输入框放下
  //       $(".footer-bar").show();
  //     }
  //   })
  // }

  //监听textarea获取焦点逻辑

  //初始化,异步获取标签
  function getTag(themeType){

    $.showPreloader("正在加载");

    var data = {
      type   :  themeType,
      size   :  10
    }
    $.ajax({
      type : "GET",
      data: data,
      dataType: "json",
      url : "/ask/gettag",
      success: function(result){
        $.hidePreloader();
        console.log(result);
        if(result.code == 200){
          var li = ''
          for(var i in result.data){
            var exit = 0;

            $.each($(".ww-typeHelper .type-item"),function(j,v){
              if(result.data[i].tagName == $(v).text()){
                exit = 1;
              }
            })
            console.log(exit);
            if(!exit && result.data[i].tagName){
              li += '<span class="type-item">'+result.data[i].tagName+'</span>';
            }
            
          }
          $(".tag-li").empty();
          $(".tag-li").append(li);
        }
        
      },
      error:function(error){
        $.hidePreloader();
        console.log(error);
      }
    })
  }

  //获取二级标签
  $("#tag-content,#router1 .next").on("click",function(){
    console.log(localStorage.type);
    var LStype = localStorage.type;
    if(LStype){
      getTag(LStype);
    }
  })


    var marker;
    var icon = new AMap.Icon({
      image: "/img/edit/marker.png",
    });
    //获取地址
    function getAddress(lnglatXY,callback){
      var geocoder = new AMap.Geocoder({
            radius: 1000,
            extensions: "all"
        });        
        geocoder.getAddress(lnglatXY, function(status, result) {
            if (status === 'complete' && result.info === 'OK') {
              var address = result.regeocode; //返回地址描述
              console.log(address);
              callback.success(address);
              var address = {
                province : address.addressComponent.province,
                city     : address.addressComponent.city,
                district : address.addressComponent.district
              }
            }
        }); 
    }

    //

    //初始化localStorage数据
    function initLocationData(){

      //初始化标签
      console.log(localStorage.tag);
      if(localStorage.tag){
        tag = JSON.parse(localStorage.tag);
        $(".ww-typeHelper-input").val(tag[0]);
        if(!tag[0]){
          $(".tag .edit-content").empty().text("请填写标签");
        }else{
          $(".tag .edit-li-img").attr("src","/img/edit/tag-02.png");
          var span = '<span class="type-item">'+tag[0]+'</span>';
          $(".tag .edit-content").empty().append(span);
        }
        
      }

      //初始化推荐理由
      console.log(localStorage.reason);
      if(localStorage.reason){
        $(".reason .edit-li-img").attr("src","/img/edit/reason-02.png");
        $("#reason").val(localStorage.reason);
        $(".reason .edit-content").text(localStorage.reason);
      }

      //初始化信息详情
      console.log(localStorage.detail);
      if(localStorage.detail){
        $("#detail").val(localStorage.detail);
        $(".edit-detail").text(localStorage.detail);
      }

      //初始化信息详情列表
      if(localStorage.detailLi){
        detailLi = JSON.parse(localStorage.detailLi);
        if(detailLi.length){
          $(".detail-li-content").empty();
          $(".edit-detail-li-content").empty();
          for(var i = 0; i < detailLi.length;i++){
            var li = '<div class="detail-li"><div class="detail-li-title"><input type="text" name="detailName'+i+'" class="detail-li-name" placeholder="填写" value="'+detailLi[i].name+'"></div><div class="detail-li-input"><input type="text" name="detailVal'+i+'" class="detail-li-val" placeholder="请在此对卡片内容进行描述" value="'+detailLi[i].val+'"></div></div>';
            $(".detail-li-content").append(li);
            $(".detail-li-all-content").scrollTop(1000);

            //初始化显示界面
            var li = '<div class="edit-detail-li"><div class="edit-detail-li-title">'+detailLi[i].name+'</div><div class="edit-detail-li-input">'+detailLi[i].val+'</div></div>';
            $(".edit-detail-li-content").append(li);
          }
        }
      }

      //初始化地址详情
      if(localStorage.adetail){
        $("#add-detail").val(localStorage.adetail);
      }

      //初始化店名
      if(localStorage.name){
        $(".name .edit-li-img").attr("src","/img/edit/name-02.png");
        $("#name").val(localStorage.name);
        $(".name .edit-content").text(localStorage.name);
      }

      //初始化坐标信息
      console.log(localStorage.lng);
      console.log(localStorage.lat);
      var lnglatXY = [localStorage.lng,localStorage.lat];

      if(localStorage.lng && localStorage.lat){

        // address.formattedAddress
        getAddress(lnglatXY,{
          success:function(address){
            var detail = address.formattedAddress;
            var address = {
              province : address.addressComponent.province,
              city     : address.addressComponent.city,
              district : address.addressComponent.district,
              township : address.addressComponent.township
            }
            var replace = ""+address.province+address.city+address.district+address.township+"";
            detail = detail.replace(replace,"");
            address.detail = detail;
            address = JSON.stringify(address);
            $(".address .edit-content").attr("data-address",address);
            $(".address .edit-content").text(detail);
          }
        });

        $("#container").attr("data-lng",localStorage.lng);
        $("#container").attr("data-lat",localStorage.lat);

        //详情地点显示
        map = new AMap.Map('container', {
          resizeEnable: true,
          zoom:15,
          center: [localStorage.lng,localStorage.lat],
          buttonOffset: new AMap.Pixel(60, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
          zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
          buttonPosition:'LB'
        });

        marker = new AMap.Marker({
          map : map,
          icon : icon,
          position: [localStorage.lng,localStorage.lat],
          draggable: true,
          cursor: 'move',
          raiseOnDrag: true,
          clickable:true
        });

         marker.setMap(map);
      }

      //初始化价格信息
      if(localStorage.price){
        $("#price").val(localStorage.price);
        $(".price .edit-li-img").attr("src","/img/edit/price-02.png");
        $(".price .edit-content").text("￥"+localStorage.price);
      }
    }

    function formatDetail(data){
      console.log(data);
      var staus           = data.staus,     //状态
          askTagStr       = data.askTagStr, //标签
          reason          = data.askReason, //理由
          askContentHide  = data.askContentHide,//隐藏详情
          askContentShow  = data.askContentShow,//隐藏详情
          lnglatXY        = [data.GeoX,data.GeoY],//坐标
          lat             = data.GeoX,
          lng             = data.GeoY,
          price           = data.askPrice,//价格
          updatedAt       = data.updatedAt,//分享时间
          createBy        = data.createBy;//分享者

      //标签
      var tag = JSON.parse(askTagStr);
        console.log(tag);
        var spanContent = '';
        for(var i in tag){
          console.log(tag[i]);
          var spanContent = spanContent + '<span class="type-item">'+tag[i].tag_name+'</span>';
        }
        // $("#tag-content .card-content-inner").append(spanContent);
        $(".ww-typeHelper-left").before(spanContent);
        $("#tag-content .card-content-inner").append(spanContent);

        //推荐理由
        $("#reason").val(reason);
        $("#reason-content .card-content-inner").text(reason);

        //解析详情
        var show = askContentShow.split("##");
        var hidden = askContentHide.split("##");
        var reasonDetail = '';
        console.log("len:"+hidden.length);
        for(var i = 0; i < hidden.length;i++){
          if(hidden[i]){
            reasonDetail += show[i] + "##"+ hidden[i] + "##";
          }
        }
        if(!hidden.length){
          reasonDetail = show;
        }

        $("#detail-content .card-content-inner").text(reasonDetail);
        $("#detail").val(reasonDetail);
        deShow(reasonDetail);

        //解析地址
        getAddress(lnglatXY,{
          success:function(address){
            var detail = address.formattedAddress;
            var address = {
              province : address.addressComponent.province,
              city     : address.addressComponent.city,
              district : address.addressComponent.district,
              township : address.addressComponent.township
            }
            var replace = ""+address.province+address.city+address.district+address.township+"";
            detail = detail.replace(replace,"");
            address.detail = detail;
            address = JSON.stringify(address);
            console.log(address);
            $("#address-content .item-inner").attr("data-address",address);
            $("#address-content .item-inner").text(detail);
          }
        });

        $("#container").attr("data-lng",lng);
        $("#container").attr("data-lat",lat);

        //详情地点显示
        map = new AMap.Map('container', {
          resizeEnable: true,
          zoom:15,
          center: [lng,lat],
          buttonOffset: new AMap.Pixel(60, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
          zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
          buttonPosition:'LB'
        });

        marker = new AMap.Marker({
          map : map,
          icon : icon,
          position: [lng,lat],
          draggable: true,
          cursor: 'move',
          raiseOnDrag: true,
          clickable:true
        });

         marker.setMap(map);

        //价格
        console.log(price);
        if(price){
          $("#price-picker").val(price);
          // $("#price-content .card-content-inner").text("￥ "+localStorage.price);
          $("#price-content .item-inner").text(price);
        }
       
  }

    function initEditData(sendAskId){
      $.ajax({
        type: "get",
        url: '/ask/askdetail',
        data: {ask_id:sendAskId,username:"<%= username %>"},
        dataType: "json",
        success : function(result) {
          console.log(result);
          if(result.code == 200){
            formatDetail(result.data);
          }
        },
        error : function(error){
          $.alert("网络异常");
        }
      })
    }

    var sendType = "<%= type %>";
    var sendAskId = "<%= askid %>";
    if(sendType == "edit"){
      console.log("edit");
      $("#router .title").text("编辑");
      initEditData(sendAskId);
    }else{
      $("#router .title").text("分享");
      initLocationData();
    }

    
  </script>
  <script>
    $(".card,.theme-list-content").on("click",function(){
      var href = $(this).data("href");
      if(href){
        $.router.load("#"+href);
      }
    })

    //帮助
    $(".help").on("click",function(){
      if($(".help-content").hasClass("help-content-active")){
        $(".help-content").hide();
        $(".help-content").removeClass("help-content-active");
      }else{
        $(".help-content").show();
        $(".help-content").addClass("help-content-active");
      }
    })

    function setlocalStorageTag(){
      //获取填写的tag
      var text = $(".ww-typeHelper-input").val();
      var tag = {};
      tag[0] = text;
      tag = JSON.stringify(tag);
      localStorage["tag"] = tag;
    }
    //在输入框内添加标签
    $(".ww-typeHelper-input").on("input change",function(){
      console.log($(this).val());
      var text = $(this).val();
      setlocalStorageTag();
      var span = '<span class="type-item">'+text+'</span>';
      $(".tag .edit-content").empty().append(span);
      if(text.length <= 0){
        $(".tag .edit-content").empty().text("请填写标签");
      }
    })

    //点击二级标签删除主页二级标签
    $(".tag-ul").on("click",".type-item",function(){
      console.log($(".tag-content .ww-typeHelper .type-item").length);
      var text = $(this).text();
      $(".ww-typeHelper-input").val(text);
      //获取填写的tag
      setlocalStorageTag();
      var span = '<span class="type-item">'+text+'</span>';
      $(".tag .edit-content").empty().append(span);
    })

    //推荐理由输入后显示到主页
    $("#reason").on("input change",function(){
      $("#reason").text($(this).val());
      localStorage["reason"] = $(this).val();
      $(".reason .edit-content").text($(this).val());
    })

    $(".detail-add").on("click",function(){
      var len = $(".detail-li").length;
      console.log(len);
      var li = '<div class="detail-li"><div class="detail-li-title"><input type="text" name="detailName'+len+'" class="detail-li-name" placeholder="填写"></div><div class="detail-li-input"><input type="text" name="detailVal'+len+'" class="detail-li-val" placeholder="请在此对卡片内容进行描述"></div></div>';
      $(".detail-li-content").append(li);
      $(".detail-li-all-content").scrollTop(1000);
    })

    function getAllDetailLiV(){
      //遍历所有的detail-li
      var detailLi = [];
      var j = 0;
      $(".detail-li").each(function(i,v){
        //获取所有detail-li里面的name
        var name = $(this).children(".detail-li-title").children("input").val();
        var val  = $(this).children(".detail-li-input").children("input").val();
        var key = {};
        if(name && val){
          key.name = name;
          key.val = val;
          detailLi[j] = key;
          j++;
        }
      })
      return detailLi;
    }

    $(".detail-li-all-content").on("input change","input",function(){
      var detailLi = getAllDetailLiV();
      if(detailLi.length){
        $(".edit-detail-li-content").empty();
        for(var i = 0; i < detailLi.length;i++){
          //更新显示界面
          var li = '<div class="edit-detail-li"><div class="edit-detail-li-title">'+detailLi[i].name+'</div><div class="edit-detail-li-input">'+detailLi[i].val+'</div></div>';
          $(".edit-detail-li-content").append(li);
        }
      }else{
        $(".edit-detail-li-content").empty();
      }
      //保存到本地数据
      detailLi = JSON.stringify(detailLi);
      console.log(detailLi);
      localStorage["detailLi"] = detailLi;
      
    })

    //点击示例显示到推荐理由
    $(".eg-li").on("click",function(){
      var text = $(this).text();
      var text = text.split(":")[1];
      $("#reason").val(text);
      $(".reason .edit-content").text(text);
      //保存到本地数据
      localStorage["reason"] = text;
    })

    //地址详情
    $("#add-detail").on("input change",function(){
      localStorage["adetail"] = $(this).val();
    })


    //详情输入后显示到主页
    $("#detail").on("input change",function(){
      var text = $("#detail").val();
      //显示到主页
      $(".edit-detail").text(text);
      localStorage["detail"] = $("#detail").val();
    })

    //更改店名时候调用
    $("#name").on("input change",function(){
      $("#name").text($(this).val());
      localStorage["name"] = $(this).val();
      $(".name .edit-content").text($(this).val());
    })

    //更换价格的时候调用
    $("#price").on("input change",function(){
      var price = $(this).val();
      var priceFloat = parseFloat(price);
      if(!price){
        price = 0;
        return;
      }
      if(priceFloat != price){
        $.toast("输入格式不对");
        return ;
      }
      if(priceFloat > 5){
        $.toast("输入价格不能高于5元");
        return;
      }
      if(priceFloat < 0){
        $.toast("输入价格不能小于0元");
        return;
      }
      localStorage["price"] = $(this).val();
      $(".price .edit-content").text("￥"+$(this).val());
    })

    //监听手机是否返回
    window.onpopstate = function(event) {  
      $("#address").blur(); 
      // $(".amap-sug-result").hide(); 
    };  


    //提交所有信息
    $(".send-button-a").on("click",function(){
        var tag = new Array(),//二级标签
            reason,//推荐理由
            content_show = {},//详情显示部分
            shopName,//店名
            lat,//经度
            lng,//维度
            price = 0.00;//信息价格

        //获取填入美食的类别
        var $_tag = $(".ww-typeHelper-input").val();
        if(!$_tag){
          $.toast("你还没有填写美食的类别");
           return;
        }else{
          tag[0] = {
            tag_name: $_tag
          }
          tag = JSON.stringify(tag);
        }

        //获取推荐理由
        var reason = $("#reason").val();
        if(!reason){
          $.toast("你还没有填写推荐理由");
          return;
        }

        //获取详情
        var detail = $("#detail").val();
        if(detail){
          var detailLi = getAllDetailLiV();
          content_show.detail = detail;
          if(detailLi.length){
            detailLi = JSON.stringify(detailLi);
            content_show.detailLi = detailLi;
          }
        }else{
         var detailLi = getAllDetailLiV();
         if(!detailLi.length){
            $.toast("你还没有填写任何信息详情");
            return ;
          }else{
            detailLi = JSON.stringify(detailLi);
            content_show.detailLi = detailLi;
          }
        }
        content_show = JSON.stringify(content_show);

        //获取店名
        var shopName = $("#name").val();
        if(!shopName){
          $.toast("你还没有填写店名");
          return;
        }

        //获取标注位置的经纬度
        lng = $("#container").attr("data-lng");
        lat = $("#container").attr("data-lat");
        if(!lng || !lat){
          $.toast("你还没有添加地图标注");
          return;
        }

        //获取地址详情
        var askPosition = $(".address .edit-content").attr("data-address");
        if(askPosition){
          var adetail = $("#add-detail").val();
          if(adetail){
            askPosition = JSON.parse(askPosition);
            askPosition.adetail = adetail;
            askPosition = JSON.stringify(askPosition);
          }
          console.log(askPosition);
        }

        //获取信息价格
        price = $("#price").val().replace(/\s+/g,"");
        var priceFloat = parseFloat(price);
        if(!price){
          price = 0;
          return;
        }
        if(priceFloat != price){
          $.toast("信息价格格式不对");
          return ;
        }
        if(priceFloat > 5){
          $.toast("信息价格不能高于5元");
          return;
        }
        if(priceFloat < 0){
          $.toast("信息价格不能小于0元");
          return;
        }
        var price = priceFloat.toFixed(1);
        if(price == 0.0){
          price = 0;
        }

        if(lat > 90){
          var change = lat;
          lat = lng;
          lng = change;
        }
        
        var data = {
          username     : "<%= username %>",
          type         : 1,
          tag          : tag,
          reason       : reason,
          content_show : content_show,
          content_hide : 'no',
          position     : askPosition,
          geo_x        : lat,
          geo_y        : lng,
          shop_name    : shopName,
          price        : price
        }
        console.log(data);
        //发送请求 url：/ask/sendask
        
        $.showPreloader("正在分享");
        if(sendType == "edit"){
          data["ask_id"] = sendAskId;
           $.ajax({
            type : "POST",
            data: data,
            dataType: "json",
            url : "/ask/askedit",
            success : function(result){
              console.log(result);
              if(result.code){
                $.hidePreloader();
                $.toast("分享成功");
                localStorage.clear();

                var data = result.data;
                WX_SHARE_LINK   = "http://wenwo.leanapp.cn/detail?askid="+data.objectId;
                WX_SHARE_IMGURL = data.createByUrl;
                WX_SHARE_DESC   = data.askReason;
                var askPosition      = data.askPosition;
                askPosition = JSON.parse(askPosition);
                detail = askPosition.detail;
                WX_SHARE_TITLE  = "我分享了"+detail+"的美食,瞅瞅波？"
                initShare();

                $.router.load("#success");
              }else{
                $.hidePreloader();
                $.toast(result.message);
              }
            },
            error: function(error){
              // alert(error);
              $.hidePreloader();
              $.toast("服务器异常");
            }
          });
        }else{
          $.ajax({
            type : "POST",
            data: data,
            dataType: "json",
            url : "/ask/sendask",
            success : function(result){
              console.log(result);
              if(result.code == 200){
                $.hidePreloader();
                $.toast("提交成功");
                localStorage.clear();
                var askId = result.data.objectId;
                $.showPreloader("正在跳转");
                
                var data = result.data;
                WX_SHARE_LINK   = "http://wenwo.leanapp.cn/detail?askid="+data.objectId;
                WX_SHARE_IMGURL = data.createByUrl;
                WX_SHARE_DESC   = data.askReason;
                var askPosition      = data.askPosition;
                askPosition = JSON.parse(askPosition);
                detail = askPosition.detail;
                WX_SHARE_TITLE  = "我分享了"+detail+"的美食,瞅瞅波？"
                initShare();

                $.router.load("#success");
              }else{
                $.hidePreloader();
                $.toast(result.message);
              }
            },
            error: function(error){
              // alert(error);
              $.hidePreloader();
              $.toast("服务器异常");
            }
          });
        }
    })

    //输入框填写的地址内容
    $("#address").on("input change",function(){
      localStorage["address"] = $(this).val();
    })

    var timeIv;
    //地点标注搜索
    AMap.plugin(['AMap.Autocomplete','AMap.PlaceSearch'],function(){
      var autoOptions = {
        input: "address"//使用联想输入的input的id
      };
      autocomplete= new AMap.Autocomplete(autoOptions);
      var placeSearch = new AMap.PlaceSearch({
            map:map
      })
      AMap.event.addListener(autocomplete, "select", function(e){
         placeSearch.search(e.poi.name);
         console.log($(".amap-marker"));
         lnglatXY = [e.poi.location.lng, e.poi.location.lat]; //已知点坐标
         console.log(e);

         //选择后存储坐标
         localStorage["lng"] = e.poi.location.lng;
         localStorage["lat"] = e.poi.location.lat;
         $("#container").attr("data-lng",e.poi.location.lng);
         $("#container").attr("data-lat",e.poi.location.lat);

         map.clearMap();
          marker = new AMap.Marker({
            icon : icon,//24px*24px
            map : map,
            position: lnglatXY,
            draggable: true,
            cursor: 'move',
            raiseOnDrag: true,
            clickable:true
          });
         
      });
    });


    //点击标注
    map.on('click', function(e) {
      map.clearMap();
      lnglatXY = [e.lnglat.getLng(), e.lnglat.getLat()]; //已知点坐标
      getAddress(lnglatXY,{
        success:function(address){
          var detail = address.formattedAddress;
          var address = {
              province : address.addressComponent.province,
              city     : address.addressComponent.city,
              district : address.addressComponent.district,
              township : address.addressComponent.township
            }
          var replace = ""+address.province+address.city+address.district+address.township+"";
          detail = detail.replace(replace,"");
          address.detail = detail;
          var address = JSON.stringify(address);
          console.log(address);
          $(".address .edit-content").attr("data-address",address);
          $(".address .edit-content").text(detail);
        }
      });

      marker = new AMap.Marker({
        icon : icon,//24px*24px
        map : map,
        position: [e.lnglat.getLng(),e.lnglat.getLat()],
        draggable: true,
        cursor: 'move',
        raiseOnDrag: true,
        clickable:true
      });

      localStorage["lng"] = e.lnglat.getLng();
      localStorage["lat"] = e.lnglat.getLat();

      $("#container").attr("data-lng",e.lnglat.getLng());
      $("#container").attr("data-lat",e.lnglat.getLat());
      // //拖动标注后回调的坐标
      marker.setMap(map);
    });

    if(marker){
      //拖动标注后回调的坐标
       marker.on("dragend",function(){
        console.log(this.getPosition());
        var lat = this.getPosition().lat;
        var lng = this.getPosition().lng;
        $("#container").attr("data-lng",lng);
        $("#container").attr("data-lat",lat);

        localStorage["lng"] = lng;
        localStorage["lat"] = lat;
        var lnglatXY = [lng,lat];
        getAddress(lnglatXY,{
          success:function(address){
            var detail = address.formattedAddress;
            var address = {
              province : address.addressComponent.province,
              city     : address.addressComponent.city,
              district : address.addressComponent.district,
              township : address.addressComponent.township
            }

            var replace = ""+address.province+address.city+address.district+address.township+"";
            detail = detail.replace(replace,"");
            address.detail = detail;
            var address = JSON.stringify(address);

            $(".address .edit-content").attr("data-address",address);
            $(".address .edit-content").text(detail);
          }
        });
      })
    }
    
  </script>
</html>
