<!DOCTYPE HTML>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name='description', content='wenwo,问我,当地人,旅游,攻略,信息,分享,经验,赚钱，美食，成都，好吃'>
  <meta name='author', content='raodqi'>
  <link rel="icon" type="image/x-icon" href="/img/logo.jpg" media="screen">
  <title>问我-让经验帮你赚钱</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_1468915240_5629373.css">
  <link href='http://api.youziku.com/webfont/CSS/578f43dcf629e300d8f428f5' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="/css/sm.min.css">
  <script src="/js/jweixin-1.0.0.js"></script>
</head>
  <style>
    html{
      font-size: 20px;
    }
    body{
      position: absolute;
      left: 0;
      right: 0 !important;
      padding:0;
      margin:0;
      bottom:0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #f8fafa;
    }
    .title{
      /*font-weight: bold;*/
      /*color:#F88827;*/
      font-size: 20px;
    }
    #find .title{
      font-size: 1rem;
      color: #F88827;
      /*font-family:'TianZhen4acbda2c12bf4';*/
      /*font-family:'minijianxixingk4acc515bc2bf4';*/
      font-family:'GJJZhiYi-M12S4acca5d8b2bf4';
      /*font-weight: bolder;*/
      font-weight: 600;
    }
    .wenwo-li{
      background-color: white;
      height: 6rem;
      padding:0.5rem;
      /*border-bottom: 1px solid #B9B9B9;*/
      margin-bottom: 2px;
    }
    .up-content{
      height: 3.65rem;
    }
    .user-pic{
      float: left;
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 0.4rem;
      /*border-radius: 0 !important;*/

      border:1px solid #f2f2f2;
    }
    .ask-content{
      padding-left: 4rem;
    }
    .ask-tag{
      font-weight: bold;
      font-size: 0.8rem;
      color: #000;
    }
    .ask-content{
      font-size: 0.6rem;
      color: #585858;
    }
    .down-like,.down-buy{
      border-radius: 15px;
      border: 1px solid  #E2E2E2;
      padding:0.1rem 0.6rem;
      display: inline-block;
      color: #666;
      font-size: 0.7rem;
    }
    .down-buy{
      border:0;
      background-color: #1ccda6;
      color: white;
      padding:0.1rem .8rem;
      font-size: 14px;
      margin-left: 7px;
    }
    .free{
      background-color: #F88827;
    }
    .like-num{
      padding-left: 0.25rem;
    }
    .down-time{
      float: right;
      font-size: 0.6rem;
      color: #585858;
      line-height: 1.5rem;
    }
    .header-me{
      position: absolute;
      float: left;
      line-height: 2rem;
      font-size: 1rem;
      font-weight: bold;
      z-index: 2;
      color:#F88827;
      margin-left: 5px;
    }
    #me,#buy,#share{
      z-index: 40000;
    }
    .infinite-scroll-preloader {
      margin-top:10px;
    }
    .ask-reason{
     max-height: 36px;
     margin-top: 5px;
     font-size: .65rem;
     /*overflow: hidden;*/
     overflow : hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
    }
    .content{
      padding-bottom: 50px;
    }
    .detail-pic-bg,.bg-mask{
      height: 10rem;
      width: 100%;
      /*background: #fff;*/
      position: absolute;
    }
    .bg-mask{
      background: rgba(0,0,0,0.8);
    }
    .pic-bg{
      display: block;
      position: absolute;
      /*width: 6rem;*/
      /*height: 100%;*/
      /*margin-top: 2rem;
      margin-left: 50%;
      transform: translateX(-50%);*/
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    .user-pic-content{
      display: block;
      position: absolute;
      width: 4rem;
      left: 50%;
      transform: translateX(-50%);
      top: 1.5rem;
      text-align: center;
    }
    .user-pic-content .user-pic{
      margin-left: .5rem;
    }
    .user-pic{
      display: block;
      width: 3rem;
      height: 3rem;
      margin-bottom: 0.3rem;
    }
    #me .user-pic{
      border-radius: 50%;
      border:0;
    }
    .user-name{
      width: 100%;
      text-align: center;
      color: white;
      white-space:nowrap;
      overflow: hidden;
      text-overflow:ellipsis;
      font-family:"webfont" !important;
    }
    .list-content{
      position: absolute;
      top:7rem;
      width: 100%;
      color: white;
      box-sizing: border-box;
      text-align: center;
      font-size: 0.7rem
    }
    .list-li{
      width: 13.33%;
      margin: 0 10%;
      float: left;
      text-align: center;
    }
    .list-li label{
      display: block;
      width: 100%;
      text-align: center;
    }
    .list-block{
      margin-top: 10.5rem;
      color:#6A6A6A;
    }
    .list-block .iconfont{
      color:#F88827;
    }
    .item-title{
      padding-left: 0.5rem;
    }
    .before-media{
      position: absolute;
      line-height: 2rem;
      font-size: 1rem;
    }
    .my-ask{
      margin-bottom: 1rem !important;
    }
    .ask-end{
      font-size: .7rem;
      color: #A7A7A7;
    }
    .iconfont {
      font-family: "iconfont" !important;
    }
    .bar-tab .tab-item.active, .bar-tab .tab-item:active{
      color: #F88827;
    }
    .want-content{
      display: none;
      width: 100%;
      text-align: center;
      padding-top:70px;
    }
    .empty-img{
      display: block;
      width: 100px;
      height: 100%;
      margin:0 auto;
    }
    .empty-title{
      margin-top: 20px;
      color: #666666;
    }
    .empty-button{
      width: 180px;
      height: 35px;
      margin:40px auto;
      line-height: 35px;
      background-color: #F88827;
      font-size: 16px;
      color: white;
      border-radius:5px;
    }

    .invite-img{
      padding: 10px 15px;
      width: 100%;
    }
    #me .modal{
      position: absolute;
      top: 0;
      left: 0;
      margin:0 !important;
      padding: 0 !important; 
      width: 100%;
      height: 100%;
    }
    .modal-overlay, .popup-overlay, .preloader-indicator-overlay{
      background: rgba(0,0,0,.7);
    }
    .preloader-modal{
      z-index: 40000;
    }
    .send-button{
      width: 54px;
      height: 45px;
      margin-top: 3px;
    }
    .icon-tixing{
      display: block;
      color: #CCCCCC;
      font-weight: 100;
      margin-right: 5px;
      position:absolute;
      font-size: .6.5rem;
      right:.5rem;
      top:1rem;
    }

    .ask-price{
      position: absolute;
      right:10px;
      margin-top:-23px;
    }
    .preloader-tip{
      position: absolute;
      width: 100%;
      text-align: center;
      top: 15px;
      display: none;
    }
    .icon-faxian-empty{
      color:#F88827;
    }
    .icon-faxian-empty:before{
      content: "\e61e";
    }
    .active .icon-faxian-empty:before{
      content: "\e61c" !important; 
    }
    .hide-img{
      width: 0;
      height: 0;
    }
    .wenwo-logo-content{
      position: absolute;
      bottom: .3rem;
      width: 100%;
      z-index: 10000;
      text-align: center;
    }
    .wenwo-logo{
      position: absolute;
      bottom:0.05rem;
      width: 22px;
      height: 22px;
    }
    .wenwo-title{
      font-size: 10px;
      color: #F88827;
      margin-left: 22px;
      display: inline-block;
    }
    .dialog-buy .modal-overlay{
      z-index: 30000;
    }
    .dialog-buy{
      z-index: 50000;
      display: none;
      opacity: 1;
    }
    .dialog-buy .modal{
      width: 12rem;
      height: 8rem;
      margin-left: -6rem;
      margin-top: -4rem;
      z-index: 30001;
      display: block;
      opacity: 1;
    }
    .dialog-buy .modal-button{
      color: #F88827;
    }
    .dialog-buy .modal-text{
      font-size: .6rem;
    }
    .buyed{
      background-color: #C9C9C9 !important;
    }
    .pull-to-refresh-arrow{
      display: none;
    }
    .distance{
      position: relative;
      font-size: .5rem;
      color:#889399;
      padding:.25rem 0;
      text-align: center;
    }
    .distance-fixed{
      display: none;
      position: fixed;
      top:2.2rem;
      z-index: 2;
      color: #889399;
      width: 100%;
      background-color: #f8fafa; 
    }
    .page{
      background-color: #f8fafa;  
    }
    body,html{
      height: 100% !important;
      padding:0 !important;
      margin:0 !important;
      overflow-y: hidden !important;
    }
    .isfocus-title{
      display: block;
      text-align: center;
      font-size: .6rem;
      color: #999999;
      margin-top: .8rem;
    }
    .isfocus-img{
      display: block;
      width: 7rem;
      margin: 0 auto;
    }
    .isfocus-content{
      position: absolute;
      width: 100%;
    }
    #me .ui-loading-bright{
      position: absolute;
      margin-top: 4rem;
      left:50%;
      margin-left: -37px;
    }
  </style>
<body>
 <img src="/img/loading.png" alt="" class="hide-img">
  <div class="wenwo-content page page-current" id='find'>
    <header class="bar bar-nav">
      <div class="header-me iconfont icon-gerenzhongxin"></div>
      <h1 class="title">问我-美食</h1>
    </header>
    <div class="distance distance-fixed">距离1KM</div>
    <!-- 这里是所有的信息列表 -->
    <div class="find-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader-tip">刷新成功</div>
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      
      <div class="wenwo-ul">
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>
    </div>
  </div>

  <!-- 这里是所有的信息列表 -->
  <div class="wenwo-content page" id="like">
    <header class="bar bar-nav">
      <h1 class="title">想吃</h1>
    </header>
    <!-- 这里是想吃的信息列表 -->
    <div class="like-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul"></div>
      <div class="want-content">
        <img src="/img/food/want-empty.svg" class="empty-img" alt="">
        <div class="empty-title">没有想吃的美食？</div>
        <div class="empty-button" data-href="#find">去随便逛逛</div>

        <div class="wenwo-logo-content">
          <img src="/img/wenwo.svg" class="wenwo-logo" alt="">
          <div class="wenwo-title">
            让经验帮你赚钱
          </div>
        </div>
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>
    </div>
  </div>
  
  <div class="wenwo-content page" id="buy">
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">朕查阅的</h1>
    </header>
  <!-- 这里是购买的的信息列表 -->
    <div class="buy-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul"></div>
      <div class="want-content">
        <img src="/img/food/want-empty.svg" class="empty-img" alt="">
        <div class="empty-title">皇上，您还没有查阅任何美食</div>
        <div class="empty-button" data-href="#find">去查阅美食</div>

        <div class="wenwo-logo-content">
          <img src="/img/wenwo.svg" class="wenwo-logo" alt="">
          <div class="wenwo-title">
            让经验帮你赚钱
          </div>
        </div>
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>
    </div>
  </div>

  <div class="wenwo-content page" id="share">
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">朕分享的</h1>
    </header>
  <!-- 这里是购买的的信息列表 -->
    <div class="share-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul"></div>
      <div class="want-content">
        <img src="/img/food/want-empty.svg" class="empty-img" alt="">
        <div class="empty-title">皇上，您还没有分享的美食</div>
        <div class="empty-button" data-href="edit">点臣妾去分享</div>

        <div class="wenwo-logo-content">
          <img src="/img/wenwo.svg" class="wenwo-logo" alt="">
          <div class="wenwo-title">
            让经验帮你赚钱
          </div>
        </div>
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>
    </div>
  </div>

  <!-- 这里是所有的信息列表 -->
  <div class="wenwo-content page" id="me">
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">个人中心</h1>
    </header>
    <div class="content">
      <div class="detail-pic-bg">

        <i class="ui-loading-bright"></i>

        <div class="detail-pic-content" style="display:none">
          <img src="http://wx.qlogo.cn/mmopen/zngt7mjBQUdFiaKIVGQbhF3jRURfqibW3EtNPALJewxicdPAyGfyMpZkeHZIW1UXUmjEia3QicdYqickSiaywQcKBUS6GMWSEw67Rry/" alt="" class="pic-bg">
          <div class="bg-mask"></div>

          <div class="user-pic-content">
            <img src="http://wx.qlogo.cn/mmopen/zngt7mjBQUdFiaKIVGQbhF3jRURfqibW3EtNPALJewxicdPAyGfyMpZkeHZIW1UXUmjEia3QicdYqickSiaywQcKBUS6GMWSEw67Rry/" alt="" class="user-pic">
            <div class="user-name">饶大奇</div>
          </div>
        </div>

        <div class="list-content" style="display:none">
          <div class="list-li">
            <label class="list-li-like-num">22</label>
            <label>想吃</label>
          </div>
          <div class="list-li">
            <label class="list-li-like-share">27</label>
            <label>分享</label>
          </div>
          <div class="list-li">
            <label class="list-li-like-total">253.86</label>
            <label>总收益</label>
            <span class="icon iconfont icon-tixing"></span>
          </div>
        </div>

        <div class="list-block">
          <ul class="my-ask">
            <li class="item-content item-link" data-href="#buy">
              <div class="before-media"><i class="iconfont icon-gouwuche"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">朕查阅的</div>
                <div class="item-after itm-buy">30</div>
              </div>
            </li>
            <li class="item-content item-link" data-href="#share">
              <div class="before-media"><i class="iconfont icon-paper-airplane"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">朕分享的</div>
                <div class="item-after item-share">0</div>
              </div>
            </li>
          </ul>

          <ul class="">
            <li class="item-content item-link item-share">
              <div class="before-media"><i class="iconfont icon-fenxiang"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">邀请爱卿使用</div>
              </div>
            </li>
            <li class="item-content item-link item-message" data-href="http://form.mikecrm.com/Qg7fK7">
              <div class="before-media"><i class="iconfont icon-mes"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">给小问子提意见</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-overlay modal-overlay-visible" style="display:none;"></div>
    <div class="modal modal-in model-share" style="display: none; margin-top: -72px;">
      <img class="invite-img" src="/img/invite.png">
    </div>

    <div class="modal modal-in model-tip" style="display: none; margin-top: -72px;">
      <div class="tip-content">
        <div class="tip-content-title">计费说明</div>
        <div class="tip-content-li">
          <div>1)&nbsp;&nbsp;&nbsp;收益来源于你分享的内容，你可以设定每条信息的查看价格，其他人查看，需要付费。</div>
        </div>
        <div class="tip-content-li">
          <div>2)&nbsp;&nbsp;&nbsp;收入扣除10%为收益，每天早9点自动入库微信钱包，但低于1元不入库。</div>
        </div>
        <div class="tip-content-get">朕知道了</div>
      </div>
    </div>

    <div class="wenwo-logo-content">
      <img src="/img/wenwo.svg" class="wenwo-logo" alt="">
      <div class="wenwo-title">
        让经验帮你赚钱
      </div>
    </div>
  </div>

  <nav class="bar bar-tab">
    <a class="tab-item find active" data-type="find" href="#">
      <span class="icon iconfont icon-faxian-empty"></span>
      <span class="tab-label">发现</span>
    </a>
    <a class="tab-item edit" data-type="edit" href="#">
      <!-- <span class="icon iconfont icon-bianji"></span>
      <span class="tab-label">发布</span> -->
      <img src="/img/food/send.svg" alt="" class="send-button">
    </a>
    <a class="tab-item like" data-type="like" href="#">
      <span class="icon icon-likeEat"></span>
      <span class="tab-label">想吃</span>
    </a>
  </nav>
  <div class="dialog-buy">
    <div class="modal-overlay modal-overlay-visible"></div>
    <div class="modal">
      <div class="modal-inner">
        <div class="modal-title">小问提醒</div>
        <div class="modal-text">123</div>
      </div>
      <div class="modal-buttons ">
        <span class="modal-button modal-button-cancel">取消</span>
        <span class="modal-button modal-button-bold">确定</span>
      </div>
    </div>
  </div>

</body>
<script type='text/javascript' src='/js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/js/extend.js' charset='utf-8'></script>
<script type='text/javascript' src='/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/js/common.js' charset='utf-8'></script>
<script>
</script>
<script type='text/javascript' src='/js/wxlocation.js' charset='utf-8'></script>
<script>

  //下拉刷新
  var map = '',
      LAT,
      LNG,
      title1 = 1,
      title2 = 1,
      title3 = 1;
  //测试
  LAT = 30.580596;
  LNG = 103.982984;

  $.showPreloader("正在加载");
  initLocation({
    success:function(lng,lat){
      LAT = lat;
      LNG = lng;
      addItems(itemsPerLoad, 0);
    },
    error:function(error){
      console.log(error);
    }
  });
  // 添加'refresh'监听器
  $(document).on('refresh', '.pull-to-refresh-content',function(e) {
      // 刷新主页
      // 获取当前是所在页面
      var id = $(this).parent()[0].id;
      title1 = 1;
      title2 = 1;
      title3 = 1;
      console.log(id);
      switch(id){
        case "find":
          initFindListPage();
          break;
        case "like":
          $(".want-content").hide();
          initLikeListPage();
          break;
        case "share":
          initSharePage(UserName);
          break;
        case "buy":
          initBuyPage(UserName);
          break;
        default:
          setTimeout(function(){
            $.pullToRefreshDone('.pull-to-refresh-content');
          }, 1000);
          break;
      }
  });

  //下拉刷新初始化
  $.initPullToRefresh(".content");
</script>
<script>
  // console.log("测试",$(".ask-reason").text().visualLength());
  //用户名
  var UserName = "<%= username %>";

  //判断是否关注过
  function getIfAttention(username){
    var data = {
      username : username
    }
    $.ajax({
      type : "POST",
      data: data,
      dataType: "json",
      url : "/authorization/isfocus",
      success: function(result){
        console.log(result);
        if(result.code == 200){
          if(!result.isfocus){
            //用户未关注公众号
            // $()
            var focus = '<div class="isfocus-content"><div class="isfocus-title">关注「问我」才能查看总收益、接收结算通知<br/>长按二维码识别，公众号：wenwolo</div><img src="/img/qr.gif" class="isfocus-img" alt=""></div>';
            $(".detail-pic-content").empty().append(focus);
            $(".detail-pic-content").show();
            $("#me .list-content").hide();
          }else{
            $(".detail-pic-content").show();
            $("#me .list-content").show();
          }
        }else{
          $(".detail-pic-content").show();
          $("#me .list-content").show();
        }
      },
      error:function(error){
        $.toast("服务器异常");
        $(".detail-pic-content").show();
        $("#me .list-content").show();
      },
    })
  }
  getIfAttention(UserName);

  //初始化主页链接
  function init(){
    var url = window.location.hash;
      if(url){
        url = url.split("#")[1];
      }else{
        url = "find";
      }
      console.log(url);
      // $.router.load(url);
      $(".tab-item").removeClass("active");
      $("."+url).addClass("active");
      switch(url){
        case "share":
          initSharePage(UserName);
          break;
        case "buy":
          initBuyPage(UserName);
          break;
        case "find":
          // initSharePage(UserName);
          // initBuyPage(UserName);
          break;
        case "me":
          initSharePage(UserName);
          initBuyPage(UserName);
          break;
      }
  }

  function updatePage(type){
    switch(type){
        case "#share":
          initSharePage(UserName);
          break;
        case "#buy":
          initBuyPage(UserName);
          break;
        case "#like":
          initLikeListPage();
          break;
        case "#me":
          initMePage(UserName);
          break;
      }
  }

  //获取美食信息
  function getAskMe(page,size,staus,username,callback){
    var staus = staus ? staus : 1;
    var username = username ? username : '';
    if(LAT){
      var data = {
        page         : page,
        size         : size,
        staus        : staus,
        position_geo : LAT+","+LNG,
        username     : username
      }
    }else{
      var data = {
        page         : page,
        size         : size,
        staus        : staus,
        username     : username
      }
    }
    
    $.ajax({
      type : "GET",
      data: data,
      dataType: "json",
      url : "/ask/allask",
      success: function(result){
        // console.log(result);
        // var data = result.data;
        // for(var i = 0; i < data.length; i++){
        //   var lat1 = parseFloat(data[i].GeoX);
        //   var lng1 = parseFloat(data[i].GeoY);
        //   var long1  = getFlatternDistance(lat1,lng1,LAT,LNG);
        //   console.log(long1);
        // }
        callback.success(result);
      },
      error:function(error){
        // console.log(error);
        callback.error(error);
      },
    })
  }

  var timer = '';
  //双击头部返回头部
  $(".bar").on("doubleTap",function(){ 
    console.log($("#find .wenwo-ul").height());
    var scroolTime = 1;
    var scroolSppeed = $("#find .wenwo-ul").height()/100;
    timer = setInterval(function(){
      var height =  $("#find .find-content").scrollTop();
      if(height <= 0){
        $("#find .find-content").scrollTop(0);
        clearInterval(timer);
      }else{
        height = height - scroolSppeed;
        $("#find .find-content").scrollTop(height);
      }
    }, scroolTime);
  })

  // function initDistance(){
  //   var title1Top = $(".title1").length ? $(".title1").offset().top : 10000;
  //   var title2Top = $(".title2").length ? $(".title2").offset().top : 10000;
  //   var title3Top = $(".title3").length ? $(".title3").offset().top : 10000;

  //   $(".distance-fixed").show();

  //   if(title1Top != 10000){
  //     $(".distance-fixed").text($(".title1").text());
  //     return;
  //   }

  //   if(title2Top != 10000){
  //     $(".distance-fixed").text($(".title2").text());
  //     return;
  //   }

  //   if(title3Top != 10000){
  //     $(".distance-fixed").text($(".title3").text());
  //     return;
  //   }
  // }

  $("#find .find-content").scroll(function(){
    //判断是否存在这个标签
    var title1Top = $(".title1").length ? $(".title1").offset().top : 10000;
    var title2Top = $(".title2").length ? $(".title2").offset().top : 10000;
    var title3Top = $(".title3").length ? $(".title3").offset().top : 10000;
    var top = $("#find .find-content").scrollTop();

    //初始化固定

    if(title1Top < 44){
      $(".distance-fixed").text($(".title1").text());
    }

    if(title2Top<50){
      $(".distance-fixed").text($(".title2").text());
    }

    if(title3Top<50){
      $(".distance-fixed").text($(".title3").text());
    }
    $(".distance-fixed").show();

    if(top < 1){
      $(".distance-fixed").hide();
    }
  })

  //获取用户想吃列表
  //获取美食信息
  function getLikeList(username,callback){
    var username = username ? username : '';
    var data = {
      username : username
    }
    $.ajax({
      type : "POST",
      data: data,
      dataType: "json",
      url : "/hode/foodlikelist",
      success: function(result){
        // console.log(result);
        callback.success(result);
      },
      error:function(error){
        // console.log(error);
        callback.error(error);
      },
    })
  }

  // function initData(){
    // 加载flag
    var loading = false;
    // 最多可加载的条目
    // var maxItems = 100;

    // 每次加载添加多少条目
    var itemsPerLoad = 20;

    //getAskLoad  0代表空闲 1代表占用
    var getAskLoad = 0;

    function addItems(number, lastIndex) {

      //屏蔽其他请求
      // console.log(lastIndex);
      var page = parseInt(lastIndex/number);
      if(!getAskLoad){
        console.log(page);
        getAskMe(page,number,'',UserName,{
          success:function(result){
            // 生成新条目的HTML
            console.log(result);
            var html = '';
            var data = result.data;
            if(data){
              for (var i = 0; i < data.length; i++) {
                var lat1 = data[i].GeoX;
                var lng1 = data[i].GeoY;
                var long  = getFlatternDistance(lat1,lng1,LAT,LNG);
                if(long < 1000){

                  // title = '<div class="distance">距离 < 1KM</div>';
                  
                  if(title1){
                    html += '<div class="title1 distance">距离 < 1KM</div>';
                    title1 = 0;
                  }

                }else if(long >= 1000 && long <= 5000){

                  if(title2){
                    html += '<div class="title2 distance">距离1KM - 5KM</div>';
                    title2 = 0;
                  }

                }else{
                  if(title3){
                    html += '<div class="title3 distance">距离 > 5KM</div>';
                    title3 = 0;
                  }
                }

                html += '<div class="wenwo-li" data-id='+data[i].objectId+'><div class="up-content"><img src="'+data[i].createByUrl+'" alt="" class="user-pic"><div class="ask-content"><div class="ask-tag">'+formatTag(data[i].askTagStr)+'</div><div class="ask-reason">'+data[i].askReason+'</div></div></div><div class="down-content"><div class="down-like '+(data[i].liked ? "liked" : '')+'"><span class="icon iconfont icon-likeEat"></span><label class="like-num">'+data[i].likeNum+'</label></div>'+(data[i].score > 9 ? '<div class="down-buy" data-id='+data[i].objectId+'>'+data[i].askPrice+'元瞅瞅</div>' : '<div class="down-buy free" data-id='+data[i].objectId+'>限时免费</div>')+'<div class="down-time">'+formatDate("y.m.d",data[i].createdAt)+'</div></div></div>';
              }
              // 添加新条目
              $('#find .wenwo-ul').append(html);
              // itemsPerLoad
              getAskLoad = 0;
              if (number > data.length) {
                // 加载完毕，则注销无限加载事件，以防不必要的加载
                $.detachInfiniteScroll($('#find .infinite-scroll'));
                // 删除加载提示符
                // $('.infinite-scroll-preloader').remove();
                $("#find .infinite-scroll-preloader .preloader").hide();
                $("#find .ask-end").show();
                // $('.infinite-scroll-preloader').append("")
                getAskLoad = 1;
                return;
              }
            }
            
          },  
          error:function(error){
          }
        })
      }

      // // 生成新条目的HTML
      // var html = '';
      // for (var i = lastIndex + 1; i <= lastIndex + number; i++) {
      //   html += '<li class="item-content"><div class="item-inner"><div class="item-title">Item ' + i + '</div></div></li>';
      // }
      // // 添加新条目
      // $('.wenwo-ul').append(html);
      getAskLoad = 1;
    }
    //预先加载20条
    if(LAT){
      addItems(itemsPerLoad, 0);
    }
    
    // 上次加载的序号

    var lastIndex = 20;

    // 注册'infinite'事件处理函数
    $(document).on('infinite', '.infinite-scroll-bottom',function() {

      // 如果正在加载，则退出
      if (loading) return;

      // 设置flag
      loading = true;

      // 模拟1s的加载过程
      // setTimeout(function() {
        // 重置加载flag
        loading = false;

        // if (lastIndex >= maxItems) {
        //   // 加载完毕，则注销无限加载事件，以防不必要的加载
        //   $.detachInfiniteScroll($('.infinite-scroll'));
        //   // 删除加载提示符
        //   $('.infinite-scroll-preloader').remove();
        //   return;
        // }

        // 更新最后加载的序号
        lastIndex = $('#find .wenwo-li').length;
        console.log(lastIndex);
        // 添加新条目
        addItems(itemsPerLoad, lastIndex);
        //容器发生改变,如果是js滚动，需要刷新滚动
        $.refreshScroller();
      // }, 1000);
    });
  // }
  // initData();
  // getAskMe(2,10);

  $.init();
  init();

  //初始化主页列表
  function initFindListPage(){
    //初始化主页列表，获取前20条信息
    // $('#find .wenwo-ul').empty();
    // addItems(20, 0);
    // return;
    getAskMe(0,20,'',UserName,{
      success:function(result){
        // 生成新条目的HTML
        console.log(result);
        var html = '';
        var data = result.data;

        if(data){
          for (var i = 0; i < data.length; i++) {

            var lat1 = data[i].GeoX;
                var lng1 = data[i].GeoY;
                var long  = getFlatternDistance(lat1,lng1,LAT,LNG);
                if(long < 1000){

                  // title = '<div class="distance">距离 < 1KM</div>';
                  
                  if(title1){
                    html += '<div class="title1 distance">距离 < 1KM</div>';
                    title1 = 0;
                  }

                }else if(long >= 1000 && long <= 5000){

                  if(title2){
                    html += '<div class="title2 distance">距离1KM - 5KM</div>';
                    title2 = 0;
                  }

                }else{
                  if(title3){
                    html += '<div class="title3 distance">距离 > 5KM</div>';
                    title3 = 0;
                  }
                }

            html += '<div class="wenwo-li" data-id='+data[i].objectId+'><div class="up-content"><img src="'+data[i].createByUrl+'" alt="" class="user-pic"><div class="ask-content"><div class="ask-tag">'+formatTag(data[i].askTagStr)+'</div><div class="ask-reason">'+data[i].askReason+'</div></div></div><div class="down-content"><div class="down-like '+(data[i].liked ? "liked" : '')+'"><span class="icon iconfont icon-likeEat"></span><label class="like-num">'+data[i].likeNum+'</label></div>'+(data[i].score > 9 ? '<div class="down-buy" data-id='+data[i].objectId+'>'+data[i].askPrice+'元瞅瞅</div>' : '<div class="down-buy free" data-id='+data[i].objectId+'>限时免费</div>')+'<div class="down-time">'+formatDate("y.m.d",data[i].createdAt)+'</div></div></div>';
          }
          // 添加新条目
          // $(".distance-fixed").hide();
          $.pullToRefreshDone('.pull-to-refresh-content');
          $('#find .wenwo-ul').empty();
          $('#find .wenwo-ul').append(html);
          

          //初始化滚动加载逻辑
          $.attachInfiniteScroll($('#find .infinite-scroll'));
          // 删除加载提示符
          // $('.infinite-scroll-preloader').remove();
          $("#find .ask-end").hide();
          $("#find .infinite-scroll-preloader .preloader").css("display","inline-block");
          getAskLoad = 0;

          // $(".preloader").hide();
          // $(".preloader-tip").text("刷新成功");
          // $(".preloader-tip").show();
        }
      },  
      error:function(error){
        // $(".preloader").hide();
        // $(".preloader-tip").text("刷新失败");
        // $(".preloader-tip").show();
        $.pullToRefreshDone('.pull-to-refresh-content');
      }
    })
  }

  //初始化想吃列表
  function initLikeListPage(){
    //获取想吃列表
    getLikeList(UserName,{
      success:function(result){
        if(result.code == 200){
          console.log(result);
          var html = '';
          var data = result.askDetail;
          if(!data.length){
            $("#like .infinite-scroll-preloader").hide();
            $("#like .want-content").show();
          }
          if(data){
            for (var i = 0; i < data.length; i++) {
              html += '<div class="wenwo-li" data-id='+data[i].objectId+'><div class="up-content"><img src="'+data[i].createByUrl+'" alt="" class="user-pic"><div class="ask-content"><div class="ask-tag">'+formatTag(data[i].askTagStr)+'</div><div class="ask-reason">'+data[i].askReason+'</div></div></div><div class="down-content"><div class="down-like liked"><span class="icon iconfont icon-likeEat"></span><label class="like-num">'+data[i].likeNum+'</label></div>'+(data[i].score > 9 ? '<div class="down-buy" data-id='+data[i].objectId+'>'+data[i].askPrice+'元瞅瞅</div>' : '<div class="down-buy free" data-id='+data[i].objectId+'>限时免费</div>')+'<div class="down-time">'+formatDate("y.m.d",data[i].createdAt)+'</div></div></div>';
            }
          }
          // 添加新条目
          //清空原来的数据
          $.pullToRefreshDone('.pull-to-refresh-content');
          $('#like .wenwo-ul').empty();
          $('#like .wenwo-ul').append(html);
          $("#like .infinite-scroll-preloader .preloader").hide();
          $("#like .ask-end").show();
        }
      },
      error:function(error){
        $.pullToRefreshDone('.pull-to-refresh-content');
      }
    })
  }
  initLikeListPage();

  $(".tab-item").on("click",function(){
    // console.log($());
    var type = $(this).attr("data-type");
    var active = $(".active").attr("data-type");
    console.log(type);
    $(".tab-item").removeClass("active");
    $(this).addClass("active");
    if(type == active){
      return;
    }
    if(type == "like"){
      $(".pull-to-refresh-arrow").hide();
      $.router.load("#like");

      setTimeout(function(){
        $(".pull-to-refresh-arrow").show();
      }, 500); 
    }else if(type == "find"){
      //缓存个人中心列表，想吃列表
      $(".pull-to-refresh-arrow").hide();
      updatePage("#me");
      updatePage("#like");
      $.router.load("#find");

      setTimeout(function(){
        $(".pull-to-refresh-arrow").show();
      }, 500); 
    }else if(type == "edit"){
      // $.router.load("/edit");
      $.showPreloader("正在跳转");
      window.location.href="/edit";
    }
  })

  // $(".edit").on("click",function(){
  //   $.showPreloader("正在跳转");
  //   window.location.href="/edit";
  // })
  $(".empty-button").on("click",function(){
    var href = $(this).attr("data-href");
    if(href.split("#")[1]){
      $(".tab-item").removeClass("active");
      $(".find").addClass("active");
      $.router.load(href);
    }else{
      $.showPreloader("正在跳转");
      $.router.load(href);
    }
  });
  $(".my-ask .item-link").on("click",function(){
    var href = $(this).attr("data-href");
    $.router.load(href);
  })

  //点击想吃逻辑
  $(".wenwo-ul").on("click",".down-like",function(){
    //获取点击后的id
    var askId = $(this).parent().parent().attr("data-id");
    console.log($(this).parent(".page").id);
    var num = $(this).children(".like-num").text();
    //获取是否是已想吃
    console.log($(this).hasClass("liked"));
    if($(this).hasClass("liked")){
      //已经是想吃的    取消想吃
      num = parseInt(num)-1;
      $(this).children(".like-num").text(num);
      $(this).removeClass("liked");
      cancelLike(UserName,askId,this,{
        success:function(result,$_this){
          console.log(result);
          if(result.code == 200){

          }else{
            num++;
            $($_this).children(".like-num").text(num);
            $($_this).addClass("liked");
          }
        },
        error:function(error,$_this){
          console.log(error);
          num++;
          $($_this).children(".like-num").text(num);
          $($_this).addClass("liked");
        }
      });
    }else{
      //想吃
      num = parseInt(num)+1;
      $(this).children(".like-num").text(num);
      $(this).addClass("liked");
      like(UserName,askId,this,{
        success:function(result,$_this){
          console.log(result);
          if(result.code == 200){
          }else{
            num--;
            $($_this).children(".like-num").text(num);
            $($_this).removeClass("liked");
          }
        },
        error:function(error,$_this){
          console.log(error);
          num--;
          $($_this).children(".like-num").text(num);
          $($_this).removeClass("liked");
        }
      });
    }
  })  

  $(".wenwo-ul").on("click",".up-content",function(){
    // $.router.load("/detail");
    console.log($(this).parent().attr("data-id"));
    var askId = $(this).parent().attr("data-id");
    $.showPreloader("正在跳转");
    // $.router.load("/detail?askid="+askId);
    window.location.href="/detail?askid="+askId+"#food";
  })

  $(".list-li-like-num").on("click",function(){
    $(".tab-item").removeClass("active");
    $(".like").addClass("active");
    $.router.load("#like");
  })
  $(".list-li-like-share").on("click",function(){
    $.router.load("#share");
  })

  $(".icon-gerenzhongxin").on("click",function(){
    //缓存findPage,buyPage,sharePage
    updatePage("#buy");
    updatePage("#share");

    $.router.load("#me");
  })
  $("#share .back,#buy .back").on("click",function(){
    updatePage("#buy");
    updatePage("#share");
  })
  // $(".edit").on("click",function(){
  //   $.router.load("/todos/send/test?username=573c1eb271cfe4006c18274f");
  // })

  //初始化个人中心页面
  function initMePage(username){
      if(localStorage.userHead){
        $("#me .pic-bg,#me .user-pic").attr("src",localStorage.userHead);
        $("#me .user-name").text(localStorage.userShowName);
        $("#me .list-li-like-num").text(localStorage.foodLikeListCount);
        $("#me .list-li-like-share,#me .my-ask .item-share").text(localStorage.askListCount);
        $("#me .list-li-like-total").text(leaveTwoPoint(localStorage.totalIncome));
        $("#me .itm-buy").text(localStorage.buyListCount);
      }

      var data = {
        username   : username
      }
      $.ajax({
        type : "POST",
        data: data,
        dataType: "json",
        url : "/user/getInfo",
        success: function(result){
          console.log(result);
          if(result.code = 200){
            var userHead = result.data.userHead;
            var userShowName = result.data.userShowName;
            var askListCount = result.data.askListCount;
            var buyListCount = result.data.buyListCount;
            var totalIncome = leaveTwoPoint(result.data.totalIncome);
            var foodLikeListCount = result.data.foodLikeListCount;
            $("#me .pic-bg,#me .user-pic").attr("src",userHead);
            $("#me .user-name").text(userShowName);
            $("#me .list-li-like-num").text(foodLikeListCount);
            $("#me .list-li-like-share,#me .my-ask .item-share").text(askListCount);
            $("#me .list-li-like-total").text(totalIncome);
            $("#me .itm-buy").text(buyListCount);

            localStorage["userHead"] = userHead;
            localStorage["userShowName"] = userShowName;
            localStorage["askListCount"] = askListCount;
            localStorage["buyListCount"] = buyListCount;
            localStorage["totalIncome"] = totalIncome;
            localStorage["foodLikeListCount"] = foodLikeListCount;
          }
          
        },
        error:function(error){
          console.log(error);
        },
      })
  }
  initMePage(UserName);

  //初始化购买页面
  function initBuyPage(username){
      var data = {
        username   : username,
        staus      : 1
      }
      $.ajax({
        type : "POST",
        data: data,
        dataType: "json",
        url : "/hode/haved",
        success: function(result){
          if(result.code == 200){
            console.log(result);
            var html = '';
            // $("#buy .infinite-scroll-preloader").hide();
            // $("#buy .want-content").show();
            // return ;
            var data = result.askDetail;
            if(!data.length){
              $("#buy .infinite-scroll-preloader").hide();
              $("#buy .want-content").show();
            }
            if(data){
              for (var i = 0; i < data.length; i++) {
                html += '<div class="wenwo-li" data-id='+data[i].objectId+'><div class="up-content"><img src="'+data[i].createByUrl+'" alt="" class="user-pic"><div class="ask-content"><div class="ask-tag">'+formatTag(data[i].askTagStr)+'</div><div class="ask-reason">'+data[i].askReason+'</div></div></div><div class="down-content"><div class="down-like '+(data[i].liked ? "liked" : '')+'"><span class="icon iconfont icon-likeEat"></span><label class="like-num">'+data[i].likeNum+'</label></div>'+'<div class="down-buy" data-id='+data[i].objectId+'>朕已查阅</div>'+'<div class="down-time">'+formatDate("y.m.d",data[i].createdAt)+'</div></div></div>';
              }
            }
            // 添加新条目
            // 清空列表
            $.pullToRefreshDone('.pull-to-refresh-content');
            $('#buy .wenwo-ul').empty();
            $('#buy .wenwo-ul').append(html);
            $("#buy .infinite-scroll-preloader .preloader").hide();
            $("#buy .ask-end").show();
          }
        },
        error:function(error){
          $.pullToRefreshDone('.pull-to-refresh-content');
          console.log(error);
        },
      })
  }
  //初始化分享界面
  function initSharePage(username){
      var data = {
        username   : username
      }
      $.ajax({
        type : "GET",
        data: data,
        dataType: "json",
        url : "/ask/myask",
        success: function(result){
          if(result.code == 200){
            console.log(result);
            var html = '';
            var data = result.data;

            if(!data.length){
              $("#share .infinite-scroll-preloader").hide();
              $("#share .want-content").show();
            }
            if(data){
              for (var i = 0; i < data.length; i++) {
                html += '<div class="wenwo-li" data-id='+data[i].objectId+'><div class="up-content"><img src="'+data[i].createByUrl+'" alt="" class="user-pic"><div class="ask-content"><div class="ask-tag">'+formatTag(data[i].askTagStr)+'</div><div class="ask-reason">'+data[i].askReason+'</div></div></div><div class="down-content"><div class="down-like '+(data[i].liked ? "liked" : '')+'"><span class="icon iconfont icon-likeEat"></span><label class="like-num">'+data[i].likeNum+'</label></div>'+'<div class="down-time">'+formatDate("y.m.d",data[i].createdAt)+'</div></div></div>';
              }
            }
            console.log(html);
            // 添加新条目
            // 清空列表
            $.pullToRefreshDone('#share .pull-to-refresh-content');
            $('#share .wenwo-ul').empty();
            $('#share .wenwo-ul').append(html);
            $("#share .infinite-scroll-preloader .preloader").hide();
            $("#share .ask-end").show();
          }
        },
        error:function(error){
          $.pullToRefreshDone('.pull-to-refresh-content');
          console.log(error);
        },
      })
  }
  // initSharePage(UserName);
  // initBuyPage(UserName);

  //点击购买跳转详情界面
  $(".wenwo-ul").on("click",".down-buy",function(){
    var askId = $(this).attr("data-id");
    $.showPreloader("正在跳转");
    $.router.load("/detail?askid="+askId);
  })

  //邀请好友
  $(".item-share").on('click',function(){
    $("#me .modal-overlay-visible").show();
    $("#me .model-share").show();
  })
  $(".modal-in").on('click',function(){
    $("#me .modal-overlay-visible").hide();
    $("#me .modal-in").hide();
  })
  $(".item-message").on("click",function(){
    $.showPreloader("正在跳转");
    $.router.load("http://form.mikecrm.com/Qg7fK7");
  })

  //个人中心提醒
  $(".icon-tixing").on("click",function(){
    $("#me .modal-overlay-visible").show();
    $("#me .model-tip").show();
  })
</script>
</html>