<!DOCTYPE HTML>
<html>
<head>
  <meta charset='utf-8'>
  <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'>
  -->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name='description', content='wenwo,问我,当地人,旅游,攻略,信息,分享'>
  <meta name='author', content='raodqi'>
  <link rel="icon" type="image/x-icon" href="/img/logo.png" media="screen">
  <title>问我-让经验帮你赚钱</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_1468291455_4862251.css">
  <link rel="stylesheet" href="/css/sm.min.css">
  <script src="/js/jweixin-1.0.0.js"></script>
</head>
  <style>
    html{
      font-size: 20px;
    }
    body{
      position: absolute;
      left: 0;
      right: 0 !important;
      padding:0;
      margin:0;
      width: 100%;
      overflow: hidden;
      background-color: #E8E8E8;
    }
    .title{
      font-weight: bold;
      font-family: 'webfont';
    }
    .wenwo-li{
      background-color: white;
      height: 6.5rem;
      padding:0.5rem;
      border-bottom: 1px solid #B9B9B9;
    }
    .up-content{
      height: 4rem;
    }
    .user-pic{
      float: left;
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 0.2rem;

      /*border:1px solid gray;*/
    }
    .ask-content{
      padding-left: 4rem;
    }
    .ask-tag{
      font-weight: bold;
      font-size: 0.8rem;
      color: #000;
    }
    .ask-content{
      font-size: 0.6rem;
      color: #585858;
    }
    .down-like{
      padding:0.2rem 0.6rem;
      display: inline-block;
      border:1px solid #D0D0D0;
      color: #000;
      font-weight: bold;
      font-size: 0.7rem;
    }
    .down-time{
      float: right;
      font-size: 0.6rem;
      color: #585858;
      line-height: 1.5rem;
    }
    .header-me{
      position: absolute;
      float: left;
      line-height: 2rem;
      font-size: 1rem;
      font-weight: bold;
      z-index: 2;
    }
    #me{
      z-index: 40000;
    }
    .infinite-scroll-preloader {
      margin-top:10px;
    }
    .ask-reason{
     max-height: 36px;
     /*overflow: hidden;*/
     overflow : hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
    }
    .content{
      padding-bottom: 50px;
    }
    .detail-pic-bg,.bg-mask{
      height: 10rem;
      width: 100%;
      /*background: #fff;*/
      position: absolute;
    }
    .bg-mask{
      background: rgba(0,0,0,0.8);
    }
    .pic-bg{
      display: block;
      position: absolute;
      /*width: 6rem;*/
      /*height: 100%;*/
      /*margin-top: 2rem;
      margin-left: 50%;
      transform: translateX(-50%);*/
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    .user-pic-content{
      display: block;
      position: absolute;
      width: 3rem;
      left: 50%;
      transform: translateX(-50%);
      top: 1rem;
    }
    .user-pic{
      display: block;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-bottom: 0.3rem;
    }
    .user-name{
      width: 100%;
      text-align: center;
      color: white;
      font-family:"webfont" !important;
    }
    .list-content{
      position: absolute;
      top:7rem;
      width: 100%;
      color: white;
      box-sizing: border-box;
      text-align: center;
      font-size: 0.7rem
    }
    .list-li{
      width: 13.33%;
      margin: 0 10%;
      float: left;
      text-align: center;
    }
    .list-li label{
      display: block;
      width: 100%;
      text-align: center;
    }
    .list-block{
      margin-top: 10.5rem;
    }
    .item-title{
      padding-left: 0.5rem;
    }
    .before-media{
      position: absolute;
      line-height: 2rem;
      font-size: 1rem;
    }
    .my-ask{
      margin-bottom: 1rem !important;
    }
    .ask-end{
      font-size: .7rem;
      color: #A7A7A7;
    }
    .liked{
      color:#0894ec;
    }
  </style>
<body>
  <!-- <header class="bar bar-nav">
    <h1 class="title">问我&bull;美食</h1>
  </header> -->
  <div class="wenwo-content page page-current" id='find'>
    <header class="bar bar-nav">
      <div class="header-me iconfont icon-gerenzhongxin"></div>
      <h1 class="title">问我&bull;美食</h1>
    </header>
    <!-- 这里是所有的信息列表 -->
    <div class="find-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul"></div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">哥，这回真的没了</div>
      </div>
    </div>
  </div>

  <!-- 这里是所有的信息列表 -->
  <div class="wenwo-content page" id="like">
    <header class="bar bar-nav">
      <h1 class="title">喜欢</h1>
    </header>
    <!-- <div class="content">
      <div class="wenwo-li">
        <div class="up-content">
          <img src="http://wx.qlogo.cn/mmopen/zngt7mjBQUdFiaKIVGQbhF3jRURfqibW3EtNPALJewxicdPAyGfyMpZkeHZIW1UXUmjEia3QicdYqickSiaywQcKBUS6GMWSEw67Rry/" alt="" class="user-pic">
          <div class="ask-content">
            <div class="ask-tag">鱼火锅</div>
            <div class="ask-reason">好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃</div>
          </div>
        </div>
        <div class="down-content">
          <div class="down-like">想吃23</div>
          <div class="down-time">2016-07-07</div>
        </div>
      </div>
    </div> -->

    <!-- 这里是想吃的信息列表 -->
    <div class="like-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul"></div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">哥，这回真的没了</div>
      </div>
    </div>
  </div>

  <!-- 这里是所有的信息列表 -->
  <div class="wenwo-content page" id="me">
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">个人中心</h1>
    </header>
    <div class="content">
      <div class="detail-pic-bg">
        <img src="http://wx.qlogo.cn/mmopen/zngt7mjBQUdFiaKIVGQbhF3jRURfqibW3EtNPALJewxicdPAyGfyMpZkeHZIW1UXUmjEia3QicdYqickSiaywQcKBUS6GMWSEw67Rry/" alt="" class="pic-bg">
        <div class="bg-mask"></div>

        <div class="user-pic-content">
          <img src="http://wx.qlogo.cn/mmopen/zngt7mjBQUdFiaKIVGQbhF3jRURfqibW3EtNPALJewxicdPAyGfyMpZkeHZIW1UXUmjEia3QicdYqickSiaywQcKBUS6GMWSEw67Rry/" alt="" class="user-pic">
          <div class="user-name">饶大奇</div>
        </div>

        <div class="list-content">
          <div class="list-li">
            <label>4</label>
            <label>想吃</label>
          </div>
          <div class="list-li">
            <label>0</label>
            <label>分享</label>
          </div>
          <div class="list-li">
            <label>4</label>
            <label>总收益</label>
          </div>
        </div>

        <div class="list-block">
          <ul class="my-ask">
            <li class="item-content item-link">
              <div class="before-media"><i class="iconfont icon-gouwuche"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">朕查阅的</div>
                <div class="item-after">20</div>
              </div>
            </li>
            <li class="item-content item-link">
              <div class="before-media"><i class="iconfont icon-paper-airplane"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">朕分享的</div>
                <div class="item-after">10</div>
              </div>
            </li>
          </ul>

          <ul class="">
            <li class="item-content item-link">
              <div class="before-media"><i class="iconfont icon-fenxiang"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">邀请爱卿使用</div>
              </div>
            </li>
            <li class="item-content item-link" data-href="http://form.mikecrm.com/Qg7fK7">
              <div class="before-media"><i class="iconfont icon-mes"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">给小问提意见</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <nav class="bar bar-tab">
    <a class="tab-item find active" data-type="find" href="#">
      <span class="icon icon-home"></span>
      <span class="tab-label">发现</span>
    </a>
    <a class="tab-item edit" data-type="edit" href="#">
      <span class="icon icon-edit"></span>
      <span class="tab-label">发布</span>
    </a>
    <a class="tab-item like" data-type="like" href="#">
      <span class="icon icon-emoji"></span>
      <span class="tab-label">喜欢</span>
    </a>
  </nav>
</body>
<script type='text/javascript' src='/js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/js/common.js' charset='utf-8'></script>
<script>
  //下拉刷新
  // 添加'refresh'监听器
  $(document).on('refresh', '.pull-to-refresh-content',function(e) {
      // 模拟2s的加载过程
      setTimeout(function() {
          // 加载完毕需要重置
          $.pullToRefreshDone('.pull-to-refresh-content');
      }, 1000);
  });
  //下拉刷新初始化
  // $.initPullToRefresh(".content");
</script>
<script>
  // console.log("测试",$(".ask-reason").text().visualLength());
  //用户名
  var UserName = "<%= username %>";

  //初始化主页链接
  function init(){
    var url = window.location.hash;
      if(url){
        url = url.split("#")[1];
      }else{
        url = "find";
      }
      if(url == "me"){
        url = "find";
      }
      console.log(url);
      $(".tab-item").removeClass("active");
      $("."+url).addClass("active");
  }

  //获取美食信息
  function getAskMe(page,size,staus,username,callback){
    var staus = staus ? staus : 1;
    var username = username ? username : '';
    var data = {
      page     : page,
      size     : size,
      staus    : staus,
      username : username
    }
    $.ajax({
      type : "GET",
      data: data,
      dataType: "json",
      url : "/ask/allask",
      success: function(result){
        // console.log(result);
        callback.success(result);
      },
      error:function(error){
        // console.log(error);
        callback.error(error);
      },
    })
  }

  //获取用户想吃列表
  //获取美食信息
  function getLikeList(username,callback){
    var username = username ? username : '';
    var data = {
      username : username
    }
    $.ajax({
      type : "POST",
      data: data,
      dataType: "json",
      url : "/hode/foodlikelist",
      success: function(result){
        // console.log(result);
        callback.success(result);
      },
      error:function(error){
        // console.log(error);
        callback.error(error);
      },
    })
  }

  //想吃 接口
  function like(username,askid,callback){
    var data = {
      username   : username,
      ask_id     : askid
    }
    $.ajax({
      type : "POST",
      data: data,
      dataType: "json",
      url : "/hode/foodlike",
      success: function(result){
        callback.success(result);
      },
      error:function(error){
        callback.error(error);
      },
    })
  }

  // function initData(){
    // 加载flag
    var loading = false;
    // 最多可加载的条目
    // var maxItems = 100;

    // 每次加载添加多少条目
    var itemsPerLoad = 20;

    //getAskLoad  0代表空闲 1代表占用
    var getAskLoad = 0;

    function addItems(number, lastIndex) {

      //屏蔽其他请求
      // console.log(lastIndex);
      var page = parseInt(lastIndex/number);
      if(!getAskLoad){
        console.log(page);
        getAskMe(page,number,'',UserName,{
          success:function(result){
            // 生成新条目的HTML
            console.log(result);
            var html = '';
            var data = result.data;
            if(data){
              for (var i = 0; i < data.length; i++) {
                html += '<div class="wenwo-li" data-id='+data[i].objectId+'><div class="up-content"><img src="'+data[i].createByUrl+'" alt="" class="user-pic"><div class="ask-content"><div class="ask-tag">'+formatTag(data[i].askTagStr)+'</div><div class="ask-reason">'+data[i].askContentShow+'</div></div></div><div class="down-content"><div class="down-like '+(data[i].liked ? "liked" : '')+'">想吃<label class="like-num">'+data[i].likeNum+'</label></div><div class="down-time">'+formatDate("y.m.d",data[i].updatedAt)+'</div></div></div>';
              }
              // 添加新条目
              $('#find .wenwo-ul').append(html);
              // itemsPerLoad
              getAskLoad = 0;
              if (number > data.length) {
                // 加载完毕，则注销无限加载事件，以防不必要的加载
                $.detachInfiniteScroll($('.infinite-scroll'));
                // 删除加载提示符
                // $('.infinite-scroll-preloader').remove();
                $(".preloader").hide();
                $(".ask-end").show();
                // $('.infinite-scroll-preloader').append("")
                getAskLoad = 1;
                return;
              }
            }
            
          },  
          error:function(error){
          }
        })
      }

      // // 生成新条目的HTML
      // var html = '';
      // for (var i = lastIndex + 1; i <= lastIndex + number; i++) {
      //   html += '<li class="item-content"><div class="item-inner"><div class="item-title">Item ' + i + '</div></div></li>';
      // }
      // // 添加新条目
      // $('.wenwo-ul').append(html);
      getAskLoad = 1;
    }
    //预先加载20条
    addItems(itemsPerLoad, 0);

    // 上次加载的序号

    var lastIndex = 20;

    // 注册'infinite'事件处理函数
    $(document).on('infinite', '.infinite-scroll-bottom',function() {

      console.log("123");
      // 如果正在加载，则退出
      if (loading) return;

      // 设置flag
      loading = true;

      // 模拟1s的加载过程
      // setTimeout(function() {
        // 重置加载flag
        loading = false;

        // if (lastIndex >= maxItems) {
        //   // 加载完毕，则注销无限加载事件，以防不必要的加载
        //   $.detachInfiniteScroll($('.infinite-scroll'));
        //   // 删除加载提示符
        //   $('.infinite-scroll-preloader').remove();
        //   return;
        // }

        // 更新最后加载的序号
        lastIndex = $('.wenwo-li').length;
        // 添加新条目
        addItems(itemsPerLoad, lastIndex);
        //容器发生改变,如果是js滚动，需要刷新滚动
        $.refreshScroller();
      // }, 1000);
    });
  // }
  // initData();
  // getAskMe(2,10);
  init();

  $.init();

  //获取想吃列表
  getLikeList(UserName,{
    success:function(result){
      if(result.code == 200){
        var html = '';
        var data = result.data;
        if(data){
          for (var i = 0; i < data.length; i++) {
            html += '<div class="wenwo-li" data-id='+data[i].objectId+'><div class="up-content"><img src="'+data[i].createByUrl+'" alt="" class="user-pic"><div class="ask-content"><div class="ask-tag">'+formatTag(data[i].askTagStr)+'</div><div class="ask-reason">'+data[i].askContentShow+'</div></div></div><div class="down-content"><div class="down-like '+(data[i].liked ? "liked" : '')+'">想吃<label class="like-num">'+data[i].likeNum+'</label></div><div class="down-time">'+formatDate("y.m.d",data[i].updatedAt)+'</div></div></div>';
          }
        }
        // 添加新条目
        $('#like .wenwo-ul').append(html);
        $("#like .preloader").hide();
      }
    },
    error:function(error){

    }
  })

  $(".tab-item").on("click",function(){
    // console.log($());
    var type = $(this).attr("data-type");
    var active = $(".active").attr("data-type");
    console.log(type);
    $(".tab-item").removeClass("active");
    $(this).addClass("active");
    if(type == active){
      return;
    }
    if(type == "like"){
      $.router.load("#like"); 
    }else if(type == "find"){
      $.router.load("#find");
      // $.router.back();
    }else if(type == "edit"){
      $.router.load("/edit?username=573c1eb271cfe4006c18274f");
    }
  })

  //点击想吃逻辑
  $(".wenwo-ul").on("click",".down-like",function(){
    //获取点击后的id
    var askId = $(this).parent().parent().attr("data-id");
    console.log(askId);
    if(true){
      var num = $(this).children(".like-num").text();
      num = parseInt(num)+1;
      $(this).children(".like-num").text(num);
      $(this).addClass("liked");
      like(UserName,askId,{
        success:function(result){
          console.log(result);
          if(result.code == 200){
          }else{
            num--;
            $(this).children(".like-num").text(num);
          }
        },
        error:function(error){
          console.log(error);
          num--;
          $(this).children(".like-num").text(num);
        }
      });
    } 
  })  

  $(".wenwo-ul").on("click",".up-content",function(){
    // $.router.load("/detail");
    console.log($(this).parent().attr("data-id"));
    var askId = $(this).parent().attr("data-id");
    $.showPreloader("正在跳转");
    $.router.load("/detail?askid="+askId);
  })
  $(".icon-gerenzhongxin").on("click",function(){
    $.router.load("#me");
  })
  // $(".edit").on("click",function(){
  //   $.router.load("/todos/send/test?username=573c1eb271cfe4006c18274f");
  // })
</script>
</html>