</body>
<script type='text/javascript' src='/js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/js/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='/js/common.js' charset='utf-8'></script>
<script type='text/javascript' src='/js/wxlocation.js' charset='utf-8'></script>
<script>
	$(function() {
	    FastClick.attach(document.body);

	    var date = new Date();
	    var todayStr = formatDate("y-m-d",date);

	    //添加用户量
	    if((localStorage.lookDate != todayStr) && UserName && history.length < 3){
	    	localStorage["lookDate"] = todayStr; 	
	      	var type = "GET",
	      		url = "/manage/addlookuser",
	      		data = {
	      			username : UserName
	      		};
	        $.ajax({
		      type: type,
		      url: url,
		      data: data,
		      dataType: "json",
		      success:function(result){
		        if(result.code == 200){
		          console.log(result.message);
		        }else{
		        	console.log(result.message);
		        }
		      },
		      error:function(error){
		        $.toast("服务器出错");
		      }
		    })  
	    }
	});
</script>
