<!DOCTYPE HTML>
<html>
  <head>
  <meta charset='utf-8'>
    <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'> -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name='description', content='wenwo,问我,当地人,旅游,攻略,信息,分享'>
    <meta name='author', content='raodqi'>
    <link rel="icon" type="image/x-icon" href="/img/logo.png" media="screen">
    <title>问我——像个当地人一样去旅游</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1460642378_2807734.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"> 
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
  </head>
  <style>
    body{
      position: absolute;
      left: 0;
      right: 0 !important;
      padding:0;
      margin:0;
      width: 100%;
      overflow: hidden;
    }
    body,html,#container{
        height: 100%;
        margin: 0px
      }
    .left-content,.right-content{
      position: absolute;
      z-index: 10400;
      background: rgba(255,255,255,0.8);
      width: 50%;
      height: 100%;
      /*left: -50%;*/
      border-right: 1px solid #FFC222;
      -webkit-transition: all ease 500ms;
      transition: all ease 500ms;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .left-content{
      left: -50%;
    }
    .right-content{
      right: -50%;
      border:0;
      border-left: 1px solid #FFC222;
    }
    .more,.cancel{
      position: absolute;
      top: 20px;
      right: -50px;
      width: 50px;
      height: 40px;
      border-top:1px solid #FFC222;
      border-bottom:1px solid #FFC222;
      border-right:1px solid #FFC222;
      border-left:1px solid #FFF;
      background: rgba(255,255,255,0.8);  
      border-top-right-radius:40px;
      border-bottom-right-radius:40px; 
    }
    .cancel{
      line-height: 40px !important;
    }
    .suosuo{
      font-size: 23px !important;
      position: absolute;
      top: 20px;
      left: -50px;
      width: 50px;
      height: 40px;
      border-top:1px solid #FFC222;
      border-bottom:1px solid #FFC222;
      border-left:1px solid #FFC222;
      border-right:1px solid #FFF;
      background: rgba(255,255,255,0.8);  
      border-top-left-radius:40px;
      border-bottom-left-radius:40px; 
    }
    .iconfont{
        font-size: 30px;
        color: #FFC222;
        text-align: center;
        line-height: 35px;
    }
    .left-content .icon-x{
        font-size: 24px;
    }
    .amap-touch-toolbar .amap-zoomcontrol{
      position: fixed;
      bottom:20px;
      /*transform: translateY(50%);*/
      right:10px;
    }
    .footer-label{
      position: absolute;
      z-index: 10000;
      height: 5px;
      bottom:0px;
      width: 100%;
      background-color: #efc553;
    }
    .header-label{
      position: absolute;
      z-index: 10000;
      height: 30px;
      width: 100%;
      background-color: #efc553;
      top: 0;
    }
    .header-more{
      font-size: 15px;
      color: #393e49;
      float:left;
      line-height: 30px;
      margin-left: 10px;
    }
    .header-sousuo{
      font-size: 15px;
      color: #393e49;
      float:right;
      line-height: 30px;
      margin-right: 10px;
    }
    .add{
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: rgba(255,255,255,0.9); 
      border:1px solid #FFC222;
      /*right: 20px;*/
      /*bottom:30px;*/
      bottom:5px;
      left: 50%;
      margin-left: -30px;
      z-index: 10401;
      -webkit-transition: all ease 200ms;
      transition: all ease 200ms;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .icon-tianjia{
      font-size: 30px;
      line-height: 55px;
    }
    .popup-about{
      background: rgba(100,100,100,0.8);
    }
    .theme-list{
      text-align: center;
      color: white;
      width: 70px;
    }
    .theme-list label{
      font-size: 20px;
      font-weight: bold;
    }
    .img-list{
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-size: cover;
    }
    .search-content{
      position: absolute;
      top:20px;
      height: 40px;
    }
    .searchbar .searchbar-cancel{
      height: 40px;
      line-height: 45px;
      color: gray
    }
    .searchbar{
      padding: 0;
      line-height: 40px;
    }
    #search{
      height: 40px;
      border:1px solid #FFC222;
      border-left: 0;
      border-radius: 0;
    }
    .amap-sug-result{
      left:50% !important;
      position: absolute;
      z-index: 10500;
      top: 60px !important;
      border:0 !important;
    }
    #container .amap-icon{
      border-radius: 50%;
      border-image:url("/img/blue.png");
      border-image-slice: 10;
      border-image-width:10px;
      border-image-repeat:rounded;
      
    }
    #container .amap-icon img{
      width: 100%;
      height: 100%;
      background-size: cover;

    }
    .amap-active{
      margin-left: -100px;
      background: black;
      width: 200px;
      height: 50px;
      border-radius: 50px;
      z-index: 200 !important;
    }
    .amap-active .amap-marker-content{
      position: absolute;
      padding-left: 50px;
      color: white;
      font-size: 12px;
    }
    .amap-active .amap-marker-content{
      display: block !important;
    }
    .amap-marker-content div{
      height: 25px;
      line-height: 25px;
      width: 100%;
      box-sizing: border-box;
    }
    .up-price-right{
      position: absolute;
      top: 0;
      right:-150px;
      color: #FFC222;
    }
    .modal-overlay, .popup-overlay, .preloader-indicator-overlay{
      height: initial;
    }
    .ask-detail{
      top:60%;
      height: 40%;
      z-index: 10402;
      box-shadow: 0 -.05rem .1rem rgba(0,0,0,.3);
    }
    .card-cover{
      height:300px;
    }
    .container-hidden{
      position: absolute;
      z-index: 100;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
    }
    .hidden-text {
      color: red;
    }
  }
  </style>
  <body>
    <div class="left-content">
      <!-- <div class="more iconfont icon-more"></div>
      <div class="cancel iconfont icon-x" style="display:none" ></div> -->
    </div>
    <div class="right-content">
      <!-- <div class="suosuo iconfont icon-sousuo"></div>
      <div class="cancel iconfont icon-x" style="display:none" ></div>
      <div class="search-content">
        <div class="searchbar"  id="tip">
          <a class="searchbar-cancel">取消</a>
          <div class="search-input">
            <input type="search" id='search' name="search" placeholder='输入关键字...'  value="" onfocus='this.value=""'/>      
          </div>
        </div>
      </div> -->
    </div>

    <div class="header-label">
      <div class="header-more iconfont icon-more"></div>
      <div class=""></div>
      <div class="header-sousuo iconfont icon-sousuo"></div>
    </div>
    <div id="container"></div>
    <div class="footer-label"></div>
    <div class="add iconfont icon-tianjia open-about"></div>
    <!-- About Popup -->
    <div class="popup popup-about">
      <div class="content-block">
        <!-- <p><a href="#router3">内联的新页面</a></p>
        <p><a href="#" class="close-popup">Close popup</a></p>
        <p>Lorem ipsum dolor ...</p> -->
        <div class="theme-list" data-type="live">
          <img class="img-list" src="/img/home.jpg">
          <!-- <label>住</label> -->
        </div>
      </div>
    </div>

    <div class="popup popup-services ask-detail">
      <div class="content-block">
        <!-- <p>Services</p>
        <p><a href="#" class="close-popup">Close popup</a></p>
        <p>Lorem ipsum dolor ...</p> -->
        <div class="card" id="tag-content" data-href="router2">
          <div class="card-header">标签</div>
          <div class="card-content">
            <div class="card-content-inner">
              <span class="type-item">火锅</span>
              <span class="type-item">冒菜</span>
            </div>
          </div>
        </div>

        <div class="card" id="reason-content" data-href="router3">
          <div class="card-header">推荐理由</div>
          <div class="card-content">
            <div class="card-content-inner">这个真的很不错，我经常去。</div>
          </div>
        </div>

        <div class="card" id="detail-content" data-href="router4">
          <div class="card-header">详情</div>
          <div class="card-content">
            <div class="card-content-inner">这个真的很不错，我经常去。</div>
          </div>
        </div>

        <div class="content-block-title">地图标注</div>
        <div class="card demo-card-header-pic" data-href="router5">
          <div valign="bottom" class="card-header color-white no-border no-padding">
            <!-- <img class='card-cover' src="/img/map.png" alt="">        
            -->
            <div class="container-hidden"></div>
            <div class='card-cover' id="container-show"></div>
          </div>
          <!-- <div class="card-content">        
          <div class="card-content-inner">
            <p>成都信息工程大学</p>
          </div>
        </div>
        -->
        </div>

        <div class="card" id="price-content" data-href="router6">
        <div class="card-header">价格</div>
        <div class="card-content">
          <div class="card-content-inner">￥0.2</div>
        </div>
        </div>
      </div>
    </div>

    <!-- <div class="page page-current" id='router'>
      <header class="bar bar-nav">
        <h1 class='title'>路由</h1>
      </header>
      <div class="content">
        <div class="content-block">
          <ul>
            <li><a href="/docs-demos/router2">ajax加载新页面</a></li>
            <li><a href="#router3">内联的新页面</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page" id='router3'>
      <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a>
        <h1 class='title'>路由</h1>
      </header>
      <div class="content">
        <div class="content-block">
          这是内联编写的页面，点击左上角的 <a href="#" class='back'>返回</a> 按钮返回上一页。
        </div>
      </div>
    </div> -->  
  </body>
  <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
  
  <script type="text/javascript" src="/js/map.js"></script>
  <script>
      // var map = new AMap.Map('container',{
      //       resizeEnable: true,
      //       zoom: 10,
      //       center: [116.39,39.9]
      // });
    //   AMap.plugin(['AMap.ToolBar','AMap.Scale'],function(){
    //     var toolBar = new AMap.ToolBar();
    //     var scale = new AMap.Scale();
    //     map.addControl(toolBar);
    //     map.addControl(scale);
    // })
    // $.popup('.ask-detail');
    var width = $(".left-content").width();
    console.log(width);
    $(".more").on("click",function(){
      // $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, -"+width+", 0)");
      $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, "+width+", 0)");
      $(this).hide();
      $(".left-content .cancel").show();

    })
    $(".cancel").on("click",function(){
      // $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, -"+width+", 0)");
      if($(this).parent().hasClass("left-content")){
        $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, 0, 0)");
        $(this).hide();
        $(".more").show();
      }else{
        $(".right-content").css("-webkit-transform", "matrix(1, 0, 0, 1, 0, 0)");
        $(this).hide();
        $(".suosuo").show();
      }
      // $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, 0, 0)");
      // $(this).hide();
      // $(".more").show();
    })

    $(".suosuo").on("click",function(){
      // $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, -"+width+", 0)");
      // $(".right-content").css("-webkit-transform", "matrix(1, 0, 0, 1, -"+width+", 0)");
      // $(this).hide();
      // $(".right-content .cancel").show();
      if(!$(this).hasClass("open")){
        $(".right-content").css("-webkit-transform", "matrix(1, 0, 0, 1, -"+width+", 0)");
        $(this).addClass("open");
      }else{
        $(".right-content").css("-webkit-transform", "matrix(1, 0, 0, 1, 0, 0)");
        $(this).removeClass("open");
      }
    })

    $(".add").on("click",function(){
      console.log("123");
      if($(".add").hasClass("actived")){
        $.closeModal('.popup-about');
        $(".add").css("-webkit-transform", "rotate(0deg)");
        $(".add").removeClass("actived");
      }else{
        $.popup('.popup-about');
        $(".add").css("-webkit-transform", "rotate(45deg)");
        $(".add").addClass("actived");
      }
      // $(".add").css("-webkit-transform", "rotate(45deg)");
    })
    $(".theme-list").on("click",function(){
      var type = $(this).data("type");
      window.location.href="/todos/send?type="+type;
    });

    $(".amap-sug-result").on("click",".auto-item",function(){
      $(".right-content,.left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, 0, 0)");
    })


     // 添加点聚合
    var cluster, markers = [];
    // addCluster(0);
    function addCluster(tag) {
        if (cluster) {
            cluster.setMap(null);
        }
        if (tag == 1) {
            var sts = [{
                url: "http://lbs.amap.com/wp-content/uploads/2014/06/1.png",
                size: new AMap.Size(32, 32),
                offset: new AMap.Pixel(-16, -30)
            }, {
                url: "http://lbs.amap.com/wp-content/uploads/2014/06/2.png",
                size: new AMap.Size(32, 32),
                offset: new AMap.Pixel(-16, -30)
            }, {
                url: "http://lbs.amap.com/wp-content/uploads/2014/06/3.png",
                size: new AMap.Size(48, 48),
                offset: new AMap.Pixel(-24, -45),
                textColor: '#CC0066'
            }];
            map.plugin(["AMap.MarkerClusterer"], function() {
                cluster = new AMap.MarkerClusterer(map, markers, {
                  maxZoom:10,
                  styles: sts
                });
                // cluster.setMaxZoom(20);
            });
        } else {
            map.plugin(["AMap.MarkerClusterer"], function() {
                cluster = new AMap.MarkerClusterer(map, markers,{
                  maxZoom:20,
                  styles: sts
                });
            });
        }

    }

    // $(document).on('click','.open-about', function () {
    //   $.popup('.popup-about');
    // });
    // var data = {};
    // $.ajax({
    //   type : "POST",
    //   data: data,
    //   dataType: "json",
    //   url : "/todos",
    //   success : function(result){
    //     console.log(result);
    //     // var cluster, markers = [];
    //     for(var i = 0; i < result.length;i++){
    //       var icon = new AMap.Icon({
    //           image : result[i].url,//24px*24px
    //           size : new AMap.Size(50,50)
    //       });
    //       var marker = new AMap.Marker({
    //         icon : icon,//24px*24px
    //         map : map,
    //         position: [result[i].lng,result[i].lat],
    //         draggable: false,
    //         clickable:true,
    //         cursor: 'move',
    //         raiseOnDrag: false
    //       });
    //       marker.setExtData({
    //         id:result[i].id,
    //         tagName:result[i].tagName,
    //         askReason:result[i].askReason,
    //         askContentShow:result[i].askContentShow,
    //         price:result[i].price,
    //         createBy:result[i].createBy,
    //         createAt:result[i].createAt,
    //         lng:result[i].lng,
    //         lat:result[i].lat
    //       })
    //       markers.push(marker);

    //       //监听marker点击事件
    //       marker.on("click",function(){
    //         console.log(this);
    //         var lng = this.Ee.extData.lng;
    //         var lat = this.Ee.extData.lat;

    //         //设置地图中心位置为点击的marker上
    //         map.setZoomAndCenter(20,[lng,lat]);
    //       });

    //       marker.setMap(map);
    //     }
    //     addCluster(0);
    //   },
    //   error: function(error){
    //     alert(error);
    //   }
    // });

    // $("#container").on("click",".amap-marker",function(){
    //   // $(this).addClass("amap-active");
    //   $(".amap-marker-content").remove();
    //   var div = '<div class="amap-marker-content"><div class="up">火锅<div class="up-price-right">0.8元</div></div><div class="down">这个真的很好吃</div></div>';
    //   $(this).children(".amap-icon").after(div);
    //   if($(this).hasClass("amap-active")){
    //     $(this).removeClass("amap-active");
    //   }else{
    //     $(".amap-marker").removeClass("amap-active");
    //     $(this).addClass("amap-active");
    //   }
    // })
    $("#container").on("click",".amap-icon",function(){
      // $(this).addClass("amap-active");
      $(".amap-marker-content").remove();
      var div = '<div class="amap-marker-content" style="display:none"><div class="up">火锅<div class="up-price-right">0.8元</div></div><div class="down">这个真的很好吃</div></div>';
      $(this).after(div);
      if($(this).parent().hasClass("amap-active")){
        $(this).parent().removeClass("amap-active");
      }else{
        $(".amap-marker").removeClass("amap-active");
        $(this).parent().addClass("amap-active");
      }
    })

    $("#container").on("click",function(){
      // $.closeModal(".ask-detail");
    })
    // var open = false;
    $("#container").on("click",function(e){
      console.log("ok");
      if($(".ask-detail").hasClass("modal-in")){
         $.closeModal(".ask-detail");
      }
     
    })
    $("#container").on("click",".amap-marker-content",function(e){
      $.popup('.ask-detail');
      console.log("test");
      // getMap();
      // e.stopPropagation();
    })

    // var mapShow;
    getMap(103.985616,30.581207);
    // var markerShow = new AMap.Marker({
    //   map : mapShow,
    //   position: [104.065262,30.65938]
    // });
    // var markerShow = new AMap.Marker({
    //     map : mapShow,
    //     position: [103.985616,30.581207],
    //     draggable: true,
    //     cursor: 'move',
    //     raiseOnDrag: true,
    //     clickable:true
    //   });
    // markerShow.setMap(mapShow);

    function getMap(lng,lat){
      //详情地点显示
      var mapShow;
      mapShow = new AMap.Map('container-show', {
        resizeEnable: true,
        zoom:15,
        center: [lng,lat]
      });
      var markerShow = new AMap.Marker({
        map : mapShow,
        position: [lng,lat],
        draggable: true,
        cursor: 'move',
        raiseOnDrag: true,
        clickable:true
      });
      markerShow.setMap(mapShow);
    }

    getAllAsk();
    //获取所有信息
    function getAllAsk(){
      var data = {
        staus  : 4,
        size   : 10,
      };
      $.ajax({
        type : "GET",
        data: data,
        dataType: "json",
        url : "/ask/allask",
        success : function(result){
          console.log(result);
          // return;
          // var cluster, markers = [];

          if(result.code == 200){
            for(var i = 0; i < result.data.length;i++){
              var icon = new AMap.Icon({
                  image : "/img/hotPot.jpg",//24px*24px
                  size : new AMap.Size(50,50)
              });
              var marker = new AMap.Marker({
                icon : icon,//24px*24px
                map : map,
                position: [result.data[i].GeoX,result.data[i].GeoY],
                draggable: false,
                clickable:true,
                cursor: 'move',
                raiseOnDrag: false
              });
              marker.setExtData({
                id:result.data[i].objectId,
                tagName:result.data[i].askTag,
                askReason:result.data[i].askReason,
                askContentShow:result.data[i].askContentShow,
                price:result.data[i].askPrice,
                createBy:result.data[i].createBy,
                createAt:result.data[i].createAt,
                lng:result.data[i].GeoX,
                lat:result.data[i].GeoY,
                askIsFree:result.data[i].askIsFree
              })
              markers.push(marker);

              //监听marker点击事件
              marker.on("click",function(){
                console.log(this);
                var lng = this.Ee.extData.lng;
                var lat = this.Ee.extData.lat;
                setDetail(this.Ee.extData);
                //设置地图中心位置为点击的marker上
                map.setZoomAndCenter(20,[lng,lat]);
              });

              marker.setMap(map);
            }
            addCluster(0);
          }
        },
        error: function(error){
          alert(error);
        }
      });
    }

    function setDetail(extData){
      console.log(extData);
      var type          = extData.type,//主题类型
          tag           = extData.tagName,//二级标签
          reason        = extData.askReason,//推荐理由
          content_show  = extData.askContentShow,//详情显示部分
          lng           = extData.lng,//经度
          lat           = extData.lat,//维度
          isfree        = extData.askIsFree,//是否是免费信息
          price         = extData.price;//信息价格

      $("#reason-content .card-content-inner").text(reason);
      $("#price-content  .card-content-inner").text("￥ "+price);
      var detail = content_show;
      var hidden = '<span class="hidden-text">***</span>';
      str = detail.split("##");
      var detailContent = '';
      for(var i = 0; i < str.length; i++){
        if(i%2){
          detailContent += str[i];
        }else{
          detailContent += str[i]+hidden;
        }
      }
      $("#detail-content  .card-content-inner").empty();
      $("#detail-content  .card-content-inner").append(detailContent);
      getMap(lng,lat);

    }

  </script>
</html>
