<!DOCTYPE HTML>
<html>
  <head>
  <meta charset='utf-8'>
    <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'> -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name='description', content='wenwo,问我,当地人,旅游,攻略,信息,分享'>
    <meta name='author', content='raodqi'>
    <link rel="icon" type="image/x-icon" href="/img/logo.png" media="screen">
    <title>问我——像个当地人一样去旅游</title>
    <link rel="stylesheet" href="/css/style.css"> 
  </head>
  <style>
    body{
      padding:0;
      margin:0;
    }
    body,html,#container{
        height: 100%;
        margin: 0px
      }
    .left-content{
      position: absolute;
      z-index: 99999;
      background: white;
      width: 50%;
      height: 100%;
      border-right: 1px solid #FFC222;
    }
    .more{
      width: 50px;
      height: 40px;
      border-top:1px solid #FFC222;
      border-bottom:1px solid #FFC222;
      border-right:1px solid #FFC222;
      border-top-right-radius:40px;
      border-bottom-right-radius:40px; 
    }
  }
  </style>
  <body>
    <div class="left-content">
      <div class="more"></div>
    </div>
    <div id="container"></div>  
  </body>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script>
      // var map = new AMap.Map('container',{
      //       resizeEnable: true,
      //       zoom: 10,
      //       center: [116.39,39.9]
      // });
    //   AMap.plugin(['AMap.ToolBar','AMap.Scale'],function(){
    //     var toolBar = new AMap.ToolBar();
    //     var scale = new AMap.Scale();
    //     map.addControl(toolBar);
    //     map.addControl(scale);
    // })
  </script>
</html>
