<!DOCTYPE HTML>
<html>
  <head>
  <meta charset='utf-8'>
    <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'> -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name='description', content='wenwo,问我,当地人,旅游,攻略,信息,分享'>
    <meta name='author', content='raodqi'>
    <link rel="icon" type="image/x-icon" href="/img/logo.png" media="screen">
    <title>问我——像个当地人一样去旅游</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1460642378_2807734.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"> 
  </head>
  <style>
    body{
      position: absolute;
      left: 0;
      right: 0 !important;
      padding:0;
      margin:0;
      width: 100%;
      overflow: hidden;
    }
    body,html,#container{
        height: 100%;
        margin: 0px
      }
    .left-content,.right-content{
      position: absolute;
      z-index: 10000;
      background: rgba(255,255,255,0.8);
      width: 50%;
      height: 100%;
      /*left: -50%;*/
      border-right: 1px solid #FFC222;
      -webkit-transition: all ease 500ms;
      transition: all ease 500ms;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .left-content{
      left: -50%;
    }
    .right-content{
      right: -50%;
    }
    .more,.cancel{
      position: absolute;
      top: 20px;
      right: -51px;
      width: 50px;
      height: 40px;
      border-top:1px solid #FFC222;
      border-bottom:1px solid #FFC222;
      border-right:1px solid #FFC222;
      border-left:1px solid #FFF;
      background: rgba(255,255,255,0.8);  
      border-top-right-radius:40px;
      border-bottom-right-radius:40px; 
    }
    .cancel{
      line-height: 40px !important;
    }
    .suosuo{
      font-size: 23px !important;
      position: absolute;
      top: 20px;
      left: -51px;
      width: 50px;
      height: 40px;
      border-top:1px solid #FFC222;
      border-bottom:1px solid #FFC222;
      border-left:1px solid #FFC222;
      border-right:1px solid #FFF;
      background: rgba(255,255,255,0.8);  
      border-top-left-radius:40px;
      border-bottom-left-radius:40px; 
    }
    .iconfont{
        font-size: 30px;
        color: #FFC222;
        text-align: center;
        line-height: 35px;
    }
    .left-content .icon-x{
        font-size: 24px;
    }
    .amap-touch-toolbar .amap-zoomcontrol{
      position: fixed;
      bottom:50%;
      transform: translateY(50%);
      right:10px;
    }
    .add{
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: rgba(255,255,255,0.9); 
      border:1px solid #FFC222;
      right: 20px;
      bottom:30px;
      z-index: 10401;
      -webkit-transition: all ease 200ms;
      transition: all ease 200ms;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .icon-tianjia{
      font-size: 30px;
      line-height: 55px;
    }
    .popup-about{
      background: rgba(100,100,100,0.8);
    }
    .theme-list{
      text-align: center;
      color: white;
      width: 70px;
    }
    .theme-list label{
      font-size: 20px;
      font-weight: bold;
    }
    .img-list{
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-size: cover;
    }
    .search-content{
      position: absolute;
      top:20px;
      height: 40px;
    }
    .searchbar .searchbar-cancel{
      height: 40px;
      line-height: 45px;
      color: gray
    }
    .searchbar{
      padding: 0;
      line-height: 40px;
    }
    #search{
      height: 40px;
      border:1px solid #FFC222;
      border-left: 0;
      border-radius: 0;
    }
  }
  </style>
  <body>
    <div class="left-content">
      <div class="more iconfont icon-more"></div>
      <div class="cancel iconfont icon-x" style="display:none" ></div>
    </div>
    <div class="right-content">
      <div class="suosuo iconfont icon-sousuo"></div>
      <div class="cancel iconfont icon-x" style="display:none" ></div>
      <div class="search-content">
        <!-- <input> -->
        <div class="searchbar">
          <a class="searchbar-cancel">取消</a>
          <div class="search-input" id="tip">
            <input type="search" id='search' name="search" placeholder='输入关键字...'/>      
          </div>
        </div>
      </div>
    </div>
    <div id="container"></div>
    <div class="add iconfont icon-tianjia open-about"></div>
    <!-- About Popup -->
    <div class="popup popup-about">
      <div class="content-block">
        <!-- <p><a href="#router3">内联的新页面</a></p>
        <p><a href="#" class="close-popup">Close popup</a></p>
        <p>Lorem ipsum dolor ...</p> -->
        <div class="theme-list" data-type="live">
          <img class="img-list" src="/img/home.jpg">
          <!-- <label>住</label> -->
        </div>
      </div>
    </div>

    <!-- <div class="page page-current" id='router'>
      <header class="bar bar-nav">
        <h1 class='title'>路由</h1>
      </header>
      <div class="content">
        <div class="content-block">
          <ul>
            <li><a href="/docs-demos/router2">ajax加载新页面</a></li>
            <li><a href="#router3">内联的新页面</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page" id='router3'>
      <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a>
        <h1 class='title'>路由</h1>
      </header>
      <div class="content">
        <div class="content-block">
          这是内联编写的页面，点击左上角的 <a href="#" class='back'>返回</a> 按钮返回上一页。
        </div>
      </div>
    </div> -->  
  </body>
  <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script>
      // var map = new AMap.Map('container',{
      //       resizeEnable: true,
      //       zoom: 10,
      //       center: [116.39,39.9]
      // });
    //   AMap.plugin(['AMap.ToolBar','AMap.Scale'],function(){
    //     var toolBar = new AMap.ToolBar();
    //     var scale = new AMap.Scale();
    //     map.addControl(toolBar);
    //     map.addControl(scale);
    // })
    var width = $(".left-content").width();
    console.log(width);
    $(".more").on("click",function(){
      // $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, -"+width+", 0)");
      $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, "+width+", 0)");
      $(this).hide();
      $(".left-content .cancel").show();

    })
    $(".cancel").on("click",function(){
      // $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, -"+width+", 0)");
      if($(this).parent().hasClass("left-content")){
        $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, 0, 0)");
        $(this).hide();
        $(".more").show();
      }else{
        $(".right-content").css("-webkit-transform", "matrix(1, 0, 0, 1, 0, 0)");
        $(this).hide();
        $(".suosuo").show();
      }
      // $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, 0, 0)");
      // $(this).hide();
      // $(".more").show();
    })

    $(".suosuo").on("click",function(){
      // $(".left-content").css("-webkit-transform", "matrix(1, 0, 0, 1, -"+width+", 0)");
      // $(".right-content").css("-webkit-transform", "matrix(1, 0, 0, 1, -"+width+", 0)");
      // $(this).hide();
      // $(".right-content .cancel").show();
      if(!$(this).hasClass("open")){
        $(".right-content").css("-webkit-transform", "matrix(1, 0, 0, 1, -"+width+", 0)");
        $(this).addClass("open");
      }else{
        $(".right-content").css("-webkit-transform", "matrix(1, 0, 0, 1, 0, 0)");
        $(this).removeClass("open");
      }
    })

    $(".add").on("click",function(){
      console.log("123");
      if($(".add").hasClass("actived")){
        $.closeModal('.popup-about');
        $(".add").css("-webkit-transform", "rotate(0deg)");
        $(".add").removeClass("actived");
      }else{
        $.popup('.popup-about');
        $(".add").css("-webkit-transform", "rotate(45deg)");
        $(".add").addClass("actived");
      }
      // $(".add").css("-webkit-transform", "rotate(45deg)");
    })
    $(".theme-list").on("click",function(){
      var type = $(this).data("type");
      window.location.href="/todos/send?type="+type;
    });


    // $(document).on('click','.open-about', function () {
    //   $.popup('.popup-about');
    // });
  </script>
</html>
