<% include header.ejs %>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd&plugin=AMap.Walking,AMap.Driving"></script>
</head>
  <style>
    html{
      font-size: 20px;
    }
    body{
      position: absolute;
      left: 0;
      right: 0 !important;
      padding:0;
      margin:0;
      width: 100%;
      overflow: hidden;
      background-color: #E8E8E8;
    }
    #container{
      width: 100%;
      height: 100%;
    }
    .iconfont {
      font-family: "iconfont" !important;
    }
    #panel {
      background-color: white;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      padding-top: 2.2rem;
      /*display: none;*/
    }
    .bar{
      z-index: 1000;
    }
    .pull-right{
      color: #ee7e2e
    }
    .amap-lib-driving{
      border:0 !important;
    }
    .my-location {
      display: none;
      position: absolute;
      bottom: 1.5rem;
      left: 20px;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: .2rem;
      line-height: 1.8rem;
      text-align: center;
      background-color: white;
      box-shadow: 0 0 5px rgba(0,0,0,.2);
      color: #666 !important;
    }
  </style>
<body>
  <div class="wenwo-content page page-current" id='map'>
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left backDetail">
        <span class="icon iconfont icon-zuo"></span>
      </a>
      <span class="icon iconfont icon-daohang pull-right"></span>
      <h1 class="title">地图</h1>
    </header>
    <div id="container"></div>

    <div class="my-location">
      <label class="iconfont icon-daohang"></label>
    </div>

  </div>
  <div class="wenwo-content page" id="panelcontent">
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back">
        <span class="icon iconfont icon-zuo"></span>
      </a>
      <h1 class="title">路线</h1>
    </header>
    <div id="panel">
  </div>
</body>
<% include footer.ejs %>
<script type="text/javascript" src="/js/wxlocation.js"></script>
  <script>
  $(".backDetail").on("click",function(){
    window.history.back(-1);
  })
  $.showPreloader("正在加载");
  var walking,
      driving;

  function initRoad(myLng,myLat,lng,lat){
    if(driving){
      driving.clear();
    }
    if(walking){
      walking.clear();
    }
    
    walking = new AMap.Walking({
      map: map,
      panel: "panel"
    }); 
    walking.search([myLng,myLat],[lng,lat],function(status,result){
      console.log(result);
      console.log(status);
      if(status == "error"){
        $.hidePreloader();
        $("#panelcontent .title").text("驾车导航");
        driving = new AMap.Driving({
          map: map,
          panel: "panel"
        }); 
        driving.search([myLng,myLat],[lng,lat],function(status,result){
          console.log(result);
          console.log(status);
        });
      }else{
        $("#panelcontent .title").text("步行导航");
        $.hidePreloader();
      }
    });
  }

  $(".pull-right").on("click",function(){
    $.router.load("#panelcontent");
  })

  $(".my-location").on("click",function(){
    var lat = $(".my-location").attr("lat");
    var lng = $(".my-location").attr("lng");
    map.setZoomAndCenter(16, [lng, lat]);
  }) 

  var marker,
      map;
  var icon = new AMap.Icon({
    image: "/img/edit/marker.png",
  });
  var lat = "<%= lat %>";
  var lng = "<%= lng %>";

  initLocation("map",{
    success:function(myLng,myLat){
      if(myLng && myLat){
        initMap(myLat,myLng);
      }else{
        $.toast("定位失败");
        initMap(30.580596,103.982984);
      } 
    },
    error:function(error){
      initMap(30.580596,103.982984);
    }
  });
  if(window.location.port == 3000){
    //测试逻辑
    // newfoodInit(30.580596,103.982984);
    setTimeout(function(){
      initMap(30.580596,103.982984);
    }, 300);
  }
function initMap(myLat,myLng){
  $(".my-location").attr("lat",myLat);
  $(".my-location").attr("lng",myLng);
  $(".my-location").show();
  if(lat && lng){
    //详情地点显示
    map = new AMap.Map('container', {
      resizeEnable: true,
      zoom:13,
      center: [lng,lat]
    });

    map.plugin(["AMap.ToolBar"], function() {
      map.addControl(new AMap.ToolBar());
    });
  }
  //步行导航
  initRoad(myLng,myLat,lng,lat);
}
  </script>
</html>