<% include header.ejs %>
<!-- <link href='http://api.youziku.com/webfont/CSS/578f43dcf629e300d8f428f5' rel='stylesheet' type='text/css' /> -->
<link rel="stylesheet" href="/css/sm-extend.min.css">
<link rel="stylesheet" href="/css/newfood-min.css">
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd&plugin=AMap.Geocoder"></script>
</head>
<body>
 <img src="/img/loading.png" alt="" class="hide-img">
  <div class="wenwo-content page page-current" id='find'>
    <header class="bar bar-nav">
      <div class="header-me iconfont icon-gerenzhongxin"></div>
      <h1 class="title">问我-美食</h1>
      <div class="header-search wenwo-click iconfont icon-sousuo" data-href="#search"></div>
    </header>
    <!-- <div class="distance distance-fixed">距离1KM</div> -->
    <!-- 这里是所有的信息列表 -->
    <div class="find-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader-tip">刷新成功</div>
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>


      <!-- Slider -->
      <div class="swiper-container" data-space-between='10' data-loop='true' data-autoplay='7000' data-autoplay-disable-on-interaction='false'>
        <div class="swiper-wrapper">
          <!-- <div class="swiper-slide" data-href="/share/id/57a84fba1532bc0060d62179"><img src="/img/scroll/page2.jpg" alt=""></div>
          <div class="swiper-slide" data-href="/share/id/57a84f52165abd00616471d9"><img src="/img/scroll/page1.jpg" alt=""></div> -->
        </div>
        <div class="swiper-pagination"></div>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
      </div>
        
      <div class="nav-list-content">

        <div class="nav-list" data-href="#tagfind">
          <div class="nav-icon">
            <label class="iconfont icon-kinds"></label>
          </div>
          <div class="nav-title">分类查找</div>
        </div>
        <div class="nav-list nav-list-day" data-href="#card">
          <div class="nav-icon">
            <label class="iconfont icon-cards"></label>
          </div>
          <div class="nav-title">精选美食卡片</div>
        </div>
        <div class="nav-list" data-href="#strategy">
          <div class="nav-icon">
            <label class="iconfont icon-topics"></label>
          </div>
          <div class="nav-title">美食专题</div>
        </div>
      </div>
       
      <div class="wenwo-ul-nav">
          <div class="nav-left">
            <div class="nav-left-add">定位...</div>
            <label class="iconfont icon-jiantouxia"></label>
          </div>
          <div class="nav-right">
            <label class="nav-right-range"> 1km </label>
            <label class="iconfont icon-jiantouxia"></label>
          </div>
      </div>
      <div class="range-content">
        <div class="range-content-li" style="display:none" data-range="1000">1km</div>
        <div class="range-content-li"  data-range="2000">2km</div>
        <div class="range-content-li"  data-range="10000">10km</div>
        <div class="range-content-li" data-range="3000000">所有信息</div>
      </div>
      <div class="wenwo-ul">   
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>

      <div class="no-ask-result">
        <div class="no-ask-tip">启禀陛下，没有更多信息了呢！</div>
        <div class="change-location">换个位置 去瞅瞅</div>
      </div>
    </div>
  </div>

  <!-- 这里是所有的信息列表 -->
  <div class="wenwo-content page" id="like" data-range="-1">
    <header class="bar bar-nav">
      <h1 class="title">想吃</h1>
    </header>
    <!-- 这里是想吃的信息列表 -->
    <div class="like-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul"></div>
      <div class="want-content">
        <img src="/img/food/want-empty.svg" class="empty-img" alt="">
        <div class="empty-title">没有想吃的美食？</div>
        <div class="empty-button" data-href="#find">去随便逛逛</div>

        <div class="wenwo-logo-content">
          <img src="/img/wenwo.svg" class="wenwo-logo" alt="">
          <div class="wenwo-title">
            让经验帮你赚钱
          </div>
        </div>
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>
    </div>
  </div>
  
  <div class="wenwo-content page" id="buy">
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">朕查阅的</h1>
    </header>
  <!-- 这里是购买的的信息列表 -->
    <div class="buy-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul"></div>
      <div class="want-content">
        <img src="/img/food/want-empty.svg" class="empty-img" alt="">
        <div class="empty-title">皇上，您还没有查阅任何美食</div>
        <div class="empty-button" data-href="#find">去查阅美食</div>

        <div class="wenwo-logo-content">
          <img src="/img/wenwo.svg" class="wenwo-logo" alt="">
          <div class="wenwo-title">
            让经验帮你赚钱
          </div>
        </div>
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>
    </div>
  </div>

  <div class="wenwo-content page" id="share">
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">朕分享的</h1>
    </header>
  <!-- 这里是购买的的信息列表 -->
    <div class="share-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul">
      </div>
      <div class="want-content">
        <img src="/img/food/want-empty.svg" class="empty-img" alt="">
        <div class="empty-title">皇上，您还没有分享的美食</div>
        <div class="empty-button" data-href="edit">点臣妾去分享</div>

        <div class="wenwo-logo-content">
          <img src="/img/wenwo.svg" class="wenwo-logo" alt="">
          <div class="wenwo-title">
            让经验帮你赚钱
          </div>
        </div>
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>
    </div>
  </div>

  <!-- 这里是所有的信息列表 -->
  <div class="wenwo-content page" id="me">
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">个人中心</h1>
    </header>
    <div class="content">
      <div class="detail-pic-bg">

        <i class="ui-loading-bright"></i>

        <div class="detail-pic-content" style="display:none">
          <!-- <img src="http://wx.qlogo.cn/mmopen/zngt7mjBQUdFiaKIVGQbhF3jRURfqibW3EtNPALJewxicdPAyGfyMpZkeHZIW1UXUmjEia3QicdYqickSiaywQcKBUS6GMWSEw67Rry/" alt="" class="pic-bg"> -->
          <div class="pic-bg" style='background: url("/img/head.png") center center / cover no-repeat'></div>
          <div class="bg-mask"></div>

          <div class="user-pic-content">
            <img src="/img/head.png" alt="" class="user-pic">
            <div class="user-name">饶大奇</div>
          </div>
        </div>

        <div class="list-content" style="display:none">
          <div class="list-li">
            <label class="list-li-like-num">22</label>
            <label>想吃</label>
          </div>
          <div class="list-li">
            <label class="list-li-like-share">27</label>
            <label>分享</label>
          </div>
          <div class="list-li">
            <label class="list-li-like-total">253.86</label>
            <label>总收益</label>
            <span class="icon iconfont icon-tixing"></span>
          </div>
        </div>

        <div class="list-block">
          <ul class="my-ask">
            <li class="item-content item-link" data-href="#buy">
              <div class="before-media"><i class="iconfont icon-shoppingcart"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">朕查阅的</div>
                <div class="item-after itm-buy">30</div>
              </div>
            </li>
            <li class="item-content item-link" data-href="#share">
              <div class="before-media"><i class="iconfont icon-myshare"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">朕分享的</div>
                <div class="item-after item-share">0</div>
              </div>
            </li>
            <li class="item-content item-link item-content-new" data-href="#new" style="display:none">
              <div class="before-media"><i class="iconfont icon-new"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">最新美食</div>
              </div>
            </li>
          </ul>

          <ul class="">
            <li class="item-content item-link item-share">
              <div class="before-media"><i class="iconfont icon-invite"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">邀请爱卿使用</div>
              </div>
            </li>
            <li class="item-content item-link item-message" data-href="http://form.mikecrm.com/Qg7fK7">
              <div class="before-media"><i class="iconfont icon-feedback"></i></div>
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">给小问子提意见</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-overlay modal-overlay-visible" style="display:none;"></div>
    <div class="modal modal-in model-share" style="display: none; margin-top: -72px;">
      <img class="invite-img" src="/img/invite.png">
    </div>

    <div class="modal modal-in model-tip" style="display: none; margin-top: -72px;">
      <div class="tip-content">
        <div class="tip-content-title">计费说明</div>
        <div class="tip-content-li">
          <div>1)&nbsp;&nbsp;&nbsp;收益来源于你分享的内容，你可以设定每条信息的查看价格，其他人查看，需要付费。</div>
        </div>
        <div class="tip-content-li">
          <div>2)&nbsp;&nbsp;&nbsp;收入扣除10%为收益，每天早9点自动入库微信钱包，但低于1元不入库。</div>
        </div>
        <div class="tip-content-get">朕知道了</div>
      </div>
    </div>

    <div class="wenwo-logo-content">
      <img src="/img/wenwo.svg" class="wenwo-logo" alt="">
      <div class="wenwo-title">
        让经验帮你赚钱
      </div>
    </div>
  </div>

  <nav class="bar bar-tab">
    <a class="tab-item find active" data-type="find" href="#">
      <span class="icon iconfont icon-faxian-empty"></span>
      <span class="tab-label">发现</span>
    </a>
    <a class="tab-item edit" data-type="edit" href="#">
      <!-- <span class="icon iconfont icon-bianji"></span>
      <span class="tab-label">发布</span> -->
      <img src="/img/food/send.svg" alt="" class="send-button">
    </a>
    <a class="tab-item like" data-type="like" href="#">
      <span class="icon iconfont icon-chidouren"></span>
      <span class="tab-label">想吃</span>
    </a>
  </nav>
  <div class="dialog-buy">
    <div class="modal-overlay modal-overlay-visible"></div>
    <div class="modal">
      <div class="modal-inner">
        <div class="modal-title">小问提醒</div>
        <div class="modal-text">123</div>
      </div>
      <div class="modal-buttons ">
        <span class="modal-button modal-button-cancel">取消</span>
        <span class="modal-button modal-button-bold">确定</span>
      </div>
    </div>
  </div>

  <!-- 这里是所有的最新美食列表 -->
  <div class="wenwo-content page" id='new'>
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">最新美食</h1>
    </header>
    <!-- 这里是所有的信息列表 -->
    <div class="new-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader-tip">刷新成功</div>
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul">
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>
    </div>
  </div>

  <!-- 这里是所有的最新美食列表 -->
  <div class="wenwo-content page" id='tag' data-range="3000000">
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title"></h1>

      <div class="change-sort" data-range="-1">
        <span class="iconfont icon-sortlook"></span>
        <label>距离</label>
      </div>
    </header>
    <!-- 这里是所有的信息列表 -->
    <div class="tag-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader-tip">刷新成功</div>
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul">
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>
    </div>
  </div>

  <!-- 这里是所有的美食攻略列表 -->
  <div class="wenwo-content page" id='strategy'>
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">美食专题</h1>
    </header>
    <!-- 这里是所有的信息列表 -->
    <div class="strategy-content content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">
      <!-- 默认的下拉刷新层 -->    
      <div class="pull-to-refresh-layer">
        <div class="preloader-tip">刷新成功</div>
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
      </div>
      <div class="wenwo-ul strategy-ul">
      </div>
      <div class="infinite-scroll-preloader" >
        <div class="preloader"></div>
        <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
      </div>
    </div>
  </div>
  
  <!-- 这里是所有的精选美食卡片 -->
  <div class="wenwo-content page" id='card'>
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">精选美食卡片</h1>
    </header>
    <div class="card-content content">
      <!-- Slider -->
        <div class="swiper-container" data-space-between='10' data-autoplay-disable-on-interaction='false'>
          <div class="swiper-wrapper">
          </div>
        </div>

        <div class="card-li-footer">
          <div class="card-footer-li left">
            <!-- <label class="iconfont icon-likeEat"></label> -->
            <label class="card-look-food">查看美食</label>
          </div>
          <div class="card-footer-li right card-down">
            <label class="iconfont icon-xiazai"></label>
            <div class="card-down-num">-</div>
          </div>
          <div class="card-footer-li right card-like">
            <label class="iconfont icon-guanzhu"></label>
            <div class="card-like-num">-</div>
          </div>
        </div>

      <div class="wenwo-ul card-ul">
        <img src="/img/logo-canvas.png" alt="" class="myImage" style="display:none">
      </div>
    </div>
  </div>

  <!-- 这里是所有的分类查找列表 -->
  <div class="wenwo-content page" id='tagfind'>
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <h1 class="title">分类查找</h1>
    </header>

    <div class="tag-content">
      <div class="wenwo-ul">
      </div>
    </div>
  </div>

  <canvas id="downImg" width="600" height="800" style="display:none"></canvas>

  <!-- 这里是所有的分类查找列表 -->
  <div class="wenwo-content page" id='down'>
    <div class="content downImg">
      <img class="down-img" src="">
    </div>
    <div class="down-img-dialog">
      <div class="down-img-dialog-content">
        <img src="/img/common/dialog-box-02.png" class="dialog-img" alt="">
        <div class="dialog-text">
          <p>对于吃这回事，我一向很认真的，</p>
          <p>希望你也是。</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 这里是搜索界面 -->
  <div class="wenwo-content page" id='search'>
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <div class="search-content-box">
        <input type="text" class="keyword" >
        <span class="iconfont icon-x"></span>
      </div>
      <div class="search-button">搜索</div>
    </header>
    <!-- 这里是搜索界面 -->
    <div class="search-content content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55" data-distance="100">

      <div class="wenwo-ul-content" style="display:none">
        <div class="wenwo-ul"> 
        </div>   
        <div class="infinite-scroll-preloader" >
          <div class="preloader"></div>
          <div class="ask-end" style="display:none">启禀陛下，您已经到底了。</div>
        </div>
      </div>
      <div class="keyword-content">
        <!-- <div class="keyworld-content-li">
          火锅
        </div> -->
      </div>
      <div class="search-box">
        <div class="hot-tag">
          <div class="hot-title">
            <span class="iconfont icon-fire"></span>
            <div class="hot-title-desc">热门美食</div>
          </div>
          <div class="hot-tag-content">
            <div class="hot-load">
              <div class="preloader"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 这里是搜索界面 -->
  <div class="wenwo-content page" id='slocation'>
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="#">
        <span class="icon icon-left"></span>
      </a>
      <div class="search-content-box">
        <input type="text" class="location" placeholder="输入地点，获取美食" id="location-address">
      </div>
      <div class="cancel-button">取消</div>
    </header>
    <!-- 这里是搜索界面 -->
    <div class="slocation-content">
      <div class="wenwo-ul-content">
        <div class="wenwo-ul">
        </div>
      </div>
      <div class="location-box">
        <div class="my-location location-box-li">
          <div class="hot-title">
            <span class="iconfont icon-location"></span>
            <div class="hot-title-desc">我的位置</div>
            <div class="location-line"></div>
          </div>
          <div class="my-location-content">
            <label class="location-city">正在定位...</label>
            <label class="location-detail"></label>
          </div>
        </div>

        <div class="hot-location location-box-li">
          <div class="hot-title">
            <span class="iconfont icon-fire"></span>
            <div class="hot-title-desc">热门</div>
            <div class="location-line"></div>
          </div>
          <div class="hot-location-content">
            <div class="hot-load">
              <div class="preloader"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<% include footer.ejs %>
<script type='text/javascript' src='/js/extend.js' charset='utf-8'></script>
<script type='text/javascript' src='/js/sm-extend.min.js' charset='utf-8'></script>
<!-- <script type='text/javascript' src='/js/sm.js' charset='utf-8'></script> -->
<script>
  //初始化幻灯片
  // $(function() {
  //   $(".swiper-container").swiper({
  //     speed: 400,
  //     autoplay: 3000,
  //     loop:true,
  //     autoplayDisableOnInteraction:false
  //   });
  // });


  //用户名
  var UserName = "<%= username %>";
  var CARDSWIPER;
  function initTop(){
    // var topNum = localStorage.top;
    // if(topNum){
    //   $("#"+typ+" .find-content").scrollTop(topNum);
    // }
    var findTop = localStorage.findTop;
    var likeTop = localStorage.likeTop;
    var shareTop = localStorage.shareTop;
    var buyTop = localStorage.buyTop;
    var tagTop = localStorage.tagTop;
    
    if(findTop){
      $("#find .find-content").scrollTop(findTop);
    }
    if(likeTop){
      $("#like .like-content").scrollTop(likeTop);
    }
    if(shareTop){
      $("#share .share-content").scrollTop(shareTop);
    }
    if(buyTop){
      $("#buy .buy-content").scrollTop(buyTop);
    }
    if(tagTop){
      $("#tag .tag-content").scrollTop(tagTop);
    }
  }

  // var date = new Date();
  // $(".nav-list-day .nav-icon label").text(formatDate("d",date));


  // var c = document.getElementById("myCanvas");
  // var ctx = c.getContext("2d");
  // // var img = $(".myImage")[0];
  // var img = new Image();
  // // img.setAttribute('crossOrigin', 'anonymous');
  // img.crossOrigin = "Anonymous";
  // img.src = 'http://o83np3eq2.bkt.clouddn.com/wenwo/1471255801394/苍蝇馆子.jpg';
  
  // var cwidth = c.width;
  // var cheight = c.height;
  // ctx.fillText("Hello World!",10,50);
  // // ctx.drawImage(img, 0, 0,cwidth,cheight/2);
  // img.onload = function() {
  //   ctx.drawImage(img, 0, 0,cwidth,cheight/2);
  // };

  $(".icon-xiazai").on("click",function(){


    var id = $("#card .swiper-slide-active").attr("data-id");
    var cardImg = $("#card .swiper-slide-active .card-img").attr("data-url");
    var detail = $("#card .swiper-slide-active .card-detail").text();
    var cardBy = $("#card .swiper-slide-active .card-by").text();

    console.log(detail);
    var c = document.getElementById("downImg");
    var ctx = c.getContext("2d");
    var cwidth = c.width;
    var cheight = c.height;

    ctx.fillStyle="#fffcfa";
    ctx.fillRect(0,0,cwidth,cheight);

    var img = new Image();
    img.crossOrigin = "Anonymous";
    img.src = cardImg;

    

    ctx.textAlign="left";
    ctx.font="lighter 26px Apple LiSung Light";
    fontSize = 26;
    // ctx.fillText(detail,16,220);

    var black=ctx.createLinearGradient(0,0,c.width,0);
    black.addColorStop("0","#333");
    // 用渐变填色
    ctx.fillStyle=black;

    console.log(ctx.measureText(detail).width);

    var lineheight = 36;
     function getTrueLength(str){//获取字符串的真实长度（字节长度）
            var len = str.length, truelen = 0;
            for(var x = 0; x < len; x++){
                if(str.charCodeAt(x) > 128){
                    truelen += 2;
                }else{
                    truelen += 1;
                }
            }
            return truelen;
        }
        function cutString(str, leng, cow){//按字节长度截取字符串，返回substr截取位置
            var len = str.length, tlen = len, nlen = 0;
            for(var x = 0; x < len; x++){
                if(str.charCodeAt(x) > 128){
                    if(nlen + 2 < leng){
                        nlen += 2;
                    }else{
                        tlen = x;
                        break;
                    }
                }else{
                    if(nlen + 1 < leng){
                        nlen += 1;
                    }else{
                        tlen = x;
                        break;
                    }
                }
            }
            
            return tlen;
        }
    var  cow = 0;
    for(var i = 1; getTrueLength(detail) > 0; i++){
      if(i > 2){
        break;
      }
      cow++;
      var tl = cutString(detail, 40);
      if(i == 2){
        var tl = cutString(detail, 40) - 1;
        ctx.fillText(detail.substr(0, tl).replace(/^\s+|\s+$/, "") + '...', 50, i * lineheight + cheight * 0.618 + 40);
        break;
      }
      ctx.fillText(detail.substr(0, tl).replace(/^\s+|\s+$/, ""), 50, i * lineheight + cheight * 0.618 + 40);
      detail = detail.substr(tl);
    }

    ctx.fillText(cardBy, cwidth-60-ctx.measureText(cardBy).width, (cow + 2) * lineheight + cheight * 0.618 + 30);

    //设置logo
    // var logo = new Image();
    // logo.src = $(".myImage").attr("src");
    // ctx.drawImage(logo,36,cheight-37,25,20);
    ctx.font="lighter 21px Apple LiSung Light";
    var gradient=ctx.createLinearGradient(0,0,c.width,0);
    gradient.addColorStop("0","#ccc");
    gradient.addColorStop("1.0","#eee");
    // 用渐变填色
    ctx.fillStyle=gradient;
    var wenwotitle = '来自「问我」公众号';
    ctx.fillText(wenwotitle,cwidth-10-ctx.measureText(wenwotitle).width,cheight - 20);

    img.onload = function() {

      //图片居中算法
      var imgHeight = img.naturalHeight;
      var imgWidth = img.naturalWidth;
      var canvasImgHeight = cheight * 0.618;
      var canvasImgWidth = cwidth;

      var sx = 0,
          sy = (imgHeight - imgWidth * (canvasImgHeight / (canvasImgWidth - 40)))/2,
          swidth = imgWidth - 20,
          sheight = imgWidth * (canvasImgHeight / canvasImgWidth), 
          x = 20,
          y = 20,
          width = canvasImgWidth - 40,
          height = canvasImgHeight;

      if(imgHeight / imgWidth < 1){

        cx = (imgWidth - imgHeight * ((canvasImgWidth - 40) / canvasImgHeight))/2;
        swidth = imgHeight * ((canvasImgWidth - 40) / canvasImgHeight);
        sheight = imgHeight;

        ctx.drawImage(img,cx,0,swidth,sheight,x,y,canvasImgWidth - 40,canvasImgHeight);
      }else{
        ctx.drawImage(img,0,sy,swidth,sheight,x,y,canvasImgWidth - 40,canvasImgHeight);
      }
      
      // window.location.href = c.toDataURL("image/png");
      // window.location.href = c.toDataURL("image/png").replace("image/png", "image/octet-stream");
      $(".down-img").attr("src",c.toDataURL("image/png"));

      $(".down-img-dialog").show();

      localStorage["downImg"] = c.toDataURL("image/png");
      // $(".downImg").show();
      $.router.load("#down");

      var timestamp = new Date().getTime();
      // downloadFile("wenwo"+timestamp+'.png', c.toDataURL("image/png"));

      //将人数加1
      var downNum = parseInt($(".card-down-num").text());
      downNum++;
      $(".card-down-num").text(downNum);
      var cardId = $("#card .swiper-slide-active").attr("data-id");
      addDownNum(cardId,{
        success:function(){
          console.log("success");
        },
        error:function(){

        }
      })
    };  
  })

  //浏览人数添加
  function addDownNum(cardId,callback){
    $.ajax({
      type: "POST",
      url: "/card/addDownNum",
      data: {card_id:cardId},
      dataType: "json",
      success:function(result){
        if(result.code == 200){
          callback.success(result);
        }else{
          callback.error(result);
        }
      },
      error:function(error){
        $.toast("服务器出错");
        callback.error(error);
      }
    })
  }

  function base64Img2Blob(code){
    var parts = code.split(';base64,');
    var contentType = parts[0].split(':')[1];
    var raw = window.atob(parts[1]);
    var rawLength = raw.length;

    var uInt8Array = new Uint8Array(rawLength);

    for (var i = 0; i < rawLength; ++i) {
      uInt8Array[i] = raw.charCodeAt(i);
    }

    return new Blob([uInt8Array], {type: contentType}); 
  }

  function downloadFile(fileName, content){            
    var aLink = document.createElement('a');
    var blob = base64Img2Blob(content); //new Blob([content]);
                
    var evt = document.createEvent("HTMLEvents");
    evt.initEvent("click", false, false);//initEvent 不加后两个参数在FF下会报错
    aLink.download = fileName;
    aLink.href = URL.createObjectURL(blob);
           
    aLink.dispatchEvent(evt);
  }

  $("#card .swiper-wrapper").bind("touchend",function(){
    setTimeout(function(){
      var cardId = $("#card .swiper-slide-active").attr("data-id");
      var likeNum = $("#card .swiper-slide-active").attr("data-like-num");
      var downNum = $("#card .swiper-slide-active").attr("data-down-num");
      var liked = $("#card .swiper-slide-active").attr("data-liked");
      $(".card-li-footer").attr("data-cardId",cardId);
      $(".card-down-num").text(downNum);
      $(".card-like-num").text(likeNum);
      if(liked == "1"){
        $(".card-like").addClass("card-liked");
      }else{
        $(".card-like").removeClass("card-liked");
      }
    }, 100);
  })

  var likeTimer;

  //卡片点击想吃逻辑
  $(".card-like").on("click", function() {

      clearTimeout(likeTimer);
      //获取点击后的id
      var askId = $("#card .swiper-slide-active").attr("data-askid");
      var num = $(".card-like-num").text();
      //获取是否是已想吃
      if ($(this).hasClass("card-liked")) {
          //已经是想吃的    取消想吃
          num = parseInt(num) - 1;
          $(".card-like-num").text(num);
          $(".card-like").removeClass("card-liked");

        likeTimer = setTimeout(function(){
          cancelLike(UserName, askId, this, {
              success: function(result, $_this) {
                  if (result.code == 200) {

                  } else if(result.code == 400){

                  } else {
                      num++;
                      $(".card-like-num").text(num);
                      $(".card-like").addClass("card-liked");
                  }
              },
              error: function(error, $_this) {
                  num++;
                  $(".card-like-num").text(num);
                  $(".card-like").addClass("card-liked");
              }
          });
        }, 500);
      } else {
          //想吃
          num = parseInt(num) + 1;
          $(".card-like-num").text(num);
          $(".card-like").addClass("card-liked");

        likeTimer = setTimeout(function(){
          like(UserName, askId, this, {
              success: function(result, $_this) {
                  console.log(result);
                  if (result.code == 200) {} else if(result.code == 400){

                  } else {
                      num--;
                      $(".card-like-num").text(num);
                      $(".card-like").removeClass("card-liked");
                  }
              },
              error: function(error, $_this) {
                  console.log(error);
                  num--;
                   $(".card-like-num").text(num);
                  $(".card-like").removeClass("card-liked");
              }
          });
        }, 500);
      }
  })

  $(".downImg").on("click",function(){
    $.router.back();
  });

</script>
<script type='text/javascript' src='/js/newfood.js' charset='utf-8'></script>
</html>