<!DOCTYPE HTML>
<html>
  <head>
  <meta charset='utf-8'>
    <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'> -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name='description', content='wenwo,问我,当地人,旅游,攻略,信息,分享'>
    <meta name='author', content='raodqi'>
    <link rel="icon" type="image/x-icon" href="/img/logo.png" media="screen">
    <title>问我——像个当地人一样去旅游</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1460642378_2807734.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script> 
  </head>
  <style>
    body{
      padding:0;
      margin:0;
    }
    .type-item{
      display: inline-block;
      padding: 0 8px;
      /*color: #FFC222;*/
      background-color: #FFDC7F;
      height: 20px;
      line-height: 22px;
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      margin: 0 .5rem .2rem 0;
      border-radius: 3px;
    }
    .next{
      float: right;
    }
    .theme-ul{
      text-align: center;
    }
    .theme-li{
      display: inline-block;
      text-align: center;
      margin: 10px;
      width: 100px;
      height: 100px;
      line-height: 100px;
      border-radius: 50%;
      border:1px solid #FFC222;
    }
    .theme-li.active{
      background-color: #FFC222;
      color:white;
    }
    .recommend-reason,.tag-content,.result-detail,.add-content,.price-content{
      padding: 10px;
    }
    #reason,#detail{
      width: 100%;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      border: 1px solid #ccc;
      min-height: 100px;
      resize:none;
      border-radius:3px;
      padding:5px 10px;
    }
    #detail{
      min-height: 300px;
    }
    .ww-typeHelper,.add-search {
        position: relative;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        display: block;
        color: #555;
        vertical-align: middle;
        border-radius: 3px;
        max-width: 100%;
        cursor: text;
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
        padding: 6px 12px;
    }
    .ww-typeHelper-input,.search-input{
        border: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        text-transform: lowercase;
        width: 6rem;
        max-width: 100%;
    }
    .techTags {
        /*display: none;*/
        width: 100%;
        padding: 6px 12px;
        margin-bottom: 21px;
        /*background-color: #fff;*/
        /*border: 1px solid transparent;*/
        border-radius: 3px;
        /*box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
        padding-bottom: 21px;
        margin-top: 1px;
    }
    .hidden-content{
      margin-top: 10px;
      text-align: center;
    }
    .hidden-content .button{
      width: 100px;
      margin: 0 auto;
      height: 30px;
      line-height: 30px;
    }
    .hidden-text{
      color: red;
    }
    .theme-content-block{
      text-align: center;
    }
    .theme-content{
      text-align: center;
      margin: 20px auto;
      width: 100px;
      height: 100px;
      line-height: 100px;
      border-radius: 50%;
      border: 1px solid #FFC222;
      display: inline-block;
    }
    .search-input{
      width: 100%;
    }
    #container{
      width: 100%;
      height: 400px;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    .amap-sug-result{
      z-index: 9999;
    }
    .list-block{
      background: white;
    }
    .right-icon{
      float: right;
    }
    #price-picker{
    }
    .theme-hidden{
      display: none;
    }
    .card-cover{
      height:300px;
    }
    .container-hidden{
      position: absolute;
      z-index: 100;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
    }
    .send-button{
      margin-top: 50px;
      background: none;
    }
  }
  </style>
  <body>
    <div class="page page-current" id='router'>
      <div class="content">
        <div class="theme-content-block">
          <!-- <ul>
            <li><a href="/docs-demos/router2">ajax加载新页面</a></li>
            <li><a href="#router3">内联的新页面</a></li>
          </ul> -->
           <!-- <div class="content-block-title">主题</div>
            <div class="card" data-href="router1">
              <div class="card-content">
                <div class="list-block">
                  <ul>
                    <li>
                      <a class="item-link item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">吃</div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div> -->
              <div class="card theme-content theme1" data-type="" data-href="router1">
                吃
              </div>
              <div class="card theme-content theme2 theme-hidden" data-type="" data-href="router1">
                吃
              </div>
            </div>

           <div class="card" id="tag-content" data-href="router2">
              <div class="card-header">标签</div>
              <div class="card-content">
                <div class="card-content-inner">
                  <span class="type-item">火锅</span>
                  <span class="type-item">冒菜</span>
                </div>
              </div>
            </div>

            <div class="card" id="reason-content" data-href="router3">
              <div class="card-header">推荐理由</div>
              <div class="card-content">
                <div class="card-content-inner">
                  这个真的很不错，我经常去。
                </div>
              </div>
            </div>

            <div class="card" id="detail-content" data-href="router4">
              <div class="card-header">详情</div>
              <div class="card-content">
                <div class="card-content-inner">
                  这个真的很不错，我经常去。
                </div>
              </div>
            </div>

             <div class="content-block-title">地图标注</div>
              <div class="card demo-card-header-pic" data-href="router5">
                <div valign="bottom" class="card-header color-white no-border no-padding">
                  <!-- <img class='card-cover' src="/img/map.png" alt=""> -->
                  <div class="container-hidden"></div>
                  <div class='card-cover' id="container-show"></div>
                </div>
                <!-- <div class="card-content">
                  <div class="card-content-inner">
                    <p>成都信息工程大学</p>
                  </div>
                </div> -->
              </div>

              <div class="card" id="price-content" data-href="router6">
                <div class="card-header">价格</div>
                <div class="card-content">
                  <div class="card-content-inner">￥0.2</div>
                </div>
              </div>
            
              <div class="card">
                <div class="send-button">
                  <a href="#" class="button button-big button-fill button-success send-button-a">提交</a>
                </div>
              </div>
            

        </div>
      </div>
    </div>
    <!-- 主题筛选 -->
    <div class="page" id='router1'>
      <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a>
        <a class="button button-link button-nav pull-right next" href="#router2">
          下一项
          <span class="icon icon-right"></span>
        </a>
        <h1 class='title'>主题</h1>
      </header>
      <div class="content">
        <div class="content-block">
          <div class="theme-ul">
            <div class="theme-li active" id="theme1" data-type="1">吃</div>
            <div class="theme-li" id="theme2" data-type="2">住</div>
            <div class="theme-li" id="theme3" data-type="3">购</div>
            <div class="theme-li" id="theme4" data-type="4">行</div>
            <div class="theme-li" id="theme5" data-type="5">防坑</div>
            <div class="theme-li" id="theme6" data-type="6">游玩</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 标签填写 -->
    <div class="page" id='router2'>
      <header class="bar bar-nav">
        <!-- <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a> -->
        <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a>
        <a class="button button-link button-nav pull-right next" href="#router3">
          下一项
          <span class="icon icon-right"></span>
        </a>
        <h1 class='title'>标签</h1>
      </header>
      <div class="content">
        <div class="tag-content">
          <!-- <textarea name="tag" id="tag"></textarea> -->
          <div class="ww-typeHelper">
            <input type="text" data-role="ww_typeHelper-input" class="ww-typeHelper-input" placeholder="标签，如：php 可使用逗号,分号;" style="width: 20em;">          
          </div>
          <div role="tabpanel" class="techTags panel-default techTags-panel" data-tech="">
            <div class="tag-ul">
              <div class="tag-li eat-ul">
                <span class="type-item">火锅</span>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- 推荐理由填写 -->
    <div class="page" id='router3'>
      <header class="bar bar-nav">
        <!-- <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a> -->
        <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a>
        <a class="button button-link button-nav pull-right next" href="#router4">
          下一项
          <span class="icon icon-right"></span>
        </a>
        <h1 class='title'>推荐理由</h1>
      </header>
      <div class="content">
        <div class="recommend-reason">
          <textarea name="reason" id="reason" placeholder="用一段简洁的话描述你的推荐的理由"></textarea>
        </div>
      </div>
    </div>
    <!-- 信息详情填写 -->
    <div class="page" id='router4'>
      <header class="bar bar-nav">
        <!-- <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a> -->
        <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a>
        <a class="button button-link button-nav pull-right next" href="#router5">
          下一项
          <span class="icon icon-right"></span>
        </a>
        <h1 class='title'>信息详情</h1>
      </header>
      <div class="content">
        <div class="hidden-content row">
        <div class="col-50"><a href="#" class="button  button-fill button-success button-start">隐藏开始</a></div>
          <div class="col-50"><a href="#" class="button  button-fill button-success button-end">隐藏结束</a></div>
        </div>
        <div class="result-detail">
          <textarea name="detail" id="detail" placeholder="1.描述你分享的信息的详细情况

2.分享的内容默认是显示的

3.隐藏的内容通过“##隐藏内容##”方式隐藏"></textarea>
        <div class="de-show"></div>

        </div>
        
      </div>
    </div>
    <!-- 地点标注 -->
     <div class="page" id='router5'>
      <header class="bar bar-nav">
        <!-- <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a> -->
        <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a>
        <a class="button button-link button-nav pull-right next" href="#router6">
          下一项
          <span class="icon icon-right"></span>
        </a>
        <h1 class='title'>地点标注</h1>
      </header>
      <div class="content">
        <div class="add-content">
          <div class="add-search">
            <input type="text" class="search-input" id="address" name="address" placeholder="请输入你要标注的地址">          
          </div>
          <div id="container"></div>
        </div>
      </div>
    </div>
    <!-- 价格填写 -->
     <div class="page" id='router6'>
      <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
          <span class="icon icon-left"></span>
          返回
        </a>
        <a class="button button-link button-nav pull-right next" href="#router">
          返回主页
          <span class="icon icon-right"></span>
        </a>
        <h1 class='title'>价格</h1>
      </header>
      <div class="content">
        <div class="price-content">
          <!-- ￥<input type="text" id='price-picker' value="0.00" /> -->、
          <div class="list-block">
            <div class="item-content">
              <div class="item-inner">
              <div class="item-title label">价格<div class="right-icon">￥</div></div>
                <div class="item-input">
                  <input type="text" id='price-picker' value="0 . 0 0" />          
                </div>
              </div>
            </div>
          </div>

          <div class="send-button">
            <a href="#" class="button button-big button-fill button-success send-button-a">提交</a>
          </div>
        </div>
      </div>
    </div>  
  </body>
  <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script>

    // //地点显示
    // mapShow = new AMap.Map('container-show', {
    //     // resizeEnable: true,
    //     // zoomEnable:false,
    //     // dragEnable:false
    //     resizeEnable: true
    // });
    // mapShow.plugin('AMap.Geolocation', function() {
    //     geolocation = new AMap.Geolocation({
    //         enableHighAccuracy: true,//是否使用高精度定位，默认:true
    //         timeout: 10000,          //超过10秒后停止定位，默认：无穷大
    //         zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
    //     });
    //     geolocation.getCurrentPosition();
    //     AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
    //     AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
    // });

    // //解析定位结果
    // function onComplete(data) {
    //     console.log("定位成功");
    //     var str=['定位成功'];
    //     str.push('经度：' + data.position.getLng());
    //     str.push('纬度：' + data.position.getLat());
    //     str.push('精度：' + data.accuracy + ' 米');
    //     str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));

    //     // mapShow = new AMap.Map('container-show', {
    //     //     resizeEnable: true,
    //     //     center:[data.position.getLng(),data.position.getLat()],
    //     //     zoom:20
    //     // });
    // }
    // //解析定位错误信息
    // function onError(data) {
    //     console.log("定位失败");
    // }



    //初始化localStorage数据
    function initLocationData(){
      //初始化主题类型
      if(localStorage.type){
        var type = localStorage.type.split(",");
        console.log(type);
        if(type.length == 1){
          $(".theme-ul .theme-li").removeClass("active");
          $("#theme"+type[0]).addClass("active");
          $(".theme1").attr("data-type",$("#theme"+type[0]).attr("data-type"));
          $(".theme1").text($("#theme"+type[0]).text());
          $(".theme2").addClass("theme-hidden");
        }else{
          $(".theme-ul .theme-li").removeClass("active");
          $("#theme"+type[0]).addClass("active");
          $("#theme"+type[1]).addClass("active");
          $(".theme1").attr("data-type",$("#theme"+type[0]).attr("data-type"));
          $(".theme1").text($("#theme"+type[0]).text());
          $(".theme2").attr("data-type",$("#theme"+type[1]).attr("data-type"));
          $(".theme2").text($("#theme"+type[1]).text());
          $(".theme2").removeClass("theme-hidden");
        }
      }

      //初始化标签
      console.log(localStorage.tag);
      if(localStorage.tag){
        tag = JSON.parse(localStorage.tag);
        console.log(tag);
        var spanContent = '';
        for(var i in tag){
          console.log(tag[i]);
          var spanContent = spanContent + '<span class="type-item">'+tag[i]+'</span>';
        }
        $(".ww-typeHelper-input").before(spanContent);
        $("#tag-content .card-content-inner").append(spanContent);
      }

      //初始化推荐理由
      console.log(localStorage.reason);
      if(localStorage.reason){
        $("#reason").val(localStorage.reason);
        $("#reason-content .card-content-inner").text(localStorage.reason);
      }

      //初始化信息详情
      console.log(localStorage.detail);
      if(localStorage.detail){
        $("#detail").val(localStorage.detail);
        $("#detail-content .card-content-inner").text(localStorage.detail);
      }

      //初始化地址信息
      if(localStorage.address){
        $("#address").val(localStorage.address);
      }
      //初始化坐标信息
      console.log(localStorage.lng);
      console.log(localStorage.lat);
      if(localStorage.lng && localStorage.lat){
        $("#container").attr("data-lng",localStorage.lng);
        $("#container").attr("data-lat",localStorage.lat);

        //详情地点显示
        map = new AMap.Map('container', {
          resizeEnable: true,
          zoom:15,
          center: [localStorage.lng,localStorage.lat],
          buttonOffset: new AMap.Pixel(60, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
          zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
          buttonPosition:'LB'
        });
        // var marker = new AMap.Marker({
        //   map : map,
        //   tagName:"火锅;超辣的",
        //   askReason:"味道真的不错",
        //   askContentShow:"这里的味道真的不错",
        //   price:0.2,
        //   createBy:"hanqi",
        //   createAt:"2016-04-19",
        //   zoom:15,
        //   center: [localStorage.lng,localStorage.lat],
        //   position: [localStorage.lng,localStorage.lat],
        //   draggable: true,
        //   cursor: 'move',
        //   raiseOnDrag: true,
        //   clickable:true
        // });

        mapShow = new AMap.Map('container-show', {
          resizeEnable: true,
          zoom:15,
          center: [localStorage.lng,localStorage.lat]
        });

        var marker = new AMap.Marker({
          map : map,
          position: [localStorage.lng,localStorage.lat],
          draggable: true,
          cursor: 'move',
          raiseOnDrag: true,
          clickable:true
        });

        var markerShow = new AMap.Marker({
          map : mapShow,
          position: [localStorage.lng,localStorage.lat],
          draggable: true,
          cursor: 'move',
          raiseOnDrag: true,
          clickable:true
        });

         marker.setMap(map);
         markerShow.setMap(mapShow);
      }else{
        //地点显示
        mapShow = new AMap.Map('container-show', {
            // resizeEnable: true,
            // zoomEnable:false,
            // dragEnable:false
            resizeEnable: true
        });
        mapShow.plugin('AMap.Geolocation', function() {
            geolocation = new AMap.Geolocation({
                enableHighAccuracy: true,//是否使用高精度定位，默认:true
                timeout: 10000,          //超过10秒后停止定位，默认：无穷大
                zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            });
            geolocation.getCurrentPosition();
            AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
            AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
        });

        //解析定位结果
        function onComplete(data) {
            console.log("定位成功");
            var str=['定位成功'];
            str.push('经度：' + data.position.getLng());
            str.push('纬度：' + data.position.getLat());
            str.push('精度：' + data.accuracy + ' 米');
            str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));

            // mapShow = new AMap.Map('container-show', {
            //     resizeEnable: true,
            //     center:[data.position.getLng(),data.position.getLat()],
            //     zoom:20
            // });
        }
        //解析定位错误信息
        function onError(data) {
            console.log("定位失败");
        }
      }

      //初始化价格信息
      console.log(localStorage.price);
      if(localStorage.price){
        $("#price-picker").val(localStorage.price);
        $("#price-content .card-content-inner").text("￥ "+localStorage.price);
      }
    }
    initLocationData();
  </script>
  <script>
    $(".card").on("click",function(){
      var href = $(this).data("href");
      if(href){
        $.router.load("#"+href);
      }
      
    })

    //选择主题
    $(".theme-ul .theme-li").on("click",function(){
      // $(".theme-li").removeClass("active-first");
      // // console.log($(".active").length);
      // $(this).addClass("active-first");
      if($(this).hasClass("active")){
        $(this).removeClass("active");
        $(".theme1").attr("data-type",$("#"+$(".theme-li.active")[0].id).attr("data-type"));
        $(".theme1").text($("#"+$(".theme-li.active")[0].id).text());
        $(".theme2").addClass("theme-hidden");
      }else{
        // $(this).addClass("active");
        if($(".active").length < 2){
          // $(".theme-li.active-first").removeClass("active");
          $(".theme1").attr("data-type",$(this).attr("data-type"));
          $(".theme1").text($(this).text());
          $(this).addClass("active");
          $(".theme2").addClass("theme-hidden");
          if($(".active").length == 2){
            console.log($(".theme-li.active"));
            // $(".theme1").attr("data-type")
            // $(".theme1").attr("data-type",$(this).attr("data-type"));
            // $(".theme1").text($(this).attr("data-text"));
            $(".theme1").attr("data-type",$("#"+$(".theme-li.active")[0].id).attr("data-type"));
            $(".theme1").text($("#"+$(".theme-li.active")[0].id).text());
            $(".theme2").attr("data-type",$("#"+$(".theme-li.active")[1].id).attr("data-type"));
            $(".theme2").text($("#"+$(".theme-li.active")[1].id).text());
            $(".theme2").removeClass("theme-hidden");
          }

        }else{
          $.alert("最多只能选择两个主题");
        }
      }
      // console.log($(".active").length);
      // if($(".active").length == 3){
      //   // $(".theme-li.active-first").removeClass("active");
      // }

        //获取主题
        var $_active = $(".theme-li.active");
        if(!$_active.length){

        }else{
          if($_active.length == 1){
            var type = $(".theme-li.active").attr("data-type");
          }else{
            var type = $("#"+$(".theme-li.active")[0].id).attr("data-type") + ","+$("#"+$(".theme-li.active")[1].id).attr("data-type");
          }
          localStorage["type"] = type;
        }
    })

    function setlocalStorageTag(){
      //获取填写的tag
        var $_tag = $(".ww-typeHelper .type-item");
        var tag = {};
        if(!$_tag.length){
          localStorage["tag"] = '';
        }else{
          $.each($_tag,function(i,v){
            tag[i] = $(this).text();
          })
          tag = JSON.stringify(tag);
          localStorage["tag"] = tag;
        }
    }
    //在输入框内添加标签
    $(".ww-typeHelper-input").on("input change",function(){
      console.log($(this).val());
      var text = $(this).val();
      if(text.indexOf(";")!=-1 || text.indexOf("；")!=-1 || text.indexOf(",")!=-1 || text.indexOf("，")!=-1){
        var text = text.substr(0,text.length-1);
        console.log(text);
        var span = '<span class="type-item">'+text+'</span>';
        $(this).before(span);
        $(this).val('');
        $("#tag-content .card-content-inner").append(span);
        setlocalStorageTag();
      }

    })

    //点击二级标签删除主页二级标签
    $(".ww-typeHelper").on("click",".type-item",function(){
      $(this).remove();
      var $_this = $(this);
      var span = '<span class="type-item">'+ $(this).text()+'</span>';
      $(".tag-li").append(span);
      $.each($("#tag-content .type-item"),function(i,v){
        console.log($(v).text());
        if($(v).text() == $_this.text()){
          $(v).remove();
        }
      })
      //获取填写的tag
      setlocalStorageTag();
    })
    //点击默认标签添加标签
    $(".tag-ul").on("click",".type-item",function(){
      var span = '<span class="type-item">'+ $(this).text()+'</span>';
      $(this).remove();
      $(".ww-typeHelper-input").before(span);
      $("#tag-content .card-content-inner").append(span);
      //获取填写的tag
      setlocalStorageTag();
    })

    //推荐理由输入后显示到主页
    $("#reason").on("input change",function(){
      $("#reason-content .card-content-inner").text($(this).val());
      localStorage["reason"] = $(this).val();
    })


    $(".button-start,.button-end").on("click",function(){
      var text = $("#detail").val();
      $("#detail").val(text+"##");
      $("#detail-content .card-content-inner").text($("#detail").val());
      localStorage["detail"] = $("#detail").val();
    })

    function getHideText(){
      var text = $("#detail").val();
      // console.log(text.indexOf("##"));
      var str = {};
      str = text.split("##");
      var show = '';
      var hidden = '';
      for(var i = 0; i < str.length; i++){
        if(i%2){
          hidden += str[i]+"##";
        }else{
          if( i == str.length-1){
            show += str[i];
          }else{
            show += str[i]+"##";
          }
          
        }
      }
      var textDetail = {
        show:show,
        hidden:hidden
      }
      return(textDetail);
    }

    //详情输入后显示到主页
    $("#detail").on("input change",function(){
      var text = $("#detail").val();

      //显示到主页
      $("#detail-content .card-content-inner").text(text);

      var str = {};
      str = text.split("##");
      var show = '';
      var hidden = '';
      var detail = ''
      for(var i = 0; i < str.length; i++){
        if(i%2){
          var starLen = ''
          for(var j = 0; j < str[i].length; j++){
            starLen += '*';
          }
          detail += '<span class="hidden-text">'+starLen+'</span>';
        }else{
          detail += str[i];
        }
      }
      $(".de-show").empty();
      $(".de-show").append(detail);
      localStorage["detail"] = $("#detail").val();
    })

    //更换价格的时候调用
    $("#price-picker").on("input change",function(){
      console.log($(this).val());
      $("#price-content .card-content-inner").text("￥ "+$(this).val());
      localStorage["price"] = $(this).val();
    })


    //提交所有信息
    $(".send-button-a").on("click",function(){
        var type,//主题类型
            tag = [],//二级标签
            reason,//推荐理由
            content_show,//详情显示部分
            content_hide,//详情隐藏部分
            lng,//经度
            lat,//维度
            isfree = 1,//是否是免费信息
            price;//信息价格

        //获取主题
        var $_active = $(".theme-li.active");
        if(!$_active.length){
          $.alert("你还没有选择主题");
          // $.router.load("#router1");
          return;
        }else{
          if($_active.length == 1){
            var type = $(".theme-li.active").attr("data-type");
          }else{
            var type = $("#"+$(".theme-li.active")[0].id).attr("data-type") + ","+$("#"+$(".theme-li.active")[1].id).attr("data-type");
          }
          console.log(type);
        }

        //获取填写的tag
        var $_tag = $(".ww-typeHelper .type-item");
        if(!$_tag.length){
          $.alert("你还没有填写标签");
           return;
        }else{
          $.each($_tag,function(i,v){
            tag[i] = $(this).text();
          })
          tag = JSON.stringify(tag);
        }

        //获取推荐理由
        var reason = $("#reason").val();
        if(!reason){
          $.alert("你还没有填写推荐理由");
          return;
        }

        //获取详情
        var detail = $("#detail").val();
        if(!detail){
          $.alert("你还没有填写信息详情");
          return;
        }else{
          var detailContent = getHideText();
          console.log(detailContent);
          content_show = detailContent.show;
          content_hide = detailContent.hidden;
        }

        //获取标注位置的经纬度
        lng = $("#container").attr("data-lng");
        lat = $("#container").attr("data-lat");
        if(!lng || !lat){
          $.alert("你还没有添加地图标注");
          return;
        }

        //获取信息价格
        price = $("#price-picker").val();
        console.log(price);
        if(price == "0 . 0 0"){
          isfree = 1;
        }else{
          isfree = 0;
        }
        var data = {
          username     : "hanqi",
          type         : type,
          tag          : tag,
          reason       : reason,
          content_show : content_show,
          content_hide : content_hide,
          position     : $("#address").val(),
          geo_x        : lng,
          geo_y        : lat,
          isfree       : isfree,
          price        : price
        }
        console.log(data);
        // return ;
        //发送请求 url：/ask/sendask
        $.showPreloader("正在提交");
        $.ajax({
          type : "POST",
          data: data,
          dataType: "json",
          url : "/ask/sendask",
          success : function(result){
            console.log(result);
            if(result.code){
              $.hidePreloader();
              $.toast("提交成功");
            }else{
              $.hidePreloader();
              $.toast(result.message);
            }
          },
          error: function(error){
            // alert(error);
            $.alert(error);
          }
        });

    })

    //sui框架picker引用（价格选择）
    $("#price-picker").picker({
      toolbarTemplate: '<header class="bar bar-nav">\
      <button class="button button-link pull-right close-picker">确定</button>\
      <h1 class="title">请设置出售价格</h1>\
      </header>',
      rotateEffect:true,
      cols: [
        {
          textAlign: 'center',
          values: ['0']
          //如果你希望显示文案和实际值不同，可以在这里加一个displayValues: [.....]
        },
        {
          textAlign: 'center',
          values: ['.']
        },
        {
          textAlign: 'center',
          values: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
        },
        {
          textAlign: 'center',
          values: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
        }
      ]
    });

    // //地点显示
    // mapShow = new AMap.Map('container-show', {
    //     // resizeEnable: true,
    //     // zoomEnable:false,
    //     // dragEnable:false
    //     resizeEnable: true
    // });
    // mapShow.plugin('AMap.Geolocation', function() {
    //     geolocation = new AMap.Geolocation({
    //         enableHighAccuracy: true,//是否使用高精度定位，默认:true
    //         timeout: 10000,          //超过10秒后停止定位，默认：无穷大
    //         zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
    //     });
    //     geolocation.getCurrentPosition();
    //     AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
    //     AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
    // });

    // //解析定位结果
    // function onComplete(data) {
    //     console.log("定位成功");
    //     var str=['定位成功'];
    //     str.push('经度：' + data.position.getLng());
    //     str.push('纬度：' + data.position.getLat());
    //     str.push('精度：' + data.accuracy + ' 米');
    //     str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));

    //     // mapShow = new AMap.Map('container-show', {
    //     //     resizeEnable: true,
    //     //     center:[data.position.getLng(),data.position.getLat()],
    //     //     zoom:20
    //     // });
    // }
    // //解析定位错误信息
    // function onError(data) {
    //     console.log("定位失败");
    // }

    //输入框填写的地址内容
    $("#address").on("input change",function(){
      localStorage["address"] = $(this).val();
    })

    //地点标注搜索
    AMap.plugin(['AMap.Autocomplete','AMap.PlaceSearch'],function(){
      var autoOptions = {
        input: "address"//使用联想输入的input的id
      };
      autocomplete= new AMap.Autocomplete(autoOptions);
      var placeSearch = new AMap.PlaceSearch({
            map:map
      })
      AMap.event.addListener(autocomplete, "select", function(e){
         //TODO 针对选中的poi实现自己的功能
         console.log(e);
         placeSearch.search(e.poi.name)
      });

      var placeSearchShow = new AMap.PlaceSearch({
            map:mapShow
      })
      AMap.event.addListener(autocomplete, "select", function(e){
         //TODO 针对选中的poi实现自己的功能
         console.log(e);
         placeSearchShow.search(e.poi.name)
      });
    });


    //点击标注
    map.on('click', function(e) {

      //clear all markers
      map.clearMap();
      mapShow.clearMap();

      console.log('您在[ '+e.lnglat.getLng()+','+e.lnglat.getLat()+' ]的位置点击了地图！');
        // alert('您在[ '+e.lnglat.getLng()+','+e.lnglat.getLat()+' ]的位置点击了地图！');
      var icon = new AMap.Icon({
          // image : 'http://vdata.amap.com/icons/b18/1/2.png',//24px*24px
          //icon可缺省，缺省时为默认的蓝色水滴图标，
          // size : new AMap.Size(24,24)
      });
      // var marker = new AMap.Marker({
      //         icon : icon,//24px*24px
      //         offset : new AMap.Pixel(e.lnglat.getLat(),e.lnglat.getLng()),
      //         map : map
      // });
      var marker = new AMap.Marker({
        icon : icon,//24px*24px
        map : map,
        tagName:"火锅;超辣的",
        askReason:"味道真的不错",
        askContentShow:"这里的味道真的不错",
        price:0.2,
        createBy:"hanqi",
        createAt:"2016-04-19",
        position: [e.lnglat.getLng(),e.lnglat.getLat()],
        draggable: true,
        cursor: 'move',
        raiseOnDrag: true,
        clickable:true
      });

      var markerShow = new AMap.Marker({
        icon : icon,//24px*24px
        map : mapShow,
        position: [e.lnglat.getLng(),e.lnglat.getLat()],
        draggable: true,
        cursor: 'move',
        raiseOnDrag: true,
        clickable:true
      });

      localStorage["lng"] = e.lnglat.getLng();
      localStorage["lat"] = e.lnglat.getLat();

      $("#container").attr("data-lng",e.lnglat.getLng());
      $("#container").attr("data-lat",e.lnglat.getLat());
      //拖动标注后回调的坐标
       marker.on("dragend",function(){
        console.log(this.getPosition());
        var lat = this.getPosition().lat;
        var lng = this.getPosition().lng;
        $("#container").attr("data-lng",lng);
        $("#container").attr("data-lat",lat);

        localStorage["lng"] = lng;
        localStorage["lat"] = lat;

        mapShow.clearMap();
        var markerShow = new AMap.Marker({
          icon : icon,//24px*24px
          map : mapShow,
          position: [lng,lat],
          draggable: true,
          cursor: 'move',
          raiseOnDrag: true,
          clickable:true
        });
      })
      marker.setMap(map);
      markerShow.setMap(mapShow);
    });
    /*
    相比来说这家鱼火锅是我吃过味道比较好的一家，在##成都信息工程大学北三街##，人均消费20多的样子，可以吃到很饱，素菜是免费的。
    */

  </script>
</html>
