<!DOCTYPE HTML>
<html>
<head>
    <title>Test</title>
</head>
<body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script>
    test();
    function test() {


//        $.ajax({
//            type: "get",
//            url: 'user/regist',
//            data: {password:'123', username: 'hanqi123'},
//            dataType: "json",
//            success : function(result) {
//                console.log(result);
//            },
//            error : function(){}
//        });
//        $.ajax({
//            type: "post",
//            url: 'user/login',
//            data: {password:'123', username: 'hanqi'},
//            dataType: "json",
//            success : function(result) {
//                console.log(result);
//            },
//            error : function(){}
//        });
        var geo = [-500, 500];
        var tag = new Array();
        tag[0] = {
            tag_name:'123'
        }
        tag[1] = {
            tag_name:'123124125'
        }

        tag = JSON.stringify(tag);
        var data = {
            username:'hanqi',
            type:1,
            //isfree:0,
            geo_x:123,
            geo_y:456,
            position:'asd',
            reason:'asd',
            content_show:'asd',
            content_hide:'asd',
            price:0,
            tag:tag,
            remark:'asd'

        }
        console.log(data);
        $.ajax({
            type: "post",
            url: 'ask/sendask',
            data: data,
            dataType: "json",
            success : function(result) {
                console.log(result);
            },
            error : function(){}
        });

//        $.ajax({
//            type: "get",
//            url: 'user/regist',
//            data: {username:'test', password:'123'},
//            dataType: "json",
//            success : function(result) {
//                console.log(result);
//            },
//            error : function(){}
//        });
//        $.ajax({
//            type: "post",
//            url: 'hode/haved',
//            data: {username:'test', staus:1},
//            dataType: "json",
//            success : function(result) {
//                console.log(result);
//            },
//            error : function(){}
//        });
//        $.ajax({
//            type: "post",
//            url: 'hode/get',
//            data: {username:'test', ask_id:"571625c98ac2470062617a92", staus:1},
//            dataType: "json",
//            success : function(result) {
//                console.log(result);
//            },
//            error : function(){}
//        });
//        $.ajax({
//            type: "post",
//            url: 'hode/refund',
//            data: {username:'test', ask_id:'571625c98ac2470062617a92'},
//            dataType: "json",
//            success : function(result) {
//                console.log(result);
//            },
//            error : function(){}
//        });
//        $.ajax({
//            type: "get",
//            url: 'ask/like',
//            data: {username:'test', ask_id:'5718d32bebcb7d005cc07a2b', type:1},
//            dataType: "json",
//            success : function(result) {
//                console.log(result);
//            },
//            error : function(){}
//        });

    }
</script>
</body>
</html>
