 @font-face {font-family: 'webfont';
      src: url('//at.alicdn.com/t/vlddunszd2pousor.eot'); /* IE9*/
      src: url('//at.alicdn.com/t/vlddunszd2pousor.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('//at.alicdn.com/t/vlddunszd2pousor.woff') format('woff'), /* chrome、firefox */
      url('//at.alicdn.com/t/vlddunszd2pousor.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/vlddunszd2pousor.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
    }
    html{
      font-size: 20px;
      width: 100%;
      height: 100%;
    }
    body{
      position: absolute;
      left: 0;
      right: 0 !important;
      padding:0;
      margin:0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #E8E8E8;
    }
    .title{
      font-weight: bold;
      font-family: 'webfont';
    }
    .detail-pic-bg,.bg-mask{
      height: 14rem;
      width: 100%;
      /*background: #fff;*/
      position: absolute;
    }
    .bg-mask{
      background: rgba(51,51,51,0.7);
    }
    .pic-bg{
      display: block;
      position: absolute;
      /*width: 6rem;*/
      /*height: 100%;*/
      /*margin-top: 2rem;
      margin-left: 50%;
      transform: translateX(-50%);*/
      width: 100%;
      height: 100%;
      background-origin: center center;
    }
    .username-content{
      position: absolute;
      bottom:3rem;
      padding-left: .7rem;
      font-size: 1rem;
      color: white;
    }
    .like,.buy{
      position: absolute;
      border-radius: 0.2rem;
      /*height: 1.5rem;*/
      bottom:1rem;
      text-align: center;
      font-size: 0.7rem;
    }
    .like{
      background: #FFF;
      padding:5px 10px;
      margin-left: .7rem;
      color: rgb(153, 153, 153);
      width: 3.5rem;
      border-radius: 3px;
      border: 1px solid #E2E2E2;
      padding: 0.1rem 0.6rem;
      display: inline-block;
      color: #666;
      font-weight: bold;
      font-size: 0.7rem;
    }
    .buy{
      background: #1ccda6;
      padding:5px 10px;
      margin-left: 4.6rem;
      color: #FFF;
    }
    .like-num{
      padding-left: 7px;
    }
    .ask-detail{
      margin-top: 14.5rem;
    }
    .ask-detail-li{
      padding:0.3rem;
    }
    .detail-li-title{
      box-sizing: border-box;
      padding:0.3rem 0.5rem;
      border-radius: 0.2rem;
      font-size: 0.8rem;
      color: #333333;
      margin-bottom: 0.3rem;
    }
    .detail-li-content{
      color:#999999;
      padding-left: 0.3rem;
      font-size: 0.7rem;
      word-break:break-all;
      padding-right: 1rem;
    }
    .no-user{
      margin-top: 40px;
      text-align: center;
      color: #A7A7A7;
    }
    .edit-li-img{
      width: 25px;
      height: 25px;
      float: left;
      margin-left: 10px;
      margin-top: 5px;
      background-color: white;
      border-radius: 50%;
      background-size: cover;
    }
    .detail-li-box{
      margin-left: 40px;
    }
    .content{
      background-color: #FFF;
      padding-bottom: 20px;
    }
    .edit-detail-li-title {
      background: url("/img/edit/detail-li.png") no-repeat;
      min-width: 40px;
      padding: 0 13px 0 8px;
      /*padding-right: 7%;*/
      /*padding:0 7% 0 4%;*/
      height: 20px;
      background-size: 100% 20px;
      text-align: center;
      float: left;
    }
    .edit-detail-li-input {
      min-height: 21px;
      margin-left: 4rem;
    }
    .edit-detail-li {
      min-height: 20px;
      margin-top: 10px;
    }
    .like .icon-likeEat,.liked .like .icon-likeEat{
      width: 20px;
      height: 19px;
    }
    .liked .icon-likeEat{
      height: 22px !important;
    }
    .liked{
      padding:3.5px 0;
    }
    .free {
      background-color: #F88827;
    }
    .ask-detail-li-empty{
      width: 100%;
      height: .75rem;
      background-color: #F8F8F8;
    }
    .detail-rtname,.detail-address{
      color: #FFADAD;
    }
    .detail-content{
      padding-bottom: .5rem;
    }
    .iconfont {
      font-family: "iconfont" !important;
    }
    .icon-tixing{
      display: block;
      position: absolute;
      right:.9rem;
      color:#FFADAD;
      font-size: 1rem;
      margin-top: -2rem;
    }
    .modal-tip,.modal-dislike,.modal-dislike-send{
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
      height: 100%;
  }
  .buyed-img{
    display: none;
    width: 4rem;
    height: 4rem;
    position: absolute;
    z-index: 2;
    bottom:-2rem;
    right: .8rem;
  }
  .dislike-content{
    display: none;
    height: 1.5rem;
    margin-top: 1rem;
  }
  .dislike-img{
    display: block;
    position: absolute;
    right: 3rem;
    width: 1.2rem;
    height: 1.2rem;
  }
  .dislike-text{
    position: absolute;
    right: .7rem;
    width: 2rem;
    color: white;
    text-align: center;
    font-size: .7rem;
    border-radius: .5rem;
    background-color: #999;
    padding:.05rem 0.1rem;
  }
  .dialog-dislike-content,.dialog-dislike-send-content{
    position: absolute;
    border-radius:.4rem;
    width: 98%;
    left:1%;
    height: 5.03rem;
    top:2rem;
    background-color: white;
  }
  .dialog-dislike-content .left,.dialog-dislike-send-content .left{
    float: left;
    width: 38%;
    height: 100%;
  }
  .dialog-dislike-content .right,.dialog-dislike-send-content .right{
    float: left;
    width: 60%;
    height: 100%;

  }
  .dialog-dislike-send-content .left{
    width: 20%;
  }
  .dialog-dislike-send-content .right{
    width: 70%;
    height: 2rem;
    padding-left: .5rem;
    font-size: .65rem;
    margin-top: 1.5rem;
  }
  .dialog-dislike-content .right input{
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(153, 153, 153, 1);
    box-shadow: none;
    height: 1.5rem;
    border-radius: .3rem;
    width: 100%;
    padding-left:.2rem;
    margin-top: .5rem;
    font-size: .7rem;
  }
  .dialog-dislike-content .right .send{
    position: absolute;
    bottom: -1.7rem;
    right: 1rem;
    color: white;
    font-size: .8rem;
  }
  .dislike-right-li{
    text-align: left;
    margin-top: .2rem;
    font-size: .6rem;
    color: #999999;
  }
  .dislike-left{
    display: block;
    /*float: left;*/
    margin:0.2rem 0.5rem;
    width: 4.3rem;
    height: 4.6rem;
  }
  .dislike-send{
    width: 3.4rem;
    height: 3.4rem;
    margin:.5rem .5rem;
  }