@font-face {
    font-family: 'webfont';
    src: url('//at.alicdn.com/t/vlddunszd2pousor.eot');
    src: url('//at.alicdn.com/t/vlddunszd2pousor.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/vlddunszd2pousor.woff') format('woff'), url('//at.alicdn.com/t/vlddunszd2pousor.ttf') format('truetype'), url('//at.alicdn.com/t/vlddunszd2pousor.svg#思源黑体-极细') format('svg')
}

html {
    font-size: 20px;
    width: 100%;
    height: 100%;

}

body {
    position: absolute;
    left: 0;
    right: 0!important;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #e8e8e8;
}

.title {
    font-weight: bold;
    font-family: 'webfont'
}

.detail-pic-bg,
.bg-mask {
    height: 14rem;
    width: 100%;
    position: absolute
}

.bg-mask {
    background: rgba(51, 51, 51, 0.7)
}

.pic-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover
}

.username-content {
    position: absolute;
    bottom: 3rem;
    padding-left: .7rem;
    font-size: 1rem;
    color: white
}

.like,
.buy {
    position: absolute;
    border-radius: .2rem;
    bottom: 1rem;
    text-align: center;
    font-size: .7rem
}

.like {
    background: #FFF;
    padding: 5px 10px;
    margin-left: .7rem;
    color: #999;
    width: 3.5rem;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    padding: .1rem .6rem;
    display: inline-block;
    color: #666;
    font-weight: bold;
    font-size: .7rem
}

.buy {
    background: #1ccda6;
    padding: 5px 10px;
    margin-left: 4.6rem;
    color: #FFF
}

.like-num {
    padding-left: 7px
}

.ask-detail {
    margin-top: 14.5rem
}

.ask-detail-li {
    padding: .3rem
}

.detail-li-title {
    box-sizing: border-box;
    padding: .3rem .5rem;
    border-radius: .2rem;
    font-size: .8rem;
    color: #333;
    margin-bottom: .3rem
}

.detail-li-content {
    color: #999;
    padding-left: .3rem;
    font-size: .7rem;
    word-break: break-all;
    padding-right: 1rem
}

.no-user {
    margin-top: 40px;
    text-align: center;
    color: #a7a7a7
}

.edit-li-img {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    background-color: white;
    border-radius: 50%;
    background-size: cover
}

.detail-li-box {
    margin-left: 40px
}

.content {
    background-color: #FFF;
    padding-bottom: 20px
}

.edit-detail-li-title {
    background: url("/img/edit/detail-li.png") no-repeat;
    min-width: 40px;
    padding: 0 13px 0 8px;
    height: 20px;
    background-size: 100% 20px;
    text-align: center;
    float: left
}

.edit-detail-li-input {
    min-height: 21px;
    margin-left: 4rem
}

.edit-detail-li {
    min-height: 20px;
    margin-top: 10px
}

.like .icon-likeEat,
.liked .like .icon-likeEat {
    width: 20px;
    height: 19px
}

.liked .icon-likeEat {
    height: 22px!important
}

.liked {
    padding: 3.5px 0
}

.free {
    background-color: #f88827
}

.ask-detail-li-empty {
    width: 100%;
    height: .75rem;
    background-color: #f8f8f8
}

.detail-rtname,
.detail-address {
    color: #ffadad
}

.detail-content {
    padding-bottom: .5rem
}

.iconfont {
    font-family: "iconfont"!important
}

.icon-tixing {
    display: block;
    position: absolute;
    right: .9rem;
    color: #ffadad;
    font-size: 1rem;
    margin-top: -2rem
}
.icon-more{
	margin-right: .25rem;
	font-size: .9rem;
}
.more-dialog .modal-overlay{
	background: rgba(0,0,0,.2);
}
.more-content{
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',tahoma,'microsoft yahei ui','microsoft yahei',simsun,sans-serif !important;
	position: absolute;
	top: 2rem;
	right: .2rem;
	border-radius: .3rem;
	padding:.3rem .5rem;
	font-size: .76rem;
	background: white;
	z-index: 10700;
}
.more-content .iconfont{
	color: #ee7e2e !important;
}
.more-content .more-list:first-child{
	margin-bottom: .5rem;
}

.modal-tip,
.modal-dislike,
.modal-dislike-send {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0!important;
    padding: 0!important;
    width: 100%;
    height: 100%
}

.buyed-img {
    display: none;
    width: 4rem;
    height: 4rem;
    position: absolute;
    z-index: 2;
    bottom: -3.3rem;
    right: .2rem
}

.sale-content{
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    right: 10px;
    color: white;
}

.sale-num{
	margin-left: .1rem;
	font-size: .75rem;
}

.dislike-content {
    display: none;
    height: 1.5rem;
    margin-top: 1rem
}

.dislike-img {
    display: block;
    position: absolute;
    right: 3rem;
    width: 1.2rem;
    height: 1.2rem
}

.dislike-text {
    position: absolute;
    right: .7rem;
    width: 2rem;
    color: white;
    text-align: center;
    font-size: .7rem;
    border-radius: .5rem;
    background-color: #999;
    padding: .05rem .1rem
}

.modal-overlay, .popup-overlay, .preloader-indicator-overlay{
    background: rgba(0,0,0,.7);
}

.dialog-dislike-content,
.dialog-dislike-send-content {
    position: absolute;
    border-radius: .4rem;
    width: 98%;
    left: 1%;
    height: 5.03rem;
    top: 5rem;
    background-color: white
}

.dialog-dislike-content .left,
.dialog-dislike-send-content .left {
    float: left;
    width: 38%;
    height: 100%
}

.dialog-dislike-content .right,
.dialog-dislike-send-content .right {
    float: left;
    width: 60%;
    height: 100%
}

.dialog-dislike-send-content .left {
    width: 20%
}

.dialog-dislike-send-content .right {
    width: 70%;
    height: 2rem;
    padding-left: .5rem;
    font-size: .65rem;
    margin-top: 1.5rem
}

.dialog-dislike-content .right input {
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(153, 153, 153, 1);
    box-shadow: none;
    height: 1.5rem;
    border-radius: .3rem;
    width: 100%;
    padding-left: .2rem;
    margin-top: .5rem;
    font-size: .7rem
}

.dialog-dislike-content .right .send {
    position: absolute;
    bottom: -1.7rem;
    right: 1rem;
    color: white;
    font-size: .8rem
}

.dislike-right-li {
    text-align: left;
    margin-top: .2rem;
    font-size: .6rem;
    color: #999
}

.dislike-left {
    display: block;
    margin: .2rem .5rem;
    width: 4.3rem;
    height: 4.6rem
}

.dislike-send {
    width: 3.4rem;
    height: 3.4rem;
    margin: .5rem .5rem
}

.triangle{
	display: block;
	position: absolute;
	width: 1rem;
	top:-.5rem;
	right: .3rem;
}

.reason-content{
    padding:1rem;
}
.delete-reason{
    margin:.5rem 0;
}
#reason{
    width: 100%;
    border-radius: .7rem;
    height: 8rem;
    resize: none;
    font-size: .67rem;
    padding:.5rem .7rem;
}

.delete-btn{
    position: absolute;
    width: 80%;
    background-color: #ee7e2e !important;
    color: white;
    border-radius: .23rem;
    text-align: center;
    height: 2.2rem;
    line-height: 2.2rem;
    left:10%;
    bottom:3rem;
}

#delete .title{
    font-weight: 200;
    color: #555;
}
.focus .content{
    background: #ffffcf !important;
}
.askDefault{
    display: none;
    width: 100%;
    background-color: #b3b3b3;
    /*padding-left: 1rem;*/
    text-align: center;
    color: white;
    padding:.2rem .3rem;
    font-size: .72rem;
    margin-top: -.35rem;
}
.wenwo-gradient{
    position: absolute;
    height: 14rem;
    width: 100%;
    border:0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 55%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.35) 100%); 
}
.wenwo-color{
    font-weight: bold;
}

.card-tip{
    display: none;
    position: absolute;
    right:.7rem;
    padding:.2rem;
    color: white;
    top:2.2rem;
    width: 2rem;
    /*height: 2rem;*/
    border-radius: 2rem;
    border-top-right-radius: 0;
    border-top-left-radius:0; 
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    z-index: 2;
}
.vip-card-img{
    width: 100%;
    /*margin-top: 1rem;*/
}
.card-content,.card-content-next{
    position: absolute;
    width: 25rem;
    height: 9rem;
    left:2.5%;
    top:50%;
    box-sizing: content-box;
    webkit-transition: all ease 1000ms;
    transition: all ease 1000ms;
    z-index: 2;
}
.card-content-next{
    transform: rotateY(180deg);
    z-index: 1;
}
.card-bg-img,.card-bg-img2{
    position: absolute;
    text-align: center;
}
.wenwo-logo1{
    height: 0;
    position: absolute;
    /*width: 30%;*/
    /*height: 20%;*/
    bottom:.5rem;
    left:.5rem;
}
.wenwo-logo2{
    height: 0;
    position: absolute;
    bottom:.5rem;
    right:.5rem;
}
.card-dialog2 {
    height: 0;
    position: absolute;
    bottom: .25rem;
    right: 0;
    background: rgba(255,255,255,.7);
}
.tag-img{
    position: absolute;
    /*width: 80%;*/
    height: 28%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.card-dialog {
    height: 0;
    position: absolute;
    bottom: .25rem;
    left: 0;
    background: rgba(255,255,255,.7);
}
.card-bg-tip{
    position: absolute;
    height: 44%;
    top:16%;
}
.content-box {
    position: absolute;
    display: table-cell;
    height: 50%;
    width: 50%;
    top: 20%;
    font-weight: bold;
    vertical-align: middle;
    text-align: left;
    line-height: 25px;
    font-size: .7rem;
    box-sizing: content-box;
}

.card-text-tip{
    position: absolute;
    bottom:.5rem;
    left:.5rem;
    font-size: .4rem;
    color: rgba(255, 255, 255, 0.44);
}

.changeCard1{
    transform: rotateY(180deg);
    z-index: 1;
    opacity: 0;
}
.changeCard2{
    transform: rotateY(0deg);
    z-index: 2;
    opacity: 1;
}