body{
      padding:0;
      margin:0;
      overflow: auto;
    }
    .page{
      background: white !important;
    }
    .edit-ul{
      padding-left: 2rem;
      margin-top: 2rem;
    }
    .edit-li{
      padding-left: 1.5rem;
    }
    .tag{
      border-left: .1rem solid #2B82FD;
    }
    .reason{
      border-left: .1rem  solid #F13A01;
    }
    .detail{
      border-left: .1rem  solid #F4BC1C;
    }
    .name{
      border-left: .1rem  solid #5459CD;
    }
    .address{
      border-left: .1rem  solid #42B93A;
    }
    .price{

    }
    .li-title{
      font-size: 0.8rem;
      color: #333333;
    }
    .edit-content{
      padding:0.5rem 0;
      color: #CCCCCC;
      font-size: 0.65rem;
      word-break:break-all;
    }
    .edit-li-img{
      width: 1.5rem;
      height: 1.5rem;
      float: left;
      margin-top: -0.25rem;
      margin-left:-2.25rem;
      background-color: white;
      border-radius: 50%;
      background-size: cover;
    }
    .footer-bar{
      width: 100%;
      position: absolute;
      bottom: 2rem;
      height: 2rem;
    }
    .pre-view{
      position: absolute;
      left:1.5rem;
      background: url("/img/edit/left.png") no-repeat;
      background-size: 100%;
      width: 5rem;
      height: 2rem;
      text-align: center;
      line-height: 2rem;
      /*color: #999999;*/
      color: white;
      padding-left: 1rem ;
      font-size: .7rem;
      font-weight: bold;
    }
    /*#router5 .pre-view{
      background: url("/img/edit/left-empty.png") no-repeat;
      background-size: 100%;
    }
    #router5 .next-view{
      background: url("/img/edit/right-empty.png") no-repeat;
      background-size: 100%;
    }*/
    .next-view,.end-view{
      position: absolute;
      right: 1.5rem;
      /*background: #FFF url("/img/edit/right.png") no-repeat;*/
      background: url("/img/edit/right.png") no-repeat;
      background-size: 100%;
      width: 5rem;
      height: 2rem;
      text-align: center;
      line-height: 2rem;
      /*color: #999999;*/
      color:white;
      padding-right: 1rem;
      font-size: .7rem;
      font-weight: bold;
    }
    .header-bar{
      position: absolute;
      width: 100%;
      top:2rem;
    }
    .header-content{
      width: 84%;
      margin-left:8%;
    }
    .line{
      width: 100%;
      border: 0.05rem solid #D4D4D4;
      margin-top: 0.05rem;
    }
    .circle{
      width: .4rem;
      height: .4rem;
      border-radius: 50%;
      position: absolute;
      margin-top: -.2rem;
    }
    .circle-index{
      margin-left: 0%;
      background-color: #50C3E8;
    }
    .circle-tag{
      margin-left: 14%;
      background-color: #2B82FD;
    }
    .circle-reason{
      margin-left: 28%;
      background-color: #F13A01;
    }
    .circle-detail{
      margin-left: 42%;
      background-color: #F4BC1C;
    }
    .circle-name{
      margin-left: 56%;
      background-color: #5459CD;
    }
    .circle-address{
      margin-left: 70%;
      background-color: #42B93A;
    }
    .circle-price{
      margin-left: 84%;
      background-color: #F88827;
    }
    .circle-img{
      width: 1.5rem;
      height: 1.5rem;
      margin-left: -.5rem;
      margin-top: -.5rem;
      border-radius: 50%;
    }
    .icon-left{
      color:#F88827;
      font-weight: bolder;
      margin-left: 0.25rem;
    }
    .send-button-a{
      display: block;
      width: 1rem !important;
      height: 1.1rem !important;
      background-image: url("/img/edit/edit.svg");
      background-size: cover;
      margin: 0.65rem 0.25rem 0 0 !important;
    }
    .circle-hide{
      width: 0;
    }
    .page-content{
      margin-top: 5rem;
    }
    .ww-typeHelper-left{
      text-align: center;
    }
    .ww-typeHelper-input{
      border: 0 !important;
      border-radius: 0 !important;
      padding:0.5rem 0.5rem;
      text-align: center;
      width: 10rem;
      font-size: 0.75rem !important;
      border-bottom: 0.1rem solid #999999 !important;
    }
    .techTags{
      padding: 1rem;
    }
    .tag-ul{
      text-align: center;
    }
    .type-item{
      margin:0.25rem .25rem;
      display: inline-block;
      background: #EE7E2E;
      color:white;
      padding:.3rem .8rem;
      font-size: .7rem;
      border-radius: 1rem;
    }
    
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: #CCCCCC;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #CCCCCC;
    }
    .reason-content,.detail-content,.li-content{
      width: 80%;
      margin:0 auto;
      padding-top: 1rem;
    }
    #reason,#detail{
      margin-top: .5rem;
      width: 100%;
      height: 6rem;
      padding:.5rem;
      font-size: .75rem;
    }
    #name,#price{
      margin-top: .5rem;
      width: 100%;
      height: 1.85rem;
      padding-left: .5rem;
      font-size: .7rem;
    }
    /*这里是设置输入框的点击效果*/
    #name:focus,#price:focus {
        outline: -webkit-focus-ring-color auto 5px;
    }
    input,textarea{
      resize: none;
    }
    .detail-li input{
      border: 0 !important;
      width: 100%;
      padding: 0 .5rem;
    }
    .add-content,#container{
      width: 100%;
      height: 100%;
    }
    .add-header{
      background:rgba(255,255,255,0.9);
      top:.5rem;
      width: 90%;
      /*height: 6rem;*/
      margin-left: 5%; 
      z-index: 2;
      border-radius: .2rem;
      padding-bottom: .5rem;
    }
    .add-header .header-content{
      margin-top: 1.2rem;
    }
    #address{
      width: 80%;
      border-radius: .3rem;
      border: 1px solid #EE7E2E;
      height: 1.5rem;
      margin:50px 5% 0;
      padding-left: 1.4rem;
      font-size: .75rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      box-sizing: border-box;
    }
    #add-detail:-ms-input-placeholder{
      color: #AEAEAE;
    }
    #add-detail::-webkit-input-placeholder{
      color: #AEAEAE;
    }
    .icon-bianji,.icon-tixing,.search{
      display: block;
      position: absolute;
      color: #EE7E2E;
      font-size: 1rem;
      bottom: 2.4rem;
      margin-left: 1.15rem;
    }
    .icon-tixing{
      right: .7rem;
      bottom: .6rem;
    }
    .search{
      right: .1rem;
      font-size: .6rem;
      color: white;
      background-color: #4eb9ff;
      height: 1.5rem;
      line-height: 1.5rem;
      width: 14%;
      text-align: center;
      /*padding:0 .3rem;*/
      border-radius: .3rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .tip{
      margin-top: .5rem;

    }
    .tip-img{
      display: block;
      position: absolute;
      width: .65rem;
      height: .65rem;
      margin-top:0.325rem;
    }
    .tip-text{
      font-size: .6rem;
      color: #CCCCCC;
      /*margin-left: .75rem;*/
      display: block;
      margin-top: .25rem;
    }
    .detail-li-content{
      margin-top: .5rem;
    }
    .detail-li-title{
      background: url("/img/edit/detail-li.png") no-repeat; 
      width: 3rem;
      height: 1.45rem;
      background-size: 100% 1.45rem;
      float: left;
    }
    .detail-label-title{
      display: block;
      font-size: .7rem;
      line-height: 1.3rem;
      color: #999999;
      width: 100%;
      text-align: center;
    }
    .content-title{
      color: #999999;
    }
    .detail-li-input{
      display: block;
      font-size: .6rem;
      float: left;
      width: 9.5rem;
      height: 1.45rem;
      line-height: 1.45rem;
      padding-left: .25rem;
    }
    .detail-li-name{
      margin:0 .25rem;
      padding-left: .1rem;
      font-size: .6rem;
      text-align: center;
      width: 2rem !important;
      padding:0 !important;
      color: #999999;
    }
    .detail-add{
      background: url("/img/edit/detail-add.png") no-repeat;
      width: 3rem;
      height: 1.45rem;
      background-size: 100% 1.45rem; 
    }
    .icon-add{
      width: 1rem;
      font-size: 1rem;
      margin:0 auto; 
    }
    .amap-sug-result{
      z-index: 2000;
    }
    .add-detail{
      padding:5px 17px; 
    }
    .add-detail-text{
      font-size: 12px;
      margin-top: 2px;
      position: absolute;
    }
    .add-detail{
      margin: 5px 0 23px 0;
    }
    .add-detail-input{
      font-size: 12px;
      line-height: 21px;
      margin-left: 56px;
      width: 200px;
      padding-left: 2px;
      display: inline-block;
      float: left;
      border: 0 !important;
      background: none;
    }
    /*重置调整缩放按钮*/
    .amap-touch-toolbar .amap-zoomcontrol{
      bottom:48px !important;
      width: 30px !important;
    }
    .eg-content{
      font-size: 13px;
      color: #A5A5A5;
    }
    .eg-li{
      padding:5px 0 0 5px;
    }
    .edit-content{
      padding-right: 20px;
    }
    .detail-li{
      margin-bottom: 5px;
      height: 30px;
    }
    .detail-li-all-content{
      height: 150px;
      overflow-y: auto;
    }
    .edit-detail-li{
      min-height: 20px;
      margin-top: 10px;
    }
    .edit-detail-li-title{
      background: url("/img/edit/detail-li.png") no-repeat; 
      min-width: 40px;
      padding:0 8px;
      height: 20px;
      background-size: 100% 20px;
      text-align: center;
      float: left;
    }
    .edit-detail-li-input{
      min-height: 21px;
      margin-left: 50px;
    }
    .edit-detail-li-content{
      word-break: break-all;
    }
    .red{
      color:red;
    }
    .circle-title{
      display: block;
      font-size: .5rem;
      width: 3rem;
      text-align: center;
      margin-left: -1.25rem;
    }
    .page{
      overflow: auto;
    }
    .share-success{
      font-weight: bold;
    }
    .success-up{
      width: 100%;
      height: 7rem;
    }
    .success-img{
      display: block;
      width: 5rem;
      height: 5rem;
      margin: .5rem auto;
    }
    .success-text{
      text-align: center;
      font-weight: bold;
    }
    .btn-content{
      text-align: center;
      border-bottom: 1px solid #eee;
    }
    .success-btn{
      width:5rem;
      height: 1.5rem;
      border-radius: .3rem;
      border:1px solid #F98128;
      display: inline-block;
      color:#F98128;
      line-height: 1.5rem;
      margin: 1rem;
    }
    .share-text-content{
      padding: .2rem 1rem;
      font-size: .5rem;
      color: #aaa;
    }
    .share-btn{
      width: 80%;
      height: 2rem;
      background-color: #F94A28;
      border-radius: .3rem;
      margin: 1.5rem auto;
      margin-bottom: 0;
      color: white;
      text-align: center;
      line-height: 2rem;
    }
    #success .pull-right{
      margin-right: .2rem;
      color: #333 !important;
    }
    .invite-img{
      padding: 10px 15px;
      width: 100%;
    }
    #success .modal{
      position: absolute;
      top: 0;
      left: 0;
      margin:0 !important;
      padding: 0 !important; 
      width: 100%;
      height: 100%;
    }
    .modal-overlay, .popup-overlay, .preloader-indicator-overlay{
      background: rgba(0,0,0,.7);
    }
    .preloader-modal{
      z-index: 40000;
    }
    .geolocation-position{
      display: none !important;
      width: 0rem;
      height: 0rem;
    }
    .iconfont {
      font-family: "iconfont" !important;
    }
    .model-tip{
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
      height: 100%;
    }
    .small-font{
      font-size: .65rem;
    }

    .icon-jian{
      position: absolute;
      line-height: 1rem;
      right: 10%;
      color: red;
      height: 1rem;
      width: 1rem;
      font-size: 1rem;
      margin-top: .2rem;
    }
    .amap-marker-content{
      display: none;
    }
    .toast{
      /*top:3rem;*/
    }