body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.header-label {
    position: absolute;
    z-index: 10000;
    height: 40px;
    width: 100%;
    background-color: #efc553;
    top: 0;
}

.header-more,
.header-cancel {
    font-size: 15px;
    color: #393e49;
    float: left;
    line-height: 30px;
    margin-left: 10px;
}

.type-item {
    display: inline-block;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    margin: 0 .5rem .2rem 0;
    border-radius: 3px;
    border: 1px solid #393e49;
}
.amap-logo,.amap-copyright{
    display: none !important;
}
-webkit-tap-highlight-color:rgba(0,0,0,0);
.item-link:link,
.item-link:visited,
.item-link:hover,
.item-link:active{
    background-color: #F3D27B !important;
}
.list-block .item-link:active {
     background-color: #F3D27B !important; 
}