body,
html {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: PingFang-SC-Regular, sans-serif;
    width: 100%;
    height: 100%
}

a {
    color: #00b7ff
}

.header-label {
    position: absolute;
    z-index: 10000;
    height: 40px;
    width: 100%;
    background-color: #efc553;
    top: 0
}

.amap-logo,
.amap-copyright {
    display: none!important
}

-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
.item-link:link,
.item-link:visited,
.item-link:hover,
.item-link:active {
    background-color: #f3d27b!important
}

.list-block .item-link:active {
    background-color: #f3d27b!important
}

.modal-overlay {
    height: 100%!important
}

.amap_lib_placeSearch_poi {
    display: none!important
}

.preloader-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .73);
    /*background: rgba(0, 0, 0, .01);*/
    z-index: 30000;
    -webkit-transition-duration: .4s;
    transition-duration: .4s
}

.modal-content {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    width: 10rem;
    position: absolute;
    z-index: 11000;
    left: 50%;
    margin-left: -5rem;
    top: 50%;
    margin-top: -75px;
    text-align: center;
    border-radius: .35rem;
    -webkit-transform: translate3d(0, 0, 0) scale(1.185);
    transform: translate3d(0, 0, 0) scale(1.185);
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    color: #3d4145;
    /*color: rgba(238, 126, 46, 0.82);*/
    /*color: #fff;*/
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1)
}

.modal-content .modal-inner {
    border-radius: .35rem;
    min-height: 7.5rem;
    /*background: rgba(0, 0, 0, 0.78);*/
}

.ui-loading-bright {
    width: 74px;
    height: 74px;
    display: block;
    margin: 10px auto;
    background-image: url(/img/loading.png);
    -webkit-background-size: auto 74px;
    -webkit-animation: am-rotate2 1s steps(6) infinite
}

@-webkit-keyframes am-rotate2 {
    from {
        background-position: 0 0
    }
    to {
        background-position: -444px 0
    }
}

.bar-tab {
    z-index: 20001!important
}

.card {
    text-align: left
}

.bar .button-link {
    color: #ee7e2e!important;
    font-weight: bolder!important
}

.icon-likeEat:before {
    content: ""!important
}

.icon-likeEat {
    background: url("/img/food/want-icon.svg") no-repeat;
    background-size: cover;
    height: 1.25rem!important;
    width: 1.2rem
}

.down-like .icon-likeEat {
    height: 17px!important;
    width: 16px
}

.active .icon-likeEat,
.liked .icon-likeEat {
    background: url("/img/food/wantted-icon.svg") no-repeat;
    background-size: cover
}

.liked {
    color: #f88827!important
}

.tip-content {
    position: absolute;
    width: 94%;
    left: 3%;
    top: 50%;
    border-width: 1px;
    transform: translateY(-50%);
    border-style: solid;
    border-color: rgba(153, 153, 153, 1);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
    color: #666
}

.tip-content-title {
    text-align: center;
    padding: 15px 0 10px 0
}

.tip-content-li {
    padding: 5px 10px;
    font-size: 14px
}

.tip-content-get {
    border-top: 1px solid #dfdfdf;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    color: #ee7e2e;
    font-size: 16px
}

/* Effect 1: Fade in and scale up */
.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.md-show {
	visibility: visible;
}
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 50000;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}
.md-modal{
	z-index: 50001;
}
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.wenwo-color{
	color: #f88827 !important;
}
.pull-to-refresh-arrow{
    display: none;
}