body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.header-label {
    position: absolute;
    z-index: 10000;
    height: 30px;
    width: 100%;
    background-color: #efc553;
    top: 0;
}
.header-more,.header-cancel{
      font-size: 15px;
      color: #393e49;
      float:left;
      line-height: 30px;
      margin-left: 10px;
    }