<!DOCTYPE HTML>
<html>
<head>
    <title>pay</title>
</head>
<body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    WeixinJSBridge.invoke(
            "getBrandWCPayRequest",JSON.stringify(payargs), function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                    // success
                }
            });
</script>
</body>
</html>
