<!DOCTYPE HTML>
<html>
<head>
    <title>WenWo</title>
     <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name='description', content='wenwo,问我,当地人,旅游,攻略,信息,分享'>
    <meta name='author', content='raodqi'>
    <link rel="icon" type="image/x-icon" href="/img/logo.png" media="screen">
    <title>问我——像个当地人一样去旅游</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1462821367_1895313.css">
    <link rel="stylesheet" href="/css/sm.min.css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
</head>
<style>
    * {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
        cursor: pointer;
    }
    .wrap {
        margin: 0 auto;
        width: 1200px;
    }
    .title-bar {
        height: 60px;
        background: #f8bd38;
        border-radius: 5px;
    }
    .logo {
        color: #fff;
        font-size: 23px;
        line-height: 60px;
        margin-left: 20px;
    }
    .list {
        float: left;
        margin-top: 30px;
        margin-left: 30px;
    }
    .side-bar {
        width: 200px;
        /*background: #000;*/

    }
    .side-bar ul {
        /*border-radius: 10px;*/
        overflow: hidden;
    }
    .side-bar ul li {
        /*margin-bottom: 10px;*/
        text-align: center;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        background: #eee;
        margin:10px; 
       /* padding-top: 10px;
        padding-bottom: 10px;*/
    }
    ul li:hover {
        /*background: #ddd !important;*/
        background: #f8bd38 !important;
        color: white;
    }
    .manage-content {
        background: #eee;
        width: 880px;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px 20px 20px 20px;
    }
    .manage ul li {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .manage ul li .ask-id {
        display: inline;
        margin-left: 30px;
        line-height: 20px;
        /*width: 90%;*/
    }
    .manage ul li .staus, .manage ul li .del {
        float: right;
        line-height: 20px;
        /*clear: both;*/
        margin-right: 30px;
    }
    .manage ul li .del:hover {
        color: red;
    }
    .check li {
        padding: 10px 0;
        font-size: 20px;
        text-align: center;

    }
    .side-bar-back{
        background: #eee !important;
    }
    .side-bar-backcheck {
        background: #f8bd38 !important;
        color: white;
    }
    .btn_pass, .btn_not, .btn_send {
        margin: 0;
        margin-top: 20px;
        font-size: 16px;
        color: white;
        border-radius: 5px;
        padding: 0;
        width: 100px;
        height: 40px;
        background: #f8bd38;
        border: none;
    }
    textarea {
        display: block;
        height: 100px;
        width: 300px;
    }
    .input-edit,#search {
        height: 30px;
        width: 240px;
        padding: 0 10px 0 10px;
        font-size: 15px;
        /*border-radius: 2px;
        border: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        padding-left: 10px;
        margin-left: 10px;
        text-transform: lowercase;
        background-color: white;*/
    }
    .input-price {
        text-align: left;
    }
    .container-show{
        height: 400px;
        width: 400px;
        background-color: white;
    }
    .left{
        float: left;
        margin-right: 10px;
    }
    .hidden-text{
        color: red;
    }
    .de-show{
        padding:10px;
        font-size: 15px; 
        width: 300px;
    }
    .place{
        color: red;
        font-size: 15px;
        /*width: 300px;*/
        padding-left: 10px;
        line-height: 30px;
    }
    .check-box label{
        margin-right: 10px;
    }
    .check-box,.div-tag,.div-reason{
        margin-bottom: 10px;
    } 
    .type-item {
        display: inline-block;
        padding: 0px 20px;
        /* color: #FFC222; */
        /* background-color: #FFDC7F; */
        height: 30px;
        line-height: 30px;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        margin: 0 .5rem .2rem 0;
        border-radius: 3px;
        border: 1px solid #393e49;
    }
    .edit-reason,.edit-detail{
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
    }
    .button-start{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        color: white;
        width: 100px;
        margin: 10px auto;
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
        background-color: #efc553 !important;
        cursor: pointer;
        margin-left: 100px;
    }
    .edit-detail{
        height: 200px;
    }
    #search{
        width: 400px;
        display: block;
    } 
    body{
        overflow: auto;
    }
    .address-content{
        /*float: left;*/
        margin-bottom: 10px;
    }
    .amap-sug-result{
        top:213px !important;
    }
    .geolocation-position img{
        width: 40px;
        height: 40px;
    }
    .modal-overlay{
        display: none !important;
    }
    .modal-inner{
        background: rgba(0,0,0,.8);
        color: white;
    }
    .notpass{
        color: #B9B9B9;
    }
    .pass{
        color: #4CAF50;
        font-weight: bolder;
    }
    .tag-li-list{
        /*height: 80px;*/
        /*line-height: 100px;*/
        /*display: inline-block;*/
        float: left;
        width: 200px;
        text-align: center;
        font-size: 18px;

    }
    .tag-img,.tag-tag,.tag-type{
        width: 80px;
        height: 80px;
    }
    .tag-tag,.tag-type{
        width: 200px;
        text-align: center;
        line-height: 80px;
    }
    .content-title.tag li{
        width: 100%;
    }
    .content-title.tag ul li:hover {
        color: black !important;
    }
    .list-img{
        width: 100px;
    }
    #multiple{
        display: none;
    }
</style>
<body>
    <div class="wrap">
        <div class="title-bar">
            <div class="logo">WenWo</div>
        </div>
        <div>
            <div class="list side-bar">
                <ul>
                    <li class="send-bar side-bar-backcheck">发布信息</li>
                    <li class="check-bar">审核信息</li>
                    <li class="manage-bar">管理消息</li>
                    <li class="tag-bar">二级标签管理</li>
                    <li class="total-bar">统计信息</li>
                    <li class="account-bar">帐号管理</li>
                </ul>
            </div>
            <div class="list manage-content">
                <div class="content-title send" style="display: none">
                    <div class="check-box">
                        <span>主题:</span>
                        <input type="checkbox" value="1" id="checkbox-1" name="" defaultChecked="false"/>
                        <label for="checkbox-1">美食</label>
                        <input type="checkbox" value="2" id="checkbox-2" name="" defaultChecked="false"/>
                        <label for="checkbox-2">住宿</label>
                        <input type="checkbox" value="3" id="checkbox-3" name="" defaultChecked="false"/>
                        <label for="checkbox-3">交通</label>
                        <input type="checkbox" value="4" id="checkbox-4" name="" defaultChecked="false"/>
                        <label for="checkbox-4">购物</label>
                        <input type="checkbox" value="5" id="checkbox-5" name="" defaultChecked="false"/>
                        <label for="checkbox-5">游玩</label>
                        <input type="checkbox" value="6" id="checkbox-6" name="" defaultChecked="false"/>
                        <label for="checkbox-6">防坑</label>
                    </div>
                    <div class="address-content">
                        <span>地图标注:</span><input type="text" id="search" placeholder="请输入你要标注的地址">
                        <div class="place"></div>
                         <div class="container-show" id="container"></div>
                    </div>
                    <div class="tag-content">
                        <!-- <span class="type-item">火锅</span> -->
                    </div>
                    <div class="div-tag">
                        <span>标签:</span>
                        <input class="input-edit input-tag" type="text" placeholder="每个标签以;结束">
                    </div>
                    <div class="div-reason">
                        <span>推荐理由:</span>
                        <textarea class="edit-reason" placeholder="说说为什么？"></textarea>
                    </div>
                    <div class="div-tag">
                        <span>详情:</span>
                        <div class="button-start">隐藏</div>
                        <textarea class="edit-detail" id="detail" placeholder="隐藏内容以“##隐藏内容##”方式隐藏"></textarea>
                        <div class="de-show"></div>
                    </div>

                    <!-- <div class="address-content">
                        <span>地图标注:</span><input type="text" id="search" placeholder="请输入你要标注的地址">
                        <div class="place"></div>
                         <div class="container-show" id="container"></div>
                    </div> -->
                    <div>
                        <span>价格:</span>
                        <input class="input-edit input-price" type="number" value="">
                    </div>
                    <button class='btn_send'>发布</button>
                </div>
                <div class="content-title check" style="display: block">
                    <ul>
                        <!--<li>234567893456789</li>-->
                        <!--<li>234567893456789</li>-->
                        <!--<li>234567893456789</li>-->
                    </ul>
                </div>
                <div class="content-title check-detail" style="display: none">
                    <div>
                        <div class="left">ID:</div>
                        <div class="detail-id"></div>
                    </div>
                    <div>
                        <div class="left">上传者:</div>
                        <div class="detail-createBy"></div>
                    </div>
                    <div>
                        <div class="left">上传时间:</div>
                        <div class="detail-time"></div>
                    </div>
                    <div>
                        <div class="left">状态:</div>
                        <div class="detail-status"></div>
                    </div>
                    <div>
                        <div class="left">主题:</div>
                        <div class="detail-subject"></div>
                    </div>
                    <div>
                        <div class="left">标签:</div>
                        <div class="detail-label"></div>
                    </div>
                    <div>
                        <div class="left">推荐理由:</div>
                        <div class="detail-reason"></div>
                    </div>
                    <div>
                        <div class="left">详情(红色为隐藏部分):</div>
                        <div class="detail-information"></div>
                    </div>
                    <div>
                        <div>地图标注:</div>
                        <div class="add-detail"></div>
                        <div class="container-show" id="show2"></div>
                    </div>
                    <div>
                        <div class="left">价格:</div>
                        <div class="detail-price"></div>
                    </div>
                    <button class='btn_pass'>通过</button>
                    <button class='btn_not'>不通过</button>
                </div>
                <div class="content-title total" style="display: none">

                </div>
                <div class="content-title manage" style="display: none">
                    <ul>
                        <!--<li><span class="ask-id">456789adf</span><span class="del">X</span><span class="staus">已上架</span></li>-->
                        <!--<li><span class="ask-id">456789adf</span><span class="del">X</span><span class="staus">已上架</span></li>-->
                        <!--<li><span class="ask-id">456789adf</span><span class="del">X</span><span class="staus">已上架</span></li>-->
                        <!--<li><span class="ask-id">456789adf</span><span class="del">X</span><span class="staus">已上架</span></li>-->

                    </ul>
                </div>
                <div class="content-title tag">
                    <ul>
                        <li>
                            <div class="tag-li-list">二级标签名</div>
                            <div class="tag-li-list">所属一级标签</div>
                            <div class="tag-li-list list-img">无</div>
                            <div class="tag-li-list list-img">青铜</div>
                            <div class="tag-li-list list-img">白银</div>
                            <div class="tag-li-list list-img">黄金</div>
                        </li>
                        <div class="tag-list-content">
                            
                        </div>
                        <!-- <li>
                            <div class="tag-li-list">
                                <div class="tag-tag">火锅</div>
                            </div>
                            <div class="tag-li-list">
                                <div class="tag-type">美食,出行</div>
                            </div>
                            <div class="tag-li-list list-img img1">
                                <img class="tag-img" src="/img/test.jpg" alt="">
                            </div>
                            <div class="tag-li-list list-img img2">
                                <img class="tag-img" src="/img/test.jpg" alt="">
                            </div>
                            <div class="tag-li-list list-img img3">
                                <img class="tag-img" src="/img/test.jpg" alt="">
                            </div>
                            <div class="tag-li-list list-img img4">
                                <img class="tag-img" src="/img/test.jpg" alt="">
                            </div>
                        </li>

                        <li>
                            <div class="tag-li-list">
                                <div class="tag-tag">火锅</div>
                            </div>
                            <div class="tag-li-list">
                                <div class="tag-type">美食,出行</div>
                            </div>
                            <div class="tag-li-list list-img img1">
                                <img class="tag-img" src="/img/test.jpg" alt="">
                            </div>
                            <div class="tag-li-list list-img img2">
                                <img class="tag-img" src="/img/test.jpg" alt="">
                            </div>
                            <div class="tag-li-list list-img img3">
                                <img class="tag-img" src="/img/test.jpg" alt="">
                            </div>
                            <div class="tag-li-list list-img img4">
                                <img class="tag-img" src="/img/test.jpg" alt="">
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="content-title account" style="display: none">
                    <div>
    
                    </div>
                </div>
            </div>

        </div>

        <input id="multiple" class="hidden" type="file" id="upload" multiple>
    </div>
    <script type='text/javascript' src='/js/zepto.min.js' charset='utf-8'></script>
     <!-- <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd&plugin=AMap.Geocoder"></script> -->
     <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd&plugin=AMap.Geocoder"></script>

     <script type="text/javascript" src="/js/sm.min.js"></script>
     <script type="text/javascript" src="/js/common.js"></script>

     <script type="text/javascript" src="/js/plupload.full.min.js"></script>
     <script type="text/javascript" src="/js/qiniu.min.js"></script>


     <script>
        var uploader = Qiniu.uploader({
            runtimes: 'html5,flash,html4',    //上传模式,依次退化
            browse_button: 'dropbox',       //上传选择的点选按钮，**必需**
            uptoken_url: '/token',

            domain: 'http://qiniu-plupload.qiniudn.com/',
                //bucket 域名，下载资源时用到，**必需**
            container: 'multiple',           //上传区域DOM ID，默认是browser_button的父元素，
            max_file_size: '2048mb',           //最大文件体积限制
            flash_swf_url: 'js/plupload/Moxie.swf',  //引入flash,相对路径
            max_retries: 3,                   //上传失败最大重试次数
            dragdrop: true,                   //开启可拖曳上传
            drop_element: 'create-list-logo',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
            chunk_size: '4mb',                //分块上传时，每片的体积
            auto_start: false,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
            init: {
                'FilesAdded': function(up, files) {
                    $(".app-logo-loading").show();
                    plupload.each(files, function(file) {
                       var myDate=new Date();
                       time = myDate.getTime();
                       fileName = files[0].name;
                       var name = files[0].name;

                       fileName = "pcs/"+user+"/"+time+"/"+fileName;

                       if(up.files.length > 1){
                        for(var i = 0; i < up.files.length - 1;i++){
                          up.removeFile(up.files[i].id);
                        }
                       }

                       previewImage(files[0],function(imgsrc){
                              $(".app-logo").attr("src",imgsrc);
                              $(".app-logo-loading").hide();
                          })
                    });
                },
                'BeforeUpload': function(up, file) {
                       // 每个文件上传前,处理相关的事情
                },
                'UploadProgress': function(up, file) {
                       // 每个文件上传时,处理相关的事情
                       $(".squre").text(file.percent+"%");
                       console.log(file.percent);
                       // console.log(up);
                },
                'FileUploaded': function(up, file, info) {
                       console.log(info);
                       var res = JSON.parse(info);
                       var sourceLink = "http://7xojmy.com1.z0.glb.clouddn.com/" + res.key; //获取上传成功后的文件的Url
                       console.log(sourceLink);

                       var webappid = $(".web-app-change").attr("data-appid");
                       if(webappid){
                        var name = $(".web-app input[name=name]").val();
                        var describe = $(".web-app input[name=describe]").val();
                        var path = $(".web-app input[name=url]").val();
                        var logo = sourceLink;
                        if(!checkUrl(path)){
                          tipShow("你填写的链接格式不正确");
                          return 0;
                        }else if(!check("应用名称不能为空",name) || !check("应用描述不能为空",describe)){
                          return 0;
                        }
                        loadingShow("正在更改");
                        var type = $(".web-app .type-li.active").data("type");
                        var version = $(".web-app input[name=version]").val();
                        console.log(type);
                        // 可以先查询出要修改的那条存储
                        var AppInfo = AV.Object.extend('AppInfo');
                        var query = new AV.Query(AppInfo);
                        // 这个 id 是要修改条目的 objectId，你在生成这个实例并成功保存时可以获取到，请看前面的文档
                        query.get(webappid).then(function(post) {
                          // 成功，回调中可以取得这个 Post 对象的一个实例，然后就可以修改它了
                          post.set("logo", logo);
                          post.set("describe", describe);
                          post.set("path", path);
                          post.set("type", type);
                          post.set("version", version);
                          post.set("name", name);
                          post.save();
                          tipShow("更改成功");
                          loadingShow("正在刷新");
                          setTimeout(function(){
                            location.reload();
                          }, 500);

                        }, function(error) {
                          // 失败了
                          console.log(error);
                        });
                        return ;
                       }

                       var name = $(".web-app input[name=name]").val();
                       var describe = $(".web-app input[name=describe]").val();
                       var path = $(".web-app input[name=url]").val();
                       var logo = sourceLink;

                       if(!checkUrl(sourceLink) || !check("应用名称不能为空",name) || !check("应用描述不能为空",describe)){
                          // alert("你填写的链接格式不正确");
                          tipShow("你填写的链接格式不正确");
                          return 0;
                        }
                      loadingShow("正在上传");
                      var type = $(".web-app .type-li.active").data("type");
                      var version = $(".web-app input[name=version]").val();
                      console.log(type);

                      var AppInfo = AV.Object.extend("AppInfo");
                      var AppInfo = new AppInfo();
                      AppInfo.set("logo", logo);
                      AppInfo.set("describe", describe);
                      AppInfo.set("path", path);
                      AppInfo.set("type", type);
                      AppInfo.set("version", version);
                      AppInfo.set("name", name);
                      AppInfo.set("uploader", user);

                      AppInfo.save(null, {
                        success: function(post) {
                          // 成功保存之后，执行其他逻辑.
                          // alert('success');
                          loadingHide();
                          tipShow("上传成功");
                          loadingShow("正在刷新");
                          setTimeout(function(){
                             location.reload();
                          }, 500);
                        },
                        error: function(post, error) {
                          // alert('error');
                          tipShow("上传失败");
                        }
                      });

                },
                'Error': function(up, err, errTip) {
                       //上传出错时,处理相关的事情
                       loadingHide();
                       tipShow("上传出错");
                },
                'UploadComplete': function() {
                       //队列文件处理完毕后,处理相关的事情
                },
                'Key': function(up, file) {
                    // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                    // 该配置必须要在 unique_names: false , save_key: false 时才生效
                    var key = "";
                    key = fileName;
                    // do something with key here
                    return key
                }
              }
          });
     </script>

     <!-- <script type="text/javascript" src="/js/map.js"></script> -->
     <script>
     (function(Zepto){
            Zepto.fn.getCursorPosition = function(){
                if(this.lengh == 0) return -1;
                return $(this).getSelectionStart();
            }
            Zepto.fn.setCursorPosition = function(position){
                if(this.lengh == 0) return this;
                return $(this).setSelection(position, position);
            }
            Zepto.fn.getSelection = function(){
                if(this.lengh == 0) return -1;
                var s = $(this).getSelectionStart();
                var e = $(this).getSelectionEnd();
                return this[0].value.substring(s,e);
            }
            Zepto.fn.getSelectionStart = function(){
                if(this.lengh == 0) return -1;
                input = this[0];

                var pos = input.value.length;

                if (input.createTextRange) {
                    var r = document.selection.createRange().duplicate();
                    r.moveEnd('character', input.value.length);
                    if (r.text == '') 
                    pos = input.value.length;
                    pos = input.value.lastIndexOf(r.text);
                } else if(typeof(input.selectionStart)!="undefined")
                pos = input.selectionStart;

                return pos;
            }
            Zepto.fn.getSelectionEnd = function(){
                if(this.lengh == 0) return -1;
                input = this[0];

                var pos = input.value.length;

                if (input.createTextRange) {
                    var r = document.selection.createRange().duplicate();
                    r.moveStart('character', -input.value.length);
                    if (r.text == '') 
                    pos = input.value.length;
                    pos = input.value.lastIndexOf(r.text);
                } else if(typeof(input.selectionEnd)!="undefined")
                pos = input.selectionEnd;

                return pos;
            }
            Zepto.fn.setSelection = function(selectionStart, selectionEnd) {
                    if(this.lengh == 0) return this;
                    input = this[0];

                    if (input.createTextRange) {
                            var range = input.createTextRange();
                            range.collapse(true);
                            range.moveEnd('character', selectionEnd);
                            range.moveStart('character', selectionStart);
                            range.select();
                    } else if (input.setSelectionRange) {
                            input.focus();
                            input.setSelectionRange(selectionStart, selectionEnd);
                    }

                    return this;
            }
            Zepto.fn.insertAtCousor = function(myValue){
                var $t=$(this)[0];
                if (document.selection) {
                    this.focus();
                    sel = document.selection.createRange();
                    sel.text = myValue;
                    this.focus();
                }else if($t.selectionStart || $t.selectionStart == '0'){
                    var startPos = $t.selectionStart;
                    var endPos = $t.selectionEnd;
                    var scrollTop = $t.scrollTop;
                    $t.value = $t.value.substring(0, startPos) + myValue + $t.value.substring(endPos, $t.value.length);
                    this.focus();
                    $t.selectionStart = startPos + myValue.length;
                    $t.selectionEnd = startPos + myValue.length;
                    $t.scrollTop = scrollTop;
                }else{
                    this.value += myValue;
                    this.focus();
                }
            }
        })(Zepto);
     </script>
    <script>
    window.onload = function(){
    AMap.plugin(['AMap.ToolBar','AMap.Scale'],function(){
        var toolBar = new AMap.ToolBar({
            offset: new AMap.Pixel(10, 10)
          });
        var scale = new AMap.Scale({
          offset: new AMap.Pixel(-5, 7)
        });
        map.addControl(toolBar);
        map.addControl(scale);
    });

    $.hidePreloader();
  }


  //加载二级标签
  function showTag(){
    var data = {

    };
     $.ajax({
        type: "get",
        url: '/ask/getalltag',
        data: data,
        dataType: "json",
        success:function(taglist){
            console.log(taglist);
            var str = '<li><div class="tag-li-list"><div class="tag-tag">火锅</div></div><div class="tag-li-list"><div class="tag-type">美食,出行</div></div><div class="tag-li-list list-img img1"><img class="tag-img" src="/img/test.jpg" alt=""></div><div class="tag-li-list list-img img2"><img class="tag-img" src="/img/test.jpg" alt=""></div><div class="tag-li-list list-img img3"><img class="tag-img" src="/img/test.jpg" alt=""></div><div class="tag-li-list list-img img4"><img class="tag-img" src="/img/test.jpg" alt=""></div></li>';
            if(taglist.code == 200){
                var list = '';
                for(var i = 0; i < taglist.data.length; i++){
                    var tagUrl = taglist.data[i].tagUrl ? taglist.data[i].tagUrl : "/img/add.jpg";
                    var tagUrl1 = taglist.data[i].tagUrl1 ? taglist.data[i].tagUrl1 : "/img/add.jpg";
                    var tagUrl2 = taglist.data[i].tagUrl2 ? taglist.data[i].tagUrl2 : "/img/add.jpg";
                    var tagUrl3 = taglist.data[i].tagUrl3 ? taglist.data[i].tagUr3 : "/img/add.jpg";
                    // if(!taglist.data[i].tagUrl){
                    //     tagUrl
                    // }
                    var type = taglist.data[i].tagOrderby;
                    console.log(type);
                    type = type.split(",")
                    var typeName = '';
                    if(type.length == 1){
                        typeName = formatType(type[0]);
                    }else{
                        typeName = formatType(type[0]) + ','+ formatType(type[1]);
                    }
                    list += '<li data-id="'+taglist.data[i].objectId+'"><div class="tag-li-list"><div class="tag-tag">'+taglist.data[i].tagName+'</div></div><div class="tag-li-list"><div class="tag-type">'+typeName+'</div></div><div class="tag-li-list list-img img1"><img class="tag-img" data-type="0" src="'+tagUrl+'" alt=""></div><div class="tag-li-list list-img img2"><img class="tag-img" data-type="1" src="'+tagUrl1+'" alt=""></div><div class="tag-li-list list-img img3"><img class="tag-img" data-type="2" src="'+tagUrl2+'" alt=""></div><div class="tag-li-list list-img img4"><img class="tag-img" data-type="3" src="'+tagUrl3+'" alt=""></div></li>';
                }
                $(".tag-list-content").append(list);
            }
            
        },
        error:function(error){
            console.log(error);
        },
    });
  }
    showTag();

    //上传更改图片
    $(".tag-list-content").on("click",".tag-img",function(){
        var id = $(this).parent().parent("li").attr("data-id");
        var type = $(this).attr("data-type");
        console.log(id);
        console.log(type);
        $("#multiple").click();
    })

  //在输入框内添加标签
    $(".input-edit").on("input change",function(){
      console.log($(this).val());
      var text = $(this).val();
      if(text.indexOf(";")!=-1 || text.indexOf("；")!=-1 || text.indexOf(",")!=-1 || text.indexOf("，")!=-1){
        var text = text.substr(0,text.length-1);
        $(".ww-typeHelper-input").val(text);
        
        var len = GetLength(text);
        console.log(len);
        if(len > 10){
          $.toast("标签字数过多");
          return;
        }
        var tagNum = $(".tag-content .type-item").length;
        if(tagNum >= 3){
          $.toast("最多只能选择三个二级标签");
          return;
        }

        console.log(text);
        var span = '<span class="type-item">'+text+'</span>';
        // $("this").before(span);
        $(".ww-typeHelper-left").before(span);
        $(this).val('');
        $(".tag-content").append(span);
      }
    })

    //点击二级标签删除主页二级标签
    $(".tag-content").on("click",".type-item",function(){

      $(this).remove();
      var $_this = $(this);
      var span = '<span class="type-item">'+ $(this).text()+'</span>';
      $(".tag-li").append(span);
      $.each($("#tag-content .type-item"),function(i,v){
        console.log($(v).text());
        if($(v).text() == $_this.text()){
          $(v).remove();
        }
      })

    })

  //详情内容隐藏
    function deShow(text){
      var str = {};
      str = text.split("##");
      var show = '';
      var hidden = '';
      var detail = ''
      for(var i = 0; i < str.length; i++){
        if(i%2){
          var starLen = ''
          for(var j = 0; j < str[i].length; j++){
            starLen += '*';
          }
          detail += '<span class="hidden-text">'+starLen+'</span>';
        }else{
          detail += str[i];
        }
      }
      $(".de-show").empty();
      $(".de-show").append(detail);
    }

  //详情输入后显示到主页
    $("#dedit-detail").on("input change",function(){
      var text = $("#detail").val();

      //显示到主页
      $("#detail-content .card-content-inner").text(text);
      deShow(text);
    })

    $(".button-start,.button-end").on("click",function(){
      // var text = $("#detail").val();
      // $("#detail").val(text+"##");
      // $("#detail-content .card-content-inner").text($("#detail").val());
      // localStorage["detail"] = $("#detail").val();
      $("#detail").insertAtCousor("##");
      var text = $("#detail").val();
      $("#detail-content .card-content-inner").text(text);
      deShow(text);
    })

    // reason();
    // function reason(){
    //   var  detail = $("#hidden-content").val();
    //     console.log(detail);

    //   //设置描述
    //   var hidden = '<span class="hidden-text">***</span>';
    //   str = detail.split("##");
    //   var detailContent = '';
    //   for(var i = 0; i < str.length; i++){
    //     if(i%2){
    //       detailContent += str[i];
    //     }else{
    //       detailContent += str[i]+hidden;
    //     }
    //   }
    //   $("#hidden-content").empty();
    //   $("#show-content").append(detailContent);

      // console.log(localStorage.detail);
      // if(localStorage.detail){
      //   $("#detail").val(localStorage.detail);

      //   var str = {};
      //   str = localStorage.detail.split("##");
      //   var show = '';
      //   var hidden = '';
      //   var detail = ''
      //   for(var i = 0; i < str.length; i++){
      //     if(i%2){
      //       var starLen = ''
      //       for(var j = 0; j < str[i].length; j++){
      //         starLen += '*';
      //       }
      //       detail += '<span class="hidden-text">'+starLen+'</span>';
      //     }else{
      //       detail += str[i];
      //     }
      //   }
      //   $(".de-show").empty();
      //   $(".de-show").append(detail);

      //   $("#detail-content .card-content-inner").text(localStorage.detail);
      // }



    //    function getHideText(){
    //   var text = $("#detail").val();
    //   // console.log(text.indexOf("##"));
    //   var str = {};
    //   str = text.split("##");
    //   var show = '';
    //   var hidden = '';
    //   for(var i = 0; i < str.length; i++){
    //     if(i%2){
    //       hidden += str[i]+"##";
    //     }else{
    //       if( i == str.length-1){
    //         show += str[i];
    //       }else{
    //         show += str[i]+"##";
    //       }
          
    //     }
    //   }
    //   var textDetail = {
    //     show:show,
    //     hidden:hidden
    //   }
    //   return(textDetail);
    // }

    //详情输入后显示到主页
    $("#detail").on("input change",function(){
      var strs = $("#detail").val();
      var str =  strs.split("##");
      var show = '';
        var hidden = '';
        var detail = ''
        for(var i = 0; i < str.length; i++){
          if(i%2){
            var starLen = ''
            for(var j = 0; j < str[i].length; j++){
              starLen += '*';
            }
            detail += '<span class="hidden-text">'+starLen+'</span>';
          }else{
            detail += str[i];
          }
        }
        $(".de-show").empty();
        $(".de-show").append(detail);
      // console.log("aax1");
      // var str = getHideText().show;
      // console.log(str);
      // $(".de-show").append(str);
})



    var marker;
    var map, geolocation;
    //加载地图，调用浏览器定位服务
    map = new AMap.Map('container', {
        resizeEnable: true,
        zoom:17
    });
    map.plugin('AMap.Geolocation', function() {
        geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,//是否使用高精度定位，默认:true
            timeout: 10000,          //超过10秒后停止定位，默认：无穷大
            buttonDom:'<div class="geolocation-position"><img src="/img/position.png"></div>',
            buttonOffset: new AMap.Pixel(20, 25),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            buttonPosition:'LB'
        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition();
        AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
        AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
    });
    //解析定位结果
    function onComplete(data) {
        var str=['定位成功'];
        str.push('经度：' + data.position.getLng());
        str.push('纬度：' + data.position.getLat());

        // marker = new AMap.Marker({
        //     map : map,
        //     position: [data.position.getLng(),data.position.getLat()],
        //     draggable: true,
        //     cursor: 'move',
        //     raiseOnDrag: true,
        //     clickable:true
        // });
        // marker.setMap(map);

        str.push('精度：' + data.accuracy + ' 米');
        str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));
        console.log("定位成功");
    }
    //解析定位错误信息
    function onError(data) {
        
    }
    //点击标注
    map.on('click', function(e) {

      //clear all markers
      map.clearMap();
      // mapShow.clearMap();
      lnglatXY = [e.lnglat.getLng(), e.lnglat.getLat()]; //已知点坐标
      getAddress(lnglatXY,{
        success:function(address){
          var detail = address.formattedAddress;
          // var address = {
          //   province : address.addressComponent.province,
          //   city     : address.addressComponent.city,
          //   district : address.addressComponent.district
          // }
          var address = {
              province : address.addressComponent.province,
              city     : address.addressComponent.city,
              district : address.addressComponent.district,
              township : address.addressComponent.township
            }
          // var address = JSON.stringify(address);
          console.log(address);
          var strs = address.province+"-"+address.city+"-"+address.district+"-"+address.township;
          console.log(strs);

          // $(".place").empty();
          // $(".place").append(strs);

          // detail = detail.replace(address[0]+address[1]+address[2]+address[3],"");
          var replace = ""+address.province+address.city+address.district+address.township+"";
          detail = detail.replace(replace,"");
          address.detail = detail;
          $(".place").empty();
          $(".place").append(replace+detail);

          var address = JSON.stringify(address);
          // $("#address-content .item-inner").attr("data-address",address);
          // $("#address-content .item-inner").text(detail);
          $(".address-content").attr("data-address",address);
        }
      });

      console.log('您在[ '+e.lnglat.getLng()+','+e.lnglat.getLat()+' ]的位置点击了地图！');
        // alert('您在[ '+e.lnglat.getLng()+','+e.lnglat.getLat()+' ]的位置点击了地图！');
      var icon = new AMap.Icon({
          // image : 'http://vdata.amap.com/icons/b18/1/2.png',//24px*24px
          //icon可缺省，缺省时为默认的蓝色水滴图标，
          // size : new AMap.Size(24,24)
      });
      marker = new AMap.Marker({
        icon : icon,//24px*24px
        map : map,
        position: [e.lnglat.getLng(),e.lnglat.getLat()],
        draggable: true,
        cursor: 'move',
        raiseOnDrag: true,
        clickable:true
      });
      localStorage["lng"] = e.lnglat.getLng();
      localStorage["lat"] = e.lnglat.getLat();

      $("#container").attr("data-lng",e.lnglat.getLng());
      $("#container").attr("data-lat",e.lnglat.getLat());
      marker.setMap(map);
      // markerShow.setMap(mapShow);
    // });

    if(marker){
      //拖动标注后回调的坐标
      console.log("1234578");
       marker.on("dragend",function(){
        console.log(this.getPosition());
        var lat = this.getPosition().lat;
        var lng = this.getPosition().lng;
        $("#container").attr("data-lng",lng);
        $("#container").attr("data-lat",lat);

        localStorage["lng"] = lng;
        localStorage["lat"] = lat;

        // mapShow.clearMap();
        // var markerShow = new AMap.Marker({
        //   icon : icon,//24px*24px
        //   map : mapShow,
        //   position: [lng,lat],
        //   draggable: true,
        //   cursor: 'move',
        //   raiseOnDrag: true,
        //   clickable:true
        // });
        var lnglatXY = [lng,lat];
        console.log(lnglatXY);
        getAddress(lnglatXY,{
          success:function(address){
            var detail = address.formattedAddress;
            // var address = {
            //   province : address.addressComponent.province,
            //   city     : address.addressComponent.city,
            //   district : address.addressComponent.district
            // }
            var address = {
              province : address.addressComponent.province,
              city     : address.addressComponent.city,
              district : address.addressComponent.district,
              township : address.addressComponent.township
            }
            // $(".place").empty();
            var place = ""+address.province+"-"+address.city+"-"+address.district+"-"+address.township+"";
            // console.log(place);
            // $(".place").append(place);
            // var address = JSON.stringify(address);
            console.log(address);
            var replace = ""+address.province+address.city+address.district+address.township+"";
            detail = detail.replace(replace,"");
            address.detail = detail;

            $(".place").empty();
             $(".place").append(replace+detail);

            console.log(detail);
            var address = JSON.stringify(address);
            console.log(address);
            $(".address-content").attr("data-address",address);
            // $(".address-content").text(detail);
          },
          error:function(error){
            console.log(error);
          }
        });
      })
    }
});

     //设置地点
      // var lnglatXY = [lng,lat];
      // getAddress(lnglatXY,{
      //     success:function(address){
      //       var detail = address.formattedAddress;
      //       var address = {
      //         province : address.addressComponent.province,
      //         city     : address.addressComponent.city,
      //         district : address.addressComponent.district,
      //         township : address.addressComponent.township
      //       }
      //       var replace = ""+address.province+address.city+address.district+address.township+"";
      //       detail = detail.replace(replace,"");
      //       $("#address-content .item-title").text(detail);
      //     }
      //   });


      function getHideText(){
          var text = $("#detail").val();
          // console.log(text.indexOf("##"));
          var str = {};
          str = text.split("##");
          var show = '';
          var hidden = '';
          for(var i = 0; i < str.length; i++){
            if(i%2){
              hidden += str[i]+"##";
            }else{
              if( i == str.length-1){
                show += str[i];
              }else{
                show += str[i]+"##";
              }
              
            }
          }
          var textDetail = {
            show:show,
            hidden:hidden
          }
          return(textDetail);
        }






        $('.btn_send').on('click', function () {
            //console.log($('.check-box').find('input')[0].checked);
            var type = "";
            for (var i = 0; i < $('.check-box').find('input').length; i++) {
                if ($('.check-box').find('input')[i].checked == true) {
                    type += i+1;
                }
            }
            if (type.length == 0) {
                $.toast("主题不能为空");
                return;
            }
            if (type.length > 2) {
                $.toast("主题不能多于两个");
                return;
            }
            if (type.length == 2) {
                type = insert_flg(type, ',', 1);
                type=type.substring(0,type.length-1);
            }
            console.log(type);

            // var temp = $('.input-tag').val();
            // temp = temp.replace('；', ';');
            // temp = temp.split(";");
            // var tag = new Array();
            // for (var i = 0; i < temp.length; i++) {
            //     tag[i] = {
            //         tag_name:temp[i]
            //     }
            // }
            // if (tag[0].tag_name == "") {
            //     return;
            // }
            //获取填写的tag
            var tag = new Array();
            var $_tag = $(".tag-content .type-item");
            if(!$_tag.length){
              $.toast("你还没有填写标签");
               return;
            }else{
              $.each($_tag,function(i,v){
                tag[i] = {
                  tag_name: $(this).text()
                }
                // $(this).text();
              })
              tag = JSON.stringify(tag);
            }
            // tag = JSON.stringify(tag);
            console.log(tag);
            var reason = $('.edit-reason').val();
            // var detail = $('.de-show').text();
            var price = $('.input-price').val();
            //获取详情
            var detail = $("#detail").val();
            var content_show = '',
                content_hide = '';
            if(!detail){
              $.toast("你还没有填写信息详情");
              return;
            }else{
              var detailContent = getHideText();
              console.log(detailContent);
              content_show = detailContent.show;
              content_hide = detailContent.hidden;
            }

            console.log(reason);
            console.log(detail);
            console.log(price);


            if(!price){
              isfree = 1;
              price  = 0;
            }else{
              isfree = 0;
            }

            //获取标注位置的经纬度
            lng = $("#container").attr("data-lng");
            lat = $("#container").attr("data-lat");
            if(!lng || !lat){
              $.toast("你还没有添加地图标注");
              return;
            }

            var position = $(".address-content").attr("data-address");
            $.showPreloader("正在提交");

            var data = {
                username     : '<%= username %>',
                type         : type,
                geo_x        : lng,
                geo_y        : lat,
                position     : position,
                reason       : reason,
                content_show : content_show,
                content_hide : content_hide,
                isfree       : isfree,
                price        : price,
                tag          : tag

            }
            console.log(data);
            // return ;
            $.ajax({
                type: "post",
                url: '/ask/sendask',
                data: data,
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    $.hidePreloader();
                    if (result.code == 200) {
                        $.toast("发布成功");
                        for (var i = 0; i < $('.check-box').find('input').length; i++) {
                            $('.check-box').find('input')[i].checked = false;
                        }
                        $('.input-tag').val("");
                        $('.edit-reason').val("");
                        $('.de-show').val("");
                        $('.input-price').val("0.00");
                        window.location.reload();
                    }else{
                        $.toast(result.message);
                    }
                },
                error : function(error){
                    $.hidePreloader();
                    $.toast("服务器异常");
                    console.log('err');
                }
            });

        });
        $('.check-detail').on('click', ".btn_pass", function () {
            //console.log('pass click');
            var askId = $('.detail-id').text();
            console.log(askId);
            $.ajax({
                type: "get",
                url: '../../ask/approval',
                data: {ask_id:askId,staus:1},
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    if (result.code == 200) {
                        $('.check-detail').hide();
                        checkAsk();
                        $('.check').show();
                    }
                },
                error : function(){
                    console.log('err');
                }
            });
        });
        $('.check-detail').on('click', ".btn_not", function () {
            //console.log('pass click');
            var askId = $('.detail-id').text();
            console.log(askId);
            $.ajax({
                type: "get",
                url: '../../ask/approval',
                data: {ask_id:askId,staus:5},
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    if (result.code == 200) {
                        $('.check-detail').hide();
                        checkAsk();
                        $('.check').show();
                    }
                },
                error : function(){
                    console.log('err');
                }
            });
        });
        $('.side-bar').on('click', 'ul li', function () {
            $('.side-bar li').removeClass('side-bar-back');
            $('.side-bar li').removeClass('side-bar-backcheck');
            $('.side-bar li').addClass('side-bar-back');
            $(this).addClass('side-bar-backcheck');
            $('.content-title').hide();
            if ($(this).hasClass('send-bar')) {
                $('.send').show();
                //   map = new AMap.Map('show1', {
                //   resizeEnable: true,
                //   zoom:15,
                //   center: [localStorage.lng,localStorage.lat],
                //   buttonOffset: new AMap.Pixel(60, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                //   zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                //   buttonPosition:'LB'
                // });
                //   getMap(103.98767,30.580837);
                   // function getMap(lng,lat){
                   //    //详情地点显示
                   //    var mapShow;
                   //    mapShow = new AMap.Map('container-show', {
                   //      resizeEnable: true,
                   //      zoom:15,
                   //      center: [lng,lat]
                   //    });
                   //    var markerShow = new AMap.Marker({
                   //      map : mapShow,
                   //      position: [lng,lat],
                   //      draggable: true,
                   //      cursor: 'move',
                   //      raiseOnDrag: true,
                   //      clickable:true
                   //    });
                   //    markerShow.setMap(mapShow);
                   //  }
            }
            else if ($(this).hasClass('check-bar')) {
                checkAsk();
                $('.check').show();
                 //详情地点显示
                    // map = new AMap.Map('show2', {
                    //   resizeEnable: true,
                    //   zoom:15,
                    //   center: [localStorage.lng,localStorage.lat],
                    //   buttonOffset: new AMap.Pixel(60, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                    //   zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                    //   buttonPosition:'LB'
                    // });
                  // function getMap(lng,lat){
                  //     //详情地点显示
                  //     var mapShow;
                  //     mapShow = new AMap.Map('container-show', {
                  //       resizeEnable: true,
                  //       zoom:15,
                  //       center: [lng,lat]
                  //     });
                  //     var markerShow = new AMap.Marker({
                  //       map : mapShow,
                  //       position: [lng,lat],
                  //       draggable: true,
                  //       cursor: 'move',
                  //       raiseOnDrag: true,
                  //       clickable:true
                  //     });
                  //     markerShow.setMap(mapShow);
                  //   }
            }
            else if ($(this).hasClass('manage-bar')) {
                manageAsk();
                $('.manage').show();
            }
            else if ($(this).hasClass('total-bar')) {
                $('.total').show();
            }
            else if ($(this).hasClass('account-bar')) {
                $('.account').show();
            }
        });
        $('.check ul').on('click', "li", function () {
            $('.content-title').hide();
            var askId = $(this).text();
            console.log($(this).text());
            $('.check-detail').show();
            var askId = $(this).text();
            $.showPreloader("正在加载");
            $.ajax({
                type: "get",
                url: '/ask/askadmin',
                data: {ask_id:askId},
                dataType: "json",
                success : function(result) {
                    if (result.code == 200 && result.data != null) {
                        console.log(result);
                        var type = result.data.askType;
                        //console.log(type);
                        var strs = type.split(",")
                        console.log(strs);
                        if (result.data.askTagStr != null) {
                            var tag = result.data.askTagStr;
                            var temp = JSON.parse(tag);
                            console.log(temp);
                        }
                        $('.detail-id').empty();
                        //获取上传者
                        $('.detail-createBy').text(result.data.createBy);
                        var data = {
                          username : result.data.createBy
                        }
                        $.hidePreloader();
                        $.ajax({
                          type : "GET",
                          data: data,
                          dataType: "json",
                          url : "/user/getuserinfo",
                          success : function(result){
                            console.log(result);
                            // $.hidePreloader();
                            if(result.code == 200){
                              var photo = result.data.userHead;
                              var username = result.data.uName;
                              $('.detail-createBy').text(username);
                            }else if(result.code == 890){
                              
                            }
                          },
                          error:function(error){
                            $.toast("服务器异常");
                          }
                        });


                        $('.detail-time').empty();
                        $('.detail-status').empty();
                        $('.detail-subject').empty();
                        $('.detail-reason').empty();
                        $('.detail-information').empty();
                        $('.detail-price').empty();
                        $('.detail-label').empty();
                        $(".detail-id").append(result.data.objectId);
                        $('.detail-time').text(formatDate("y.m.d",result.data.updatedAt));

                        $(".detail-status").append(getStaus(result.data.staus));
                        // if(result.data.staus == 5){
                        //     $(".detail-status").addClass("hidden-text");
                        // }
                        var subject = getTitle(strs[0])+"&nbsp&nbsp"+getTitle(strs[1]);
                        $(".detail-subject").append(subject);
                        var label = '';
                        if (result.data.askTagStr != null) {
                            for (var i = 0; i < temp.length; i++) {
                                // label += temp[i].tag_name + "&nbsp&nbsp";
                                if(temp[i].tag_name){
                                    label += '<span class="type-item">'+temp[i].tag_name+'</span>';
                                }
                                // label += '<span class="type-item">'+temp[i].tag_name+'</span>';
                            }
                        }
                        console.log(label);
                        $(".detail-label").append(label);
                        $(".detail-reason").append(result.data.askReason);
                        // var detail = result.data.askContentShow + result.data.askContentHide;
                        // $(".detail-information").append(detail);
                        //解析详情
                        var show = result.data.askContentShow.split("##");
                        var hidden = result.data.askContentHide.split("##");
                        var reasonDetail = '';
                        console.log("len:"+hidden.length);
                        for(var i = 0; i < hidden.length;i++){
                          if(hidden[i]){
                            reasonDetail += show[i] + "<span class='hidden-text'>"+ hidden[i] + "</span>";
                          }else{
                            if(show[i]){
                                reasonDetail+=show[i];
                            }
                          }
                        }
                        if(!hidden.length){
                          reasonDetail = show;
                        }

                        $(".detail-information").append(reasonDetail);
                        var askPosition = JSON.parse(result.data.askPosition);
                        $(".add-detail").text(askPosition.province+"-"+askPosition.city+"-"+askPosition.district+"-"+askPosition.township+"-"+askPosition.detail);

                        $(".detail-price").append(result.data.askPrice);
                        //详情地点显示
                        map = new AMap.Map('show2', {
                          resizeEnable: true,
                          zoom:18,
                          center: [result.data.GeoX,result.data.GeoY],
                          buttonOffset: new AMap.Pixel(60, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                          zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                          buttonPosition:'LB'
                        });
                        marker = new AMap.Marker({
                          map : map,
                          position: [result.data.GeoX,result.data.GeoY],
                          draggable: true,
                          cursor: 'move',
                          raiseOnDrag: true,
                          clickable:true
                        });
                         marker.setMap(map);

                    }
                },
                error : function(){}
            });
        });
        function checkAsk() {
            $.ajax({
                type: "get",
                url: '../../ask/allask',
                data: {staus:2},
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    if (result.code == 200) {
                        var list = "";
                        for (var i = 0; i < result.data.length; i++) {
                            list += '<li>'+result.data[i].objectId+'</li>';
                        }
                    }
                    $('.check ul').empty();
                    $('.check ul').append(list);
                },
                error : function(){}
            });
        }
        function manageAsk() {
            $.ajax({
                type: "get",
                url: '/ask/allask',
                data: {staus:4},
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    if (result.code == 200) {
                        var list = "";
                        for (var i = 0; i < result.data.length; i++) {
                            if(result.data[i].staus == 2){
                                // $(".detail-status").addClass("hidden-text");
                                list += '<li><span class="ask-id">'+result.data[i].objectId+'</span><span class="del">X</span><span class="staus hidden-text">'+getStaus(result.data[i].staus)+'</span></li>';
                            }else if(result.data[i].staus == 5){
                                list += '<li><span class="ask-id">'+result.data[i].objectId+'</span><span class="del">X</span><span class="staus notpass">'+getStaus(result.data[i].staus)+'</span></li>';
                            }else if(result.data[i].staus == 1){
                                list += '<li><span class="ask-id">'+result.data[i].objectId+'</span><span class="del">X</span><span class="staus pass">'+getStaus(result.data[i].staus)+'</span></li>';
                            }else{
                                list += '<li><span class="ask-id">'+result.data[i].objectId+'</span><span class="del">X</span><span class="staus">'+getStaus(result.data[i].staus)+'</span></li>';
                            }
                            // list += '<li><span class="ask-id">'+result.data[i].objectId+'</span><span class="del">X</span><span class="staus">'+getStaus(result.data[i].staus)+'</span></li>';
                        }
                        $('.manage ul').empty();
                        $('.manage ul').append(list);
                    }
                },
                error : function(){}
            });
        }
        function getStaus(staus) {
            var temp = "";
            switch (staus) {
                case "1": temp = "已上架";break;
                case "2": temp = "审批中";break;
                case "3": temp = "未上架";break;
//                case "4": temp = "";break;
                case "5": temp = "审批未通过";break;
            }
            return temp;
        }
        function getTitle(type) {
            var temp = "";
            switch (type) {
                case "1": temp = "美食";break;
                case "2": temp = "住宿";break;
                case "3": temp = "交通";break;
                case "4": temp = "购物";break;
                case "5": temp = "游玩";break;
                case "6": temp = "防坑";break;
            }
            return temp;
        }
        function insert_flg(str,flg,sn){
            var newstr="";
            for(var i=0;i<str.length;i+=sn){
                var tmp=str.substring(i, i+sn);
                newstr+=tmp+flg;
            }
            return newstr;
        }
        var timeIv;
    AMap.plugin(['AMap.Autocomplete','AMap.PlaceSearch'],function(){
      var autoOptions = {
        input: "search"//使用联想输入的input的id
      };
      autocomplete= new AMap.Autocomplete(autoOptions);
      var placeSearch = new AMap.PlaceSearch({
            map:map
      })
      AMap.event.addListener(autocomplete, "select", function(e){
         //TODO 针对选中的poi实现自己的功能
         console.log("123");
         console.log(e.poi);
         placeSearch.setCity(e.poi.adcode);
         placeSearch.search(e.poi.name);
         //这里是设置一个延时来判断是否标注加载完成
         timeIv = setInterval(function(){
          console.log($(".amap-marker").length);
          if($(".amap-marker").length > 5){
            clearInterval(timeIv);
            map.clearMap();
          }
         }, 10);
      });
    });

  //       window.onload = function(){
  //   AMap.plugin(['AMap.ToolBar','AMap.Scale'],function(){
  //       var toolBar = new AMap.ToolBar({
  //           offset: new AMap.Pixel(60, 10)
  //         });
  //       var scale = new AMap.Scale({
  //         offset: new AMap.Pixel(-5, 7)
  //       });
  //       map.addControl(toolBar);
  //       map.addControl(scale);
  //   });

  //   $.hidePreloader();
  // }
  //   $("#search").on("click",function(){
  //       var li = $(".search").val();
  //       console.log(li);
      // var li = $(this).children(".hot-detail").children(".big").text();
      // var city = $(this).children(".hot-detail").children(".small").text().substring(3,6);
      // var placeSearch = new AMap.PlaceSearch({
      //       map:map
      // })
      // if(li == "牛背山"){
      //   placeSearch.setCity(511824);
      //   placeSearch.search(li);
      // }
      // placeSearch.search(li);
      //这里是设置一个延时来判断是否标注加载完成
      //    timeIv = setInterval(function(){
      //     // console.log($(".amap-marker").length);
      //     if($(".amap_lib_placeSearch_poi").length > 0){
      //       // clearInterval(timeIv);
      //       // map.clearMap();
      //       $(".amap_lib_placeSearch_poi").remove();
      //     }
      //    }, 10);
      // $.router.load("#router");
    // })
    // map.getCity(function(data) {
    //       console.log(data);
    //         if (data['province'] && typeof data['province'] === 'string') {
    //             $(".address-text").text(data['city']);
    //         }
    //     });
    // map.on('moveend', getCity);
    // function getCity() {
    //     map.getCity(function(data) {
    //       console.log(data);
    //         if (data['province'] && typeof data['province'] === 'string') {
    //             $(".address-text").text(data['city']);
    //         }
    //     });
    // }
    // var lnglatXY = [lng,lat];
    //   getAddress(lnglatXY,{
    //       success:function(address){
    //         var detail = address.formattedAddress;
    //         var address = {
    //           province : address.addressComponent.province,
    //           city     : address.addressComponent.city,
    //           district : address.addressComponent.district,
    //           township : address.addressComponent.township
    //         }
    //         var replace = ""+address.province+address.city+address.district+address.township+"";
    //         detail = detail.replace(replace,"");
    //         $("#address-content .item-title").text(detail);
    //       }
    //     });
    //   getMap(103.98767,30.580837);
    //   function getMap(lng,lat){
    //   //详情地点显示
    //   var mapShow;
    //   mapShow = new AMap.Map('container-show', {
    //     resizeEnable: true,
    //     zoom:15,
    //     center: [lng,lat]
    //   });
    //   var markerShow = new AMap.Marker({
    //     map : mapShow,
    //     position: [lng,lat],
    //     draggable: true,
    //     cursor: 'move',
    //     raiseOnDrag: true,
    //     clickable:true
    //   });
    //   markerShow.setMap(mapShow);
    // }
    //     map.getCity(function(data) {
    //       console.log(data);
    //         if (data['province'] && typeof data['province'] === 'string') {
    //             $(".address-text").text(data['city']);
    //         }
    //     });
    // map.on('moveend', getCity);
    // function getCity() {
    //     map.getCity(function(data) {
    //       console.log(data);
    //         if (data['province'] && typeof data['province'] === 'string') {
    //             $(".address-text").text(data['city']);
    //         }
    //     });
    // }
    // getMap(103.985616,30.581207);
    // function getMap(lng,lat){
    //   //详情地点显示
    //   var map;
    //   map = new AMap.Map('show2', {
    //     resizeEnable: true,
    //     zoom:20,
    //     center: [lng,lat]
    //   });
    //   var map = new AMap.Marker({
    //     map : map,
    //     position: [lng,lat],
    //     draggable: true,
    //     cursor: 'move',
    //     raiseOnDrag: true,
    //     clickable:true
    //   });
    //   map.setMap(map);
    // }
    // map1 = new AMap.Map('show2', {
    //       resizeEnable: true,
    //       zoom:15,
    //       center: [localStorage.lng,localStorage.lat],
    //       buttonOffset: new AMap.Pixel(60, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
    //       zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
    //       buttonPosition:'LB'
    //     });
    // getMap(103.985616,30.581207);
    // function getMap(lng,lat){
    //   //详情地点显示
    //   var map;
    //   map = new AMap.Map('show1', {
    //     resizeEnable: true,
    //     zoom:20,
    //     center: [lng,lat]
    //   });
    //   var map = new AMap.Marker({
    //     map : map,
    //     position: [lng,lat],
    //     draggable: true,
    //     cursor: 'move',
    //     raiseOnDrag: true,
    //     clickable:true
    //   });
    //   map.setMap(map);
    // }
    </script>

</body>
</html>
