<!DOCTYPE HTML>
<html>
<head>
    <title>WenWo</title>
     <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name='description', content='wenwo,问我,当地人,旅游,攻略,信息,分享'>
    <meta name='author', content='raodqi'>
    <link rel="icon" type="image/x-icon" href="/img/logo.png" media="screen">
    <title>问我——像个当地人一样去旅游</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1462821367_1895313.css">
    <link rel="stylesheet" href="/css/sm.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd&plugin=AMap.Geocoder"></script>
    <script src="/js/echarts.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
</head>
<style>
    * {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
        cursor: pointer;
    }
    .wrap {
        margin: 0 auto;
        width: 1200px;
    }
    .title-bar {
        height: 60px;
        background: #f8bd38;
        border-radius: 5px;
        margin-bottom: 3rem;
    }
    .logo {
        color: #fff;
        font-size: 23px;
        line-height: 60px;
        margin-left: 20px;
    }
    .list {
        float: left;
        margin-top: 30px;
        margin-left: 30px;
    }
    .side-bar {
        width: 200px;
        /*background: #000;*/

    }
    .side-bar ul {
        /*border-radius: 10px;*/
        overflow: hidden;
    }
    .side-bar ul li {
        /*margin-bottom: 10px;*/
        text-align: center;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        background: #eee;
        margin:10px; 
       /* padding-top: 10px;
        padding-bottom: 10px;*/
    }
    ul li:hover {
        /*background: #ddd !important;*/
        background: #f8bd38 !important;
        color: white;
    }
    .manage-content {
        background: #eee;
        width: 880px;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px 20px 20px 20px;
    }
    .manage ul li {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .manage ul li .ask-id {
        display: inline;
        margin-left: 30px;
        line-height: 20px;
        /*width: 90%;*/
    }
    .manage ul li .staus, .manage ul li .del {
        float: right;
        line-height: 20px;
        /*clear: both;*/
        margin-right: 30px;
    }
    .manage ul li .del:hover {
        color: red;
    }
    .check li {
        padding: 10px 0;
        font-size: 20px;
        text-align: center;

    }
    .side-bar-back{
        background: #eee !important;
    }
    .side-bar-backcheck {
        background: #f8bd38 !important;
        color: white;
    }
    .btn_pass, .btn_not, .btn_send,.btn_down,.btn_edit,.btn_add,.btn_save,.btn_delete,.location-btn_save,.vipcard-add{
        margin: 0;
        margin-top: 20px;
        font-size: 16px;
        color: white;
        border-radius: 5px;
        padding: 0;
        width: 100px;
        height: 40px;
        background: #f8bd38;
        border: none;
    }
    .btn_add{
        background: #6ed56c;
        margin-right: .5rem; 
    }
    .btn_save,.location-btn_save{
        background-color: #008be7;
    }
    .btn_delete,.ask_btn_delete,.ask_btn_add_vipcard{
        background-color: #f74b46;
        margin-left: .5rem; 
    }
    .ask_btn_delete,.ask_btn_add_vipcard,.ask_btn_look_vipcard,.ask_btn_changetag{
        position: absolute;
        top:0;
        right:0;
        display: block;
        margin: 0;
        font-size: 16px;
        color: white;
        padding: 0;
        width: 100px;
        height: 40px;
        border: none;
    }
    .ask_btn_changetag{
        right: 0;
        margin-top: 50px;
    }
    .ask_btn_add_vipcard{
        left:0;
        background-color: #4cd964;
    }
    .ask_btn_look_vipcard,.ask_btn_changetag{
        left:0;
        background-color: #008be7;
    }
    textarea {
        display: block;
        height: 100px;
        width: 300px;
    }
    .input-edit,#search {
        height: 30px;
        width: 240px;
        padding: 0 10px 0 10px;
        font-size: 15px;
        /*border-radius: 2px;
        border: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        padding-left: 10px;
        margin-left: 10px;
        text-transform: lowercase;
        background-color: white;*/
    }
    .input-price {
        text-align: left;
    }
    .container-show{
        height: 400px;
        width: 400px;
        background-color: white;
    }
    .left{
        float: left;
        margin-right: 10px;
    }
    .hidden-text{
        color: red;
    }
    .de-show{
        padding:10px;
        font-size: 15px; 
        width: 300px;
    }
    .place{
        color: red;
        font-size: 15px;
        /*width: 300px;*/
        padding-left: 10px;
        line-height: 30px;
    }
    .check-box label{
        margin-right: 10px;
    }
    .check-box,.div-tag,.div-reason{
        margin-bottom: 10px;
    } 
    .type-item {
        display: inline-block;
        padding: 0px 20px;
        /* color: #FFC222; */
        /* background-color: #FFDC7F; */
        height: 30px;
        line-height: 30px;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        margin: 0 .5rem .2rem 0;
        border-radius: 3px;
        border: 1px solid #393e49;
    }
    .edit-reason,.edit-detail{
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
    }
    .button-start{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        color: white;
        width: 100px;
        margin: 10px auto;
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
        background-color: #efc553 !important;
        cursor: pointer;
        margin-left: 100px;
    }
    .edit-detail{
        height: 200px;
    }
    #search{
        width: 400px;
        display: block;
    } 
    body{
        overflow: auto;
    }
    .address-content{
        /*float: left;*/
        margin-bottom: 10px;
    }
    .amap-sug-result{
        top:213px !important;
    }
    .geolocation-position img{
        width: 40px;
        height: 40px;
    }
    .modal-overlay{
        display: none !important;
    }
    .modal-inner{
        background: rgba(0,0,0,.8);
        color: white;
    }
    .modal{
        position: fixed;
    }
    .notpass{
        color: #B9B9B9;
    }
    .pass{
        color: #4CAF50;
        font-weight: bolder;
    }
    .tag-li-list{
        /*height: 80px;*/
        /*line-height: 100px;*/
        /*display: inline-block;*/
        float: left;
        width: 200px;
        text-align: center;
        font-size: 18px;

    }
    .tag-tag,.tag-type,.add-img{
        width: 80px;
        height: 80px;
        cursor: pointer;
    }
    .tag-tag,.tag-type{
        width: 200px;
        text-align: center;
        line-height: 80px;
    }
    .content-title.tag li{
        width: 100%;
    }
    .content-title.tag ul li:hover {
        color: black !important;
    }
    .list-img{
        width: 100px;
    }
    #multiple{
        display: none;
    }
    .modal-text-input{
        color: black;
    }
    .modal-button{
        background: rgba(0,0,0,.8);
    }
    .send-img{
        height: 180px;
        line-height: 180px;
        margin-bottom: 10px;
    }
    .vipCard .send-img{
        height: 180px;
        line-height: 180px;
        margin-bottom: 10px;
    }
    .send-img label{
        display: block;
        float: left;
        height: 80px;
    }
    .send-num{
        margin:20px 0 10px 0;
    }
    .send-content-li,.vipcard-send-content-li{
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #ccc;
        margin-top: 1rem;
    }
    .send-url input{
        width: 25rem;
    }
    .carouse-num{
        width: 2.5rem;
        text-align: center;
    }
    .carousel-content-tip{
        color: #008be7;
        background: #f4faff;
        /*border-color: #4eb9ff;*/
        padding:.6rem;
        border-left: .5rem solid #4eb9ff;
        font-size: .72rem;
    }
    .carouse-show{
        margin-left: .5rem;
        margin-right: .3rem;
        color: #000000;
        font-size: .82rem;
    }
    .send-name{
        margin: .3rem 0;
    }
    .preloader-modal{
        position: fixed;
        bottom:0;
    }
    .red{
        color: #f74b46;
    }
    .share-edit{
        height: 36rem;
        width: 100%;
        border:0;
    }
    .manageData{
        top:3.2rem;
        position: absolute;
        /*margin-top:1rem;*/
        text-align: center;
        width: 900px;
        left:50%;
        transform: translateX(-50%);
        margin-left: 3rem;
    }
    .data-li{
        float: left;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border:1px solid #4cd964;
        margin:0  2rem;
    }
    .li-title{
        font-size: .4rem;
        color:#b0b0b0;
    }
    .li-num{
        margin-top: .5rem;
    }
    .yestoday,.today{
        position: absolute;
        font-size: .5rem;
        border:1px solid #ccc;
        border-radius: 5px;
        margin-left: 3.2rem;
        padding:.05rem .2rem;
    }
    .yestoday{
        bottom:.2rem;
    }
    .today{
        top:.2rem;
    }
    .yestoday .color{
        color:red;
        font-size: .65rem;
        margin-left: .1rem;
    }
    .today .color{
        color:#008be7;
        font-size: .65rem;
        margin-left: .1rem;
    }
    .delete-data-btn{
        margin: 0;
        margin: 150px auto;
        font-size: 16px;
        color: white;
        border-radius: 5px;
        padding: 0;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #f8bd38;
        border: none;
        background-color: #f74b46;
        cursor: pointer;
    }
    /*地址搜索UI */
    .location-box-li{
        /*background-color: white;*/
    }

    .location-box-li .hot-title{
        padding:.8rem 0 0 .8rem;
    }
    .my-location-content{
        padding: .6rem 0 .5rem .8rem;
        border-bottom: 1px solid #eee;
        margin-bottom: .5rem;
    }
    .location-city{
        font-size: .76rem;
        color: #333;
        /*font-weight: bold;*/
    }
    .location-detail{
        font-size: .6rem;
        color: #ccc;
    }

    .hot-location-content-li{
        font-size: .76rem;
        color: #333;
        /*font-weight: bold;*/
        padding:.6rem .8rem;
        border-bottom: 1px solid #eee;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #ccc;
        margin-top: 1rem;
    }
    .location-line{
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        margin-left: 5rem;
        border-bottom: 1px solid  #eee;
        margin-top: -.6rem;
    }
    .hot-location .location-line{
        margin-left: 3.3rem;
    }
    .send-hot-num input{
        width: 2rem;
    }
    .send-hot-location input{
        width: 20rem;
    }
    .hot-location-list{
        position: absolute;
        width: 20rem;
        background-color: white;
        margin-left:59px;
        margin-top: -30px;
    }
    .auto-item {
        padding: .6rem .8rem;
        border-bottom: 1px solid #eee;
    }
    .no-address .no-address-img {
        width: 4rem;
        height: 4rem;
        display: block;
        margin: 2rem auto 1rem;
    }
    .no-address{
        text-align: center;
        font-size: .5rem;
        color: #999;
        height: 100%;
        padding-bottom: 2.5rem;
    }

    .card-li{
        display: inline-block;
        width: 300px;
        height: 424px;
        margin: 20px auto;
        -webkit-box-shadow: 2px 2px 2px #ccc;  
        -moz-box-shadow: 2px 2px 2px #ccc;  
        box-shadow: 2px 2px 2px #ccc;  
        border-radius: 6px;
        background-color: white;
        margin-right: 20px;
    }

    .card-img{
        height: 61.8%;
        border-radius: 6px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .card-detail,.card-by{
        width: 100%;
        font-size: 14.8px;
        padding: 0 16px;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .card-detail{
        height: 41px;
    }
    .card-by{
        text-align: right;
        margin-top: 20px;
        padding-right: 20px;
    }

    .card-content{
        background-color: #f4f4f4;
        height: 100%;
    }

    .card-delete,.card-pass,.card-add{
        font-size: 16px;
        color: white;
        border-radius: 5px;
        padding: 0;
        width: 100px;
        height: 30px;
        background-color: #f74b46;
        border: none;
        margin: 30px auto;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
    .card-pass{
        background-color: #008be7;
    }
    .card-add{
        background-color: #4cd964;
    }
    .card-content-edit,.card-content-add{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 800px;
    }
    .card-ul{
        list-style: none;
        white-space: nowrap;
    }
    .card-detail{
        white-space: normal;
    }
    .wenwo-li {
        float: left;
        padding: 0;
        height: auto;
        width: 360px;
        min-height: 240px;
        margin-top: 0;
        margin-bottom: .5rem;
    }
    .wenwo-ask-img {
        position: relative;
        width: 100%;
        height: 240px;
    }
    .ask-reason{
        position: absolute;
        height: 30px;
        color: white;
        font-size: 15px;
        padding:10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        box-sizing: content-box;
        bottom:10px;
    }
    .wenwo-gradient {
        position: absolute;
        height: 240px;
        width: 100%;
        border: 0;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 55%, rgba(0, 0, 0, 0.2) 88%, rgba(0, 0, 0, 0.35) 97%);
    }

    .wenwo-li{
        margin-right:10px;
    }
    .vipcard .vipcard-content{
        width: 400px;
        height: 200px;
        /*display: inline-block;*/
        float: left;
        margin-left: 10px;
        padding:10px;
        font-size: 14px;
    }
    .vipcard .send-name{
        height: 200px;
    }
    .vipcard .send-name label{
        float: left;
        height: 200px;
    }
    .preloader{
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin:10px auto;
    }
    .no-data{
        text-align: center;
        color: #aaa;
        font-size: 17px;
        margin-top: 30px;
    }
    .vipcard-list-content{
        display: none;
        position: fixed;
        width: 500px;
        height: 500px;
        background: white;
        border-radius: 10px;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .vipcard-list-content-ul{
        height: 400px;
        width: 500px;
        overflow-y: auto;
        padding-bottom: 10px;
    }
    .vipcard-list-content-ul .vipcard-send-content-li{
        border: 0;
        width: 50%;
        float: left;
        text-align: center;
        padding-bottom: 0;
        box-sizing: border-box;
    }
    .vipcard-add{
        margin:10px auto;
        text-align: center;
        background: #4cd964;
        width: 150px;
        line-height: 40px;
        margin-top: 40px;
        cursor: pointer;
    }
    .vipcard-list-cancel{
        font-size: 20px;
        position: absolute;
        right: -15px;
        top:-15px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border:1px solid #000;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
    .vipcard-checked{
        border: 1px solid #f8bd38 !important;
    }
    .vipcard .send-img,.vipcard .send-name{
        height: 300px !important;
        /*line-height: 300px;*/
    }
    .card-bg,.card-bg2{
        margin-left: 50px;
        width: 456px;
        height: 300px;
        background: url(/img/card/card-bg1.png);
        background-size: cover;
        text-align: center;
        line-height: 340px;
    }
    .card-bg{
        position: absolute;
    }
    .card-bg2{
        margin-left: 380px;
        background: url(/img/card/card-bg2.png);
    }
    .tag-img{
        height: 80px;
        cursor: pointer;
        margin-top: 40px;
    }
    .send .tag-img{
        height: 180px;
        cursor: pointer;
        margin-top: 40px;
    }
    .wenwo-logo1{
        height: 30px;
        position: absolute;
        left:10px;
        margin-top: 255px;
        z-index: 2;
    }
    .wenwo-logo2{
        height: 30px;
        position: absolute;
        z-index: 2;
        margin-top: 115px;
        margin-left: 114px !important;
    }
    .card-bg .card-dialog{
        width: 150px;
        height: 42px;
        position: absolute;
        margin-top: -91px;
        background: rgba(255,255,255,.7);
    }
    .card-bg2 .card-dialog{
        width: 131px;
        height: 42px;
        position: absolute;
        margin-top: 109px;
        margin-left: 325px;
        /*margin-top: -91px;*/
        background: rgba(255,255,255,.7);
    }
    .vipcard-content{
        width: 280px !important;
        /*line-height: 0;*/
        /*background: none !important;
        border:0 !important;
        resize: none;*/
    }
    .card-bg2{
        line-height: 0;
    }
    .content-box{
        position: relative;
        display: table-cell;
        height: 140px;
        left:125px;
        top:50px;
        vertical-align: middle;
        text-align: left;
        line-height: 25px;
        font-size: 16.4px;
        font-weight: bold;
    }
    .content-li{
        height: 20px;
        font-size: 14px;
        display: table-cell;
        vertical-align: middle;
    }
    .card-tip{
        position: absolute;
        font-size: 10.4px;
        margin-top: 138px;
        margin-left: 20px;
        color: rgba(255, 255, 255, 0.44);
    }
    .wenwo-tip{
        display: block;
        position: absolute;
        width: 50px;
        margin:50px;
    }
</style>
<body>
    <div class="wrap">
        <div class="title-bar">
            <div class="logo" id="logo">WenWo</div>
        </div>
        <div class="manageData">
            <div class="userNum data-li">
                <div class="li-num">--</div>
                <div class="li-title">用户数量</div>
                <div class="yestoday">昨<label class="color">--</label></div>
                <div class="today">今<label class="color">--</label></div>
            </div>
            <div class="askNum data-li">
                <div class="li-num">--</div>
                <div class="li-title">信息数量</div>
                <div class="yestoday">昨<label class="color">--</label></div>
                <div class="today">今<label class="color">--</label></div>
            </div>
            <div class="havedNum data-li">
                <div class="li-num">--</div>
                <div class="li-title">购买数量</div>
                <div class="yestoday">昨<label class="color">--</label></div>
                <div class="today">今<label class="color">--</label></div>
            </div>
            <div class="buyNum data-li">
                <div class="li-num">--</div>
                <div class="li-title">付费数量</div>
                <div class="yestoday">昨<label class="color">--</label></div>
                <div class="today">今<label class="color">--</label></div>
            </div>
            <div class="lookUserNum data-li">
                <div class="li-num">--</div>
                <div class="li-title">活跃用户</div>
                <div class="yestoday">昨<label class="color">--</label></div>
                <div class="today">今<label class="color">--</label></div>
            </div>
        </div>
        <div>
            <div class="list side-bar">
                <ul>
                    <li class="data-bar side-bar-backcheck" id="data">数据统计</li>
                    <li class="send-bar" id="send">轮播图管理</li>
                    <li class="check-bar" id="check">图文发布管理</li>
                    <li class="manage-bar" id="manage">热门地点管理</li>
                    <li class="card-bar" id="askCard">卡片管理</li>
                    <li class="askme-bar" id="askme">信息管理</li>
                    <li class="vipcard-bar" id="vipcard">vip卡管理</li>
                </ul>
            </div>
            <div class="list manage-content">
                <div class="content-title data" style="display: block">
                    <div id="lookUser" style="width: 850px;height:600px;"></div>
                    <div id="main" style="width: 850px;height:600px;"></div>
                </div>
                <div class="content-title send" style="display: none">
                <div class="carousel-content-tip">图片，是否显示按钮点击后不会自动保存，需要点击保存才会保存，图片最好先压缩下才上传。<a target="_black" href="https://tinypng.com" class="red">图片压缩网站</a></div>
                    <div class="send-content-ul">
                        <div class="preloader"></div>
                    </div>
                    <button class='btn_add'>添加</button>
                </div>

                <div class="content-title check" style="display: none">
                    <iframe src="/share/edit" class="share-edit" frameborder="0"></iframe>
                </div>

                <div class="content-title askme" style="display: none">
                    <div class="wenwo-ul">
                        <div class="preloader"></div>
                    </div>
                </div>
                <div class="content-title manage" style="display: none">
                    <div class="">
                        <div class="hot-location location-box-li">
                            <div class="hot-location-content">
                                <div class="preloader"></div>
                            </div>
                            <button class='btn_add'>添加</button>
                        </div>
                    </div>
                </div>
                <div class="content-title askCard" style="display: none">
                    <div class="card-content-edit">
                        <div class="card-ul">
                            <div class="preloader"></div>
                        </div>
                    </div>
                    <div class="card-content-add">
                        <div class="card-ul">
                            <div class="preloader"></div>
                        </div>
                    </div>
                </div>
                <div class="content-title account" style="display: none">
                    <div>
        
                    </div>
                </div>

                <div class="content-title account" style="display: none">
                    <div class="delete-data-btn">
                        删除勇哥购买数据
                    </div>
                </div>

                <div class="content-title vipcard" style="display:none">
                    <div class="vipcard-send-content-ul">
                        <div class="preloader"></div>
                    </div>
                    <button class='btn_add'>添加</button>
                </div>
            </div>
        </div>

        <div class="vipcard-list-content">
            <div class="iconfont icon-x vipcard-list-cancel"></div>
            <div class="vipcard-list-content-ul">
            </div>
            <div class="vipcard-add">添加</div>
        </div>
        <input id="multiple" class="hidden" type="file" id="upload" multiple>
        <input id="dropbox" class="hidden" style="display:none">
    </div>

    <!-- <canvas id="downImg" width="912" height="600"></canvas> -->
    <!-- <canvas id="downImg2" width="912" height="600"></canvas> -->

    <img src="/img/card/card-tip.png" style="display:none" id="hide-card-tip" alt="">
    <img src="/img/card/card-bg1.png" style="display:none" id="hide-card-bg1" alt="">
    <img src="/img/card/card-bg2.png" style="display:none" id="hide-card-bg2" alt="">
    <img src="/img/card/wenwo-bg1.png" style="display:none" id="hide-wenwo-bg1" alt="">
    <img src="/img/card/wenwo-bg2.png" style="display:none" id="hide-wenwo-bg2" alt="">

    <script type='text/javascript' src='/js/zepto.min.js' charset='utf-8'></script>
     <!-- <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd&plugin=AMap.Geocoder"></script> -->

     <script type="text/javascript" src="/js/sm.min.js"></script>
     <script type="text/javascript" src="/js/common.js"></script>
     <script type="text/javascript" src="/js/plupload.full.min.js"></script>
     <script type="text/javascript" src="/js/qiniu.min.js"></script>
    
    <script>
        $(".list li").on("click",function(){
            var  id = this.id;
            console.log(id);
            $(".content-title").hide();
            $("."+id).show();
            $(".list li").removeClass("side-bar-backcheck");
            $(this).addClass("side-bar-backcheck");
        })

        //初始化后台数据
        function getManageData(callback){
            $.ajax({
              type: "GET",
              url: "/manage/getdata",
              data: {},
              dataType: "json",
              success:function(result){
                if(result.code == 200){
                    callback.success(result);
                }else{
                    callback.error(result);
                }
              },
              error:function(error){
                $.toast("服务器出错");
                callback.error(error);
              }
          })
        }
        getManageData({
            success:function(result){
                console.log(result);
                if(result.code == 200){
                    var data = result.data;
                    var dayData = result.dayData;
                    $(".userNum .li-num").text(data.userNum);
                    $(".buyNum .li-num").text(data.buyNum);
                    $(".havedNum .li-num").text(data.havedNum);
                    $(".askNum .li-num").text(data.askNum);
                    //每天访问人数
                    $(".lookUserNum .li-num").text(data.lookUserNum);

                    //计算昨日新增。今日新增
                    $(".userNum .yestoday .color").text(dayData[0].userNum - dayData[1].userNum);
                    $(".buyNum .yestoday .color").text(dayData[0].buyNum - dayData[1].buyNum);
                    $(".havedNum .yestoday .color").text(dayData[0].havedNum - dayData[1].havedNum);
                    $(".askNum .yestoday .color").text(dayData[0].askNum - dayData[1].askNum);

                    $(".lookUserNum .yestoday .color").text(dayData[0].lookUserNum ? dayData[0].lookUserNum : 0);

                    $(".userNum .today .color").text(data.userNum - dayData[0].userNum);
                    $(".buyNum .today .color").text(data.buyNum - dayData[0].buyNum);
                    $(".havedNum .today .color").text(data.havedNum - dayData[0].havedNum);
                    $(".askNum .today .color").text(data.askNum - dayData[0].askNum);

                    $(".lookUserNum .today").hide();
                }
            },
            error:function(error){
                $.toast("请求失败");
            }
        })

        //初始化轮播图功能
        function sendCarouseQuest(url,type,data,callback){
            $.ajax({
              type: type,
              url: url,
              data: data,
              dataType: "json",
              success:function(result){
                if(result.code == 200){
                    callback.success(result);
                }else{
                    callback.error(result);
                }
              },
              error:function(error){
                $.toast("服务器出错");
                callback.error(error);
              }
          })
        }
        function getCarouselInfo(callback){
            var url = "/carousel/getcarouselinfo",
                type = "GET",
                data = {
                    type : "all"
                };
            sendCarouseQuest(url,type,data,{
                success:function(result){
                    callback.success(result);
                },
                error:function(error){
                    callback.error(error);
                }
            })
        }

        function deleteCarouselInfo(id,callback){
            var url = "/carousel/delcarouselinfo",
                type = "POST",
                data = {
                    carousel_id : id
                };
            sendCarouseQuest(url,type,data,{
                success:function(result){
                    callback.success(result);
                },
                error:function(error){
                    callback.error(error);
                }
            })
        }

        function addCarouselInfo(data,callback){
            var url = "/carousel/addcarouselinfo",
                type = "POST",
                data = data;
            sendCarouseQuest(url,type,data,{
                success:function(result){
                    callback.success(result);
                },
                error:function(error){
                    callback.error(error);
                }
            })
        }

        function editCarouselInfo(data,callback){
            var url = "/carousel/editcarouselinfo",
                type = "POST",
                data = data;
            sendCarouseQuest(url,type,data,{
                success:function(result){
                    callback.success(result);
                },
                error:function(error){
                    callback.error(error);
                }
            })
        }

        function deletedata(callback){
            var url = "/manage/deletedata",
                type = "GET",
                data = {};
            sendCarouseQuest(url,type,data,{
                success:function(result){
                    callback.success(result);
                },
                error:function(error){
                    callback.error(error);
                }
            })
        }

        function delLocation(id,callback){
            var url = "/location/dellocation",
                type = "POST",
                data = {
                    location_id : id
                };
            sendCarouseQuest(url,type,data,{
                success:function(result){
                    callback.success(result);
                },
                error:function(error){
                    callback.error(error);
                }
            })
        }

        function addLocation(data,callback){
            var url = "/location/addlocation",
                type = "POST",
                data = data;
            sendCarouseQuest(url,type,data,{
                success:function(result){
                    callback.success(result);
                },
                error:function(error){
                    callback.error(error);
                }
            })
        }

        function editLocation(data,callback){
            var url = "/location/editlocation",
                type = "POST",
                data = data;
            sendCarouseQuest(url,type,data,{
                success:function(result){
                    callback.success(result);
                },
                error:function(error){
                    callback.error(error);
                }
            })
        }

        getCarouselInfo({
            success:function(result){
                console.log(result);
                var data = result.data;
                var li = '';
                for(var i = 0 ; i < data.length; i++){
                    li += '<div class="send-content-li" data-num="1" data-id="'+data[i].objectId+'" id="'+data[i].objectId+'"><div class="send-img"><label> 轮播图:</label><img class="tag-img" data-type="0" src="'+data[i].carouselImage+'" alt=""></div><div class="send-name">名字：<input class="name" type="text" value="'+(data[i].carouselName?data[i].carouselName:"")+'"></div><div class="send-url">链接：<input type="text" value="'+data[i].carouselClickURL+'"></div><button class="btn_save">保存</button><button class="btn_delete">删除</button><label class="carouse-show">是否显示</label><label class="label-switch"><input type="checkbox" '+(data[i].show ? "checked='true'" : "")+'><div class="checkbox"></div></label></div>';
                }
                $(".send-content-ul").empty().append(li);
            },
            error:function(error){
                console.log(error);
            }
        })

        $(".send .btn_add").on("click",function(){
            var length = $(".send-content-li").length;
            li = '<div class="send-content-li" data-num="1" data-type="add"><div class="send-img"><label> 轮播图:</label><img class="tag-img" data-type="0" src="/img/add.jpg" alt=""></div><div class="send-name">名字：<input class="name" type="text" value=""></div><div class="send-url">链接：<input type="text" value=""></div><button class="btn_save">保存</button><button class="btn_delete">删除</button><label class="carouse-show">是否显示</label><label class="label-switch"><input type="checkbox" checked="true"><div class="checkbox"></div></label></div>';
            $(".send-content-ul").append(li);
        })

        $(".manage .btn_add").on("click",function(){
            var length = $(".send-content-li").length;
            li = '<div class="hot-location-content-li" data-type="add" id="location'+(length+1)+'"><div class="send-hot-location">地点：<input type="text" value=""></div><div class="send-hot-position">坐标：<label class="position-x">0</label>,<label class="position-y">0</label></div><div class="hot-location-list"></div><div class="send-hot-num">热度：<input type="number" value="0"></div><button class="location-btn_save">保存</button><button class="btn_delete">删除</button></div>';
            $(".hot-location-content").append(li);
        })

        $(".vipcard .btn_add").on("click",function(){
            $(".vipcard .no-data").remove();
            var length = $(".send-content-li").length;
            // li = '<div class="vipcard-send-content-li" data-num="1" data-type="add"><div class="send-img"><label>logo:</label><img class="tag-img" data-type="0" src="/img/add.jpg" alt=""></div><div class="send-name">  <label>优惠:</label><textarea class="vipcard-content"></textarea></div><div class="show-vipcontent"></div><button class="btn_save">保存</button><button class="btn_delete">删除</button></div>';

            li = '<div class="vipcard-send-content-li" data-num="1" data-type="add"><div class="send-img"><label>logo:</label><div class="card-bg"><img class="tag-img" data-type="0" src="/img/add.jpg" alt=""><img src="/img/card/wenwo-bg1.png" class="wenwo-logo1" alt=""><div class="card-dialog"></div></div></div><div class="send-name"><label>优惠:</label><textarea class="vipcard-content"></textarea><div class="card-bg2"><img src="/img/card/card-tip.png" class="wenwo-tip" alt=""><div class="content-box"></div><img src="/img/card/wenwo-bg2.png" class="wenwo-logo2" alt=""><div class="card-dialog"></div><div class="card-tip">★最终解释权归「问我」所有</div></div></div><div class="show-vipcontent"></div><button class="btn_save">保存</button><button class="btn_delete">删除</button></div>';

            $(".vipcard-send-content-ul").append(li);
        })

        $(".send-content-ul").on("click",".btn_delete",function(){
            var id = $(this).parent().attr("data-id");
            var $parent = $(this).parent();
            console.log(id);
            if(!id){
                $parent.remove();
            }else{
                //发起删除请求
                $.confirm('你确定要删除这条数据吗?', '温馨提示',
                    function () {
                      $.showPreloader("正在删除数据");
                      deleteCarouselInfo(id,{
                        success: function(result){
                            $.hidePreloader();
                            if(result.code == 200){
                                $.toast("删除成功");
                                $parent.remove();
                            }else{
                                $.toast("删除失败");
                            }
                        },
                        error:function(error){
                            $.toast("服务器出错");
                        }
                      })
                    },
                    function () {

                    }
                );
            }
        })

        $(".hot-location-content").on("click",".btn_delete",function(){
            var id = $(this).parent().attr("data-id");
            var $parent = $(this).parent();
            console.log(id);
            if(!id){
                $parent.remove();
            }else{
                //发起删除请求
                $.confirm('你确定要删除这条数据吗?', '温馨提示',
                    function () {
                      $.showPreloader("正在删除数据");
                      delLocation(id,{
                        success: function(result){
                            $.hidePreloader();
                            if(result.code == 200){
                                $.toast("删除成功");
                                $parent.remove();
                            }else{
                                $.toast("删除失败");
                            }
                        },
                        error:function(error){
                            $.toast("服务器出错");
                        }
                      })
                    },
                    function () {

                    }
                );
            }
        })

        $(".card-content-edit").on("click",".card-delete",function(){
            var id = $(this).attr("data-id");
            var $parent = $(this).parent();
            console.log(id);
            if(!id){
                $parent.remove();
            }else{
                //发起删除请求
                $.confirm('你确定要删除这条数据吗?', '温馨提示',
                    function () {
                        $.showPreloader("正在删除数据");
                        var url = "/card/delcard",
                            type = "POST",
                            data = {
                                card_id : id
                            };
                        sendCarouseQuest(url,type,data,{
                            success: function(result){
                                $.hidePreloader();
                                if(result.code == 200){
                                    $.toast("删除成功");
                                    $parent.remove();
                                }else{
                                    $.toast("删除失败");
                                }
                            },
                            error:function(error){
                                $.toast("服务器出错");
                            }
                        })
                    },
                    function () {

                    }
                );
            }
        })

        $(".delete-data-btn").on("click",function(){
            $.confirm('你确定要删除勇哥购买数据?', '温馨提示',
                function () {
                    $.showPreloader("正在删除数据");
                    deletedata({
                        success:function(result){
                            $.hidePreloader();
                            if(result.code == 200){
                                $.toast("删除成功");
                            }else{
                                $.toast("删除失败");
                            }
                        },
                        error:function(error){
                            $.hidePreloader();
                            $.toast("服务器出错");
                        }
                    })
                },
                function () {
                }
            );
        })

    </script>

     <script>
        var TAGID = '',
            TAGTYPE = '',
            $TAG,
            TAGLEAVE = '',
            TAGNAME = '';

        var uploader = Qiniu.uploader({
            runtimes: 'html5,flash,html4',    //上传模式,依次退化
            browse_button: 'dropbox',       //上传选择的点选按钮，**必需**
            uptoken_url: '/manage/token',
            filters: {
              max_file_size : '10mb',
              mime_types : [ //只允许上传图片和zip文件
                { title : "Image files", extensions : "JPEG,jpg,gif,png" }
              ]
            },
            domain: 'http://qiniu-plupload.qiniudn.com/',
                //bucket 域名，下载资源时用到，**必需**
            max_file_size: '2048mb',           //最大文件体积限制
            flash_swf_url: 'js/plupload/Moxie.swf',  //引入flash,相对路径
            max_retries: 3,                   //上传失败最大重试次数
            chunk_size: '4mb',                //分块上传时，每片的体积
            auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
            init: {
                'FilesAdded': function(up, files) {
                    $.showPreloader("正在上传");
                    plupload.each(files, function(file) {
                       var myDate=new Date();
                       time = myDate.getTime();
                       fileName = files[0].name;
                       var name = files[0].name;

                       fileName = "wenwo/"+time+"/"+fileName;

                       if(up.files.length > 1){
                        for(var i = 0; i < up.files.length - 1;i++){
                          up.removeFile(up.files[i].id);
                        }
                       }
                       console.log($TAG);
                       // previewImage(files[0],function(imgsrc){
                       //      $TAG.attr("src",imgsrc);
                       //  })
                    });
                },
                'BeforeUpload': function(up, file) {
                       // 每个文件上传前,处理相关的事情
                },
                'UploadProgress': function(up, file) {
                       // 每个文件上传时,处理相关的事情
                       // $(".squre").text(file.percent+"%");
                       $(".modal-title").text("已上传"+file.percent+"%");
                       console.log(file.percent);
                       // console.log(up);
                },
                'FileUploaded': function(up, file, info) {
                       console.log(info);
                       var res = JSON.parse(info);
                       var sourceLink = "http://o83np3eq2.bkt.clouddn.com/" + res.key; //
                       console.log(sourceLink);
                       $.hidePreloader();
                       $TAG.attr("src",sourceLink);
                },
                'Error': function(up, err, errTip) {
                       //上传出错时,处理相关的事情
                       console.log(err);
                },
                'UploadComplete': function() {
                       //队列文件处理完毕后,处理相关的事情
                },
                'Key': function(up, file) {
                    // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                    // 该配置必须要在 unique_names: false , save_key: false 时才生效
                    var key = "";
                    key = fileName;
                    // do something with key here
                    return key
                }
              }
          });

        $(".send-content-ul,.vipcard-send-content-ul").on("click",".tag-img",function(){
            $TAG = $(this);
            $("#dropbox").click();
            // uploader.start();
        })

        $(".send-content-ul").on("click",".btn_save",function(){
            //判断是否上传了图片
            var img = $(this).parent().find(".tag-img").attr("src");
            var url = $(this).parent().find(".send-url input").val();
            var name = $(this).parent().find(".send-name input").val();
            var ifAdd = $(this).parent().attr("data-type");
            var show = $(this).parent().find(".label-switch input").prop("checked") ? 1 : 0;
            var id = $(this).parent().attr("data-id");
            show  = parseInt(show);
            if(img == "/img/add.jpg"){
                $.toast("图片不能为空");
                return ;
            }
            if(!url){
                $.toast("链接不能为空");
                return ;
            }
            if(ifAdd == "add"){
                $.showPreloader("正在添加");
            }else{
                $.showPreloader("正在更改");
            }
            //新添加
            var data = {
                name     : name,
                clickURL : url,
                image    : img,
                show     : show
            }
            if(ifAdd == "add"){
                addCarouselInfo(data,{
                    success:function(result){
                        $.hidePreloader();
                        if(result.code == 200){
                            $.toast("添加成功");
                            console.log(result);
                        }else{
                            $.toast("添加失败");
                        }
                    },
                    error:function(error){
                        $.hidePreloader();
                        $.toast("服务器出错");
                    }
                })
            }else{
                //编辑
                data.id = id
                editCarouselInfo(data,{
                    success:function(result){
                        $.hidePreloader();
                        if(result.code == 200){
                            $.toast("更改成功");
                        }else{
                            $.toast("更改失败");
                        }
                    },
                    error:function(error){
                        $.toast("服务器出错");
                    }
                })
            }

        })

        $(".vipcard-send-content-ul").on("click",".btn_save",function(){
            //判断是否上传了图片
            var img = $(this).parent().find(".tag-img").attr("src");
            var vipcontent = $(this).parent().find(".vipcard-content").val();
            var ifAdd = $(this).parent().attr("data-type");
            // vipcontent = vipcontent.replace(/\r/ig, "").replace(/\n/ig, "<br/>"); 
            var id = $(this).parent().attr("data-id");

            if(img == "/img/add.jpg"){
                $.toast("图片不能为空");
                return ;
            }
            if(!vipcontent){
                $.toast("vip卡内容不能为空");
                return ;
            }
            if(ifAdd == "add"){
                $.showPreloader("正在添加");
            }else{
                $.showPreloader("正在更改");
            }
            //新添加
            var data = {
                content  : vipcontent,
                image    : img
            }
            var type = "POST";
            if(ifAdd == "add"){
                var url = "/vipcard/addinfo"
                 sendQuest(url,type,data,{
                    success:function(result){
                        $.hidePreloader();
                        if(result.code == 200){
                            $.toast("添加成功");
                            console.log(result);
                        }else{
                            $.toast("添加失败");
                        }
                    },
                    error:function(error){
                        $.hidePreloader();
                        $.toast("服务器出错");
                    }
                })
            }else{
                //编辑
                data.id = id;
                var url = "/vipcard/editinfo"
                sendQuest(url,type,data,{
                    success:function(result){
                        $.hidePreloader();
                        if(result.code == 200){
                            $.toast("更改成功");
                        }else{
                            $.toast("更改失败");
                        }
                    },
                    error:function(error){
                        $.toast("服务器出错");
                    }
                })
            }

        })

        $(".hot-location-content").on("click",".location-btn_save",function(){
            //判断是否上传了图片
            var geox = $(this).parent().find(".send-hot-position .position-x").text();
            var geoy = $(this).parent().find(".send-hot-position .position-y").text();
            var hot = $(this).parent().find(".send-hot-num input").val();
            var address = $(this).parent().find(".send-hot-location input").val();
            var ifAdd = $(this).parent().attr("data-type");
            var id = $(this).parent().attr("data-id");

            if(ifAdd == "add"){
                if(!geox || !geoy){
                    $.toast("坐标不能为空");
                    return ;
                }
                if(!address){
                    $.toast("地址不能为空");
                    return ;
                }
                if(!hot){
                    hot = 0;
                }

                $.showPreloader("正在添加");
            }else{
                $.showPreloader("正在更改");
            }
            //新添加
            var data = {
                geox     : geox,
                geoy     : geoy,
                hot      : hot,
                address  : address
            }
            if(ifAdd == "add"){
                addLocation(data,{
                    success:function(result){
                        $.hidePreloader();
                        if(result.code == 200){
                            $.toast("添加成功");
                            console.log(result);
                            $(".hot-location-content").empty();
                            loadLocationList();
                        }else{
                            $.toast("添加失败");
                        }
                    },
                    error:function(error){
                        $.hidePreloader();
                        $.toast("服务器出错");
                    }
                })
            }else{
                //编辑
                data.id = id;
                editLocation(data,{
                    success:function(result){
                        $.hidePreloader();
                        if(result.code == 200){
                            $.toast("更改成功");
                        }else{
                            $.toast("更改失败");
                        }
                    },
                    error:function(error){
                        $.toast("服务器出错");
                    }
                })
            }

        })


        // var uploader = Qiniu.uploader({
        //     runtimes: 'html5,flash,html4',    //上传模式,依次退化
        //     browse_button: 'dropbox',       //上传选择的点选按钮，**必需**
        //     uptoken_url: '/manage/token',

        //     domain: 'http://qiniu-plupload.qiniudn.com/',
        //         //bucket 域名，下载资源时用到，**必需**
        //     container: 'multiple',           //上传区域DOM ID，默认是browser_button的父元素，
        //     max_file_size: '2048mb',           //最大文件体积限制
        //     flash_swf_url: 'js/plupload/Moxie.swf',  //引入flash,相对路径
        //     max_retries: 3,                   //上传失败最大重试次数
        //     dragdrop: true,                   //开启可拖曳上传
        //     drop_element: 'create-list-logo',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
        //     chunk_size: '4mb',                //分块上传时，每片的体积
        //     auto_start: false,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
        //     init: {
        //         'FilesAdded': function(up, files) {
        //             $(".app-logo-loading").show();
        //             plupload.each(files, function(file) {
        //                var myDate=new Date();
        //                time = myDate.getTime();
        //                fileName = files[0].name;
        //                var name = files[0].name;

        //                fileName = "wenwo/"+time+"/"+fileName;

        //                if(up.files.length > 1){
        //                 for(var i = 0; i < up.files.length - 1;i++){
        //                   up.removeFile(up.files[i].id);
        //                 }
        //                }
        //                console.log($TAG);
        //                previewImage(files[0],function(imgsrc){
        //                     $TAG.attr("src",imgsrc);
        //                     uploader.start();
        //                       // $(".app-logo-loading").hide();
        //                 })
        //             });
        //         },
        //         'BeforeUpload': function(up, file) {
        //                // 每个文件上传前,处理相关的事情
        //         },
        //         'UploadProgress': function(up, file) {
        //                // 每个文件上传时,处理相关的事情
        //                // $(".squre").text(file.percent+"%");
        //                $.showPreloader("正在提交");
        //                console.log(file.percent);
        //                // console.log(up);
        //         },
        //         'FileUploaded': function(up, file, info) {
        //                console.log(info);
        //                var res = JSON.parse(info);
        //                var sourceLink = "http://o83np3eq2.bkt.clouddn.com/" + res.key; //获取上传成功后的文件的Url
        //                console.log(sourceLink);
        //                var data = {
        //                   type      : TAGLEAVE,
        //                   level     : TAGTYPE,
        //                   tag_name  : TAGNAME,
        //                   url       : sourceLink
        //                }
        //                $.ajax({
        //                   type : "POST",
        //                   data: data,
        //                   dataType: "json",
        //                   url : "ask/edittag",
        //                   success : function(result){
        //                     $.hidePreloader();
        //                     if(result.code == 200){
        //                         $.toast("操作成功");
        //                         console.log(result);
        //                     }else{
        //                         $.toast(result.message);
        //                     }
                            
        //                   },
        //                   error:function(error){
        //                     $.hidePreloader();
        //                     $.toast("网络出错");
        //                     console.log(error);
        //                   }
        //               });

        //         },
        //         'Error': function(up, err, errTip) {
        //                //上传出错时,处理相关的事情
        //                console.log(err);
        //         },
        //         'UploadComplete': function() {
        //                //队列文件处理完毕后,处理相关的事情
        //         },
        //         'Key': function(up, file) {
        //             // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
        //             // 该配置必须要在 unique_names: false , save_key: false 时才生效
        //             var key = "";
        //             key = fileName;
        //             // do something with key here
        //             return key
        //         }
        //       }
        //   });

      //plupload中为我们提供了mOxie对象
      //有关mOxie的介绍和说明请看：https://github.com/moxiecode/moxie/wiki/API
      //如果你不想了解那么多的话，那就照抄本示例的代码来得到预览的图片吧
      function previewImage(file,callback){//file为plupload事件监听函数参数中的file对象,callback为预览图片准备完成的回调函数
        if(!file || !/image\//.test(file.type)) return; //确保文件是图片
        if(file.type=='image/gif'){//gif使用FileReader进行预览,因为mOxie.Image只支持jpg和png
          var fr = new mOxie.FileReader();
          fr.onload = function(){
            callback(fr.result);
            fr.destroy();
            fr = null;
          }
          fr.readAsDataURL(file.getSource());
        }else{
          var preloader = new mOxie.Image();
          preloader.onload = function() {
            // preloader.downsize( 300, 300 );//先压缩一下要预览的图片,宽300，高300
            // preloader.downsize( 93, 93 );//先压缩一下要预览的图片,宽300，高300
            var imgsrc = preloader.type=='image/jpeg' ? preloader.getAsDataURL('image/jpeg',80) : preloader.getAsDataURL(); //得到图片src,实质为一个base64编码的数据
            callback && callback(imgsrc); //callback传入的参数为预览图片的url
            preloader.destroy();
            preloader = null;
          };
          preloader.load( file.getSource() );
        }
      }
     </script>

     <!-- <script type="text/javascript" src="/js/map.js"></script> -->
     <script>
     (function(Zepto){
            Zepto.fn.getCursorPosition = function(){
                if(this.lengh == 0) return -1;
                return $(this).getSelectionStart();
            }
            Zepto.fn.setCursorPosition = function(position){
                if(this.lengh == 0) return this;
                return $(this).setSelection(position, position);
            }
            Zepto.fn.getSelection = function(){
                if(this.lengh == 0) return -1;
                var s = $(this).getSelectionStart();
                var e = $(this).getSelectionEnd();
                return this[0].value.substring(s,e);
            }
            Zepto.fn.getSelectionStart = function(){
                if(this.lengh == 0) return -1;
                input = this[0];

                var pos = input.value.length;

                if (input.createTextRange) {
                    var r = document.selection.createRange().duplicate();
                    r.moveEnd('character', input.value.length);
                    if (r.text == '') 
                    pos = input.value.length;
                    pos = input.value.lastIndexOf(r.text);
                } else if(typeof(input.selectionStart)!="undefined")
                pos = input.selectionStart;

                return pos;
            }
            Zepto.fn.getSelectionEnd = function(){
                if(this.lengh == 0) return -1;
                input = this[0];

                var pos = input.value.length;

                if (input.createTextRange) {
                    var r = document.selection.createRange().duplicate();
                    r.moveStart('character', -input.value.length);
                    if (r.text == '') 
                    pos = input.value.length;
                    pos = input.value.lastIndexOf(r.text);
                } else if(typeof(input.selectionEnd)!="undefined")
                pos = input.selectionEnd;

                return pos;
            }
            Zepto.fn.setSelection = function(selectionStart, selectionEnd) {
                    if(this.lengh == 0) return this;
                    input = this[0];

                    if (input.createTextRange) {
                            var range = input.createTextRange();
                            range.collapse(true);
                            range.moveEnd('character', selectionEnd);
                            range.moveStart('character', selectionStart);
                            range.select();
                    } else if (input.setSelectionRange) {
                            input.focus();
                            input.setSelectionRange(selectionStart, selectionEnd);
                    }

                    return this;
            }
            Zepto.fn.insertAtCousor = function(myValue){
                var $t=$(this)[0];
                if (document.selection) {
                    this.focus();
                    sel = document.selection.createRange();
                    sel.text = myValue;
                    this.focus();
                }else if($t.selectionStart || $t.selectionStart == '0'){
                    var startPos = $t.selectionStart;
                    var endPos = $t.selectionEnd;
                    var scrollTop = $t.scrollTop;
                    $t.value = $t.value.substring(0, startPos) + myValue + $t.value.substring(endPos, $t.value.length);
                    this.focus();
                    $t.selectionStart = startPos + myValue.length;
                    $t.selectionEnd = startPos + myValue.length;
                    $t.scrollTop = scrollTop;
                }else{
                    this.value += myValue;
                    this.focus();
                }
            }
        })(Zepto);
     </script>
    <script>
        //点击下架
        $('.check-detail').on('click', ".btn_down", function () {
            //console.log('pass click');
            $.showPreloader("正在提交");
            var askId = $('.detail-id').text();
            console.log(askId);
            var data = {
                ask_id          : askId,
                username        : "wenwo",
                cancle_reason   : "error"
            }
            $.ajax({
                type: "POST",
                url: '/ask/admincancle',
                data: data,
                dataType: "json",
                success : function(result) {
                    $.hidePreloader();
                    console.log(result);
                    if (result.code == 200) {
                        $.toast("下架成功");
                        $('.check-detail').hide();
                        manageAsk();
                        $('.check').show();
                    }else{
                        $.toast(result.message);
                    }
                },
                error : function(){
                    $.hidePreloader();
                    $.toast("服务器异常");
                    console.log('err');
                }
            });
        });

$(".hot-location-content").on("input change",".send-hot-location input",function(){
    var id = $(this).parent().parent()[0].id;
    var text = $(this).val().replace(/(^\s*)|(\s*$)/g, "");

    if(text.length){
      AMap.service(['AMap.Autocomplete',"AMap.PlaceSearch"], function() {
        var autoOptions = {
            city: "", //城市，默认全国
       };
       autocomplete= new AMap.Autocomplete(autoOptions);
      //关键字查询
      autocomplete.search(text, function(statu, result) {
          var tips = result.tips;
          if(statu == "complete" && tips.length){
            var sug = '';
            for(var i = 0 ; i < tips.length; i++){
              sug +='<div class="auto-item" data-adcode="'+tips[i].adcode+'" data-name="'+tips[i].name+'" id="amap-sug'+i+'">'+tips[i].name+'<span class="auto-item-span">'+tips[i].district+'</span></div>';
            }
            $("#"+id+" .hot-location-list").empty().append(sug);

          } else {
            var noResult = '<div class="no-address"><img src="/img/food/want-empty.svg" class="no-address-img" alt=""><label class="no-result">没有搜索结果</label><label>换个关键词试试</label></div>';
            $("#"+id+" .hot-location-list").empty().append(noResult);
          }

          var text = $("#"+id+" .send-hot-location input").val();
          if(!text.length){
            $("#"+id+" .hot-location-list").empty()
          }

        });
      });
    }else{
      $("#"+id+" .hot-location-list").empty();
    }
  })

    var map = '';
  //点击列
  $(".hot-location-content").on("click", ".auto-item", function() {
    var text = $(this).attr("data-name");
    var adcode = $(this).attr("data-adcode");
    var id = $(this).parent().parent()[0].id;
    console.log(text);
    if(!text){
      return;
    }
    AMap.service(["AMap.PlaceSearch"], function() {
      var placeSearch = new AMap.PlaceSearch({ //构造地点查询类
        city:adcode,
        map: map
      });
    //关键字查询
    placeSearch.search(text, function(statu, result) {
        console.log(result);
        if (result.info == "OK") {
          var lng = result.poiList.pois[0].location.lng;
          var lat = result.poiList.pois[0].location.lat;
          var lnglatXY = [lng, lat];


          console.log(lnglatXY);

          if(lng && lat){
            $(".hot-location-list").empty();
            $("#"+id+" .position-x").text(lat);
            $("#"+id+" .position-y").text(lng);
            $("#"+id+" .send-hot-location input").val(text);   
          }
        }
      });
    });
  });

  function sendQuest(url,type,data,callback){
    $.ajax({
      type: type,
      url: url,
      data: data,
      dataType: "json",
      success:function(result){
        if(result.code == 200){
          callback.success(result);
        }else{
          callback.error(result);
        }
      },
      error:function(error){
        $.toast("服务器出错");
        callback.error(error);
      }
    })
  }

  function loadLocationList(){
      var data = {};
      var url = "/location/gethotlist";
      var type = "GET";
      sendQuest(url,type,data,{
        success:function(locationList){
          var locationli = '';
          var data = locationList.data;
          for(var i = 0; i < data.length; i++){
            locationli += '<div class="hot-location-content-li" data-lat="'+data[i].GeoX+'" data-lng="'+data[i].GeoY+'" data-id="'+data[i].objectId+'" id="location'+i+'"><div class="send-hot-location">地点：<label>'+data[i].address+'</label></div><div class="send-hot-position">坐标：<label class="position-x">'+data[i].GeoX+'</label>,<label class="position-y">'+data[i].GeoY+'</label></div><div class="send-hot-num">热度：<input type="number" value="'+data[i].hot+'"></div><button class="location-btn_save">保存</button><button class="btn_delete">删除</button></div>';
          }
          $(".hot-location-content").empty().append(locationli);
        },
        error:function(error){

        }
      })
  }
  loadLocationList();

  //获取卡片信息
  function getCardList(data,callback){
    var url = "/card/getcardlist",
        type = "GET",
        data = data;
    sendQuest(url,type,data,{
        success:function(result){
            callback.success(result);
        },
        error:function(error){
            callback.error(error);
        }
    })
  }

function initCardList(){
  //初始化卡片界面
  getCardList({type:"all"},{
    success:function(result){
        // console.log(result);
        var data = result.data;
        var li = '';
        for(var i = 0 ; i < data.length; i++){
            if(data[i].status == 1){
                li+='<div class="card-li" data-id="'+data[i].objectId+'"><div data-url="'+data[i].cardImg+'" style="background: url('+data[i].cardImg+') center center / cover no-repeat;" class="card-img" alt=""></div><div class="card-detail">'+data[i].detail+'</div><div class="card-by">— —'+data[i].byName+'</div><div class="card-delete" data-id="'+data[i].objectId+'">删除</div></div>';
            }else{
                li+='<div class="card-li" data-id="'+data[i].objectId+'"><div data-url="'+data[i].cardImg+'" style="background: url('+data[i].cardImg+') center center / cover no-repeat;" class="card-img" alt=""></div><div class="card-detail">'+data[i].detail+'</div><div class="card-by">— —'+data[i].byName+'</div><div class="card-pass" data-id="'+data[i].objectId+'">通过</div></div>';
            }
          
        }

        getAskCard('','',data);
        $(".card-content-edit .card-ul").empty().append(li);
    },
    error:function(error){
        console.log(error);
    }
  })
}

initCardList();

function getAskCard(page,size,cardData){

    var staus = staus ? staus : 1;
    var data = {
        page: page,
        size: 1000,
        staus: staus
    }
    var url = '/ask/allask';
    var type = "GET";

    sendQuest(url,type,data,{
        success:function(askList){
            var data = askList.data;
            if(askList.code == 200){
                var li = '';

                var askli = '';

                console.log(data.length);

                if (data) {
                    for (var i = 0; i < data.length; i++) {

                        var img = data[i].createByUrl;
                        if(data[i].askImage){
                            var askImage = JSON.parse(data[i].askImage);
                            if(askImage[0].image){
                                img = askImage[0].image;
                            }
                        }

                        if(data[i].vipCard && data[i].vipCardContent && data[i].vipCardImage){
                            askli += '<div class="wenwo-li" data-id="'+data[i].objectId+'"><div class="wenwo-ask-img" style="background: url('+img+') center center / cover no-repeat;"><div class="wenwo-gradient"></div><div class="ask-reason">'+data[i].askReason+'</div><button class="ask_btn_delete" data-id="'+data[i].objectId+'">下架</button><button class="ask_btn_changetag" data-id="'+data[i].objectId+'" data-askTagStr='+data[i].askTagStr+'>更改标签</button><button class="ask_btn_look_vipcard" data-id="'+data[i].objectId+'" data-vipCardImage="'+data[i].vipCardImage+'" data-vipCardContent="'+data[i].vipCardContent+'">查看会员卡</button></div></div>';
                        }else{
                           askli += '<div class="wenwo-li" data-id="'+data[i].objectId+'"><div class="wenwo-ask-img" style="background: url('+img+') center center / cover no-repeat;"><div class="wenwo-gradient"></div><div class="ask-reason">'+data[i].askReason+'</div><button class="ask_btn_delete" data-id="'+data[i].objectId+'">下架</button><button class="ask_btn_changetag" data-id="'+data[i].objectId+'" data-askTagStr='+data[i].askTagStr+'>更改标签</button><button class="ask_btn_add_vipcard" data-id="'+data[i].objectId+'">添加会员卡</button></div></div>'; 
                        }
                        var haved = 0;

                        for(var j = 0; j < cardData.length; j++){
                            if(cardData[j].askId == data[i].objectId){
                                haved = 1;
                            }
                        }

                        if(data[i].askImage && !haved){
                            var askImage = JSON.parse(data[i].askImage);
                            if(askImage[0].image){
                                li+='<div class="card-li"><div data-url="'+askImage[0].image+'" style="background: url('+askImage[0].image+') center center / cover no-repeat;" class="card-img" alt=""></div><div class="card-detail">'+data[i].askReason+'</div><div class="card-by">— —'+data[i].createByName+'</div><div class="card-add" data-askid="'+data[i].objectId+'">添加</div></div>';
                            }
                        }
                        
                    }
                    $(".card-content-add .card-ul").empty().append(li);
                    $(".askme .wenwo-ul").empty().append(askli);
                }
            }
        },
        error:function(error){
            $.hidePreloader();
            $.toast("操作失败");
        }
    }) 
}

var $_card;
$(".card-content-edit").on("click",".card-pass",function(){
    var id = $(this).attr("data-id");
    var data = {
        cardid : id,
        status : 1
    };
    var url = "/card/editcard";
    var type = "post";

    if(!id){
        $.toast("操作失败");
        return;
    }

    $.showPreloader("正在提交");
    $_card = $(this);
    sendQuest(url,type,data,{
        success:function(locationList){
            $.hidePreloader();
            $_card.text("删除");
            $_card.addClass("card-delete");
            $_card.removeClass("card-pass");
        },
        error:function(error){
            $.hidePreloader();
            $.toast("操作失败");
        }
    }) 
})

var $_addCard;
$(".card-content-add").on("click",".card-add",function(){
    var askid = $(this).attr("data-askid");
    var $_addCard = $(this);

    var data = {
        askid  : askid,
        status : 1
    };
    var url = "/card/addcardbyask";
    var type = "post";

    if(!askid){
        $.toast("操作失败");
        return;
    }

    $.showPreloader("正在添加");

    sendQuest(url,type,data,{
        success:function(locationList){
            $.hidePreloader();
            // $(".card-content-edit").empty();
            initCardList();
            $_addCard.parent().remove();
        },
        error:function(error){
            $.hidePreloader();
            $.toast("操作失败");
        }
    }) 
})

$(".askme").on("click",".ask_btn_delete",function(){
    var askid = $(this).attr("data-id");
    var askli = $(this).parent().parent();

    $.prompt('请填写下架理由', '温馨提示',
        function (value) {
            var data = {
                askid  : askid,
                reason : value
            };

            var url = "/ask/askremove";
            var type = "post";

            if(!askid){
                $.toast("操作失败");
                return;
            }

            $.showPreloader("正在下架");

            sendQuest(url,type,data,{
                success:function(locationList){
                    $.hidePreloader();
                    askli.remove();
                    $.toast("下架成功");
                },
                error:function(error){
                    $.hidePreloader();
                    $.toast(error.message);
                }
            })
        },
        function (value) {
        }
    );

    // if(!askid){
    //     $.toast("操作失败");
    //     return;
    // }

    // $.showPreloader("正在添加");

    // sendQuest(url,type,data,{
    //     success:function(locationList){
    //         $.hidePreloader();
    //         // $(".card-content-edit").empty();
    //         initCardList();
    //         $_addCard.parent().remove();
    //     },
    //     error:function(error){
    //         $.hidePreloader();
    //         $.toast("操作失败");
    //     }
    // }) 
})

function getVipCard(){
    var data = {},
        url = "/vipcard/getinfo",
        type = "GET";
    sendQuest(url,type,data,{
        success:function(result){
            console.log(result);
            var data = result.data;
            var li = '';
            var checkli = '';
            for(var i = 0 ; i < data.length; i++){
                // li += '<div class="vipcard-send-content-li" data-id="'+data[i].objectId+'" id="'+data[i].objectId+'"><div class="send-img"><label>logo:</label><img class="tag-img" data-type="0" src="'+data[i].image+'" alt=""></div><div class="send-name">  <label>优惠:</label><textarea class="vipcard-content">'+data[i].content+'</textarea></div><div class="show-vipcontent"></div><button class="btn_save">保存</button><button class="btn_delete">删除</button></div>';

                var content = data[i].content.replace(/\r/ig, "").replace(/\n/ig, "<br/>");
                li += '<div class="vipcard-send-content-li" data-id="'+data[i].objectId+'" id="'+data[i].objectId+'"><div class="send-img"><label>logo:</label><div class="card-bg"><img class="tag-img" data-type="0" src="'+data[i].image+'" alt=""><img src="/img/card/wenwo-bg1.png" class="wenwo-logo1" alt=""><div class="card-dialog"></div></div></div><div class="send-name"><label>优惠:</label><textarea class="vipcard-content">'+data[i].content+'</textarea><div class="card-bg2"><img src="/img/card/card-tip.png" class="wenwo-tip" alt=""><div class="content-box">'+content+'</div><img src="/img/card/wenwo-bg2.png" class="wenwo-logo2" alt=""><div class="card-dialog"></div><div class="card-tip">★最终解释权归「问我」所有</div></div></div><div class="show-vipcontent"></div><button class="btn_save">保存</button><button class="btn_delete">删除</button></div>';

                checkli = '<div class="vipcard-send-content-li" data-id="'+data[i].objectId+'" id="'+data[i].objectId+'"><div class="send-img"><img class="tag-img" data-type="0" src="'+data[i].image+'" alt=""></div>'
            }
            $(".vipcard-send-content-ul").empty().append(li);
            $(".vipcard-list-content-ul").empty().append(checkli);
            if(!data.length){
                li = '<div class="no-data">没有数据</div>'
                $(".vipcard-send-content-ul").empty().append(li);
                $(".vipcard-list-content-ul").empty().append(li);
            }
        },
        error:function(error){
            console.log(error);
        }
    })
}

$(".vipcard-send-content-ul").on("click",".btn_delete",function(){
    var id = $(this).parent().attr("data-id");
    var $parent = $(this).parent();
    if(!id){
        $parent.remove();
        if(!$(".vipcard-send-content-li").length){
            li = '<div class="no-data">没有数据</div>'
            $(".vipcard-send-content-ul,.vipcard-list-content-ul").empty().append(li);
        }
    }else{
        //发起删除请求

        $.confirm('你确定要删除这张vip卡吗?', '温馨提示',
            function () {
                $.showPreloader("正在删除数据");
                var data = {
                    id : id
                },
                url = "/vipcard/delinfo",
                type = "POST";
                sendQuest(url,type,data,{
                success: function(result){
                    $.hidePreloader();
                    if(result.code == 200){
                        $.toast("删除成功");
                        $parent.remove();
                        if(!$(".vipcard-send-content-li").length){
                            li = '<div class="no-data">没有数据</div>'
                            $(".vipcard-send-content-ul,.vipcard-list-content-ul").empty().append(li);
                        }
                    }else{
                        $.toast("删除失败");
                    }
                },
                error:function(error){
                    $.toast("服务器出错");
                }
                })
            },
            function () {

            }
        );
    }
})

$("#vipcard").on("click",function(){
    if(!$(".vipcard .vipcard-send-content-li").length){
        getVipCard();
    }
})

$(".askme").on("click",".ask_btn_add_vipcard",function(){
    if(!$(".vipcard-list-content .vipcard-send-content-li").length){
        getVipCard();
    }
    $(".vipcard-list-content-ul .vipcard-send-content-li").removeClass("vipcard-checked");
    $(".vipcard-list-content").attr("data-vipcardid","");
    $(".vipcard-list-content").attr("data-askid","");
    var id = $(this).attr("data-id");

    $(".vipcard-list-content").attr("data-askid",id);
    $(".vipcard-list-content").show();
})

$(".vipcard-list-cancel").on("click",function(){
    $(".vipcard-list-content").hide();
})

$(".vipcard-list-content-ul").on("click",".vipcard-send-content-li",function(){
    var id = $(this).attr("data-id");
    $(".vipcard-list-content-ul .vipcard-send-content-li").removeClass("vipcard-checked");
    $(this).addClass("vipcard-checked");
    $(".vipcard-list-content").attr("data-vipcardid",id);
})

$(".vipcard-add").on("click",function(){
    var vipcardid = $(".vipcard-list-content").attr("data-vipcardid");
    var askid = $(".vipcard-list-content").attr("data-askid");
    console.log(askid);
    console.log(vipcardid);
    if(askid && vipcardid){
        var data = {
            vipcardid : vipcardid,
            askid     : askid
        },
        url = "/ask/addvipcard",
        type = "POST";
        $.showPreloader("正在添加会员卡");
        sendQuest(url,type,data,{
            success:function(result){
                if(result.code == 200){
                    $.toast("添加成功");
                    $.hidePreloader();
                    $(".vipcard-list-content").hide();
                }else{
                    $.toast("添加失败");
                    $.hidePreloader();
                }
            },
            error:function(error){
                console.log(error);
                $.toast("服务器出错");
                $.hidePreloader();
            }
        })
    }else{
        $.toast("没有选择会员卡");
    }
})

$(".askme").on("click",".ask_btn_changetag",function(){
    var asktagstr  = $(this).attr("data-asktagstr");
    var askid = $(this).attr("data-id");
    var $_asktagstr = $(this);

    var text = '';
    var tag = JSON.parse(asktagstr);
    for(var i in tag){
        text += tag[i].tag_name + ';';
    }
    $.prompt('请填写更改标签，用；隔开', '温馨提示',
        function (value) {
            var inputText =  value;
            var length = 0;
            var tag = [];

            for(var i = 0; i < inputText.split(";").length; i++){
                console.log(inputText.split(";")[i]);
                if(inputText.split(";")[i]){
                  for(var j = 0; j < inputText.split(";")[i].split("；").length; j++){
                    if(inputText.split(";")[i].split("；")[j]){
                        tag[length] = {
                            tag_name: inputText.split(";")[i].split("；")[j]
                        }
                        length++;
                    } 
                  }
                }
            }
            if(length > 3){
                $.toast("最多加添加三个标签");
                return;
            }
            tag = JSON.stringify(tag);
            console.log(tag);
            $_asktagstr.attr("data-asktagstr",tag);

            var data = {
                askid  : askid,
                tag    : tag
            };

            var url = "/ask/askadminedit";
            var type = "post";

            if(!askid){
                $.toast("操作失败");
                return;
            }

            $.showPreloader("正在编辑标签");

            sendQuest(url,type,data,{
                success:function(locationList){
                    $.hidePreloader();
                    $.toast("编辑成功");
                },
                error:function(error){
                    $.hidePreloader();
                    $.toast(error.message);
                }
            })
        },
        function (value) {
        }
    );
    $(".modal-text-input").val(text);
})

$(".vipcard").on("input change",".vipcard-content",function(){
    var vipcontent = $(this).val();
    console.log(vipcontent);
    $(this).parent().find(".content-box").html(vipcontent.replace(/\r/ig, "").replace(/\n/ig, "<br/>"))
})

// 初始化数据
// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));
myChart.showLoading();

var myLook = echarts.init(document.getElementById('lookUser'));
myLook.showLoading();

function initManageData(){
    var data = {
    },
    url = "/manage/getmanagedata",
    type = "GET";
    sendQuest(url,type,data,{
        success:function(result){
            if(result.code == 200){
                var option = initDataOption(result.data);
                 // 使用刚指定的配置项和数据显示图表。
                myChart.hideLoading();
                myChart.setOption(option[0]);
                myLook.hideLoading();
                myLook.setOption(option[1]);
            }else{
            }
        },
        error:function(error){
            console.log(error);
            $.toast("服务器出错");
            $.hidePreloader();
        }
    })
}
initManageData();

    // //会员卡正面
    // var c = document.getElementById("downImg");
    // var ctx = c.getContext("2d");
    // var cwidth = c.width;
    // var cheight = c.height;
    // console.log(cwidth);
    // ctx.imageSmoothingEnabled = false;
    // var bg = document.getElementById("hide-card-bg1");
    // var logo = new Image();
    // logo.src = "http://o83np3eq2.bkt.clouddn.com/wenwo/1473697648940/frsx.png";
    // var wenwologo = document.getElementById("hide-wenwo-bg1");
    // var wenwologoWidth = wenwologo.naturalWidth;
    // var wenwologoHeight = wenwologo.naturalHeight;
    // var wenwologoScal = wenwologoWidth / wenwologoHeight;
    // var wenwologoShowHeight = 40;

    // var logoWidth = logo.naturalWidth;
    // var logoHeight = logo.naturalHeight;
    // var logoScal = logoWidth / logoHeight;
    // var logoShowHeight = 150;

    // logo.onload = function() {
    //     ctx.drawImage(bg,0,0,cwidth,cheight);
    //     ctx.drawImage(wenwologo,20,cheight-wenwologoShowHeight-20,wenwologoScal * wenwologoShowHeight,wenwologoShowHeight);
    //     ctx.drawImage(logo,(cwidth - logoScal*logoShowHeight)/2,(cheight - logoShowHeight)/2,logoScal*logoShowHeight,logoShowHeight);
    // }

$(".title-bar").on("click",function(){
    //会员卡反面
    var c = document.getElementById("downImg2");
    var ctx = c.getContext("2d");
    var cwidth = c.width;
    var cheight = c.height;
    ctx.imageSmoothingEnabled = false;
    var bg2 = document.getElementById("hide-card-bg2");
    
    var wenwologo2 = document.getElementById("hide-wenwo-bg2");
    var wenwologoWidth = wenwologo2.naturalWidth;
    var wenwologoHeight = wenwologo2.naturalHeight;
    var wenwologoScal2 = wenwologoWidth / wenwologoHeight;
    var wenwologoShowHeight2 = 40;

    var cardTip = document.getElementById("hide-card-tip");
    var cardTipWidth = cardTip.naturalWidth;
    var cardTipHeight = cardTip.naturalHeight;
    var cardTipScal = cardTipWidth / cardTipHeight;
    var cardTipShowWidth = 100;

    ctx.drawImage(bg2,0,0,cwidth,cheight);

    ctx.drawImage(cardTip,100,100,cardTipShowWidth,cardTipShowWidth/cardTipScal);

    ctx.fillStyle="white";
    ctx.fillRect(cwidth-20-wenwologoShowHeight2*wenwologoScal2,cheight-wenwologoShowHeight2-20,wenwologoScal2 * wenwologoShowHeight2,wenwologoShowHeight2);
    // 调节透明度
    // ctx.globalAlpha=0.7;
    // ctx.drawImage(wenwologo2,cwidth-20-wenwologoShowHeight2*wenwologoScal2,cheight-wenwologoShowHeight2-20,wenwologoScal2 * wenwologoShowHeight2,wenwologoShowHeight2);

    // logo.onload = function() {
    //     ctx.drawImage(bg2,0,0,cwidth,cheight);
    //     ctx.drawImage(wenwologo2,20,cheight-wenwologoShowHeight2-20,wenwologoScal2 * wenwologoShowHeight2,wenwologoShowHeight2);
    //     ctx.drawImage(cardTip,20,100,wenwologoScal2 * wenwologoShowHeight2,wenwologoShowHeight2);

    //     // ctx.drawImage(logo,(cwidth - logoScal*logoShowHeight)/2,(cheight - logoShowHeight)/2,logoScal*logoShowHeight,logoShowHeight);
    // }
})
    
$("#downImg").on("click",function(){
    window.location.href = c.toDataURL("image/png").replace("image/png", "image/octet-stream");
})
    
function initDataOption(data){
    var today = new Array(),
        havedNum = new Array(),
        userNum =  new Array(),
        askNum =  new Array(),
        deleteNum = new Array(),
        lookUserNum = new Array(),
        buyNum =  new Array();
    for(var i = 0; i < data.length;i++){

        havedNum.push(data[i].havedNum);
        userNum.push(data[i].userNum);
        askNum.push(data[i].askNum);
        deleteNum.push(data[i].deleteNum);
        buyNum.push(data[i].buyNum);
        today.push(data[i].today);
        lookUserNum.push(data[i].lookUserNum ? data[i].lookUserNum : 0);
    }
    var option = {
        title: {
            text: '后台数据'
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['用户数量','信息数量','购买数量','付费数量','删除数量']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : today
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'删除数量',
                type:'line',
                stack: '总量',
                areaStyle: {normal: {}},
                data:deleteNum
            },
            {
                name:'付费数量',
                type:'line',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                areaStyle: {normal: {}},
                data:buyNum
            },
            {
                name:'信息数量',
                type:'line',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                areaStyle: {normal: {}},
                data:askNum
            },    
            {
                name:'购买数量',
                type:'line',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                areaStyle: {normal: {}},
                data:havedNum
            },        
            {
                name:'用户数量',
                type:'line',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                areaStyle: {normal: {}},
                data:userNum
            }
        ]
    };
    var option2 = {
        title: {
            text: '活跃用户数据'
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['活跃用户数量']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : today
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        color:['#749f83',  '#ca8622'],
        series : [
            {
                name:'活跃用户数量',
                type:'line',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                areaStyle: {normal: {}},
                data:lookUserNum
            }  
        ]
    };
    return [option,option2];
}
</script>
</body>
</html>
