<!DOCTYPE HTML>
<html>
<head>
    <title>WenWo</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
        cursor: pointer;
    }
    .wrap {
        margin: 0 auto;
        width: 1200px;
    }
    .title-bar {
        height: 60px;
        background: #f8bd38;
        border-radius: 5px;
    }
    .logo {
        color: #fff;
        font-size: 23px;
        line-height: 60px;
        margin-left: 20px;
    }
    .list {
        float: left;
        margin-top: 30px;
        margin-left: 30px;
    }
    .side-bar {
        width: 200px;
        /*background: #000;*/

    }
    .side-bar ul {
        border-radius: 10px;
        overflow: hidden;
    }
    .side-bar ul li {
        /*margin-bottom: 10px;*/
        text-align: center;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        background: #eee;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    ul li:hover {
        background: #ddd !important;
    }
    .content {
        background: #eee;
        width: 880px;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px 20px 20px 20px;
    }
    .manage ul li {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .manage ul li .ask-id {
        display: inline;
        margin-left: 30px;
        line-height: 20px;
        /*width: 90%;*/
    }
    .manage ul li .staus, .manage ul li .del {
        float: right;
        line-height: 20px;
        /*clear: both;*/
        margin-right: 30px;
    }
    .manage ul li .del:hover {
        color: red;
    }
    .check li {
        padding: 5px 0 5px 0;
        font-size: 16px;
        text-align: center;

    }
    .side-bar-back{
        background: #eee !important;
    }
    .side-bar-backcheck {
        background: #ddd !important;
    }
    .btn_pass, .btn_not, .btn_send {
        margin: 0;
        margin-top: 20px;
        font-size: 16px;
        color: white;
        border-radius: 5px;
        padding: 0;
        width: 100px;
        height: 40px;
        background: #f8bd38;
        border: none;
    }
    textarea {
        display: block;
        height: 100px;
        width: 300px;
    }
    .input-edit {
        height: 20px;
        width: 240px;
        padding: 0 10px 0 10px;
    }
    .input-price {
        text-align: right;
    }
    .container-show{
        height: 280px;
        width: 50%;
        background-color: white;
    }
    .left{
        float: left;
    }
</style>
<body>
    <div class="wrap">
        <div class="title-bar">
            <div class="logo">WenWo</div>
        </div>
        <div>
            <div class="list side-bar">
                <ul>
                    <li class="send-bar">发布信息</li>
                    <li class="check-bar">审核信息</li>
                    <li class="manage-bar">管理消息</li>
                    <li class="total-bar">统计信息</li>
                    <li class="account-bar">帐号管理</li>
                </ul>
            </div>
            <div class="list content">
                <div class="content-title send" style="display: none">
                    <div class="check-box">
                        <span>主题:</span>
                        <input type="checkbox" value="1" id="checkbox-1" name="" defaultChecked="false"/>
                        <label for="checkbox-1">美食</label>
                        <input type="checkbox" value="2" id="checkbox-2" name="" defaultChecked="false"/>
                        <label for="checkbox-2">住宿</label>
                        <input type="checkbox" value="3" id="checkbox-3" name="" defaultChecked="false"/>
                        <label for="checkbox-3">交通</label>
                        <input type="checkbox" value="4" id="checkbox-4" name="" defaultChecked="false"/>
                        <label for="checkbox-4">购物</label>
                        <input type="checkbox" value="5" id="checkbox-5" name="" defaultChecked="false"/>
                        <label for="checkbox-5">游玩</label>
                        <input type="checkbox" value="6" id="checkbox-6" name="" defaultChecked="false"/>
                        <label for="checkbox-6">防坑</label>
                    </div>
                    <div>
                        <span>标签:</span>
                        <input class="input-edit input-tag" type="text" placeholder="每个标签以;结束">
                    </div>
                    <div>
                        <span>推荐理由:</span>
                        <textarea class="edit-reason"></textarea>
                    </div>
                    <div>
                        <span>详情:</span>
                        <textarea class="edit-detail"></textarea>
                    </div>
                    <div>
                        <span>地图标注:</span>
                         <div class="container-show"id="show1"></div>
                    </div>
                    <div>
                        <span>价格:</span>
                        <input class="input-edit input-price" type="text" value="0.00">
                    </div>
                    <button class='btn_send'>发布</button>
                </div>
                <div class="content-title check" style="display: block">
                    <ul>
                        <!--<li>234567893456789</li>-->
                        <!--<li>234567893456789</li>-->
                        <!--<li>234567893456789</li>-->
                    </ul>
                </div>
                <div class="content-title check-detail" style="display: none">
                    <div>
                        <div class="left">ID:</div>
                        <div class="detail-id"></div>
                    </div>
                    <div>
                        <div class="left">状态:</div>
                        <div class="detail-status"></div>
                    </div>
                    <div>
                        <div class="left">主题:</div>
                        <div class="detail-subject"></div>
                    </div>
                    <div>
                        <div class="left">标签:</div>
                        <div class="detail-label"></div>
                    </div>
                    <div>
                        <div class="left">推荐理由:</div>
                        <div class="detail-reason"></div>
                    </div>
                    <div>
                        <div class="left">详情:</div>
                        <div class="detail-information"></div>
                    </div>
                    <div>
                        <div>地图标注:</div>
                        <div class="container-show" id="show2"></div>
                    </div>
                    <div>
                        <div class="left">价格:</div>
                        <div class="detail-price"></div>
                    </div>
                    <button class='btn_pass'>通过</button>
                    <button class='btn_not'>不通过</button>
                </div>
                <div class="content-title total" style="display: none">

                </div>
                <div class="content-title manage" style="display: none">
                    <ul>
                        <!--<li><span class="ask-id">456789adf</span><span class="del">X</span><span class="staus">已上架</span></li>-->
                        <!--<li><span class="ask-id">456789adf</span><span class="del">X</span><span class="staus">已上架</span></li>-->
                        <!--<li><span class="ask-id">456789adf</span><span class="del">X</span><span class="staus">已上架</span></li>-->
                        <!--<li><span class="ask-id">456789adf</span><span class="del">X</span><span class="staus">已上架</span></li>-->

                    </ul>
                </div>
                <div class="content-title account" style="display: none">
                    <div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
     <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd"></script>
    <script>
        $('.btn_send').on('click', function () {
            //console.log($('.check-box').find('input')[0].checked);
            var type = "";
            for (var i = 0; i < $('.check-box').find('input').length; i++) {
                if ($('.check-box').find('input')[i].checked == true) {
                    type += i+1;
                }
            }
            if (type.length > 2) {
                return;
            }
            if (type.length == 2) {
                type = insert_flg(type, ',', 1);
                type=type.substring(0,type.length-1);
            }
            console.log(type);

            var temp = $('.input-tag').val();
            temp = temp.replace('；', ';');
            temp = temp.split(";");
            var tag = new Array();
            for (var i = 0; i < temp.length; i++) {
                tag[i] = {
                    tag_name:temp[i]
                }
            }
            if (tag[0].tag_name == "") {
                return;
            }
            tag = JSON.stringify(tag);
            console.log(tag);
            var reason = $('.edit-reason').val();
            var detail = $('.edit-detail').val();
            var price = $('.input-price').val();
            console.log(reason);
            console.log(detail);
            console.log(price);
            var data = {
                username:'admin',
                type:type,
                //isfree:0,
                geo_x:123,
                geo_y:456,
                position:'123',
                reason:reason,
                content_show:detail,
                content_hide:'',
                price:price,
                tag:tag,
                remark:''

            }
            $.ajax({
                type: "post",
                url: '../../ask/sendask',
                data: data,
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    if (result.code == 200) {
                        for (var i = 0; i < $('.check-box').find('input').length; i++) {
                            $('.check-box').find('input')[i].checked = false;
                        }
                        $('.input-tag').val("");
                        $('.edit-reason').val("");
                        $('.edit-detail').val("");
                        $('.input-price').val("0.00");
                    }
                },
                error : function(){
                    console.log('err');
                }
            });

        });
        $('.check-detail').on('click', ".btn_pass", function () {
            //console.log('pass click');
            var askId = $('.detail-id').text();
            console.log(askId);
            $.ajax({
                type: "get",
                url: '../../ask/approval',
                data: {ask_id:askId,staus:1},
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    if (result.code == 200) {
                        $('.check-detail').hide();
                        checkAsk();
                        $('.check').show();
                    }
                },
                error : function(){
                    console.log('err');
                }
            });
        });
        $('.check-detail').on('click', ".btn_not", function () {
            //console.log('pass click');
            var askId = $('.detail-id').text();
            console.log(askId);
            $.ajax({
                type: "get",
                url: '../../ask/approval',
                data: {ask_id:askId,staus:5},
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    if (result.code == 200) {
                        $('.check-detail').hide();
                        checkAsk();
                        $('.check').show();
                    }
                },
                error : function(){
                    console.log('err');
                }
            });
        });
        $('.side-bar').on('click', 'ul li', function () {
            $('.side-bar li').removeClass('side-bar-back');
            $('.side-bar li').removeClass('side-bar-backcheck');
            $('.side-bar li').addClass('side-bar-back');
            $(this).addClass('side-bar-backcheck');
            $('.content-title').hide();
            if ($(this).hasClass('send-bar')) {
                $('.send').show();
                  map = new AMap.Map('show1', {
                  resizeEnable: true,
                  zoom:15,
                  center: [localStorage.lng,localStorage.lat],
                  buttonOffset: new AMap.Pixel(60, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                  zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                  buttonPosition:'LB'
                });
                   // function getMap(lng,lat){
                   //    //详情地点显示
                   //    var mapShow;
                   //    mapShow = new AMap.Map('container-show', {
                   //      resizeEnable: true,
                   //      zoom:15,
                   //      center: [lng,lat]
                   //    });
                   //    var markerShow = new AMap.Marker({
                   //      map : mapShow,
                   //      position: [lng,lat],
                   //      draggable: true,
                   //      cursor: 'move',
                   //      raiseOnDrag: true,
                   //      clickable:true
                   //    });
                   //    markerShow.setMap(mapShow);
                   //  }
            }
            else if ($(this).hasClass('check-bar')) {
                checkAsk();
                $('.check').show();
                  map = new AMap.Map('show2', {
                  resizeEnable: true,
                  zoom:15,
                  center: [localStorage.lng,localStorage.lat],
                  buttonOffset: new AMap.Pixel(60, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                  zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                  buttonPosition:'LB'
                });
                  // function getMap(lng,lat){
                  //     //详情地点显示
                  //     var mapShow;
                  //     mapShow = new AMap.Map('container-show', {
                  //       resizeEnable: true,
                  //       zoom:15,
                  //       center: [lng,lat]
                  //     });
                  //     var markerShow = new AMap.Marker({
                  //       map : mapShow,
                  //       position: [lng,lat],
                  //       draggable: true,
                  //       cursor: 'move',
                  //       raiseOnDrag: true,
                  //       clickable:true
                  //     });
                  //     markerShow.setMap(mapShow);
                  //   }
            }
            else if ($(this).hasClass('manage-bar')) {
                manageAsk();
                $('.manage').show();
            }
            else if ($(this).hasClass('total-bar')) {
                $('.total').show();
            }
            else if ($(this).hasClass('account-bar')) {
                $('.account').show();
            }
        });
        $('.check ul').on('click', "li", function () {
            $('.content-title').hide();
            var askId = $(this).text();
            console.log($(this).text());
            $('.check-detail').show();
            var askId = $(this).text();
            $.ajax({
                type: "get",
                url: '../../ask/askadmin',
                data: {ask_id:askId},
                dataType: "json",
                success : function(result) {
                    if (result.code == 200 && result.data != null) {
                        console.log(result);
                        var type = result.data.askType;
                        //console.log(type);
                        var strs = type.split(",")
                        console.log(strs);
                        if (result.data.askTagStr != null) {
                            var tag = result.data.askTagStr;
                            var temp = JSON.parse(tag);
                            console.log(temp);
                        }
                        $('.detail-id').empty();
                        $('.detail-status').empty();
                        $('.detail-subject').empty();
                        $('.detail-reason').empty();
                        $('.detail-information').empty();
                        $('.detail-price').empty();
                        $('.detail-label').empty();
                        $(".detail-id").append(result.data.objectId);
                        $(".detail-status").append(getStaus(result.data.staus));
                        var subject = getTitle(strs[0])+"&nbsp&nbsp"+getTitle(strs[1]);
                        $(".detail-subject").append(subject);
                        var label = '';
                        if (result.data.askTagStr != null) {
                            for (var i = 0; i < temp.length; i++) {
                                label += temp[i] + "&nbsp&nbsp";
                            }
                        }
                        console.log(label);
                        $(".detail-label").append(label);
                        $(".detail-reason").append(result.data.askReason);
                        var detail = result.data.askContentShow + result.data.askContentHide;
                        $(".detail-information").append(detail);
                        $(".detail-price").append(result.data.askPrice);
                    }
                },
                error : function(){}
            });
        });
        function checkAsk() {
            $.ajax({
                type: "get",
                url: '../../ask/allask',
                data: {staus:2},
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    if (result.code == 200) {
                        var list = "";
                        for (var i = 0; i < result.data.length; i++) {
                            list += '<li>'+result.data[i].objectId+'</li>';
                        }
                    }
                    $('.check ul').empty();
                    $('.check ul').append(list);
                },
                error : function(){}
            });
        }
        function manageAsk() {
            $.ajax({
                type: "get",
                url: '../../ask/allask',
                data: {staus:4},
                dataType: "json",
                success : function(result) {
                    console.log(result);
                    if (result.code == 200) {
                        var list = "";
                        for (var i = 0; i < result.data.length; i++) {
                            list += '<li><span class="ask-id">'+result.data[i].objectId+'</span><span class="del">X</span><span class="staus">'+getStaus(result.data[i].staus)+'</span></li>';
                        }
                        $('.manage ul').empty();
                        $('.manage ul').append(list);
                    }
                },
                error : function(){}
            });
        }
        function getStaus(staus) {
            var temp = "";
            switch (staus) {
                case "1": temp = "已上架";break;
                case "2": temp = "审批中";break;
                case "3": temp = "未上架";break;
//                case "4": temp = "";break;
                case "5": temp = "审批未通过";break;
            }
            return temp;
        }
        function getTitle(type) {
            var temp = "";
            switch (type) {
                case "1": temp = "美食";break;
                case "2": temp = "住宿";break;
                case "3": temp = "交通";break;
                case "4": temp = "购物";break;
                case "5": temp = "游玩";break;
                case "6": temp = "防坑";break;
            }
            return temp;
        }
        function insert_flg(str,flg,sn){
            var newstr="";
            for(var i=0;i<str.length;i+=sn){
                var tmp=str.substring(i, i+sn);
                newstr+=tmp+flg;
            }
            return newstr;
        }
    //     map.getCity(function(data) {
    //       console.log(data);
    //         if (data['province'] && typeof data['province'] === 'string') {
    //             $(".address-text").text(data['city']);
    //         }
    //     });
    // map.on('moveend', getCity);
    // function getCity() {
    //     map.getCity(function(data) {
    //       console.log(data);
    //         if (data['province'] && typeof data['province'] === 'string') {
    //             $(".address-text").text(data['city']);
    //         }
    //     });
    // }
    // getMap(103.985616,30.581207);
    // function getMap(lng,lat){
    //   //详情地点显示
    //   var map;
    //   map = new AMap.Map('show2', {
    //     resizeEnable: true,
    //     zoom:20,
    //     center: [lng,lat]
    //   });
    //   var map = new AMap.Marker({
    //     map : map,
    //     position: [lng,lat],
    //     draggable: true,
    //     cursor: 'move',
    //     raiseOnDrag: true,
    //     clickable:true
    //   });
    //   map.setMap(map);
    // }
    // map1 = new AMap.Map('show2', {
    //       resizeEnable: true,
    //       zoom:15,
    //       center: [localStorage.lng,localStorage.lat],
    //       buttonOffset: new AMap.Pixel(60, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
    //       zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
    //       buttonPosition:'LB'
    //     });
    // getMap(103.985616,30.581207);
    // function getMap(lng,lat){
    //   //详情地点显示
    //   var map;
    //   map = new AMap.Map('show1', {
    //     resizeEnable: true,
    //     zoom:20,
    //     center: [lng,lat]
    //   });
    //   var map = new AMap.Marker({
    //     map : map,
    //     position: [lng,lat],
    //     draggable: true,
    //     cursor: 'move',
    //     raiseOnDrag: true,
    //     clickable:true
    //   });
    //   map.setMap(map);
    // }
    </script>

</body>
</html>
