<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'> -->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name='description', content='PcsCloud'>
  <meta name='author', content='raodqi'>
  <link rel="icon" type="image/x-icon" href="/img/logo.png" media="screen">
  <title>^_^问我——像个当地人一样去旅游</title>
  <!-- link href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet', type='text/css'> -->

  <link href='/css/bootstrap.min.css', rel='stylesheet', type='text/css'>
  <link href='/css/frozen.css', rel='stylesheet', type='text/css'>
<style type="text/css">
  .icon{
      display:block;
      margin:26px 30px;
      font-weight:600;
    }
  .form{
      display:block;
      margin-top:8%;
  }
  .form-container{
      display:block;
      box-sizing: border-box;
      width:80%;
      max-width:600px;
      height:50px;
      margin:24px auto;
      padding:18px 20px;
      border-radius: 5px;
  }
  .btn-content{
      background:#66afe9;
      border-color: #66afe9;
      line-height:12px;
      color:white !important;
      margin:38px auto;
  }
  .btn-content-empty{
      background:#fff;
      border-color: #66afe9;
      color:#66afe9 !important;
      line-height:12px;
  }
  .divider{
      text-align:center;
      margin-top:5%;
  }
  .divider:before,.divider:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 35%;
      height: 1px;
      background-color: #BABFC3;
      margin: 0 0% 0 -50%;
  }
  .divider:after{
      margin: 0 -50% 0 0%;
    }
  .divider span{
      font-size:24px;
      padding:8px 40px;
  }
  .signin-content{
    position: absolute;
    width: 90%;
    max-width: 1100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* text-align: center; */
    background: rgba(255,255,255,0.8);
    padding: 30px 40px 40px;
    border-radius: 10px;
    background-color: #fff;
    max-height: 600px;
    margin: 0px 0 auto;
    overflow-y: auto;
  }
  @font-face {font-family: 'webfont';
    src: url('//at.alicdn.com/t/tjvp2h2aoqgs0pb9.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/tjvp2h2aoqgs0pb9.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/tjvp2h2aoqgs0pb9.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/tjvp2h2aoqgs0pb9.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/tjvp2h2aoqgs0pb9.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
  }

  .icon{
    font-family: 'webfont';
    font-size: 25px;
  }
</style>
<body>

<div class="ui-loading-block show" id="loading">
    <div class="ui-loading-cnt">
        <i class="ui-loading-bright"></i>
        <p>加载中</p>
    </div>
</div>

  <div class="icon">问我管理平台
  </div>
  <div class="signin-content">
    <div>
      <div class="divider">
        <span>注册</span>
      </div>
    </div>
    <form action="/signin" method="post">
      <input placeholder="用户名" class="form-control form-container" name="name">

      <input type="password" placeholder="密码" class="form-control form-container" name="password">

    </form>
      <button class="form-container btn btn-block btn-content" id="signin">注册</button>
  </div>

  <div class="ui-poptips ui-poptips-success" style="display:none">
    <div class="ui-poptips-cnt">温馨提示内容</div>
</div>

<div class="ui-dialog" id="dialog">
    <div class="ui-dialog-cnt">
      <header class="ui-dialog-hd ui-border-b">
            <h3>温馨提示</h3>
       </header>
        <div class="ui-dialog-bd">
            <h4>确定要退出吗？</h4>
            <div> </div>
        </div>
        <div class="ui-dialog-ft">
            <fbutton type="button" class="delete-cancel" data-role="button">取消</fbutton>
            <fbutton type="button" class="delete-sub">确定</fbutton>
        </div>
    </div>        
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
  function loadingShow(text){
      $("#loading p").text(text);
      $("#loading").addClass("show");
    }
    function loadingHide(){
      $("#loading").removeClass("show");
    }
    function tipShow(text){
      if(text){
        $(".ui-poptips-cnt").text(text);
      }
      $(".ui-poptips").show();
     $(".ui-poptips").css({
        "-webkit-transform":"translateY(0px)"
      });
      setTimeout(function(){
        $(".ui-poptips").css({
          "-webkit-transform":"translateY(-40px)"
        });
      },1000);
    }

    function check(msg, name){
      if (name == '') {
        tipShow(msg)
        return false;
      }else{
        return true;
      }
    }
  $(window).load(function() {
    $("#loading").removeClass("show");
  });
  console.log(history);
  $("#signin").on("click",function(event){

      loadingShow("正在登陆");

      var name = $("input[name=name]").val();

      var password = $("input[name=password]").val();

      if(!check("用户名不能为空",name) || !check("密码不能为空",password)){
        return ;
      }
      var data = $("input").serialize();
        $.ajax({
          type : "POST",
          data: data,
          dataType: "json",
          url : "/manage/regist",
          success : function(result){
            console.log(result);
            loadingHide();

            if(result.code == 200){
              // alert("登陆成功");
              tipShow("注册成功");
              setTimeout(function(){

                loadingShow("正在跳转");
                window.location.href="/manage";

              },1000);
            }else{
              tipShow(result.message); 
            }
          },
          error: function(error){
            loadingHide();

            tipShow("服务器挂了~~");
          }
        });
      // $("form").submit();
  })
</script>
</html>