<% include header.ejs %>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1462906314_8605804.css">
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
}
.titles{
	height: 40px;
	width: 100%;
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	background-color: #efc553;
}
.title_word{
	/*width: 40%;*/
  position: absolute;
  width: 100px;
  left: 50%;
  text-align: center;
  margin-left: -50px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: white;

}
.return{
	width: 39%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.content{
	margin-top: 40px;
	background-color: #F3F1F1;
}
.label{
	width: auto;
	height: 20px;
	line-height: 20px;
	color: white;
	box-sizing: border-box;
}
.label span{
	background-color: #F9CC51;
	padding: 1px 2px;
}
.more{
	height: 40px;
	float: right;
	line-height: 40px;
	width: 21%;
	font-size: 16px;
	text-align: center;
}
.more a{
	color: white;
}

body{
      padding:0;
      margin:0;
    }
    .type-item{
      display: inline-block;
      padding: 0px 20px;
      /*color: #FFC222;*/
      /*background-color: #FFDC7F;*/
      height: 30px;
      line-height: 30px;
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      margin: 0 .5rem .2rem 0;
      border-radius: 3px;
      border:1px solid #393e49;
    }
    .next{
      float: right;
    }
    .theme-ul{
      text-align: center;
      width: 240px;
      height: 300px;
      box-sizing: border-box;
      margin:0 auto; 
    }
    .theme-li{
      /*display: inline-block;*/
      float: left;
      text-align: center;
      /*margin: 10px;*/
      width: 120px;
      height: 100px;
      /*line-height: 100px;*/
      /*border-radius: 50%;*/
      border:1px solid #FFC222;
    }
    .theme-li.active{
      background-color: #FFC222;
      color:white;
    }
    .recommend-reason,.tag-content,.result-detail,.add-content,.price-content{
      padding: 10px;
    }
    #reason,#detail,.de-show{
      width: 100%;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      border: 1px solid #ccc;
      min-height: 100px;
      resize:none;
      border-radius:3px;
      padding:5px 10px;
    }
    #reason,#detail,.de-show{
      background-color: #efc553;
      height: 15rem;
      border-radius: 0.5rem;
      padding:0.8rem 1rem;
      font-size: 0.5rem;
      color:#FFF;
    }
    #reason{
      height: 10rem;
      font-size: 0.75rem;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: gray;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: gray;
    }

    #detail,.de-show{
      height: 150px;
      word-break:break-all;
      overflow: scroll;
    }
    .ww-typeHelper,.add-search {
        position: relative;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        display: block;
        color: #555;
        vertical-align: middle;
        border-radius: 3px;
        max-width: 100%;
        cursor: text;
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
        padding: 6px 12px;
    }
    .add-search{
      background-color: #efc553;
      padding:2px 3px;
    }
    .ww-typeHelper{
      background-color: #efc553;
      height: 5rem;
      border-radius: 0.25rem;
    }
    .ww-typeHelper-input,.search-input{
        border: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        text-transform: lowercase;
        width: 6rem;
        max-width: 100%;
        padding-left: 30px;
    }
    .search-input{
      background-color: #fff;
      border-radius: 0.25rem;
      height: 30px;
      padding-left: 10px;
    }
    .ww-typeHelper-input{
      background-color: #FFF;
      border-radius: 2px;
      height: 1.5rem;
      /*position: absolute;
      bottom:5px;
      left:5px;
      box-sizing: border-box;
      margin-right: 50px;
      border-radius: 2px;
      height: 1rem;*/
      /*float: right;*/
    }
    .ww-typeHelper-left{
      width: 100%;
      position: absolute;
      bottom:5px;
      left:5px;
      box-sizing: border-box;
      padding-right: 3rem;
      height: 1.5rem;
    }
    .ww_typeHelper-button{
      background-color: #e5a41b;
      position: absolute;
      bottom:5px;
      right:5px;
      width: 30px;
      text-align: center;
      height: 1.5rem;
      line-height: 1.5rem;
      color: #FFF;
      border-radius: 0.15rem;
      width: 2.3rem;
      font-size: 0.5rem;
    }
    .techTags {
        /*display: none;*/
        width: 100%;
        padding: 6px 0.1rem;
        margin-bottom: 21px;
        /*background-color: #fff;*/
        /*border: 1px solid transparent;*/
        border-radius: 3px;
        /*box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
        padding-bottom: 21px;
        margin-top: 0.5rem;
    }
    .hidden-content{
      margin-top: 10px;
      text-align: center;
    }
    .hidden-content .button{
      width: 100px;
      margin: 0 auto;
      height: 30px;
      line-height: 30px;
    }
    .hidden-text{
      color: red;
    }
    .theme-content-block{
      /*text-align: center;*/
    }
    .theme-content{
      text-align: center;
      margin: 20px auto;
      width: 100px;
      height: 100px;
      line-height: 100px;
      border-radius: 50%;
      border: 1px solid #FFC222;
      display: inline-block;
    }
    .search-input{
      width: 100%;
    }
    #container{
      width: 100%;
      /*height: 300px;*/
      min-height: 350px;
      height: 60%;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    .amap-sug-result{
      z-index: 9999;
    }
    .list-block{
      /*background: white;*/
      background-color: #efc553;
      border-radius: 5px;
    }
    .list-block .item-inner{
      border-radius: 5px;
    }
    .right-icon{
      float: right;
    }
    #price-picker{
    }
    .theme-hidden{
      display: none;
    }
    .card-cover{
      height:300px;
    }
    .container-hidden{
      position: absolute;
      z-index: 100;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
    }
    .send-button{
      margin-top: 50px;
      background: none;
    }
    .header-title{
      color:#393e49;
      font-weight: bolder;
      position: absolute;
      background-color: #efc553;
      left: 50%;
      top:5px;
      width: 50px;
      margin-left: -25px;
      text-align: center;
    }
    .page-current{
      /*margin-top: 30px;*/
    }
    .bar{
      background-color: #efc553;
    }
    .card{
      background-color: #F3D27B;
    }
    .card-header{
      min-height:2rem;
      font-weight: bold;
      border-bottom: 1px solid #BBA05F;
      padding:0rem .75rem;
    }
    .bar .button-link{
      color:#393e49;
    }
    .bar-footer-nav{
      bottom:0;
    }
    #theme1,#theme3,#theme5{
      border-right: 0;
    }
    #theme1,#theme2,#theme3,#theme4{
      border-bottom: 0;
    }
    .theme-li{
      border:0;
    }
    #theme1,.theme1{
      background-color: #FDB8AF;
    }
    #theme2,.theme2{
      background-color: #DFECA1;
    }
    #theme3,.theme3{
      background-color: #ADF5EC;
    }
    #theme4,.theme4{
      background-color: #E0C1F3;
    }
    #theme5,.theme5{
      background-color: #FFD99C;
    }
    #theme6,.theme6{
      background-color: #B6C6FE;
    }
    .theme-li img{
      width: 40px;
      height: 40px;
      margin-top:30px;
    }
    .list-block .item-link .item-inner{
      background-image: none;
      display: block;
      margin-left: 1.25rem;
      overflow-x:hidden !important;
      white-space: nowrap;
      line-height: 29px;
      text-overflow: ellipsis;
    }
    .item-left{
      position: absolute;
      margin-top: -2px;
    }
    .item-left .iconfont{
      font-size: 20px;
    }
    .item-right{
      position: absolute;
      right:10px;
    }
    .list-block{
      background-color: #F3D27B;
    }
    .send-button-a{
      position: absolute;
      right: 5px;
    }
    .page{
      background-color: white;
    }
    .theme-list-content{
      padding: 0 2%;
      text-align: center;
      height: 50px;
      /*width: 96%;*/
      /*width: 300px;*/
      margin:30px auto;
      /*width: 100%;*/
      /*box-sizing: border-box; */
    }
    .theme-list{
      width: 16.666%;
      display: block;
      float: left;
      text-align: center;
    }
    .theme-list img{
      width: 70%;
    }
    .theme-list-active img{
      width: 85%;
      margin-top: -7px;
    }
    .theme-list-content .theme-down-text{
      font-size: 13px;
      font-weight: bold;
      display: none;
    }
    .theme-list-active .theme-down {
      display: none;
    }
    .theme-down{
      height: 3px;
      width: 70%;
      margin:5px auto; 
    }
    .theme-list-active .theme-down-text{
      display: block;
    }
    .theme-li-active img{
      width: 50px;
      height: 50px;
      margin-top: 15px;
    }
    .theme-li-text{
      display: none;
    }
    .theme-li-active .theme-li-text{
      font-size: 15px;
      font-weight: bold;
      display: block;
      color: #000;
    }
    .ww_typeHelper-input-left{
      position: absolute;
      color: #efc553;
      font-size: 25px;
      top:-6px;
      left:5px;
    }
    .help{
      display: block;
      float: left;
      font-size: 25px;
      color: #efc553;
      line-height: 30px;
      margin-left: 20px;
    }
    .button-start{
      color: #3d4145 !important;
      background-color: #efc553 !important;
    }
    .help-content{
      padding: 10px;
      font-size: 13px;
      color: #efc553;
      display: none;
    }
    #detail-content .card-content-inner,#reason-content .card-content-inner{
      word-break:break-all;
    }
    .right-hidden{
      margin-right: 5px !important;
    }
    /*.geolocation-position{
      width: 40px;
      height: 40px;
    }*/
    .geolocation-position img{
      width: 40px;
      height: 40px;
    }
    /*.bar{
      height: 1.5rem;
    }*/
    .bar-footer-nav:before{
      content: '';
      /*width: 2px;*/
      border-left: 1px solid #969696;
      height: 44px;
      position: absolute;
      left:50%;
      z-index: 2;
    }

    .autor-img{
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .autor-content{
      margin: .5rem;
      position: relative;
      border-radius: .1rem;
      font-size: .7rem;
      height: 2.5rem;
      text-align: left;
    }
    .autor-text{
      float: left;
      margin-left: 10px;
    }
    .autor-list-content{
      font-weight: bold;
      width: 190px;
      overflow-x:hidden !important;
      white-space: nowrap;
      line-height: 29px;
      text-overflow: ellipsis;
    }
    .autor-time{
      font-size: 10px;
      color:#8E8E8E;
    }
    .buy-num-content{
    	position: absolute;
    	bottom: 0;
    	right: 0px;
    	font-size: 10px;
    }
    .buy-num{
    	border-radius: 5px;
    	padding: 2px 5px;
	    background-color: #efc553;
	    color: white;
    }
    .ask-get {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 40px;
      color: red;
      height: 4.5rem;
      line-height: 4.5rem;
      width: 4.5rem;
      z-index: 9999;
  }
  .ask-get img{
    width: 4.5rem;
    height: 4.5rem;
    background-size: cover;
    /*transform:rotate(7deg);*/
/*-ms-transform:rotate(7deg);  */ /* IE 9 */
/*-moz-transform:rotate(7deg); */ /* Firefox */
/*-webkit-transform:rotate(7deg);*/ /* Safari 和 Chrome */
/*-o-transform:rotate(7deg); */ /* Opera */
  }
  .more-content{
    position: absolute;
    padding-top: 20px;
    right: 10px;
    width: 50px;
    height: 100px;
    display: none;
    z-index: 10000;
  }
  .more-list{
    position: absolute;
    width: 50px;
    height: 80px;
    background-color: white;
    box-shadow: 0 0 0px 1px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);
  }
  .arrow-box {
    position: absolute;
    overflow: hidden;
    display: block;
    left: 20px;
    z-index: 2;
    top: 0;
  }
  .arrow-box i, .arrow-box em {
    border-color: transparent transparent red transparent;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin-top: -20px;
  }
  .del{
    width: 20%;
    margin-left: 40%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
  }
  .modal-overlay{
    height: 100% !important;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">详情</div>
	<div class="more">
		<a class="other">更多</a>
	</div>
</div>
<div class="more-content">
    <div class="arrow-box"> <em class="img-arrow"></em> <i class="img-arrow"></i>
    </div>
    <div class="more-list">
    <div class="more-li"></div>
    </div>
</div>
<div class="content">
	<!-- <div class="card">
		<div class="card-header">标签</div>
		<div class="card-content">
			<div class="card-content-inner">
				<div class="label">
					<span>火锅</span>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">推荐理由</div>
		<div class="card-content">
			<div class="card-content-inner">头和尾的卡片。卡头是用来显示一些额外的信息，或自定义操作卡标题和页脚。</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">详情</div>
		<div class="card-content">
			<div class="card-content-inner">头和尾的卡片。卡头是用来显示一些额外的信息，或自定义操作卡标题和页脚。</div>
		</div>
	</div>
	<div class="content-block-title">地点标注</div>
	<div class="card">
		<div class="card-content" id="container-show" style="height: 280px;">
		</div>
	</div>
	<div class="card">
		<div class="card-header">价格</div>
		<div class="card-content">
			<div class="card-content-inner">头和尾的卡片。卡头是用来显示一些额外的信息，或自定义操作卡标题和页脚。</div>
		</div>
	</div> -->
	<div class="theme-content-block">
          <!-- <ul>
            <li><a href="/docs-demos/router2">ajax加载新页面</a></li>
            <li><a href="#router3">内联的新页面</a></li>
          </ul> -->
           <!-- <div class="content-block-title">主题</div>
            <div class="card" data-href="router1">
              <div class="card-content">
                <div class="list-block">
                  <ul>
                    <li>
                      <a class="item-link item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">吃</div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div> -->

              <!-- <div class="card theme-content theme1" data-type="" data-href="router1">
                吃
              </div>
              <div class="card theme-content theme2 theme-hidden" data-type="" data-href="router1">
                吃
              </div> -->
              <!-- <div class="theme-list-content" data-href="router1">
                <div class="theme-list theme-list1" data-type="1">
                  <img src="/img/themes-02.png" alt="">
                  <div class="theme-down theme1"></div>
                  <div class="theme-down-text">美食</div>
                </div>
                <div class="theme-list theme-list2" data-type="2">
                  <img src="/img/themes-03.png" alt="">
                  <div class="theme-down theme2"></div>
                  <div class="theme-down-text">住宿</div>
                </div>
                <div class="theme-list theme-list3" data-type="3">
                  <img src="/img/themes-04.png" alt="">
                  <div class="theme-down theme3"></div>
                  <div class="theme-down-text">出行</div>
                </div>
                <div class="theme-list theme-list4" data-type="4">
                  <img src="/img/themes-05.png" alt="">
                  <div class="theme-down theme4"></div>
                  <div class="theme-down-text">购物</div>
                </div>
                <div class="theme-list theme-list5" data-type="5">
                  <img src="/img/themes-06.png" alt="">
                  <div class="theme-down theme5"></div>
                  <div class="theme-down-text">游玩</div>
                </div>
                <div class="theme-list theme-list6" data-type="6">
                  <img src="/img/themes-07.png" alt="">
                  <div class="theme-down theme6"></div>
                  <div class="theme-down-text">防坑</div>
                </div>
              </div>

            </div> -->
        <div class="autor-content-block">
          <div class="ask-get" style="display: block;"><img src="/img/common/buyed.png"></div>
		      <div class="autor-content">
		        <!-- <img class="autor-img" src="/img/test.jpg"> -->
		        <div class="autor-text">
		          <div class="autor-list-content">
		          来自用户：<span class="autor-name">jessica</span>
		          的<span class="autor-theme">防坑</span>指南
		          </div>
		          <label class="autor-time">2016.04.20</label>
		        </div>

		        <!-- <div class="buy-num-content">
		        	<span>购买人数： </span>
		        	<span class="buy-num">20</span>
		        	<span>人</span>
		        </div> -->
		      </div>
		    </div>

           <div class="card" id="tag-content" data-href="router2">
              <div class="card-header">标签</div>
              <div class="card-content">
                <div class="card-content-inner">
                  <!-- <span class="type-item">火锅</span>
                  <span class="type-item">冒菜</span> -->
                </div>
              </div>
            </div>

            <div class="card" id="reason-content" data-href="router3">
              <div class="card-header">推荐理由</div>
              <div class="card-content">
                <div class="card-content-inner">
                  请填写推荐理由
                </div>
              </div>
            </div>

            <div class="card" id="detail-content" data-href="router4">
              <div class="card-header">详情</div>
              <div class="card-content">
                <div class="card-content-inner">
                  请描述详情
                </div>
              </div>
            </div>

             <!-- <div class="content-block-title">地图标注</div>
              <div class="card demo-card-header-pic" data-href="router5">
                <div valign="bottom" class="card-header color-white no-border no-padding">
                  <div class="container-hidden"></div>
                  <div class='card-cover' id="container-show"></div>
                </div>
              </div> -->

              <div class="card" id="address-content" data-href="router5">
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li>
                        <a class="item-link item-content">
                          <div class="item-media item-left"><i class="iconfont icon-dingwei"></i></div>
                          <!-- <div class="item-media item-right"><i class="iconfont icon-youjiantou"></i></div> -->
                          <div class="item-inner">
                            <div class="item-title ">成都信息工程大学</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card" id="price-content" data-href="router6">
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li>
                        <a class="item-link item-content">
                          <div class="item-media item-left"><i class="iconfont icon-qian"></i></div>
                          <!-- <div class="item-media item-right"><i class="iconfont icon-youjiantou"></i></div> -->
                          <div class="item-inner">
                            <div class="item-title">价格</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="del">退款</div>
              <!-- <div class="card" id="price-content" data-href="router6">
                <div class="card-header">价格</div>
                <div class="card-content">
                  <div class="card-content-inner">￥0.2</div>
                </div>
              </div>
            
              <div class="card">
                <div class="send-button">
                  <a href="#" class="button button-big button-fill button-success send-button-a">提交</a>
                </div>
              </div> -->
            

        </div>
      </div>
</div>
<!-- <div class="modal-overlay modal-overlay-visible" style="display:none"></div>
<div class="modal modal-in" style="display: none; margin-top: -83px;">
  <div class="modal-inner">
    <div class="modal-text">请填写退款理由</div>
    <input type="text" class="modal-text-input"></div>
  <div class="modal-buttons ">
    <span class="modal-button">取消</span>
    <span class="modal-button modal-button-bold">确定</span>
  </div>
</div> -->

<!-- <div class="hide" style="display: none;">
	<div class="modal-overlay modal-overlay-visible"></div>
	<div class="actions-modal modal-in">
		<div class="actions-modal-group">
			<span class="actions-modal-label">请选择</span>
			<span class="actions-modal-button actions-modal-button-bold color-danger">删除</span>
			<span class="actions-modal-button">上架</span>
			<span class="actions-modal-button">下架</span>
			<span class="actions-modal-button">编辑</span>
		</div>
		<div class="actions-modal-group">
			<span class="actions-modal-button bg-danger">取消</span>
		</div>
	</div>
</div>
	<div class="dialogs1" style="display: none;">
		<div class="modal-overlay modal-overlay-visible"></div>
		<div class="modal modal-in" style="display: block; margin-top: -57px;">
			<div class="modal-inner">
				<div class="modal-text">你确定要删除?</div>
			</div>
			<div class="modal-buttons ">
				<span class="modal-button">取消</span>
				<span class="modal-button modal-button-bold">确定</span>
			</div>
		</div>
	</div>
	<div class="dialogs2" style="display: none;">
		<div class="modal-overlay modal-overlay-visible"></div>
		<div class="modal modal-in" style="display: block; margin-top: -57px;">
			<div class="modal-inner">
				<div class="modal-text">你确定要退款?</div>
			</div>
			<div class="modal-buttons ">
				<span class="modal-button">取消</span>
				<span class="modal-button modal-button-bold">确定</span>
			</div>
		</div>
	</div> -->
<script src="/js/common.js"></script>
<script type="text/javascript">
	$(".zuo").click(function(){
		history.go(-1);
	})
  // $(".del").click(function(){
    // $(".modal-overlay-visible").show();
    // $(".modal-in").show();

  // })
  $(document).on('click','.del', function () {
      $.prompt('请填写退款理由', function (value) {
         var str = $(".modal-text-input").val();
          console.log(str);
         if( str ==''){
          $.toast('退款理由不能为空 ');
          // console.log(12345);
          return  ;
         }
         else{
          var data = {
                  ask_id   : "<%= id %>",
                  username : "<%= username %>",
                  refundInfo: str 
                   }
           $.ajax({
          type : "POST",
          data: data,
          dataType: "json",
          url : "/hode/refund",
          success : function(result){
             $.toast('你已成功申请退款 ');
             window.location.href = "/more/order";
             },
          error: function(error){
            // alert(error);
            // $.hidePreloader();
            $.alert(error);
          }
        });

        }
      });
  });
  $(".modal-button").click(function(){
    $(".modal-overlay-visible").hide();
    $(".modal-in").hide();
  })
	function formatDetail(data){
		
		var staus           = data.staus,     //状态
		    askType         = data.askType,   //类型
  			askTagStr       = data.askTagStr, //标签
  			reason          = data.askReason, //理由
  			askContentHide  = data.askContentHide,//隐藏详情
  			askContentShow  = data.askContentShow,//隐藏详情
  			lnglatXY        = [data.GeoX,data.GeoY],//坐标
  			price           = data.askPrice,//价格
  			updatedAt       = data.updatedAt,//发布时间
  			createBy        = data.createBy;//发布者

		//设置标签头部
		  askType =  askType.split(",");
	      var typeText = '';
	      console.log(askType);
	      for(var i = 0; i < askType.length; i++){
	        typeText = formatType(askType[i]);
	        if(i == 1){
	          typeText = formatType(askType[i-1]) +","+ formatType(askType[i]);
	        }
	      }
	      //设置上传者名字
	      $(".autor-name").text(createBy);
	      //设置信息主题
	      $(".autor-theme").text(typeText);
	      //设置信息上传时间
	      console.log(updatedAt);
	      $(".autor-time").text(formatDate("y.m.d",updatedAt));

	    //标签
	    var tag = JSON.parse(askTagStr);
        console.log(tag);
        var spanContent = '';
        for(var i in tag){
          console.log(tag[i]);
          var spanContent = spanContent + '<span class="type-item">'+tag[i].tag_name+'</span>';
        }
        $("#tag-content .card-content-inner").append(spanContent);

        //推荐理由
        $("#reason-content .card-content-inner").text(reason);

        //解析详情
        var show = askContentShow.split("##");
        var hidden = askContentHide.split("##");
        var reasonDetail = '';
        for(var i = 0; i < hidden.length;i++){
        	reasonDetail += show[i] + hidden[i];
        }
        if(!hidden.length){
        	reasonDetail = show;
        }

        $("#detail-content .card-content-inner").text(reasonDetail);

        //解析地址
        getAddress(lnglatXY,{
          success:function(address){
            var detail = address.formattedAddress;
            var address = {
              province : address.addressComponent.province,
              city     : address.addressComponent.city,
              district : address.addressComponent.district,
              township : address.addressComponent.township
            }
            // var address = JSON.stringify(address);

            // detail = detail.replace(address[0]+address[1]+address[2]+address[3],"");
            var replace = ""+address.province+address.city+address.district+address.township+"";
            detail = detail.replace(replace,"");
            address.detail = detail;
            address = JSON.stringify(address);
            console.log(address);
            $("#address-content .item-inner").attr("data-address",address);
            $("#address-content .item-inner").text(detail);
          }
        });

        //价格
        $("#price-content .item-inner").text(price);
	}
  
	function getDetail(){
    $.showPreloader();

		var data = {
			ask_id   : "<%= id %>",
			username : "<%= username %>"
		}
		$.ajax({
          type : "GET",
          data: data,
          dataType: "json",
          url : "/ask/askdetail",
          success : function(result){
            $.hidePreloader();
            console.log(result);
            if(result.code == 200){
              $.hidePreloader();
              formatDetail(result.data);
            }else{
              // $.hidePreloader();
              $.toast(result.message);
            }
          },
          error: function(error){
            // alert(error);
            $.hidePreloader();
            $.alert('error');
          }
        });
	}
	getDetail();
		

// $(".collect").click(function () {
// 		$(".dialogs1").show();
// 		$(".modal-button").click(function(){
// 			$(".dialogs1").hide();
// 		});
//   });

// $(".ordered").on('click', function () {
//       $(".dialogs2").show();
// 		$(".modal-button").click(function(){
// 			$(".dialogs2").hide();
// 		});
//   });
// $(".other").on('click',function () {
// 		$(".hide").show();
// 		$(".bg-danger").click(function(){
// 			$(".hide").hide();
// 		})
//   });
	// var map;
	// getMap(103.985616,30.581207);
	// function getMap(lng,lat){
 //      //详情地点显示
 //      var map;
 //      map = new AMap.Map('container-show', {
 //        resizeEnable: true,
 //        zoom:20,
 //        center: [lng,lat]
 //      });
 //      var map = new AMap.Marker({
 //        map : map,
 //        position: [lng,lat],
 //        draggable: true,
 //        cursor: 'move',
 //        raiseOnDrag: true,
 //        clickable:true
 //      });
 //      map.setMap(map);
 //    }
function getMyasks(){
	 $.ajax({
        type : "get",
        dataType: "json",
        data:{username:"admin",staus:4},
        url : "/ask/myask",
        success : function(result){
          console.log(result);
          // for(var i = 0; i < result.data.length; i++){
          // 	if(result.data[i].staus == 1){
          // 		var tag = result.data[i].askTagStr;
          //       var temp = JSON.parse(tag);
          //       var tab = "";
          //       console.log(temp);
          //       for (var j = 0; j < temp.length; j++) {
          //       	tab = tab +'<span>'+ temp[j].tag_name+'</span>';
          //          }
          //          var type = result.data[i].askType;
          //          var strs = type.split(",")
          //          console.log(strs);
          //          var price = result.data[i].askPrice;
          //       var str = '<div class="information"><div class="information_img"><img src="/img/u28.png"></div><div class="information_name"><div class="information_name_word">'+getTitle(strs[0])+"&nbsp&nbsp"+getTitle(strs[1])+':'+tab+'</div><div class="information_price">￥'+price+'</div></div><div class="information_state">已审核</div><div class="information_Purchase_number">购买人数：3人</div></div>';
          // 		$("#content1").append(str);
            // }
            // else {
            // 	var tag = result.data[i].askTagStr;
            //     var temp = JSON.parse(tag);
            //     var tab = "";
            //     console.log(temp);
            //     for (var j = 0; j < temp.length; j++) {
            //     	tab = tab +'<span>'+ temp[j].tag_name+'</span>';
            //        }
            //        var type = result.data[i].askType;
            //        var strs = type.split(",")
            //        console.log(strs);
            //        var price = result.data[i].askPrice;
            //     var str = '<div class="information"><div class="information_img"><img src="/img/u28.png"></div><div class="information_name"><div class="information_name_word">'+getTitle(strs[0])+"&nbsp&nbsp"+getTitle(strs[1])+':'+tab+'</div><div class="information_price">￥'+price+'</div></div><div class="information_state">'+getStaus(result.data[i].staus)+'</div><div class="information_Purchase_number">购买人数：3人</div></div>';
          		// $("#content2").append(str);
            // }
          // }
          },
      error: function(error){
          $.alert('error');
        }
      })
}
</script>
</html>