<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
}
.titles{
	height: 40px;
	width: 100%;
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	background-color: #efc553;
}
.title_word{
	width: 50%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.return{
	width: 39%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.content-block-titles{
	height: 42px;
	width: 100%;
	padding-top: 25px;
	font-size: 17px;
	padding-left: 20px;
}
.suggest{
	width: 100%;
	height: 93%;
	/*background-color: #EAEAEA;*/
}
.cards{
	width: 100%;
	height: 150px;
/*	border-radius:5px;*/
/*	margin-left: 10px;
	margin-right: 10px;*/
	margin-top: 14px;
}
.contact_title{
	height: 40px;
	line-height: 40px;
	width: 100%;
	padding-left: 20px;
}
.contact_value{
	height: 30px;
	width: 100%;
	padding: 0px 10px;
/*	border-radius: 15px;*/
	line-height: 30px;
/*	margin-left: 2%;*/
}
.btn_submit{
	height: 36px;
	width: 90%;
	margin-left: 5%;
	margin-top: 100px;
	line-height: 36px;
	border-radius: 5px;
	border:0;
	background-color: #efc553;
	font-weight: 700;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">联系我们</div>
</div>
<div class="suggest">
	<div class="content-block-titles">建议描述:</div>
	<textarea class="cards" placeholder="请你描述遇到的问题或者想提供的建议，我们将尽快回复"></textarea>
	<div class="contact_title">联系方式:</div>
	<input class="contact_value" placeholder="手机/邮箱(选填)">
	<button class="btn_submit">确认提交</button>
</div>
<script type="text/javascript">
$(".zuo").click(function(){
		history.go(-1);
	})
$(".btn_submit").click(function(){
	var views = $(".cards").val();
    console.log(views);
    var contacts =$(".contact_value").val(); 
    console.log(contacts);
$.ajax({
            type: "post",
            url: "/user/suggestion",
            data: {view:views, contact:contacts},
            dataType: "json",
            success : function(result) {
                console.log(result);
            },
            error : function(){
            	$.alert('网络异常');
            }
        });
})
</script>
</html>