</body>
<!-- <script src="/js/md5.js"></script>
<script src="/js/socket.io.js"></script>
<script src='/js/fingerprint.js'></script>
<script src="/js/tts.min.js"></script>
<script src="/js/cherry.js"></script>
<script src="/js/simple-share.min.js"></script> -->
<script src="/js/public.js"></script>