<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
}
.titles{
	height: 40px;
	width: 100%;
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	background-color: #efc553;
}
.title_word{
	width: 40%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.return{
	width: 39%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.content{
	margin-top: 40px;
	background-color: #F3F1F1;
}
.label{
	width: auto;
	height: 20px;
	line-height: 20px;
	color: white;
	box-sizing: border-box;
}
.label span{
	background-color: #F9CC51;
	padding: 1px 2px;
}
.more{
	height: 40px;
	float: right;
	line-height: 40px;
	width: 21%;
	font-size: 16px;
	text-align: center;
}
.more a{
	color: white;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">商品名称</div>
	<div class="more">
		<a href="#" class="collect" style="display: block;">删除</a>
		<a class="ordered" style="display: none;">退款</a>
		<a class="other" style="display: none;">更多</a>
	</div>
</div>
<div class="content">
	<div class="card">
		<div class="card-header">标签</div>
		<div class="card-content">
			<div class="card-content-inner">
				<div class="label">
					<span>火锅</span>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">推荐理由</div>
		<div class="card-content">
			<div class="card-content-inner">头和尾的卡片。卡头是用来显示一些额外的信息，或自定义操作卡标题和页脚。</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">详情</div>
		<div class="card-content">
			<div class="card-content-inner">头和尾的卡片。卡头是用来显示一些额外的信息，或自定义操作卡标题和页脚。</div>
		</div>
	</div>
	<div class="content-block-title">地点标注</div>
	<div class="card">
		<div class="card-content" id="container-show" style="height: 280px;">
			<!-- <div class="card-content-inner"></div> -->
		</div>
	</div>
	<div class="card">
		<div class="card-header">价格</div>
		<div class="card-content">
			<div class="card-content-inner">头和尾的卡片。卡头是用来显示一些额外的信息，或自定义操作卡标题和页脚。</div>
		</div>
	</div>
</div>
<div class="hide" style="display: none;">
	<div class="modal-overlay modal-overlay-visible"></div>
	<div class="actions-modal modal-in">
		<div class="actions-modal-group">
			<span class="actions-modal-label">请选择</span>
			<span class="actions-modal-button actions-modal-button-bold color-danger">删除</span>
			<span class="actions-modal-button">上架</span>
			<span class="actions-modal-button">下架</span>
			<span class="actions-modal-button">编辑</span>
		</div>
		<div class="actions-modal-group">
			<span class="actions-modal-button bg-danger">取消</span>
		</div>
	</div>
</div>
	<div class="dialogs1" style="display: none;">
		<div class="modal-overlay modal-overlay-visible"></div>
		<div class="modal modal-in" style="display: block; margin-top: -57px;">
			<div class="modal-inner">
				<div class="modal-text">你确定要删除?</div>
			</div>
			<div class="modal-buttons ">
				<span class="modal-button">取消</span>
				<span class="modal-button modal-button-bold">确定</span>
			</div>
		</div>
	</div>
	<div class="dialogs2" style="display: none;">
		<div class="modal-overlay modal-overlay-visible"></div>
		<div class="modal modal-in" style="display: block; margin-top: -57px;">
			<div class="modal-inner">
				<div class="modal-text">你确定要退款?</div>
			</div>
			<div class="modal-buttons ">
				<span class="modal-button">取消</span>
				<span class="modal-button modal-button-bold">确定</span>
			</div>
		</div>
	</div>
<script type="text/javascript">
$(".zuo").click(function(){
		history.go(-1);
	})
// $(".collect").click(function () {
// 		$(".dialogs1").show();
// 		$(".modal-button").click(function(){
// 			$(".dialogs1").hide();
// 		});
//   });

// $(".ordered").on('click', function () {
//       $(".dialogs2").show();
// 		$(".modal-button").click(function(){
// 			$(".dialogs2").hide();
// 		});
//   });
// $(".other").on('click',function () {
// 		$(".hide").show();
// 		$(".bg-danger").click(function(){
// 			$(".hide").hide();
// 		})
//   });
	// var map;
	getMap(103.985616,30.581207);
	function getMap(lng,lat){
      //详情地点显示
      var map;
      map = new AMap.Map('container-show', {
        resizeEnable: true,
        zoom:20,
        center: [lng,lat]
      });
      var map = new AMap.Marker({
        map : map,
        position: [lng,lat],
        draggable: true,
        cursor: 'move',
        raiseOnDrag: true,
        clickable:true
      });
      map.setMap(map);
    }
function getMyasks(){
	 $.ajax({
        type : "get",
        dataType: "json",
        data:{username:"admin",staus:4},
        url : "/ask/myask",
        success : function(result){
          console.log(result);
          // for(var i = 0; i < result.data.length; i++){
          // 	if(result.data[i].staus == 1){
          // 		var tag = result.data[i].askTagStr;
          //       var temp = JSON.parse(tag);
          //       var tab = "";
          //       console.log(temp);
          //       for (var j = 0; j < temp.length; j++) {
          //       	tab = tab +'<span>'+ temp[j].tag_name+'</span>';
          //          }
          //          var type = result.data[i].askType;
          //          var strs = type.split(",")
          //          console.log(strs);
          //          var price = result.data[i].askPrice;
          //       var str = '<div class="information"><div class="information_img"><img src="/img/u28.png"></div><div class="information_name"><div class="information_name_word">'+getTitle(strs[0])+"&nbsp&nbsp"+getTitle(strs[1])+':'+tab+'</div><div class="information_price">￥'+price+'</div></div><div class="information_state">已审核</div><div class="information_Purchase_number">购买人数：3人</div></div>';
          // 		$("#content1").append(str);
            // }
            // else {
            // 	var tag = result.data[i].askTagStr;
            //     var temp = JSON.parse(tag);
            //     var tab = "";
            //     console.log(temp);
            //     for (var j = 0; j < temp.length; j++) {
            //     	tab = tab +'<span>'+ temp[j].tag_name+'</span>';
            //        }
            //        var type = result.data[i].askType;
            //        var strs = type.split(",")
            //        console.log(strs);
            //        var price = result.data[i].askPrice;
            //     var str = '<div class="information"><div class="information_img"><img src="/img/u28.png"></div><div class="information_name"><div class="information_name_word">'+getTitle(strs[0])+"&nbsp&nbsp"+getTitle(strs[1])+':'+tab+'</div><div class="information_price">￥'+price+'</div></div><div class="information_state">'+getStaus(result.data[i].staus)+'</div><div class="information_Purchase_number">购买人数：3人</div></div>';
          		// $("#content2").append(str);
            // }
          // }
          },
      error: function(error){
          alert(error);
        }
      })
}

</script>
</html>