<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
}
.titles{
	height: 40px;
	width: 100%;
	/*line-height: 40px;*/
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	background-color: #efc553;
}
.title_word{
	width: 50%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.return{
	width: 45%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.balance{
	width: 100%;
	height: 130px;
	/*border-bottom: 1px solid #EAEAEA;*/
	line-height: 130px;
}
.money{
	font-size: 55px;
	/*margin-left: 20px;*/
	float: left;
	width: 100%;
	text-align: center;
}
.balance_money{
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	text-align: center;
	width: 100%;
	font-weight: 700;
	margin-top: -20px;
}
.withdraw_cash{
	height: 40px;
	line-height: 40px;
	width: 100%;
	/*border-bottom: 1px solid #EAEAEA;*/
}
.withdraw_cash_title{
	width: 50%;
	height: 40px;
	padding-left: 25px;
	font-size: 15px;
	float: left;
}
.withdraw_cash_money{
	width: 50%;
	height: 40px;
	font-size: 15px;
	padding-left: 50px;
	float: left;
}
.btn{
	width: 100%;
	height: 70px;
}
.btn_withdraw_cash,.btn_recharge{
	width: 100%;
	height: 50px;
/*	float: left;*/
	padding: 20px 20px;
}
.btn_recharge button{
	width: 100%;
	height: 35px;
	border:0;
	border-radius: 5px;
	background-color: #efc553;
	font-weight: 700;
}
.btn_withdraw_cash button{
	width: 100%;
	height: 35px;
	border:0;
	border-radius: 5px;
	background-color: #efc553;
	font-weight: 700;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">钱包</div>
</div>
	<div class="balance">
		<div class="iconfont icon-qianBao money"></div>
	</div>
	<div class="withdraw_cash">
	<div class="balance_money">账户余额:&nbsp;￥</div>
		<!-- <div class="withdraw_cash_title">账户可提现:</div>
		<div class="withdraw_cash_money"></div> -->
	</div>
	<div class="btn">
		<div class="btn_withdraw_cash" style="margin-top: 80px;">
		<button id="withdraw">提现</button>
		</div>
		<div class="btn_recharge">
			<button id="recharge">充值</button>
		</div>
	</div>
<script type="text/javascript">
$(".zuo").click(function(){
		history.go(-1);
	})
$("#withdraw").click(function(){
	window.location.href="/more/withdraw";
})
$("#recharge").click(function(){
	window.location.href="/more/recharge";
})
getMywallet();
function getMywallet(){
	 $.ajax({
        type : "GET",
        dataType: "json",
        data:{username:"<%=username%>"},
        url : "/wallet/mywallet",
        success : function(result){
          console.log(result);
          var wallet = result.money;
          $(".balance_money").append(wallet);         
          var wallets = parseInt(wallet);
          var  str = wallets +"元";
          $(".withdraw_cash_money").append(str);
          },
      error: function(error){
          alert(error);
        }
      })
}
</script>
</html>