<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
}
.titles{
	height: 40px;
	width: 100%;
	/*line-height: 40px;*/
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	position: fixed;
	background-color: #F9CC51;
	z-index: 999;
}
.title_word{
	width: 42%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.map_view{
	float: right;
	height: 40px;
	line-height: 40px;
	font-size: 9px;
	color: white;
	margin-right: 10px;
}
.return{
	width: 39%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.order_information{
	width: 100%;
	height: auto;
	overflow-y:auto;
	margin-top: 40px;
}
.orders{
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #EAEAEA;
}
.orders_head{
	height: 70px;
	width: 80px;
	float: left;
	margin-top: 10px;
}
.orders_head img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border:1px solid #EAEAEA;
	margin-left: 10px;
}
.orders_info{
	height: 80px;
	width: 200px;
	padding-top: 20px;
	float: left;
}
.orders_info1{
	height: 25px;
	width: 150px;
	float: left;
	margin-left: 10px;
	font-size: 15px;
}
.orders_info2{
	height: 25px;
	width: 120px;
	float: left;
	margin-left: 10px;
	font-size: 12px;
	margin-top: 8px;
}
.orders_date{
	height: 25px;
	float: right;
	width: 70px;
	font-size: 10px;
	margin-top: 8px;
	text-align: right;
}
.orders_money{
	width: 35px;
	height: 25px;
	float: right;
	font-size: 15px;
	text-align: right;
}
.orders_right_icon{
	/*float: left;*/
	float: right;
    margin-right: 20px;
	width: 20px;
	height: 50px;
	margin-top: 20px;
	font-size: 30px;
	color: #FFC222;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">我的订单</div>
	<div class="map_view">地图视角</div>
</div>
<div class="order_information">
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>
	<div class="orders">
		<div class="orders_head">
			<img src="/img/test.jpg"></div>
		<div class="orders_info">
			<div class="orders_info1">经济型酒店</div>
			<div class="orders_money">1元</div>
			<div class="orders_info2">临江特色,舒适宜人</div>
			<div class="orders_date">2015-01-01</div>
		</div>
			<div class="iconfont icon-you orders_right_icon"></div>
	</div>

</div>
<script type="text/javascript">
$(".zuo").click(function(){
		history.go(-1);
	})
</script>
</html>