<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: auto;
}
.titles{
	height: 40px;
	width: 100%;
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	position: fixed;
	background-color: #efc553;
	z-index: 999;
}
.title_word{
	width: 42%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.map_view{
	float: right;
	height: 40px;
	line-height: 40px;
	font-size: 9px;
	color: white;
	margin-right: 10px;
}
.return{
	width: 39%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.informations{
	width: 100%;
	height: auto;
	/*min-height: 100px;*/
	overflow-y:scroll;
}
.information{
	height: 80px;
	width: 100%;
	border-bottom:1px solid #EAEAEA;
	overflow: hidden;
	/*position: fixed;*/
	/*z-index: 999;*/
}
.information_name{
	height: 80px;
	width: 61%;
	float: left;
	border-bottom:1px solid #EAEAEA;
	overflow: hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
	/*border-right:1px solid #EAEAEA;*/
}
.information_img{
	width: 80px;
	height: 80px;
	float: left;
	box-sizing: border-box;
	/*padding: 2px;*/
}
.information_img img{
	width: 70px;
	height: 70px;
	/*border-radius: 50%;*/
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
/*	margin-bottom: 5px;*/
}
.information_name_word{
	float: left;
	width: 100%;
	height: 40px;
	/*line-height: 40px;*/
	/*padding-left:10px;*/
	font-size: 15px;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 600;
	overflow: hidden;
	padding-top: 15px;
}
.information_price{
	height: 40px;
	width: 100%;
	float: left;
	border-bottom:1px solid #EAEAEA;
	/*padding-left:10px;*/
	padding-top: 5px;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 600;
}
.information_state{
	height: 40px;
	width: 31%;
	/*border-right: 1px solid #EAEAEA;*/
	line-height: 40px;
	float: right;
	box-sizing: border-box;
	font-size: 14px;
	text-align: right;
	padding-right: 6px;
}
.information_name_word span{
	margin-left: 4px;
	background-color: #efc553;
	font-weight: 600;
}
.information_Purchase_number{
	height: 40px;
	float: right;
	width: 31%;
	line-height: 40px;
	/*padding-left: 20px;*/
	box-sizing: border-box;
	font-size: 14px;
	text-align: right;
	padding-right: 6px;
}
.content{
	top: 40px;
}
.content-block{
	margin: 0;
	padding: 0;
}
.buttons-tab .button.active{
	color: #efc553;
	border-color: #efc553;
}
.collect-concent{
	height: 80px;
	line-height: 80px;
	margin-left: 10px;
}
.ditu{
	font-size: 20px;
}
.menu_icon{
	height: 80px;
	float: right;
	width: 40px;
	line-height: 80px;
	text-align: center;
}
.ordername{
	width: 71%;
	overflow: hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;

}
.no-order{
	background-color: #DEE2E6;
}
.word{
	margin-top: 40px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">我的订单</div>
	<div class="map_view"><div class="iconfont icon-ditu ditu">
			<a></a>
		</div>
		</div>
</div>
<div class="content">
	<div class="buttons-tab">
		<a href="#tab1" class="tab-link active button">订单</a>
		<a href="#tab2" class="tab-link button">收藏</a>
	</div>
	<div class="content-block">
		<div class="tabs">
			<div id="tab1" class="tab active">
				<div class="content-block" id="type1">
					<div class="informations" id="infor1">
						<!-- <div class="information">
							<div class="information_img"><img src="/img/u28.png"></div>
							<div class="information_name">
								<div class="information_name_word">住：<span>标签</span><span>标签</span><span>标签</span></div>
								<div class="information_price">￥2.0</div>
							</div>
							<div class="menu_icon">
								<div class="iconfont icon-you" style="font-size:32px;"></div>
							</div>			
						</div> -->
					</div>
				</div>
			</div>
			<div id="tab2" class="tab">
				<div class="content-block" id="type2">
					<div class="informations" id="infor2">
						<!-- <div class="information">
							<div class="information_img"><img src="/img/u28.png"></div>
							<div class="information_name">
								<div class="information_name_word">住：<span>标签</span><span>标签</span><span>标签</span></div>
								<div class="information_price">￥2.0</div>
							</div>
							<div class="information_state"></div>
							<div class="information_Purchase_number"></div>				
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">
$.showPreloader();
$(".zuo").click(function(){
		history.go(-1);
	})
$(".map_view").click(function(){
	window.location.href="/";
})
$(".content-block").on("click",".information",function(){
	var mid = $(this).attr("data-mid");
	console.log(mid);
	window.location.href="/more/askdetail/"+mid;
})
function getStaus(staus) {
            var temp = "";
            switch (staus) {
                case "1": temp = "已上架";break;
                case "2": temp = "审批中";break;
                case "3": temp = "未上架";break;
//                case "4": temp = "";break;
                case "5": temp = "审批未通过";break;
            }
            return temp;
        }
        function getTitle(type) {
            var temp = "";
            switch (type) {
                case "1": temp = "美食";break;
                case "2": temp = "住宿";break;
                case "3": temp = "出行";break;
                case "4": temp = "购物";break;
                case "5": temp = "游玩";break;
                case "6": temp = "防坑";break;
            }
            return temp;
        }
        getHode();
function getHode(){
	 $.ajax({
        type : "POST",
        dataType: "json",
        data:{username:"<%=username%>",staus:1},
        url : "/hode/haved",
        success : function(result){
          console.log(result);
          $.hidePreloader();
          if(result.data.length == 0){
			var st = '<div class="content no-order"><div class="word">暂时没有收藏商品....</div></div>';
		  	$("#type2").append(st);
			}
          for(var i = 0; i< result.data.length; i++){   
          	console.log(result.data[i].type);    	
          	// if(result.data[i].type ==1){
          		var id = result.data[i].ask.objectId;
          		console.log(id);
          		$.ajax({
			        type : "GET",
			        dataType: "json",
			        data:{username:"<%=username%>",ask_id:id},
			        url : "/ask/askdetail",
			        success : function(result){
			          console.log(result);
			          var tabs = "";
          		if (result.data.askTagStr != null)
			      {       		
          		var tag = result.data.askTagStr;
                var temp = JSON.parse(tag);               
                console.log(temp);
            	}
                for (var j = 0; j < temp.length; j++) {
                	tabs = tabs +'<span>'+ temp[j].tag_name+'</span>';
                   }
                   console.log(tabs);
                   var type = result.data.askType;
                   var strs = type.split(",");
                   console.log(strs);
                   var showType = type.split(",")[0];
                   console.log(showType);
                   // var leave = parseTnt(0) + 1;
                   var img = '/img/common/wenwo.png';
                   if(result.code == 400){

                   }else if(result.code == 200){
                   	img = "/img/common/theme"+showType+'-1.png';  
                   }
                    // var url = "http://wx.qlogo.cn/mmopen/mh167obZj79Ddnr6JGFibBZuY9WtknIt76REfjA9Nia1GNQ80f4bEgCBGNVkt11wAKmYjnBgZlhH8FZvuAC8pEtOvrQWUnI48q/";
          		var str = "";
          		var str = '<div class="information" data-mid='+id+'><div class="information_img"><img src="'+img+'"></div><div class="information_name"><div class="information_name_word collect-concent">'+getTitle(strs[0])+"&nbsp&nbsp"+getTitle(strs[1])+':'+tabs+'</div></div><div class="menu_icon"><div class="iconfont icon-you" style="font-size:32px;"></div></div>	</div></div>';
          		$("#infor2").append(str);
			           },
			      error: function(error){
			          $.alert('网络异常');
			        }
			      })  
			      }        	
          },
      error: function(error){
         $.alert('网络异常');
        }
      })
}
GetHode();
function GetHode(){
	 $.ajax({
        type : "POST",
        dataType: "json",
        data:{username:"<%=username%>",staus:2},
        url : "/hode/haved",
        success : function(result){
          console.log(result);
          $.hidePreloader();
          if(result.data.length == 0){
			var st = '<div class="content no-order"><div class="word">暂时没有订单....</div></div>';
			$("#type1").append(st);
			}
          for(var i = 0; i< result.data.length; i++){      	
          		var id = result.data[i].ask.objectId;
          		console.log(id);    	
          		$.ajax({
			        type : "GET",
			        dataType: "json",
			        data:{username:"<%=username%>",ask_id:id},
			        url : "/ask/askdetail",
			        success : function(result){
			          console.log(result);
			          var tabs= "";
			     if (result.data.askTagStr != null)
			     {       		
          		var tag = result.data.askTagStr;
                var temp = JSON.parse(tag);                
                console.log(temp);
            	}
                for (var j = 0; j < temp.length; j++) {
                	tabs = tabs +'<span>'+ temp[j].tag_name+'</span>';
                   }
                   console.log(tabs);
                   var type = result.data.askType;
                   var strs = type.split(",");
                   console.log(strs);
                   var price = result.data.askPrice.replace(/\s+/g,"");
                   console.log(price);
                   var buyNum = result.data.buyNum;
                   var showType = type.split(",")[0];
                   console.log(showType);
                   // var leave = parseTnt(0) + 1;
                   var img = '/img/common/wenwo.png';
                   if(result.code == 400){

                   }else if(result.code == 200){
                   	img = "/img/common/theme"+showType+'-1.png';
                   }
                   // var url = "http://wx.qlogo.cn/mmopen/mh167obZj79Ddnr6JGFibBZuY9WtknIt76REfjA9Nia1GNQ80f4bEgCBGNVkt11wAKmYjnBgZlhH8FZvuAC8pEtOvrQWUnI48q/";
                   // console.log(url);
          			var str = "";
          			var str = '<div class="information" data-mid='+id+'><div class="information_img"><img src="'+img+'"></div><div class="information_name ordername"><div class="information_name_word">'+getTitle(strs[0])+"&nbsp;&nbsp;"+getTitle(strs[1])+':'+tabs+'</span></div><div class="information_price">￥ &nbsp;'+price+'</div></div></div>';
          		$("#infor1").append(str);
			           },
			      error: function(error){
			          $.alert('网络异常');
			        }
			      })           		         	
			}      	
          },
      error: function(error){
          $.alert('网络异常');
        }
      })
}

</script>
</html>