<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
}
.titles{
	height: 40px;
	width: 100%;
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	background-color: #efc553;
	z-index: 9999;
	position: fixed;
}
.title_word{
	width: 50%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.return{
	width: 39%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.user_information{
	width: 100%;
	height: 88px;
	/*border-bottom: 1px solid #EAEAEA;*/
	margin-top: 10px;
	line-height: 88px;
}
.user_photo{
	width: 100%;
	height: 88px;
	/*border:1px solid #EAEAEA;
	border-radius:50%;*/
	float:left;
	/*margin-left: 10px;*/
	margin-top: 38px;
	text-align: center;
	line-height: 88px;
}
.user_photo img{
	width: 88px;
	height: 88px;
	border-radius:50%;
	background-size: cover;
	line-height: 88px;
}
.user_informations{
	width: 145px;
	height: 112px;
	float: left;
	margin-left: 5px;
}
.user_name{
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	/*border-bottom: 1px solid #EAEAEA;*/
}
/*.other_information{
	width: 145px;
	height: 40px;
}*/
/*.edit_icon{
	width: 60px;
	height: 45px;
	float: right;
	margin-top: 20px;
}
.edit{
	font-size: 25px;
}
.details{
	width: 100%;
	height: 38px;
}*/
/*.order{
	width: 50%;
	height: 38px;
	border-bottom: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	float: left;
	line-height: 38px;
	padding-left: 5%;
}*/
.order_word{
	font-size: 17px;
	margin-left: 26px;
	float: left;
	margin-top: 3px;
}
/*.share{
	width: 50%;
	height: 38px;
	border-bottom: 1px solid #EAEAEA;
	float: left;
	line-height: 38px;
	padding-left: 5%;
}*/
.share_word{
	font-size: 17px; 
	margin-left: 27px;
	float: left;
	margin-top: 3px
}
.order_photo{
	font-size: 27px;
	height: 38px;
	margin-top: 2px;
	float: left;
	margin-left: 23px;
	margin-top: -2px;
}
.share_photo{
	font-size: 26px;
	height: 38px;
	float: left;
	margin-left: 23px;
}
.money_box,.invite_friends,.watch_us,.contact_us,.about_us,.order,.share{
	width: 100%;
	height: 40px;
	/*border-bottom: 1px solid #EAEAEA;*/
	line-height: 40px;
	color: white;
}
.left{
	height: 40px;
	width: 76%;
	float: left;
	line-height: 40px;
}
.right_icon{
	font-size: 25px;
	float: right;
	margin-right: 18px;
	height: 40px;
	line-height: 40px;
}
.money_box_icon{
	font-size: 22px;
	margin-left: 26px;
	line-height: 40px;
	height: 40px;
	float: left;
	width: 31px;
	margin-top: -4px;
/*	display: inline-block;*/
}
.money_box_word{
	margin-left: 19px;
	font-size: 17px;
	float: left;
	line-height: 40px;
	height: 40px;
/*	margin-top: 2px;*/
/*	display: inline-block;*/
}
.money{
	margin-left: 40px;
	font-size: 17px;
	float: left;
	line-height: 40px;
	height: 40px;
/*	margin-top: 2px;*/
}
.invite_friends_icon{
	font-size: 23px;
	margin-left: 23px;
	line-height: 40px;
	height: 40px;
	float: left;
}
.invite_friends_word{
	font-size: 17px;
	margin-left: 29px;
	line-height: 40px;
	height: 40px;
	float: left;
}
.watch_us_icon{
	font-size: 26px;
	margin-left: 21px;
	line-height: 40px;
	height: 40px;
	float: left;
	margin-top: -2px;
}
.watch_us_word{
	font-size: 17px;
	margin-left: 28px;
	line-height: 40px;
	height: 40px;
	float: left;
}
.contact_us_icon{
	font-size: 22px;
	margin-left: 22px;
	line-height: 40px;
	height: 40px;
	float: left;
	margin-top: -2px;
}
.contact_us_word{
	font-size: 17px;
	margin-left: 30px;
	line-height: 40px;
	height: 40px;
	float: left;
}
/*.about_us_icon{
	font-size: 27px;
	margin-left: 18px;
	line-height: 40px;
	height: 40px;
	float: left;
}
.about_us_word{
	font-size: 17px;
	margin-left: 24px;
	line-height: 40px;
	height: 40px;
	float: left;
}*/
.contences{
	background: #E7BF55 url("/img/sideBG-01.png") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    /*margin-top: -10px;*/
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">个人界面</div>
</div>
<div class="contences">
<div class="user_information">
	<div class="user_photo">
		<img src="/img/test.jpg">
	</div>
	</div>
		<div class="user_name"></div>
		<!-- <div class="other_information">大学生&nbsp;&nbsp;&nbsp;90后</div> -->
	<!-- <div class="edit_icon">
		<div class="iconfont icon-bianji edit"></div>
	</div> -->
<div class="money_box" style="margin-top: 100px;">
	<div class="left">
	<div class="iconfont icon-qianbao money_box_icon"></div>
	<div class="money_box_word">我的钱包</div>
	<div class="money">￥</div>
	</div>
	<div class="iconfont icon-you right_icon" style="padding-left: 33px;"></div>
</div>
<div class="order">
		<div class="left">
		<div class="iconfont icon-gouwuche order_photo"></div>
		<div class="order_word">我的订单</div>
		</div>
	<div class="iconfont icon-you right_icon" style="padding-left: 32px;"></div>
	</div>
<div class="share">
		<div class="left">
		<div class="iconfont icon-feiji share_photo"></div>
		<div class="share_word">我的分享</div>
		</div>
	<div class="iconfont icon-you right_icon" style="padding-left: 32px;"></div>
	</div>
<div class="invite_friends">
	<div class="left">
	<div class="iconfont icon-jiahaoyou invite_friends_icon"></div>
	<div class="invite_friends_word">邀请好友</div>
	</div>
	<div class="iconfont icon-you right_icon" style="padding-left: 32px;"></div>
</div>
<div class="watch_us">
	<div class="left">
	<div class="iconfont icon-xin watch_us_icon"></div>
	<div class="watch_us_word">关注我们</div>
	</div>
	<div class="iconfont icon-you right_icon"></div>
</div>
<div class="contact_us">
	<div class="left">
	<div class="iconfont icon-dianhua contact_us_icon"></div>
	<div class="contact_us_word">联系我们</div>
	</div>
	<div class="iconfont icon-you right_icon"></div>
</div>
	</div>
<script type="text/javascript">
	$(".money_box").click(function(){
		window.location.href="/more/moneyBox";
	})
	$(".order").click(function(){
		window.location.href="/more/order";
	})
	$(".share").click(function(){
		window.location.href="/more/share";
	})
	$(".contact_us").click(function(){
		window.location.href="/more/contact-us";
	})
	$(".watch_us").click(function(){
		window.location.href="/more/watch-us";
	})
	$(".edit_icon").click(function(){
		window.location.href="/more/personal-data";
	})
	$(".invite_friends").click(function(){
		window.location.href="/more/invite";
	})
	$(".zuo").click(function(){
		history.go(-1);
	})
// function authorize(req, res) {
//   var appid = 'wx99f15635dd7d9e3c';
//   var secret = '9157e84975386b6dee6a499cc639973e';

//   var url = req.originalUrl;
//   url = 'http://wenwo.leanapp.cn' + url;
//   var urlApi = "http://wenwo.leanapp.cn/authorization/?url="+url;
//   urlApi = encodeURIComponent(urlApi);
//   var url = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appid+'&redirect_uri='+urlApi+'&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect';

//   res.redirect(url);
// }
// getLogin();
// function getLogin(){
// 	 $.ajax({
//         type : "POST",
//         dataType: "json",
//         data:{username:"test"},
//         url : "/user/login",
//         success : function(result){
//           console.log(result);
//           // var name = result.data.user_name;
//           // console.log(name);
//           // $(".user_name").append(name);
//           },
//       error: function(error){
//           alert(error);
//         }
//       })
// }
var data = {
      username :"<%=username%>"
    }
function getUserinfo(){
	 $.ajax({
        type : "GET",
        dataType: "json",
        data:data,
        url : "/user/getuserinfo",
        success : function(result){
          console.log(result);
          var photo = result.data.userHead;
          var username = result.data.uName;
          $(".user_photo").attr("src",photo);
          $(".user_name").text(username);
          // var name = result.data.user_name;
          // console.log(name);
          // $(".user_name").append(name);
          },
      error: function(error){
          alert(error);
        }
      })
}
getMywallet();
function getMywallet(){
	$.ajax({
        type : "GET",
        dataType: "json",
        data:data,
        url : "/wallet/mywallet",
        success : function(result){
          console.log(result);
          var money = result.money;
          console.log(money);
          $(".money").append(money);
          },
      error: function(error){
          alert(error);
        }
      })
}
</script>
</html>