<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: hidden;
}
.titles{
	height: 40px;
	width: 100%;
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	background-color: #efc553;
	position: fixed;
	z-index: 9999;
}
.title_word{
	width: 50%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.return{
	width: 39%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.income{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: fixed;
	z-index: 9999;
	bottom: 0;
	/*background-color: #efc553;*/
}
.details{
	width: 100%;
	min-height: 280px;
	height: auto;
	z-index: 1;
	/*overflow-y:scroll;*/ 
	margin-top: 40px;
}
/*body{
	overflow: auto;
}*/
.informations{
	width: 100%;
	height: auto;
}
.information{
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #EAEAEA;
}
.information_refund{
	border-bottom: 1px solid #EAEAEA;
	width: 100%;
	height: 60px;
	display: none;
	padding-left: 15px;
	padding-top: 2px;
	white-space:normal;
}
.information_img{
	height: 60px;
	line-height: 6px;
	padding: 5px;
	float: left;
}
.information_img img{
	height: 50px;
	line-height: 50px;
	width: 50px;
	border-radius: 50%;
}
.information_name{
	width: 30%;
	height: 60px;
	padding-top: 10px;
	padding-left: 5px;
	float: left;
}
.information_content{
	float: right;
	width: 48%;
	height: 60px;
}
.information_time{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: right;
	padding-right: 10px;
	font-size: 5px;
}
.information_money{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: right;
	padding-right: 10px;
	font-size: 15px;
}
.show{
	display: block;
}
.hide{
	display: none;
}
.refund{
	float: right;
	width: 88px;
	height: 30px;
}
.refund span{
	float: left;
	margin-right: 1px;
}
.refund1{
	display: block;
}
.refund2{
	display: none;
}
.right{
	float: right;
}
.money{
	color: #efc553;
	float: left;
	width: 100%;
	text-align: center;
}
.money span{
	color: black;
}
.no-order{
	background-color: #DEE2E6;
}
.word{
	margin-top: 40px;
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word" data-id="<%= id %>">购买明细</div>
</div>
<div class="details">
	<!-- <div class="information">
		<div class="information_img">
			<img src="/img/test.jpg"></div>
		<div class="information_name">范某某</div>
		<div class="information_content">
			<div class="information_time">2015.08.12</div>
			<div class="information_money">实得酬金：￥1.0</div>
		</div>
	</div> -->
	<!-- <div class="informations">
		<div class="information">
			<div class="information_img">
				<img src="/img/test.jpg"></div>
			<div class="information_name">范某某</div>
			<div class="information_content">
				<div class="information_time">2015.08.12</div>
				<div class="information_money">
					<div class="refund refund1"><span style="margin-left: 35px;">退款</span><div class="iconfont icon-xia right"></div></div>
					<div class="refund refund2"><span>退款理由</span><div class="iconfont icon-shang right"></div></div>
				</div>
			</div>
		</div>
		<div class="information_refund">fsdfsdzvfvsdfsDfsvdfsdfsdfsf</div>
	</div> -->
</div>
	<div class="income"><div class="iconfont icon-qian money"><span id="mon">&nbsp;总的收益:￥ </span></div></div>
	<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">


$.showPreloader();
       
$(".zuo").click(function(){
		history.go(-1);
	})
$(".details").on("click",".refund1",function(){
	console.log(1);
	$(this).hide();
	$(this).next().show();
	$(this).parent().parent().parent().next().show();
	// $(".information_refund").show();
})
$(".details").on("click",".refund2",function(){
	console.log(2);
	$(this).hide();
	$(this).prev().show();
	$(this).parent().parent().parent().next().hide();
	// $(".information_refund").hide();
})
var mid = $(".title_word").attr("data-id");
console.log(mid);
$.ajax({
            type: "GET",
            url: '/ask/getbuy',
            data: {ask_id:mid,username:'<%=username%>'},
            dataType: "json",
            success : function(result) {
                console.log(result);
                $.hidePreloader();
                if(result.data.length == 0){
			var st = '<div class="content no-order"><div class="word">暂无购买明细....</div></div>';
			$(".income").hide();
			$(".details").append(st);
			}
                for(var i = 0;i < result.data.length; i++){
                	var time = formatDate("y.m.d",result.data[i].updatedAt);
                	var price = result.data[i].price.replace(/\s+/g,"");
                	var name = result.data[i].byName;
                	var photo = result.data[i].byUrl;
                	console.log(photo);
          				// $(".information_img").attr("src",photo);
                	var str = '<div class="information"><div class="information_img"><img src="'+photo+'"></div><div class="information_name">'+name+'</div><div class="information_content"><div class="information_time">'+time+'</div><div class="information_money">实得酬金：￥'+price+'</div></div></div>';
                	$(".details").append(str);
                }
                console.log(parseFloat(price.replace(/\s+/g,"")));
                console.log(result.data.length);
                var money = parseFloat(price.replace(/\s+/g,""))*result.data.length;
                console.log(money);
                money = parseFloat(money).toFixed(2);
                console.log(money);
                $("#mon").append(money);          
            },
            error : function(){
            	$.alert('网络异常');
            }
        });

$.ajax({
            type: "GET",
            url: '/ask/getrefund',
            data: {ask_id:mid,username:'<%=username%>'},
            dataType: "json",
            success : function(result) {
                console.log(result);
                 $.hidePreloader();
                for(var i = 0;i < result.data.length; i++){
                	var time = formatDate("y.m.d",result.data[i].updatedAt);
                	var name = result.data[i].userName;
                	var info = result.data[i].info;
                	var photo = result.data[i].byUrl;
                	console.log(photo);
          				// $(".information_img").attr("src",photo);
                	var str = '<div class="informations"><div class="information"><div class="information_img"><img src="'+photo+'" ></div><div class="information_name">'+name+'</div><div class="information_content"><div class="information_time">'+time+'</div><div class="information_money"><div class="refund refund1"><span style="margin-left: 35px;">退款</span><div class="iconfont icon-xia right"></div></div><div class="refund refund2"><span>退款理由</span><div class="iconfont icon-shang right"></div></div></div></div></div><div class="information_refund">'+info+'</div></div>';
                	$(".details").append(str);
                }
            },
            error : function(){
            	$.alert('网络异常');
            }
        });
</script>
</html>