<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
}
.titles{
	height: 40px;
	width: 100%;
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	background-color: #efc553;
}
.title_word{
	width: 50%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.return{
	width: 43%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.withdraw_title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	border-bottom: 1px solid #EAEAEA;
	margin-top: 40px;
}
.withdraw_title_word{
	width: 187px;
	height: 40px;
	line-height: 40px;
	float: left;
}
.withdraw_title_num{
	/*float: left;*/
	height: 34px;
	line-height: 34px;
	padding-left: 5px;
	width: 90%;
	/*margin-top: 5px;*/
	border:0;
	background-color: #d8d8d8;
}
.submit_btn{
	width: 90%;
	margin-left: 5%;
	height: 40px;
	line-height: 40px;
	border-radius: 8px;
	margin-top: 34%;
	border: 0;
	background-color: #efc553;
}
.withdraw_title_icon{
	/*height: 100px;
	width: 100%;
	line-height: 100px;
	text-align: center;
	margin-top: 40px;*/
}
.withdraw_title_icon img{
	display: block;
	/*height: 100px;*/
	width: 200px;
	margin: 50px auto; 
	line-height: 100px;
	text-align: center;
}
.wen{
	float: right;
	margin-right: 20px;
	font-size: 25px;
	width: 40px;
	color: #efc553;
	text-align: center;
}
.num{
	height: 35px;
	line-height: 35px;
	width: 100%;
	background-color: #d8d8d8;
	float: left;
	padding-left: 20px;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">充值</div>
</div>
	<div class="withdraw_title_icon">
		<img src="/img/chongzhi.png">
	</div>
	<div class="withdraw_title">
		<div class="withdraw_title_word">从微信钱包充值：</div>
		<!-- <div class="iconfont icon-wenhao wen"></div> -->
	</div>
	<div class="num"><span style="font-weight: 600">￥</span>
		<input class="withdraw_title_num" type="number"  placeholder="请填写充值金额:">
	</div>
	<!-- <div class="withdraw_title">
		<div class="withdraw_title_word">请输入你的支付宝账号：</div>
		<input class="withdraw_title_num"></input>
	</div> -->
	<button class="submit_btn">确认</button>
<script type="text/javascript">
$(".zuo").click(function(){
		history.go(-1);
	})

function pay(mon){
		var data = {
			username : "<%= username %>",
			totalFee : mon
		};
		$.ajax({
	        type : "GET",
	        dataType: "json",
	        data: data,
	        url : "/authorization/pay_t",
	        success : function(result){
	          console.log(result);
	          $.alert("充值成功!");
	        },
	      error: function(error){
	          // $.alert(error);
	          $("body").empty();
	          $("body").text(error);
	        }
	      })
	}

$(".submit_btn").click(function(){
	var mon = $(".withdraw_title_num").val();
	console.log(isNaN(mon));
	var nan = isNaN(mon);
	mon = parseFloat(mon).toFixed(2);
	console.log(mon);
	if(!mon || nan){
		$.toast("金额只能为数字");
		return ;
	}
	if(mon <= 0){
		$.toast("金额不能小于0");
		return;
	}
	
	pay(mon);
})
</script>
</html>