<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: auto;
}
.fix{
	width: 100%;
	height: 220px;
	position: fixed;
	z-index: 9999;
	top:0;
	background-color: white;
}
.titles{
	height: 40px;
	width: 100%;
	/*line-height: 40px;*/
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	background-color: #efc553;
	/*position: fixed;
	z-index: 999;*/
}
.title_word{
	width: 40%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.return{
	width: 39%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.issue_information{
	width: 21%;
	height: 40px;
	line-height: 40px;
	color: white;
	float: right;
/*	font-size: 20px;*/
	text-align: center;
}
.issue_information_icon{
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	margin-left: 20px;
	float: left;
}
.issue_information_word{
	width: 100px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 15px;
	font-size: 15px;
}
.right_icon{
	font-size: 25px;
	float: right;
	margin-right: 18px;
	height: 40px;
	line-height: 40px;
}
.information{
	height: 80px;
	width: 100%;
	border-bottom:1px solid #EAEAEA;
	/*position: fixed;*/
	/*z-index: 999;*/
}
.information_name{
	height: 80px;
	width: 40%;
	float: left;
	border-bottom:1px solid #EAEAEA;
	/*border-right:1px solid #EAEAEA;*/
}
.information_img{
	width: 80px;
	height: 80px;
	float: left;
	box-sizing: border-box;
	/*padding: 2px;*/
}
.information_img img{
	width: 70px;
	height: 70px;
	/*border-radius: 50%;*/
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
/*	margin-bottom: 5px;*/
}
.information_name_word{
	float: left;
	width: 100%;
	height: 40px;
	line-height: 40px;
	/*padding-left:10px;*/
	font-size: 15px;
	box-sizing: border-box;
	font-size: 15px;
	overflow: hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.information_price{
	height: 40px;
	width: 100%;
	float: left;
	border-bottom:1px solid #EAEAEA;
	/*padding-left:10px;*/
	line-height: 40px;
	box-sizing: border-box;
	font-size: 15px;
}
.information_state,.information_time{
	height: 40px;
	width: 30%;
	/*border-right: 1px solid #EAEAEA;*/
	line-height: 40px;
	float: right;
	box-sizing: border-box;
	font-size: 14px;
	text-align: right;
	padding-right: 6px;
}
.left{
	text-align: right;
	overflow:hidden;
	white-space: nowrap;
	padding-left:6px; 
	width: 80px;
	margin-left: 8px;
}
.information_Purchase_number{
	height: 40px;
	float: right;
	width: 34%;
	line-height: 40px;
	/*padding-left: 20px;*/
	box-sizing: border-box;
	font-size: 14px;
	text-align: left;
	padding-right: 6px;
}
.information_Purchase_number span{
	border-radius: 50%;
	background-color: #efc553;
	color: white;
}
.information_collect_number span{
	border-radius: 50%;
	background-color: white;
	color: #efc553;
	border: 1px solid #efc553; 
}
.right{
	float: right;
	width: 19%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	box-sizing: border-box;
}
.informations{
	width: 100%;
	height: auto;
	/*min-height: 100px;*/
	overflow-y:scroll;
}
.content{
	top: 40px;
}
.content-block{
	margin: 0;
	padding: 0;
}
.right1{
	width: 10%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #EAEAEA;
	font-size: 20px;
	float: right;
}
.information_name_word span{
	margin-left: 4px;
	background-color: #efc553;
}
.icon-jia1{
	font-size: 24px;
	height: 40px;
	margin-bottom: 2px;
}
.buttons-tab .button.active{
	color: #efc553;
	border-color: #efc553;
}
.blue{
	color: blue;
}
.red{
	color: red;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">我的分享</div>
	<div class="issue_information"><div class="iconfont icon-jia1">
			<a></a>
		</div></div>
</div>
<div class="content">
	<div class="buttons-tab">
		<a href="#tab1" class="tab-link active button">已上架</a>
		<a href="#tab2" class="tab-link button">未上架</a>
	</div>
	<div class="content-block">
		<div class="tabs">
			<div id="tab1" class="tab active">
				<div class="content-block">
					<div class="informations" id="content1">
						<!-- <div class="information">
							<div class="information_img"><img src="/img/u28.png"></div>
							<div class="information_name">
								<div class="information_name_word">住：<span>标签</span><span>标签</span><span>标签</span></div>
								<div class="information_price">￥2.0</div>
							</div>
							<div class="information_state">已审核</div>
							<div class="information_Purchase_number">购买人数：3人</div>				
						</div> -->
					</div>
				</div>
			</div>
			<div id="tab2" class="tab">
				<div class="content-block">
					<div class="informations"id="content2">
						<!-- <div class="information">
							<div class="information_img"><img src="/img/u28.png"></div>
							<div class="information_name">
								<div class="information_name_word">住：<span>标签</span><span>标签</span><span>标签</span></div>
								<div class="information_price">￥2.0</div>
							</div>
							<div class="information_state">审核中</div>
							<div class="information_Purchase_number"></div>				
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">

$.showPreloader();
setTimeout(function () {
        $.hidePreloader();
    }, 2000);

$(".issue_information").click(function(){
	window.location.href="/todos/send?";
})
$(".content-block").on("click",".information_collect_number",function(){
		var mid = $(this).attr("data-mid");
		console.log(mid);
		window.location.href="/more/purchase-detail/"+mid;
})
$(".content-block").on("click",".information_Purchase_number",function(){
	var mid = $(this).attr("data-mid");
	console.log(mid);
	window.location.href="/more/purchase-detail/"+mid;	
})
$(".informations").on("click",".information",function(){
	// console.log(1);
	window.location.href = "/more/information-presentation";
})

$(".zuo").click(function(){
		history.go(-1);
	})
function getStaus(staus) {
            var temp = "";
            switch (staus) {
                case "1": temp = "已上架";break;
                case "2": temp = "审批中";break;
                case "3": temp = "未上架";break;
//                case "4": temp = "";break;
                case "5": temp = "审批未通过";break;
            }
            return temp;
        }
        function getTitle(type) {
            var temp = "";
            switch (type) {
                case "1": temp = "美食";break;
                case "2": temp = "住宿";break;
                case "3": temp = "交通";break;
                case "4": temp = "购物";break;
                case "5": temp = "游玩";break;
                case "6": temp = "防坑";break;
            }
            return temp;
        }
getMyask();
function getMyask(){
	 $.ajax({
        type : "get",
        dataType: "json",
        data:{username:"hanqi",staus:4},
        url : "/ask/myask",
        success : function(result){
          console.log(result);
          for(var i = 0; i < result.data.length; i++){
          	if(result.data[i].staus == 1){
          		var tag = result.data[i].askTagStr;
                var temp = JSON.parse(tag);
                var tab = "";
                console.log(temp);
                for (var j = 0; j < temp.length; j++) {
                	tab = tab +'<span>'+ temp[j]+'</span>';
                   }
                   var type = result.data[i].askType;
                   var strs = type.split(",")
                   console.log(strs);
                   var buyNum = result.data[i].buyNum;
                   var time = formatDate("y.m.d",result.data[i].updatedAt)
                   var price = result.data[i].askPrice;
                   var mid = result.data[i].objectId;
                   console.log(mid);
                   console.log(1234);
                   if(price == 0)
                   {
                   	var str = '<div class="information"><div class="information_img"><img src="/img/u28.png"></div><div class="information_name"><div class="information_name_word">'+getTitle(strs[0])+'&nbsp;&nbsp;'+getTitle(strs[1])+':'+tab+'</div><div class="information_price">￥'+price+'</div></div><div class="information_time"><div class="left">'+time+'</div></div><div class="information_Purchase_number information_collect_number" data-mid='+mid+'>收藏人数：<span>'+buyNum+'</span>人</div></div>';
                   }
                   else{
                   var str = '<div class="information"><div class="information_img"><img src="/img/u28.png"></div><div class="information_name"><div class="information_name_word">'+getTitle(strs[0])+'&nbsp;&nbsp;'+getTitle(strs[1])+':'+tab+'</div><div class="information_price">￥'+price+'</div></div><div class="information_time"><div class="left">'+time+'</div></div><div class="information_Purchase_number" data-mid='+mid+'>购买人数：<span>'+buyNum+'</span>人</div></div>';
                   }
          		$("#content1").append(str);
            }
            else {
            	if(result.data[i].staus == 2){
            		var tag = result.data[i].askTagStr;
	                var temp = JSON.parse(tag);
	                var tab = "";
	                console.log(temp);
	                for (var j = 0; j < temp.length; j++) {
	                	tab = tab +'<span>'+ temp[j]+'</span>';
	                   }
	                   var type = result.data[i].askType;
	                   var strs = type.split(",")
	                   console.log(strs);
	                   var price = result.data[i].askPrice;
	                var str = '<div class="information"><div class="information_img"><img src="/img/u28.png"></div><div class="information_name"><div class="information_name_word">'+getTitle(strs[0])+"&nbsp&nbsp"+getTitle(strs[1])+':'+tab+'</div><div class="information_price">￥'+price+'</div></div><div class="information_state blue">'+getStaus(result.data[i].staus)+'</div></div>';
	          		$("#content2").append(str);
            	}
            	if(result.data[i].staus == 5)
            	{            		
	            	var tag = result.data[i].askTagStr;
	                var temp = JSON.parse(tag);
	                var tab = "";
	                console.log(temp);
	                for (var j = 0; j < temp.length; j++) {
	                	tab = tab +'<span>'+ temp[j]+'</span>';
	                   }
	                   var type = result.data[i].askType;
	                   var strs = type.split(",")
	                   console.log(strs);
	                   var price = result.data[i].askPrice;
	                var str = '<div class="information"><div class="information_img"><img src="/img/u28.png"></div><div class="information_name"><div class="information_name_word">'+getTitle(strs[0])+"&nbsp&nbsp"+getTitle(strs[1])+':'+tab+'</div><div class="information_price">￥'+price+'</div></div><div class="information_state red">'+getStaus(result.data[i].staus)+'</div></div>';
	          		$("#content2").append(str);
          		}
            }
          }
          },
      error: function(error){
          alert(error);
        }
      })
}

</script>
</html>