<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
}
.fix{
	width: 100%;
	height: 220px;
	position: fixed;
	z-index: 9999;
	top:0;
	background-color: white;
}
.titles{
	height: 40px;
	width: 100%;
	/*line-height: 40px;*/
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	background-color: #F9CC51;
	/*position: fixed;
	z-index: 999;*/
}
.title_word{
	width: 40%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.return{
	width: 39%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.issue_information{
	width: 21%;
	height: 40px;
	line-height: 40px;
	color: white;
	float: right;
	font-size: 13px;
}
.issue_information_icon{
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	margin-left: 20px;
	float: left;
}
.issue_information_word{
	width: 100px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 15px;
	font-size: 15px;
}
.right_icon{
	font-size: 25px;
	float: right;
	margin-right: 18px;
	height: 40px;
	line-height: 40px;
}
.information{
	height: 100px;
	width: 100%;
	border-bottom:1px solid #EAEAEA;
	/*position: fixed;*/
	/*z-index: 999;*/
}
.information_name{
	height: 60px;
	width: 60%;
	float: left;
	border-bottom:1px solid #EAEAEA;
	/*border-right:1px solid #EAEAEA;*/
}
.information_name_img{
	width: 50px;
	height: 50px;
	float: left;
	box-sizing: border-box;
}
.information_name_img img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}
.information_name_word{
	float: left;
	width: 125px;
	height: 60px;
	line-height: 60px;
	padding-left:10px;
	font-size: 15px;
	box-sizing: border-box;
	font-size: 15px;
}
.information_price{
	height: 60px;
	width: 30%;
	float: left;
	border-bottom:1px solid #EAEAEA;
	text-align: right;
	line-height: 60px;
	box-sizing: border-box;
	font-size: 15px;
}
.information_state{
	height: 40px;
	width: 50%;
	border-right: 1px solid #EAEAEA;
	line-height: 40px;
	float: left;
	box-sizing: border-box;
	font-size: 14px;
}
.num{
	width: 50%;
	height: 40px;
	float: left;
}
.information_Purchase_number{
	height: 40px;
	float: left;
	width: 81%;
	line-height: 40px;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 14px;
}
.right{
	float: right;
	width: 19%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	box-sizing: border-box;
}
.informations{
	width: 100%;
	height: auto;
	/*min-height: 100px;*/
	overflow-y:auto;
}
.content{
	top: 40px;
}
.content-block{
	margin: 0;
	padding: 0;
}
.right1{
	width: 10%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #EAEAEA;
	font-size: 20px;
	float: right;
}
.shares_title{
	width: 100%;
	height: 60px;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">我的分享</div>
	<div class="issue_information">发布信息</div>
</div>
<div class="content">
	<div class="buttons-tab">
		<a href="#tab1" class="tab-link active button">已上架</a>
		<a href="#tab2" class="tab-link button">未上架</a>
	</div>
	<div class="content-block">
		<div class="tabs">
			<div id="tab1" class="tab active">
				<div class="content-block">
					<div class="informations">
						<div class="information">
							<div class="shares_title">
								<div class="information_name">
									<div class="information_name_img">
										<img src="/img/u28.png"></div>
									<div class="information_name_word">常乐宾馆</div>
								</div>
								<div class="information_price">2元&nbsp;&nbsp;&nbsp;</div>
								<div class="iconfont icon-you right1"></div>
								<div class="information_state">状态:已发布</div>
								<div class="num">
									<div class="information_Purchase_number">购买人数：50人</div>
									<div class="iconfont icon-you right"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="tab2" class="tab">
				<div class="content-block">
					<div class="information">
						<div class="information_name">
							<div class="information_name_img">
								<img src="/img/u28.png"></div>
							<div class="information_name_word">生产信息的名称</div>
						</div>
						<div class="information_price">信息价格&nbsp;&nbsp;&nbsp;</div>
						<div class="information_state" style="width: 100%;">状态:审核中(或审核失败)</div>
					</div>
				</div>
				<div class="informations">
					<div class="information">
						<div class="shares_title">
							<div class="information_name">
								<div class="information_name_img">
									<img src="/img/u28.png"></div>
								<div class="information_name_word">常乐宾馆</div>
							</div>
							<div class="information_price">2元&nbsp;&nbsp;&nbsp;</div>
							<div class="iconfont icon-you right1"></div>
						</div>
						<div class="information_state"  style="width: 100%;">状态:审核中</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(".zuo").click(function(){
		history.go(-1);
	})
$(".issue_information").click(function(){
	window.location.href="/todos/send?";
})
$(".num").click(function(){
	window.location.href="/more/purchase-detail";
})
$(".shares_title").click(function(){
	window.location.href = "/more/information-presentation";
})
</script>
</html>