<% include header.ejs %>
<style type="text/css">
body{
	width: 100%;
	height: 100%;
	background-color: white;
}
.titles{
	height: 40px;
	width: 100%;
	font-size: 15px;
	border-bottom: 1px solid #EAEAEA;
	background-color: #efc553;
}
.title_word{
	width: 50%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: left;
	font-size: 20px;
	color: white;
}
.return{
	width: 43%;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-left: 10px;
}
.zuo{
	width: 60px;
	height: 40px;
	font-size: 28px;
	color: white;
}
.withdraw_title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	border-bottom: 1px solid #EAEAEA;
	margin-top: 40px;
}
.withdraw_title_word{
	width: 187px;
	height: 40px;
	line-height: 40px;
	float: left;
}
.withdraw_title_num{
	/*float: left;*/
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	width: 90%;
	/*margin-top: 5px;*/
	border:0;
	background-color: #d8d8d8;
}
.submit_btn{
	/*width: 90%;
	margin-left: 5%;
	height: 40px;
	line-height: 40px;
	border-radius: 8px;
	margin-top: 34%;
	border: 0;
	background-color: #efc553;*/
	display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    height: 50px;
    line-height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: #efc553;
    color: white;
}
.withdraw_title_icon{
	/*height: 100px;
	width: 100%;
	line-height: 100px;
	text-align: center;
	margin-top: 40px;*/
}
.withdraw_title_icon img{
	display: block;
	/*height: 100px;*/
	width: 200px;
	margin: 25px auto; 
	line-height: 100px;
	text-align: center;
}
.wen{
	float: right;
	margin-right: 20px;
	font-size: 25px;
	width: 40px;
	color: #efc553;
	text-align: center;
}
.num{
	/*height: 35px;
	line-height: 35px;
	width: 100%;
	background-color: #d8d8d8;
	padding-left: 20px;*/
	height: 50px;
	width: 100%;
	background-color: #d8d8d8;
	float: left;
	padding:10px 0;
	padding-left: 20px;
}
.my-money{
	font-size: 14px;
	color: gray;
	padding-left: 20px;
	padding-top: 40px;
	margin-top: 20px;
}
.leave-money{
	float: left;
	padding-right: 20px;
}
.all-withdraw{
	color: #efc553;
}
.money-error{
	display: none;
}
.my-money.error{
	color: red;
}
.error .money-content{
	display: none;
}
.error .money-error{
	display: block;
}
.rules{
	display: block;
	margin:10px auto;
	font-size: 12px; 
	color: #efc553;
	text-align: center;
}
</style>
<body>
<% include footer.ejs %>
<div class="titles">
	<div class="return">
		<div class="iconfont icon-zuo zuo">
			<a></a>
		</div>
	</div>
	<div class="title_word">提现</div>
</div>
<div>
	<div class="withdraw_title_icon">
		<img src="/img/tixian.png">
	</div>
	<div class="withdraw_title">
		<div class="withdraw_title_word">提现到微信钱包：</div>
		<div class="iconfont icon-wenhao wen" style="display:none"><a></a></div>
	</div>
	<div class="num"><span style="font-weight: 600">￥</span>
		<!-- <input class="withdraw_title_num" type="number" placeholder="请填写提现金额:"> -->
		<input class="withdraw_title_num"  placeholder="请填写提现金额">
	</div>
	<div class="my-money">
		<div class="money-content">
			<div class="leave-money">
				<span>钱包余额</span>
				<span class="money-num" data-money="0.00">￥0.00</span>
			</div>
			<div class="all-withdraw">全部提现</div>
		</div>
		<div class="money-error">
			<div class="leave-money">
				<span>输入金额超过钱包余额</span>
			</div>
		</div>
	</div>
</div>
	<!-- <div class="withdraw_title">
		<div class="withdraw_title_word">请输入你的支付宝账号：</div>
		<input class="withdraw_title_num"></input>
	</div> -->
	<button class="submit_btn">确认</button>
	<div class="rules">
			每次提现会收取5%的手续费,最少提现金额2元
	</div>

<script type="text/javascript">
	$(".zuo").click(function(){
			history.go(-1);
		})
	$(".wen").click(function(){
		// window.location.href="/more/present-rules";

	})

	function withdraw(mon){
		//提现以分为单位
		var mon = parseInt(mon*100);

		var data = {
			username : "<%= username %>",
			amount : mon
		};
		$.ajax({
	        type : "GET",
	        dataType: "json",
	        data: data,
	        url : "/authorization/withdraw",
	        success : function(result){
	          console.log(result);
	          if(result.code == 200){
	          	$.toast("提交成功");
	          	setTimeout(function(){
	          		window.location.href = "/more/moneyBox";
	          	}, 500);
	          }else{
	          	$.toast(result.message);
	          }
	        },
	      error: function(error){
	          $.toast(error);
	          // $("body").empty();
	          // $("body").text(error);
	        }
	      })
	}

$(".submit_btn").click(function(){
	// var mon = $(".withdraw_title_num").val();
	// console.log(mon);
	var mon = $(".withdraw_title_num").val();
	console.log(isNaN(mon));
	var nan = isNaN(mon);
	mon = parseFloat(mon).toFixed(2);
	console.log(mon);
	var money =  $(".money-num").attr("data-money");

	var tmon = parseInt(mon * 100);
	var tmoney = parseInt(money * 100);

	if(tmon > tmoney){
		$.toast("输入金额超过钱包余额");
		return ;
	}
	if(!mon || nan){
		$.toast("金额只能为数字");
		return ;
	}
	if(mon < 2){
		$.toast("金额不能小于2元");
		return;
	}
	withdraw(mon);
})

getMywallet();
function getMywallet(){

	$.showPreloader("正在加载");

	 $.ajax({
        type : "GET",
        dataType: "json",
        data:{username:"<%=username%>"},
        url : "/wallet/mywallet",
        success : function(result){
          $.hidePreloader();
          console.log(result);
          var wallet = result.money;
          // $(".balance_money").append(wallet);         
          var wallets = parseFloat(wallet).toFixed(2);
          // var  str = wallets +"元";
          // $(".withdraw_cash_money").append(str);
          console.log(wallets);
          $(".money-num").attr("data-money",wallets);
          $(".money-num").text("￥"+wallets);
        },
      	error: function(error){
      	  $.hidePreloader();
          alert(error);
        }
      })
}

$(".withdraw_title_num").on("input change",function(){
	var mon = $(this).val();
	console.log($(this).val().length);

	if(!$(this).val().length){
		$(".my-money").removeClass("error");
		return;
	}

	var nan = isNaN(mon);
	mon = parseFloat(mon).toFixed(2);
	console.log(mon);
	var money =  $(".money-num").attr("data-money");
	money = parseFloat(money).toFixed(2);

	var tmon = parseInt(mon * 100);
	var tmoney = parseInt(money * 100);

	if(tmon > tmoney){
		console.log(mon);
		console.log(money);
		$(".money-error").text("输入金额超过钱包余额");
		$(".my-money").addClass("error");
		return ;
	}

	if(!mon || nan){
		$(".money-error").text("输入金额只能为数字");
		$(".my-money").addClass("error");
		return ;
	}
	if(mon < 2){
		// $.toast("金额不能小于0");
		$(".money-error").text("输入金额不能小于2元");
		$(".my-money").addClass("error");
		return;
	}

	$(".my-money").removeClass("error");
})

$(".all-withdraw").on("click",function(){
	var money =  $(".money-num").attr("data-money");
	$(".withdraw_title_num").val(money);
})
</script>
</html>